<h1>
  <span>
    <app-global-icon iconName="videos" aria-hidden="true"></app-global-icon>
    <ng-container i18n>My videos</ng-container>
    <span class="badge badge-secondary"> {{ pagination.totalItems }}</span>
  </span>

  <div>
    <a routerLink="/my-library/video-imports" class="button-link">
      <app-global-icon iconName="cloud-download" aria-hidden="true"></app-global-icon>
      <ng-container i18n>My imports</ng-container>
    </a>

    <a routerLink="/my-library/ownership" class="button-link">
      <app-global-icon iconName="users" aria-hidden="true"></app-global-icon>
      <ng-container i18n>Ownership changes</ng-container>
    </a>
  </div>
</h1>

<div class="videos-header d-flex justify-content-between">
  <div class="has-feedback has-clear">
    <input type="text" placeholder="Search your videos" i18n-placeholder [(ngModel)]="videosSearch"
      (ngModelChange)="onVideosSearchChanged()" />
    <a class="glyphicon glyphicon-remove-sign form-control-feedback form-control-clear" (click)="resetSearch()"></a>
    <span class="sr-only" i18n>Clear filters</span>
  </div>
</div>

<app-videos-selection
  [pagination]="pagination"
  [(selection)]="selection"
  [(videosModel)]="videos"
  [miniatureDisplayOptions]="miniatureDisplayOptions"
  [titlePage]="titlePage"
  [getVideosObservableFunction]="getVideosObservableFunction"
  [ownerDisplayType]="ownerDisplayType"
  #videosSelection
>
  <ng-template ptTemplate="globalButtons">
    <span class="action-button action-button-delete-selection" (click)="deleteSelectedVideos()">
      <app-global-icon iconName="delete" aria-hidden="true"></app-global-icon>
      <ng-container i18n>Delete</ng-container>
    </span>
  </ng-template>

  <ng-template ptTemplate="rowButtons" let-video>
    <div class="action-button">
      <app-edit-button label [routerLink]="[ '/videos', 'update', video.uuid ]"></app-edit-button>

      <app-action-dropdown [actions]="videoActions" [entry]="{ video: video }"></app-action-dropdown>
    </div>
  </ng-template>
</app-videos-selection>


<app-video-change-ownership #videoChangeOwnershipModal></app-video-change-ownership>
<app-live-stream-information #liveStreamInformationModal></app-live-stream-information>
