<div class="row" style.background-image="url('./assets/images/tags-wallpaper-{{currentTheme}}.jpg')" style="overflow-x: hidden">
    <div class="col-md-12">
<!--            <div *ngIf="this.tags" class="page post-tags-all-page">-->

<!--                <div class="page-body">-->
<!--                    <ul *ngIf="this.tags.length > 0" class="post-tags-list">-->
<!--                        <li *ngFor="let item of this.tags">-->
<!--                            <a [routerLink]="[ '/search' ]" [queryParams]="{ tagsOneOf: [ item.name ] }" class="posttag"-->
<!--                               [ngStyle]="{'font-size': (this.getFontSize(item)) + '%'}">-->
<!--                                {{item.name}} ({{item.postCount}})-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

        <h1 class="grid-h">All post tags</h1>
        <ng-container *ngIf="this.tags">
            <ng-container *ngFor="let item of this.tags; let i = index;">
                <div class="show-grid">
                    <div *ngIf="(i + 2) % 2 === 0" class="col-md-{{((i + 2) % 5) + 1}}">
                        <div>
                            <a [routerLink]="[ '/search' ]" [queryParams]="{ tagsOneOf: [ item.name ] }" class="posttag text-basic"
                               [ngStyle]="{'font-size': (this.getFontSize(item)) + '%'}">
                                {{item.name}} ({{item.postCount}})
                            </a>
                        </div>
                    </div>
                    <div *ngIf="(i + 2) % 2 !== 0" class="col-md-{{((i + 2) % 7) + 1}} offset-md-{{((i + 2) % 9) + 1}}">
                        <div>
                            <a [routerLink]="[ '/search' ]" [queryParams]="{ tagsOneOf: [ item.name ] }" class="posttag text-basic"
                               [ngStyle]="{'font-size': (this.getFontSize(item)) + '%'}">
                                {{item.name}} ({{item.postCount}})
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
<!--        <div class="row show-grid">-->
<!--            <div class="col-md-4">-->
<!--                <div>.col-md-4</div>-->
<!--            </div>-->
<!--            <div class="col-md-4 offset-md-4">-->
<!--                <div>.col-md-4 .offset-md-4</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row show-grid">-->
<!--            <div class="col-md-3 offset-md-3">-->
<!--                <div>.col-md-3 .offset-md-3</div>-->
<!--            </div>-->
<!--            <div class="col-md-3 offset-md-3">-->
<!--                <div>.col-md-3 .offset-md-3</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row show-grid">-->
<!--            <div class="col-md-6 offset-md-3">-->
<!--                <div>.col-md-6 .offset-md-3</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
