<nb-card>
    <nb-card-header>
        <div class="page-title">
            <h1>All post tags</h1>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="this.tags" class="page post-tags-all-page">

            <div class="page-body">
                <ul *ngIf="this.tags.length > 0" class="post-tags-list">
                    <li *ngFor="let item of this.tags">
                        <a [routerLink]="[ '/search' ]" [queryParams]="{ tagsOneOf: [ item.name ] }" class="posttag" [ngStyle]="{'font-size': (this.getFontSize(item)) + '%'}">
                            {{item.name}} ({{item.postCount}})
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nb-card-body>
</nb-card>

