<div class="row" style.background-image="url('./assets/images/tags-wallpaper-{{currentTheme}}.jpg')" style="overflow-x: hidden">
    <div class="col-md-12">
        <h1 class="grid-h">All post tags</h1>
        <ng-container *ngIf="this.tags">
            <ng-container *ngFor="let item of this.tags; let i = index;">
                <div class="show-grid">
                    <div *ngIf="(i + 2) % 2 === 0" class="col-md-{{((i + 2) % 5) + 1}}">
                        <div>
                            <a [routerLink]="[ '/search' ]" [queryParams]="{ tagsOneOf: [ item.name ] }" class="posttag text-basic"
                               [ngStyle]="{'font-size': (this.getFontSize(item)) + '%'}">
                                {{item.name}} ({{item.postCount}})
                            </a>
                        </div>
                    </div>
                    <div *ngIf="(i + 2) % 2 !== 0" class="col-md-{{((i + 2) % 7) + 1}} offset-md-{{((i + 2) % 9) + 1}}">
                        <div>
                            <a [routerLink]="[ '/search' ]" [queryParams]="{ tagsOneOf: [ item.name ] }" class="posttag text-basic"
                               [ngStyle]="{'font-size': (this.getFontSize(item)) + '%'}">
                                {{item.name}} ({{item.postCount}})
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
