@import "../../../../sass/application";

.r-k0dy70 {
  border-color: rgb(21, 24, 28);
}




.r-5pqaiu {
  margin-bottom: calc(-10px);
  margin-top: calc(-10px);
}



.r-11cpok1 {
}




.r-1pp923h {
  border-bottom-left-radius: 16px;
}

.r-1moyyf3 {
  border-bottom-right-radius: 16px;
}

.r-9qu9m4 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.r-ku1wi2 {
  margin-bottom: 15px;
}


.r-1bro5k0 {
  min-height: 15rem;
}

.r-1mdbw0j {
  padding-bottom: 0px;
}
