<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                The celebrated Supporters who make Chessbook possible ♥
            </nb-card-header>
            <nb-card-body>
                <h5 class="grid-h patreon">Patrons</h5>
                <div class="row show-grid">
                    <ng-container *ngFor="let donor of this.patrons; let i = index;">
                        <div class="col-md-{{donor.col}}">
                            <a [href]="donor.link" class="a" target="_blank">
                                <div class="name pat-txt">
                                    {{donor.name}}
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
                <h5 class="grid-h ko-fi">Ko-fi Supporters</h5>
                <div class="row show-grid">
                    <ng-container *ngFor="let donor of this.kofis; let i = index;">
                        <div class="col-md-{{donor.col}}">
                            <a [href]="donor.link" class="a" target="_blank">
                                <div class="name kof-txt">
                                    {{donor.name}}
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
                <h5 class="grid-h streamlabs">Streamlabs donations</h5>
                <div class="row show-grid">
                    <ng-container *ngFor="let donor of this.labs; let i = index;">
                        <div class="col-md-{{donor.col}}">
                            <a [href]="donor.link" class="a" target="_blank">
                                <div class="name lab-txt">
                                    {{donor.name}}
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
                <h5 class="grid-h paypal">PayPal donations</h5>
                <div class="row show-grid">
                    <ng-container *ngFor="let donor of this.pals; let i = index;">
                        <div class="col-md-{{donor.col}}">
                            <a [href]="donor.link" class="a" target="_blank">
                                <div class="name pal-txt">
                                    {{donor.name}}
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
