@import "src/sass/application";

.r-150rngu {
}

.r-2llsf {
  min-height: 100%;
}


.r-5pqaiu {
  margin-bottom: calc(-10px);
  margin-top: calc(-10px);
}

.r-1uusn97 {
  box-shadow: rgba(217, 217, 217, 0.2) 0px 0px 5px, rgba(217, 217, 217, 0.25) 0px 1px 4px 1px;
}

.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}


.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}

.r-17s6mgv {
  -webkit-box-pack: end;
  justify-content: flex-end;
}


.r-r2y082 {
  max-width: 50%;
}

.r-hrzydr {
  margin-bottom: 2px;
  margin-top: 2px;
}

.r-14g73ha {
  height: 15px;
}

.r-1b94p3d {
  width: 15px;
}

.r-1jie2fr {
  border-color: rgba(0, 0, 0, 0.1);
}


.r-1q9bdsx {
  border-radius: 12px;
}

.r-1594n1d {
  height: 15%;
}

.r-1rcydto {
  max-height: calc(98px);
}

.r-im43zt {
  max-width: calc(98px);
}

.r-1mfpqn6 {
  min-height: calc(69px);
}

.r-cnsjmj {
  min-width: calc(69px);
}

.r-1ih7r1r {
  width: 15%;
}





















