<div class="css-1dbjc4n r-d0pm55 r-1g94qm0 r-184en5c"
     data-testid="attachments">
  <div class="css-1dbjc4n r-1g94qm0">
    <div class="css-1dbjc4n r-1adg3ll r-1udh08x">
      <div class="r-1adg3ll r-13qz1uu"
           style="padding-bottom: 56.25%;"></div>
      <div
        class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
        <div id="media-container" class="css-1dbjc4n r-18u37iz r-1pi2tsx">
          <div id="left-media-split" class="css-1dbjc4n r-1iusvr4 r-eqz5dr r-16y2uox r-zso239" style="display: none"></div>
          <div id="right-media-split" class="css-1dbjc4n r-1iusvr4 r-eqz5dr r-16y2uox" style="display: none;"></div>
            <div appMediaSplit [index]="i + 1" id="upload-media-{{i + 1}}" aria-label="Media" role="group"
                 class="css-1dbjc4n r-1867qdf r-1loqt21 r-1iusvr4 r-16y2uox r-1udh08x r-13tjlyg r-11iat2r r-1ftll1t"
                 *ngFor="let item of this.uploader.queue; let i = index">
              <div
                class="css-1dbjc4n r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af">
                <div
                  class="css-1dbjc4n r-42olwf r-17gur6a r-1phboty r-1yadl64 r-1pi2tsx r-dnmrzs r-1udh08x">
                  <div
                    class="css-1dbjc4n r-1adg3ll r-1mlwlqe r-1pi2tsx r-1udh08x r-13qz1uu r-417010">
                    <div
                      class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                      [style.background-image]="'url(' + item.url +')'"></div>
                    <img alt="" draggable="false"
                         [src]="item.url"
                         class="css-9pa8cd"></div>
                </div>
              </div>
              <div aria-label="Remove media" role="button"
                   data-focusable="true" tabindex="0"
                   class="css-18t94o4 css-1dbjc4n r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1n430bm r-1vsu8ta r-18qmn74 r-1ny4l3l r-mk0yit r-u8s1d r-12pp1o0 r-o7ynqc r-6416eg r-lrvibr"
                   [ngClass]="{'r-loe9s5': !this.isCloseIconHovered, 'r-1p4wkip': this.isCloseIconHovered}"
                   (mouseenter)="this.handleCloseIconHover($event)"
                   (mouseleave)="handleCloseIconHover($event)"
                   (click)="this.removeMedia(item, this.uploader.queue.length)">
                <div dir="auto"
                     class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-n6v787 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                  <app-global-icon iconName="x"></app-global-icon>
                  <span
                    class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
                </div>
              </div>
              <div aria-label="Edit media" role="button"
                   data-focusable="true" tabindex="0"
                   class="css-18t94o4 css-1dbjc4n r-loe9s5 r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vsu8ta r-aj3cln r-1ny4l3l r-1fneopy r-u8s1d r-inbvtb r-12pp1o0 r-o7ynqc r-6416eg r-lrvibr">
                <div dir="auto"
                     class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                                                                        <span
                                                                          class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                                          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Edit</span></span>
                </div>
              </div>
            </div>  <!--// media end div-->
        </div>
      </div>
    </div>
    <div
      class="css-1dbjc4n r-1awozwy r-18u37iz r-1w6e6rj r-1g94qm0">
      <a href="/compose/tweet/tags" dir="auto"
         aria-label="Tag people" role="link" data-focusable="true"
         class="css-4rbku5 css-18t94o4 css-901oao r-k200y r-9ilb82 r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-1sqfjza r-dnmrzs r-bcqeeo r-1udh08x r-1udbk01 r-3s2u2q r-qvutc0"><span
        class="css-901oao css-16my406 r-9ilb82 r-1qd0xha r-n6v787 r-1sf4r6n r-bcqeeo r-qvutc0"><svg
        viewBox="0 0 24 24"
        class="r-4qtqp9 r-yyyyoo r-1xvli5t r-a5pmau r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path
        d="M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z"></path></g></svg>Tag people</span></a><a
      href="/compose/tweet/media" dir="auto"
      aria-label="Add description" role="link"
      data-focusable="true"
      class="css-4rbku5 css-18t94o4 css-901oao r-k200y r-9ilb82 r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-dnmrzs r-bcqeeo r-1udh08x r-1udbk01 r-3s2u2q r-qvutc0"><span
      class="css-901oao css-16my406 r-9ilb82 r-1qd0xha r-n6v787 r-1sf4r6n r-bcqeeo r-qvutc0"
      data-testid="altTextLabel"><svg viewBox="0 0 24 24"
                                      class="r-4qtqp9 r-yyyyoo r-1xvli5t r-a5pmau r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path
      d="M19.75 22H4.25C3.01 22 2 20.99 2 19.75V4.25C2 3.01 3.01 2 4.25 2h15.5C20.99 2 22 3.01 22 4.25v15.5c0 1.24-1.01 2.25-2.25 2.25zM4.25 3.5c-.414 0-.75.337-.75.75v15.5c0 .413.336.75.75.75h15.5c.414 0 .75-.337.75-.75V4.25c0-.413-.336-.75-.75-.75H4.25z"></path><path
      d="M17 8.64H7c-.414 0-.75-.337-.75-.75s.336-.75.75-.75h10c.414 0 .75.335.75.75s-.336.75-.75.75zm0 4.11H7c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h10c.414 0 .75.336.75.75s-.336.75-.75.75zm-5 4.11H7c-.414 0-.75-.335-.75-.75s.336-.75.75-.75h5c.414 0 .75.337.75.75s-.336.75-.75.75z"></path></g></svg>Add description</span></a>
    </div>
  </div>
</div>
