@import "src/sass/application";

.r-lwhw9o {
  height: 1.75rem;
}


.r-xx1rs6 {
  margin-left: 30px;
  margin-right: 30px;
}


.r-1iofnty {
  border-color: rgb(224, 36, 94);
}

.r-daml9f {
  color: rgb(224, 36, 94);
}

.r-30o5oe {
  appearance: none;
}




.r-19h5ruw {
  margin-top: 15px;
}

.r-6ity3w {
  margin-top: 30px;
}

.r-16xksha {
  -webkit-box-flex: 2;
  flex-grow: 2;
}

.r-633pao {
  pointer-events: none !important;
}

.r-1knelpx {
  padding-top: 20px;
}


.r-fdch1b {
  margin-top: -0.75em;
}

.r-8eqzbf {
  right: 10px;
}

.r-1v2oles {
  top: 50%;
}



.r-30o5oe {
  appearance: none;
}

















