@import '../../../../sharebook-nebular/theme/styles/core/mixins';
@import '../../../../theme/styles/themes';

@include nb-install-component() {
  button[nbButton] {
    margin: 0.25rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  input {
    width: 20rem;
  }

  :host {
    button {
      @include nb-ltr(margin, 0 0.75rem 0 0);
      @include nb-rtl(margin, 0 0 0 0.75rem);
    }
  }
}

// Date pf birth

.r-1v1z2uz {
  margin-top: 32px;
}

.r-1fmj7o5 {
  color: rgba(217,217,217,1.00);
}

.r-a023e6 {
  font-size: 15px;
}

.r-rjixqe {
  line-height: 20px;
}

.r-1r5su4o {
  margin-bottom: 16px;
  margin-top: 16px;
}

.r-16xksha {
  -webkit-box-flex: 2;
  flex-grow: 2;
}

.r-1b7u577 {
  margin-right: 12px;
}


.r-n6v787 {
  font-size: 13px;
}

.r-1cwl3u0 {
  line-height: 16px;
}

.r-1pn2ns4 {
  padding-left: 8px;
  padding-right: 8px;
}

.r-tskmnb {
  padding-top: 8px;
}

.r-633pao {
  pointer-events: none !important;
}

.r-30o5oe {
  appearance: none;
}

.r-1inkyih {
  font-size: 17px;
}

.r-crgep1 {
  margin: 0px;
}

.r-1wzrnnt {
  margin-top: 16px;
}

.r-t60dpp {
  padding: 0px;
}

.r-xd6kpl {
  padding-bottom: 8px;
}

.r-ttdzmv {
  padding-top: 12px;
}

@import '_variables';
@import '_mixins';

.form-group:first-child {
  margin-bottom: 15px;
}

