<nb-card>
    <nb-card-header>PROFILE SETTINGS</nb-card-header>
    <nb-card-body>
        <div [formGroup]="userForm" class="container">
            <div class="form-group col-12 col-lg-8 col-xl-9">
                <label for="inputDisplayName">Display name</label>
                <input nbInput fullWidth id="inputDisplayName" formControlName="displayName"
                       [status]="(displayName?.errors?.required || displayName?.hasError('minlength') || displayName?.hasError('maxlength')) && displayName.touched ? 'danger' : 'primary'"
                       class="form-control" placeholder="Display name">
                <ngx-validation-message label="displayName"
                                        [showMinLength]="displayName?.hasError('minlength')"
                                        [showMaxLength]="displayName?.hasError('maxlength')"
                                        [showRequired]="displayName?.errors?.required && displayName.touched"
                                        minLength=6
                                        maxLength=20>
                </ngx-validation-message>
            </div>

            <div class="form-group col-12 col-lg-8 col-xl-9">
                <label for="inputDescription">Description</label>
                <textarea nbInput fullWidth id="inputDescription" shape="rectangle" formControlName="description"
                          [status]="(description?.errors?.required || description?.hasError('pattern')) && description.touched ? 'danger' : 'primary'"
                          class="form-control"
                          placeholder="Description">
                </textarea>
                <ngx-validation-message label="Description"
                                        [showPattern]="description?.hasError('pattern') && description.touched"
                                        [showRequired]="description?.errors?.required && description.touched" min=1 max=140>
                </ngx-validation-message>
            </div>

            <div class="form-group col-12 col-lg-8 col-xl-9">
                <nb-card>
                    <nb-card-header>Country</nb-card-header>
                    <nb-card-body>
                        <nb-select [selected]="this.countryId" (selectedChange)="this.changeCountry($event)" status="primary" fullWidth>
                            <nb-option *ngFor="let country of this.utcStuff?.countries" [value]="country.value"> {{ country.text }}</nb-option>
                        </nb-select>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="form-group col-12 col-lg-8 col-xl-9">
                <nb-card>
                    <nb-card-header>Time zone</nb-card-header>
                    <nb-card-body>
                        <nb-select [selected]="this.timeZoneId" (selectedChange)="this.changeTimeZone($event)" status="primary" fullWidth>
                            <nb-option *ngFor="let timeZone of this.utcStuff?.timeZones" [value]="timeZone.value"> {{ timeZone.text }}</nb-option>
                        </nb-select>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="form-group col-12 col-lg-8 col-xl-9">
                <div aria-label="Date of birth" role="group" class="sharebook-container r-1v1z2uz">
                    <div dir="auto" class="css-901oao r-1fmj7o5 font-family r-a023e6 font-weight-700 r-rjixqe min-width-0px text-overflow-wrap">
                        <span class="css-901oao paragraph text-font-family min-width-0px text-overflow-wrap">Gender</span></div>
                    <div dir="auto" class="css-901oao third-wheel-color font-family r-a023e6 font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">This information won’t be displayed publicly.</span>
                    </div>
                    <div class="sharebook-container">
                        <nb-radio-group [(value)]="this.genderSelected">
                            <nb-radio [value]="'Female'" title="female"> Female </nb-radio>
                            <nb-radio [value]="'Male'" title="male"> Male </nb-radio>
                            <nb-radio [value]="'Other'" title="other"> Other </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

            </div>

            <div class="form-group col-12 col-lg-8 col-xl-9">
                <div aria-label="Date of birth" role="group" class="sharebook-container r-1v1z2uz">
                    <div dir="auto" class="css-901oao r-1fmj7o5 font-family r-a023e6 font-weight-700 r-rjixqe min-width-0px text-overflow-wrap">
                        <span class="css-901oao paragraph text-font-family min-width-0px text-overflow-wrap">Date of birth</span></div>
                    <div dir="auto" class="css-901oao third-wheel-color font-family r-a023e6 font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">This will not be shown publicly. Confirm your own age, even if this account is for a business or something else.</span>
                    </div>
                    <div class="sharebook-container">
                        <div aria-label="Date of birth" role="group" class="sharebook-container flex-direction-row r-1r5su4o">
                            <div style="border-width: 0px;" class="sharebook-container r-kemksi main-left-right-vertical-border-color input-form-border border-width-1px r-16xksha r-1b7u577">
                                <div dir="auto"
                                     class="css-901oao third-wheel-color font-family r-n6v787 font-weight-400 r-1cwl3u0 min-width-0px r-1pn2ns4 r-tskmnb r-633pao position-absolute text-overflow-wrap">
                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Month</span></div>
                                    <nb-select [selected]="this.monthSelected" (selectedChange)="this.changeMonth($event)" class="r-30o5oe element-background-color-rgba input-form-border-radius-0px input-form-border-width r-1fmj7o5 sharebook-cursor-pointer font-family r-1inkyih r-rjixqe r-crgep1 r-1wzrnnt outline-style-none r-t60dpp r-xd6kpl r-1pn2ns4 r-ttdzmv" >
                                        <nb-option *ngFor="let month of this.months | enumToArray" [value]="month.index"> {{ month.name }}</nb-option>
                                    </nb-select>
                            </div>
                            <div style="border-width: 0px;" class="sharebook-container r-kemksi main-left-right-vertical-border-color input-form-border border-width-1px flex-grow-expand r-1b7u577">
                                <div dir="auto"
                                     class="css-901oao third-wheel-color font-family r-n6v787 font-weight-400 r-1cwl3u0 min-width-0px r-1pn2ns4 r-tskmnb r-633pao position-absolute text-overflow-wrap">
                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Day</span></div>
                                <nb-select [selected]="this.daySelected" (selectedChange)="this.changeDay($event)" class="r-30o5oe element-background-color-rgba input-form-border-radius-0px input-form-border-width r-1fmj7o5 sharebook-cursor-pointer font-family r-1inkyih r-rjixqe r-crgep1 r-1wzrnnt outline-style-none r-t60dpp r-xd6kpl r-1pn2ns4 r-ttdzmv" >
                                    <nb-option *ngFor="let day of this.days" value="{{day}}"> {{ day }}</nb-option>
                                </nb-select>
                            </div>
                            <div style="border-width: 0px;" class="sharebook-container r-kemksi main-left-right-vertical-border-color input-form-border border-width-1px flex-grow-expand">
                                <div dir="auto"
                                     class="css-901oao third-wheel-color font-family r-n6v787 font-weight-400 r-1cwl3u0 min-width-0px r-1pn2ns4 r-tskmnb r-633pao position-absolute text-overflow-wrap">
                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Year</span></div>
                                <nb-select [selected]="this.yearSelected" (selectedChange)="this.changeYear($event)" class="r-30o5oe element-background-color-rgba input-form-border-radius-0px input-form-border-width r-1fmj7o5 sharebook-cursor-pointer font-family r-1inkyih r-rjixqe r-crgep1 r-1wzrnnt outline-style-none r-t60dpp r-xd6kpl r-1pn2ns4 r-ttdzmv" >
                                    <nb-option *ngFor="let year of this.years" value="{{year}}"> {{ year }}</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-lg-8 col-xl-9">
                <label for="inputDisplayName">Website</label>
                <input nbInput fullWidth id="inputWebsiteLink" formControlName="websiteLink"
                       [status]="(websiteLink?.errors?.required || websiteLink?.hasError('pattern')) && websiteLink.touched ? 'danger' : 'primary'"
                       class="form-control" placeholder="Website link"
                       type="url">
                <ngx-validation-message label="website link"
                                        [showPattern]="websiteLink?.hasError('pattern')"
                                        [showRequired]="websiteLink?.errors?.required && websiteLink.touched">
                </ngx-validation-message>

                <label for="inputTwitterLink">Twitter</label>
                <input nbInput fullWidth id="inputTwitterLink" formControlName="twitterLink"
                       [status]="(twitterLink?.errors?.required || twitterLink?.hasError('pattern')) && twitterLink.touched ? 'danger' : 'primary'"
                       class="form-control" placeholder="Twitter link"
                       type="url">
                <ngx-validation-message label="twitter link"
                                        [showPattern]="twitterLink?.hasError('pattern')"
                                        [showRequired]="twitterLink?.errors?.required && twitterLink.touched">
                </ngx-validation-message>

                <label for="inputTwitchLink">Twitch</label>
                <input nbInput fullWidth id="inputTwitchLink" formControlName="twitchLink"
                       [status]="(twitchLink?.errors?.required || twitchLink?.hasError('pattern')) && twitchLink.touched ? 'danger' : 'primary'"
                       class="form-control" placeholder="Twitch link"
                       type="url">
                <ngx-validation-message label="twitch link"
                                        [showPattern]="twitchLink?.hasError('pattern')"
                                        [showRequired]="twitchLink?.errors?.required && twitchLink.touched">
                </ngx-validation-message>

                <label for="inputYoutubeLink">Youtube</label>
                <input nbInput fullWidth id="inputYoutubeLink" formControlName="youtubeLink"
                       [status]="(youtubeLink?.errors?.required || youtubeLink?.hasError('pattern')) && youtubeLink.touched ? 'danger' : 'primary'"
                       class="form-control" placeholder="Youtube link"
                       type="url">
                <ngx-validation-message label="youtube link"
                                        [showPattern]="youtubeLink?.hasError('pattern')"
                                        [showRequired]="youtubeLink?.errors?.required && youtubeLink.touched">
                </ngx-validation-message>

                <label for="inputFacebookLink">Facebook</label>
                <input nbInput fullWidth id="inputFacebookLink" formControlName="facebookLink"
                       [status]="(facebookLink?.errors?.required || facebookLink?.hasError('pattern')) && facebookLink.touched ? 'danger' : 'primary'"
                       class="form-control" placeholder="Facebook link"
                       type="url">
                <ngx-validation-message label="facebook link"
                                        [showPattern]="facebookLink?.hasError('pattern')"
                                        [showRequired]="facebookLink?.errors?.required && facebookLink.touched">
                </ngx-validation-message>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="primary" [disabled]="!userForm.valid" (click)="save()" hero>Save</button>
    </nb-card-footer>
</nb-card>


<!--<div *ngIf="error" class="alert alert-danger">{{ error }}</div>-->

<!--<form role="form" (ngSubmit)="updateMyProfile()" [formGroup]="form">-->

<!--  <div class="form-group">-->
<!--    <label i18n for="username">Username</label>-->
<!--    <input type="text" id="username" class="form-control" formControlName="username" readonly>-->
<!--    <div class="text-muted" i18n>-->
<!--      People can find you using {{ user?.screenName }}@{{ this.instanceHost }}-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label i18n for="display-name">Display name</label>-->
<!--    <input type="text" id="display-name" class="form-control" formControlName="display-name" [ngClass]="{ 'input-error': formErrors['display-name'] }">-->
<!--    <div *ngIf="formErrors['display-name']" class="form-error">-->
<!--      {{ formErrors['display-name'] }}-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label i18n for="description">Description</label>-->
<!--    <textarea-->
<!--      id="description" formControlName="description" class="form-control"-->
<!--      [ngClass]="{ 'input-error': formErrors['description'] }"-->
<!--    ></textarea>-->
<!--    <div *ngIf="formErrors.description" class="form-error">-->
<!--      {{ formErrors.description }}-->
<!--    </div>-->
<!--  </div>-->

<!--  <input type="submit" i18n-value value="Save" [disabled]="!form.valid">-->
<!--</form>-->
