<div dir="auto" class="css-901oao lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height r-15d164r min-width-0px text-align-center text-overflow-wrap">
    <span class="css-901oao font-family inside-element-container-line-height min-width-0px text-overflow-wrap">{{this.title}}</span>
</div>
<div dir="auto" class="css-901oao third-wheel-color font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-align-center r-ey96lj text-overflow-wrap">
    <span class="css-901oao  font-family inside-element-container-line-height min-width-0px text-overflow-wrap"><ng-content></ng-content></span>
</div>