<div class="margin-content" nbInfiniteList [listenWindowScroll]="true" [threshold]="500" (bottomThreshold)="this.loadMoreStreams()">
    <div class="videos-header" style="height: 60px">
        <div class="action-block">
            <nb-actions size="medium">
                <nb-action class="control-item">
                    <a class="ml-2" routerLink="/streamers/list">
                        <fa-icon [icon]="this.faFire" style="font-size: 15px"></fa-icon>
                        <span class="header-link-title subtitle">Top chess streamers</span>
                    </a>
                </nb-action>
                <nb-action class="control-item">
                    <a routerLink="./" class="ml-2" routerLinkActive="active">
                        <fa-icon [icon]="this.faUsersSolid" style="font-size: 15px"></fa-icon>
                        <span class="header-link-title subtitle">Chessbook streamers</span>
                    </a>
                </nb-action>
            </nb-actions>

        </div>
        <nb-actions size="small">
            <nb-action *ngIf="!this.twitchLoginName" class="control-item" nbTooltip="Enter your Twitch username" (click)="this.open3()">
                <a nbButton class="ml-2" status="primary">
                    <fa-icon [icon]="this.faUserPlus" style="font-size: 18px"></fa-icon>
                </a>
            </nb-action>
            <nb-action *ngIf="this.twitchLoginName" class="control-item" nbTooltip="Edit your Twitch username" (click)="this.deleteMe()">
                <a nbButton class="ml-2" status="primary">
                    <fa-icon [icon]="this.faUserCheck" style="font-size: 18px"></fa-icon>
                </a>
            </nb-action>
        </nb-actions>
    </div>

    <div class="no-results" i18n *ngIf="this.streams?.data.length <= 0">
        No chessbook user is streaming at the moment :(
        <p>
            <a routerLink="/streamers/list" style="cursor: pointer">View Stream List</a>
        </p>
    </div>
    <div class="videos" style="padding-left: 6px"> <!--[ngClass]="{ 'display-as-row': displayAsRow() }"-->
        <ng-container *ngFor="let video of this.streams?.data;"> <!--trackBy: videoById;-->
            <!--            <h2 class="date-title" *ngIf="getCurrentGroupedDateLabel(video)">-->
            <!--                {{ getCurrentGroupedDateLabel(video) }}-->
            <!--            </h2>-->

            <div class="video-wrapper">
                <my-video-miniature [video]="video"></my-video-miniature>
            </div>
        </ng-container>
    </div>
</div>
