@import "src/sass/application";

.r-1n9sb9w {
  margin-left: 20px;
  margin-right: 20px;
}



.r-ku1wi2 {
  margin-bottom: 15px;
}


.r-1jeg54m {
  white-space: normal;
}





































































