<!--<igx-dialog></igx-dialog>-->
<div [ngClass]="['dialog-wrapper', maximized ? 'maximized' : 'size-' + size , dialogClass]">
    <ng-content select="nb-card-header"></ng-content>
    <ng-content select="nb-card-body"></ng-content>
    <ng-content select="nb-card-footer"></ng-content>
    <div *ngIf="hasCloseButton || canMaximize" class="dialog-wrapper_buttons">
        <button
                nbButton
                ghost
                class="dialog-wrapper_maximize-button"
                *ngIf="canMaximize"
                (click)="handleMaximizeButtonClick()">
            <fa-icon [icon]="this.maximized ? this.faWindowRestore : this.faWindowMaximize" size="2x"></fa-icon>
        </button>
        <button
                nbButton
                ghost
                class="dialog-wrapper_close-button"
                (click)="handleCloseButtonClick()">
            <fa-icon [icon]="this.faTimes"></fa-icon>
        </button>
    </div>
</div>
