<div *ngIf="this.post" style="position: absolute; width: 100%; transform: translateY({{this.transformState}}px); transition: opacity 0.3s ease-out 0s;">
    <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
        <div class="sharebook-container">

            <article role="article" data-focusable="true" tabindex="0"
                     class="sharebook-container cursor-pointer flex-direction-row outline-style-none overflow-hidden r-1yt7n81 r-ry3cjt transition-duration transition-property">
                <div class="sharebook-container flex-direction-column flex-grow-expand flex-shrink">
                    <div class="sharebook-container flex-grow-expand flex-shrink outline-style-none">
                        <div class="sharebook-container">
                            <div class="sharebook-container">
                                <div class="sharebook-container flex-direction-row">
                                    <div class="sharebook-container open-space-container-flex-expand flex-grow-expand component-padding-top"></div>
                                </div>
                            </div>

                            <app-social-context *ngIf="this.featured"
                                                [props]="this.socialContextProps">
                            </app-social-context>

                            <div class="sharebook-container flex-direction-row">
                                <app-profile-picture49x49
                                        [profileImageUrlHttps]="this.post?.user?.profileImageUrlHttps" [screenName]="this.post?.user?.screenName"></app-profile-picture49x49>
                                <div class="status__expand" (click)="this.handleExpandClick(null)"></div>
                                <div class="sharebook-container open-space-container-flex-expand flex-grow-expand justify-content-center post-padding-bottom">
                                    <div class="sharebook-container">
                                        <div class="sharebook-container r-zl2h9q">
                                            <div class="sharebook-container r-k4xj1c flex-direction-row justify-content-space-between">
                                                <div class="sharebook-container post--trend-top-info-align-items flex-direction-row flex-shrink">
                                                    <div class="sharebook-container flex-shrink max-width-100-per">
                                                        <a
                                                                [routerLink]="'/' + this.post?.user?.screenName.substring(1)"
                                                                role="link"
                                                                data-focusable="true"
                                                                class="sharebook-link sharebook-cursor-pointer sharebook-container cursor-pointer flex-shrink max-width-100-per outline-style-none">
                                                            <div class="sharebook-container align-items-center flex-direction-row flex-shrink max-width-100-per outline-style-none">
                                                                <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                                    <div dir="auto"
                                                                         class="css-901oao sharebook-text font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                                                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">
                                                                        <span class="user-display-name">{{this.post?.user.displayName}}</span></span>
                                                                    </div>
                                                                    <div *ngIf="this.post?.user?.protected" dir="auto"
                                                                         class="css-901oao flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                        <fa-icon [icon]="this.faLockAlt"></fa-icon>
                                                                    </div>
                                                                </div>
                                                                <div class="sharebook-container flex-direction-row flex-shrink r-1f6r7vd">
                                                                    <div dir="ltr"
                                                                         class="css-901oao sharebook-text third-wheel-color flex-direction-row font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post.user.screenName}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div dir="auto" aria-hidden="true"
                                                         class="css-901oao third-wheel-color svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px created-at-dot text-overflow-wrap">
                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">·</span>
                                                    </div>
                                                    <div dir="auto" style="cursor: pointer;"
                                                       [attr.aria-label]="post.createdAt" role="link" data-focusable="true"
                                                       class="sharebook-link sharebook-cursor-pointer css-901oao third-wheel-color cursor-pointer svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                                                        <app-date-toggle [date]="post.createdAt"></app-date-toggle>
                                                    </div></div>
                                                <div class="sharebook-container flex-direction-row justify-content-flex-start margin-left-20px">
                                                    <div aria-expanded="false" aria-haspopup="true" aria-label="More"
                                                         role="button" data-focusable="true" tabindex="0"
                                                         class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none"
                                                         [nbPopover]="this.popoverMoreComponent"
                                                         [nbPopoverContext]="{items: this.meatballsMenu, post: this.post}">
                                                        <!--[nbContextMenu]="this.meatballsMenu"-->
                                                        <div dir="ltr"
                                                             class="css-901oao align-items-center third-wheel-color display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                            <div class="icon-hover sharebook-container display-inline-flex">
                                                                <div class="sharebook-container border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                                <!--<nb-icon icon="more-horizontal-outline"></nb-icon>-->
                                                                <fa-icon [icon]="this.faEllipsisH" size="lg"></fa-icon>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sharebook-container">
                                        <div class="sharebook-container">
                                            <div *ngIf="!!this.post?.status" lang="en" dir="auto"
                                                 class="css-901oao font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px svg-position-relative text-overflow-wrap">
                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"
                                                      [innerHTML]="this.statusHTMLText">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="sharebook-container" *ngIf="this.post?.entities?.medias?.length > 0">
                                            <app-media-gallery
                                                    [media]="this.post.entities.medias"
                                                    [height]="110"
                                                    [onOpenMedia]="this.handleOpenMedia"
                                                    [visible]="true"
                                                    [defaultWidth]="250"
                                                    [standalone]="false">
                                            </app-media-gallery>
                                        </div>
                                        <div class="sharebook-container" *ngIf="this.post?.poll">
                                            <app-poll [poll]="this.post.poll"
                                                      [disabled]="false">
                                            </app-poll>
                                        </div>
                                        <div class="sharebook-container" *ngIf="this.post?.card">
                                            <app-card
                                                    [card]="this.post.card"
                                                    [sensitive]="false"
                                                    [compact]="true">
                                            </app-card>
                                        </div>
                                        <div class="sharebook-container" *ngIf="this.post?.entities?.medias?.length === 0">
                                            <iframe *ngIf="this.getVideoEmbedLink()" class="video-frame" [src]="this.embedUrl | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        <div aria-label="" role="group"
                                             class="sharebook-container flex-direction-row justify-content-space-between margin-top-10px">
                                            <!-- TODO: WARNING!! r-1mdbhws was a class!!!-->
                                            <div class="sharebook-container flex-direction-row justify-content-flex-start"
                                                 [attr.aria-label]="this.tooltipComment"
                                                 [ngbTooltip]="this.tooltipComment"
                                                 placement="auto" [openDelay]="700">
                                                <div aria-label="{{this.post.commentsCount}} Comments. Comment" role="button"
                                                     data-focusable="true"
                                                     tabindex="0"
                                                     class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none"
                                                     (click)="this.handleReplyButton(this.post)">
                                                    <div dir="ltr"
                                                         class="css-901oao r-9ilb82 align-items-center display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                        <div class="sharebook-container display-inline-flex">
                                                            <div class="icon-hover sharebook-container border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                            <fa-icon [icon]="this.faComment"></fa-icon>
                                                        </div>
                                                        <div class="sharebook-container display-inline-flex overflow-hidden"><span *ngIf="this.post?.commentsCount !== 0"
                                                                class="css-901oao sharebook-text-inherit text-font-family third-wheel-text-font-size line-height-calc r-1j6idkz padding-left-right r-d3hbe1 r-1wgg2b2 r-axxi2z text-overflow-wrap">{{this.post.commentsCount}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sharebook-container flex-direction-row justify-content-flex-start"
                                                 (click)="this.handleRepostClick(this.post)"
                                                 [attr.aria-label]="this.tooltipRepost"
                                                 [ngbTooltip]="this.tooltipRepost"
                                                 placement="auto" [openDelay]="700">
                                                <div [attr.aria-label]="(this.post.repostCount ? this.post.repostCount : 0) + ' Reposts. Repost'"
                                                     aria-expanded="false" aria-haspopup="false"
                                                     role="button"
                                                     data-focusable="true" tabindex="0"
                                                     class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none">
                                                    <div dir="ltr"
                                                         class="css-901oao r-9ilb82 align-items-center r-9ilb82 display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                        <div class="sharebook-container display-inline-flex">
                                                            <div class="icon-hover sharebook-container border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                            <fa-icon [icon]="this.faShare"
                                                                     [ngStyle]="{'color': this.post.reposted ? 'green' : 'inherit'}"></fa-icon>
                                                        </div>
                                                        <div class="sharebook-container display-inline-flex overflow-hidden">
                                                            <span *ngIf="this.post?.repostCount"
                                                                  class="css-901oao sharebook-text-inherit text-font-family third-wheel-text-font-size line-height-calc r-1j6idkz padding-left-right r-d3hbe1 r-1wgg2b2 r-axxi2z text-overflow-wrap">
                                                                {{this.post.repostCount}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sharebook-container flex-direction-row justify-content-flex-start"
                                                 (click)="this.setLike()"
                                                 [attr.aria-label]="tooltipLike" [ngbTooltip]="this.tooltipLike"
                                                 placement="auto" [openDelay]="700">
                                                <div [attr.aria-label]="(this.post.favoriteCount) + ' ' + (this.post.favoriteCount === 1 ? 'Like.' : 'Likes.') + ' ' + (this.userRating === 'like' ? 'Liked' : 'Like')"
                                                     role="button" data-focusable="true"
                                                     tabindex="0"
                                                     class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none">
                                                    <div dir="ltr"
                                                         class="css-901oao r-9ilb82 align-items-center r-9ilb82 display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                        <div class="sharebook-container display-inline-flex">
                                                            <div class="like-hover sharebook-container border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                            <fa-icon [icon]="this.faHeart" [@likeAnimation]="this.userRating === 'like' ? 'active' : 'inactive'"
                                                                     [ngStyle]="{'color': this.userRating === 'like' ? 'blue' : 'inherit'}"></fa-icon>
                                                        </div>
                                                        <div class="sharebook-container display-inline-flex overflow-hidden">
                                                            <span class="css-901oao sharebook-text-inherit text-font-family third-wheel-text-font-size line-height-calc r-1j6idkz padding-left-right r-d3hbe1 r-1wgg2b2 r-axxi2z text-overflow-wrap">
                                                                <span *ngIf="this.post.favoriteCount !== 0"
                                                                      class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post.favoriteCount}}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sharebook-container flex-direction-row justify-content-flex-start"
                                                 (click)="showShareModal()" (keyup.enter)="showShareModal()"
                                                 [attr.aria-label]="this.tooltipShare" [ngbTooltip]="this.tooltipShare"
                                                 placement="auto" [openDelay]="700">
                                                <div aria-expanded="false" aria-haspopup="dialog" aria-label="Share Post"
                                                     role="button" data-focusable="true" tabindex="0"
                                                     class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none">
                                                    <div dir="ltr"
                                                         class="css-901oao align-items-center r-9ilb82 display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                        <div class="sharebook-container display-inline-flex">
                                                            <div class="icon-hover sharebook-container border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                            <fa-icon [icon]="this.faSatelliteDish"></fa-icon>
                                                        </div>
                                                        <div class="sharebook-container display-inline-flex overflow-hidden"><span
                                                                class="css-901oao sharebook-text-inherit text-font-family third-wheel-text-font-size line-height-calc r-1j6idkz padding-left-right r-d3hbe1 r-1wgg2b2 r-axxi2z text-overflow-wrap"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
