:host {
  .title {
    margin-bottom: 2rem;
  }
}

.name-information {
  margin-top: 10px;
}

.design-canvas_feedback-button {
  display: flex;
  margin: 1.5rem;
  align-items: center;
  justify-content: center;
}
