<div class="input-group input-group-sm">
  <input nbInput
    [id]="inputId" [autocomplete]="autocomplete" [value]="value" [placeholder]="placeholder" [tabindex]="tabindex"
    [(ngModel)]="value" (ngModelChange)="update()" [ngClass]="{ 'readonly': readonly }" [readonly]="readonly"
    #input (click)="input.select()" (input)="update()" (change)="update()" [type]="inputType" class="form-control"
  />

  <div *ngIf="withToggle || withCopy" class="input-group-append">
    <button nbButton ghost *ngIf="withToggle" size="tiny" (click)="toggle()" type="button" class="btn btn-outline-secondary" [title]="toggleTitle">
      <fa-icon [icon]="show ? this.faEye : this.faEyeSlash"></fa-icon>
    </button>

    <button
      *ngIf="withCopy" [cdkCopyToClipboard]="input.value" (click)="activateCopiedMessage()" type="button"
      class="btn btn-outline-secondary" title="Copy">
      <fa-icon [icon]="this.faWalkieTalkie" class="glyphicon glyphicon-copy"></fa-icon>
    </button>
  </div>
</div>
