<div aria-label="Media" role="group"
     class="sharebook-container border-radius-16px cursor-pointer open-space-container-flex-expand flex-grow-expand overflow-hidden upload-input-form-transition r-11iat2r upload-input-form-transition-timing-function">
    <div class="sharebook-container bottom-0px left-0px position-absolute right-0px top-0px">
        <div class="sharebook-container element-border-color-rgba input-form-border-radius-0px border-style-solid input-form-border-width height-100-per max-width-100-per overflow-hidden">
            <div class="sharebook-container display-block image-flex-expand height-100-per overflow-hidden width-100-per image-z-index">
                <div class="sharebook-container image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                     [style.background-image]="'url(' + media.url +')'"></div>
                <img alt="" draggable="false" [src]="media.url" class="sharebook-image">
            </div>
        </div>
    </div>
    <div aria-label="Remove media" role="button"
         data-focusable="true" tabindex="0"
         class="sharebook-cursor-pointer sharebook-container element-border-color-rgba border-radius-9999px border-style-solid border-width-1px border-height-0px r-1n430bm min-height-30px edge-element-min-width outline-style-none element-left-right-padding-0px position-absolute r-12pp1o0 transition-duration transition-property users-select-none"
         [ngClass]="{'r-loe9s5': !this.isCloseIconHovered, 'r-1p4wkip': this.isCloseIconHovered}"
         (mouseenter)="this.handleCloseIconHover($event)"
         (mouseleave)="handleCloseIconHover($event)"
         (click)="media.remove()">
        <div dir="auto" class="css-901oao align-items-center share-button-text-color display-flex flex-direction-row flex-grow-expand font-family third-wheel-text-font-size font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap">
            <fa-icon [icon]="this.faTimes"></fa-icon>
            <span class="css-901oao sharebook-text-inherit sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap">

            </span>
        </div>
    </div>
    <div aria-label="Edit media" role="button"
         data-focusable="true" tabindex="0"
         class="sharebook-cursor-pointer sharebook-container r-loe9s5 element-border-color-rgba border-radius-9999px r-1phboty border-width-1px border-height-0px min-height-30px r-aj3cln outline-style-none share-button-padding-left-right position-absolute r-inbvtb r-12pp1o0 transition-duration transition-property users-select-none">
        <div dir="auto"
             class="css-901oao align-items-center share-button-text-color display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap">
                                                                        <span class="css-901oao sharebook-text-inherit sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                            <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Edit</span>
                                                                        </span>
        </div>
    </div>
</div>
