.r-jw8lkh {
  margin-bottom: 25px;
  margin-top: 25px;
}

.r-e7q0ms {
  width: 100%;
}




.r-1waj6vr {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}

.min-height-49px {
  min-height: 49px;
}

.r-17bavie {
  min-width: calc(78.89px);
}


.r-15bsvpr {
  padding-left: 30px;
  padding-right: 30px;
}

.sharebook-background-color-blue {
  background-color: rgb(29, 161, 242);
}
