.r-11mg6pl {
  border-color: rgb(255, 255, 255);
}


.r-ziojic {
  margin-bottom: 59px;
}


.r-1ak16pp {
  margin-top: 59px;
}

.r-1u6610y {
  width: calc(177px);
}

.r-13w96dm {
  background-color: rgba(0, 0, 0, 0.3);
}

.r-lsa89y {
  opacity: 0.75;
}

.r-c8f5pn {
  background-color: rgba(255, 255, 255, 0.1);
}



















































































