<footer class="li-footer ">
    <ul class="li-footer__list">
        <li class="li-footer__item">
            <span class="sr-only">The Programming Quiz</span>
            <span class="li-footer__copy-text">World Feed © @DateTime.Now.Year</span>
        </li>
        <li class="li-footer__item"><a asp-area="" asp-controller="Home" asp-action="Privacy" style="margin-top: 7px;">Privacy</a></li>
    </ul>
</footer>