.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}

.r-4iw3lz {
  border-width: 0px;
}

.r-1xk2f4g {
  clip: rect(1px, 1px, 1px, 1px);
}

.r-109y4c4 {
  height: 1px;
}

.r-wwvuq4 {
  padding: 0px;
}


.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}




.r-1n1174f {
  color: rgb(27, 149, 224);
}




















