@import "src/sass/application";

.r-xx1rs6 {
  margin-left: 30px;
  margin-right: 30px;
}


.r-30o5oe {
  appearance: none;
}



.r-1ak16pp {
  margin-top: 59px;
}

.r-19h5ruw {
  margin-top: 15px;
}


.r-1jayybb {
  min-height: 49px;
}


.r-17bavie {
  min-width: calc(78.89px);
}


.r-15bsvpr {
  padding-left: 30px;
  padding-right: 30px;
}




















































