<div class="sharebook-container background-color-lights-out">
    <nav role="navigation" class="sharebook-container align-items-center border-bottom-color border-bottom-style-solid border-bottom-width-1px flex-direction-row height-53px">
        <div class="sharebook-container align-items-center r-1ro0kt6 flex-direction-row flex-grow-expand height-100-per overflow-hidden">
            <div aria-label="Previous" role="button" aria-hidden="true" aria-disabled="true" disabled=""
                 class="sharebook-container background-color-lights-out disabled-element outline-style-none padding-left-right padding-bottom-top-15px position-absolute upload-input-form-transition r-axxi2z upload-input-form-transition-timing-function z-index-1"
                 style="transform: translateX(-46.8px); height: 52px;">
                <svg viewBox="0 0 24 24"
                     class="r-13zfj0p svg-display-inline-block svg-fill-currentcolor miniature-element-height max-width-100-per svg-position-relative svg-vertical-align users-select-none">
                    <g>
                        <path d="M8.914 12l6.793-6.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-7.5 7.5c-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L8.914 12z"></path>
                    </g>
                </svg>
            </div>
            <div class="sharebook-container display-block flex-grow-expand flex-shrink height-100-per overflow-hidden">
                <div role="tablist"
                     class="sharebook-container flex-direction-row flex-grow-expand flex-shrink r-tzz3ar height-100-per r-lltvgl r-buy8e9 r-mfh4gg r-2eszeu r-hbs49y"
                     style="scroll-padding: 39px;">
                    <div role="presentation" class="sharebook-container flex-grow-expand r-6b64d0 r-cpa5s6"><a
                            href="/WorldFeedTest12/followers" role="tab" aria-selected="true"
                            class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-center r-18p3no4 border-bottom-style-solid r-wgabs5 cursor-pointer display-flex flex-direction-column flex-grow-expand justify-content-center outline-style-none r-1oqcu8e transition-duration transition-property"
                            data-focusable="true">
                        <div dir="auto"
                             class="css-901oao r-13gxpu9 font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px text-overflow-wrap"><span
                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Followers</span></div>
                    </a></div>
                    <div role="presentation" class="sharebook-container flex-grow-expand r-6b64d0 r-cpa5s6"><a
                            href="/WorldFeedTest12/following" role="tab" aria-selected="false"
                            class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-center r-oucylx border-bottom-style-solid r-wgabs5 cursor-pointer display-flex flex-direction-column flex-grow-expand justify-content-center outline-style-none r-1oqcu8e transition-duration transition-property"
                            tabindex="-1">
                        <div dir="auto"
                             class="css-901oao third-wheel-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px text-overflow-wrap"><span
                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Following</span></div>
                    </a></div>
                    <div role="presentation" class="sharebook-container flex-grow-expand r-6b64d0 r-cpa5s6"><a
                            href="/WorldFeedTest12/suggested" role="tab" aria-selected="false" tabindex="-1"
                            class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-center r-oucylx border-bottom-style-solid r-wgabs5 cursor-pointer display-flex flex-direction-column flex-grow-expand justify-content-center outline-style-none r-1oqcu8e transition-duration transition-property">
                        <div dir="auto"
                             class="css-901oao third-wheel-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px text-overflow-wrap"><span
                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Suggested</span></div>
                    </a></div>
                </div>
            </div>
            <div aria-label="Next" role="button" aria-hidden="true" aria-disabled="true" disabled=""
                 class="sharebook-container background-color-lights-out disabled-element outline-style-none padding-left-right padding-bottom-top-15px position-absolute right-0px upload-input-form-transition r-axxi2z upload-input-form-transition-timing-function z-index-1"
                 style="transform: translateX(46.8px); height: 52px;">
                <svg viewBox="0 0 24 24"
                     class="r-13zfj0p svg-display-inline-block svg-fill-currentcolor miniature-element-height max-width-100-per svg-position-relative svg-vertical-align users-select-none">
                    <g>
                        <path d="M17.207 11.293l-7.5-7.5c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L15.086 12l-6.793 6.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z"></path>
                    </g>
                </svg>
            </div>
        </div>
    </nav>
</div>

<div class="sharebook-container bottom-0px flex-direction-row justify-content-center left-0px r-12vffkv position-absolute right-0px z-index-minus-1">
    <div role="status" class="sharebook-container">
        <div aria-label="New Tweets are available. Push period to go to the beginning of your timeline and view them"
             role="button" aria-hidden="true"
             class="sharebook-cursor-pointer sharebook-container sharebook-background-color-blue border-radius-9999px r-1uusn97 justify-content-center opacity-0 outline-style-none left-right-padding-15px r-d3hbe1 transition-duration transition-property r-nx0j10">
            <div class="sharebook-container flex-direction-row padding-bottom-top-5px">
                <svg viewBox="0 0 24 24"
                     class="r-1kihuf0 share-button-text-color svg-display-inline-block svg-fill-currentcolor miniature-element-height miniature-element-margin-right max-width-100-per svg-position-relative svg-vertical-align users-select-none r-19wmn03">
                    <g>
                        <path d="M18.707 10.293l-6-6c-.39-.39-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L11 7.414V20c0 .553.447 1 1 1s1-.447 1-1V7.414l4.293 4.293c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path>
                    </g>
                </svg>
                <div class="sharebook-container">
                    <div class="sharebook-container flex-direction-row svg-flex-shrink-0"></div>
                </div>
                <div dir="auto"
                     class="css-901oao sharebook-text share-button-text-color font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">See new Tweets</span></div>
            </div>
        </div>
    </div>
</div>

<div class="sharebook-container">
    <section aria-labelledby="accessible-list-30" role="region" class="sharebook-container"><h1 aria-level="1" dir="auto"
                                                                                                role="heading"
                                                                                                class="sharebook-link css-901oao border-width-0px r-1xk2f4g height-1px overflow-hidden r-wwvuq4 position-absolute width-1px"
                                                                                                id="accessible-list-30">
        Followers</h1>
        <div aria-label="Timeline: Followers" class="sharebook-container">
            <div style="position: relative; min-height: 225px;">
                <div style="position: absolute; width: 100%; transform: translateY(0px); transition: opacity 0.3s ease-out 0s;">
                    <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
                        <div role="button" data-focusable="true" tabindex="0"
                             class="sharebook-cursor-pointer sharebook-container outline-style-none left-right-padding-15px stacked-elements-padding-bottom-top transition-duration transition-property"
                             data-testid="UserCell">
                            <div class="sharebook-container flex-direction-row">
                                <div class="sharebook-container container-left-side-flex-expand justify-content-flex-start container-left-side-margin-right-10px" style="flex-basis: 49px;">
                                    <div class="sharebook-container flex-shrink max-width-100-per"><a href="/volencho" role="link"
                                                                                                      data-focusable="true"
                                                                                                      class="sharebook-link sharebook-cursor-pointer sharebook-container border-radius-9999px cursor-pointer display-block container-left-side-avatar-height outline-style-none overflow-hidden transition-duration transition-property width-100-per">
                                        <app-profile-picture49x49></app-profile-picture49x49>
                                    </a></div>
                                </div>
                                <div class="sharebook-container open-space-container-flex-expand flex-grow-expand">
                                    <div class="sharebook-container align-items-center flex-direction-row justify-content-space-between">
                                        <div class="sharebook-container flex-shrink max-width-100-per">
                                            <a href="/volencho" role="link" data-focusable="true"
                                               class="sharebook-link sharebook-cursor-pointer sharebook-container cursor-pointer flex-shrink max-width-100-per outline-style-none">
                                            <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                                <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                    <div dir="auto"
                                                         class="css-901oao sharebook-text lights-out-text-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"><span
                                                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Volencho</span></span>
                                                    </div>
                                                    <div dir="auto"
                                                         class="css-901oao lights-out-text-color flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap"></div>
                                                </div>
                                                <div class="sharebook-container flex-direction-row flex-shrink">
                                                    <div dir="ltr"
                                                         class="css-901oao sharebook-text third-wheel-color flex-direction-row font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">@volencho</span>
                                                    </div>
                                                    <div dir="auto"
                                                         class="css-901oao sharebook-text search-background-color input-form-border-radius third-wheel-color svg-flex-shrink-0 font-family third-wheel-text-font-size font-weight-400 line-height-calc r-1f6r7vd min-width-0px created-at-dot text-overflow-wrap">
                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Follows you</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></div>
                                        <div class="sharebook-container share-button-margin-left" style="min-width: 101px;">
                                            <div role="button" data-focusable="true" tabindex="0"
                                                 class="sharebook-cursor-pointer sharebook-container sharebook-background-color-blue element-border-color-rgba border-radius-9999px border-style-solid border-width-1px border-height-0px min-height-30px r-aj3cln outline-style-none share-button-padding-left-right transition-duration transition-property users-select-none"
                                                 data-testid="2681742570-unfollow">
                                                <div dir="auto"
                                                     class="css-901oao align-items-center share-button-text-color display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center inside-element-container-line-height max-width-100-per min-width-0px text-align-center text-overflow-wrap">
                                                    <span class="css-901oao sharebook-text-inherit sharebook-text text-font-family min-width-0px text-overflow-wrap"><span
                                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Following</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div dir="auto"
                                         class="css-901oao lights-out-text-color font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px padding-top-5px r-1jeg54m text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Peace symbol"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Peace symbol" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/262e.svg&quot;);"></div><img
                                                alt="Peace symbol" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/262e.svg" class="sharebook-image"></div></span><span
                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> </span><span
                                            class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                            aria-label="♥"
                                            class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                            style="height: 1.2em;"><div
                                            class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                            style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/2665.svg&quot;);"></div><img
                                            alt="♥" draggable="false"
                                            src="https://abs-0.twimg.com/emoji/v2/svg/2665.svg"
                                            class="sharebook-image"></div></span><span
                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> </span><span
                                            class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                            aria-label="Peace symbol"
                                            class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                            title="Peace symbol" style="height: 1.2em;"><div
                                            class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                            style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/262e.svg&quot;);"></div><img
                                            alt="Peace symbol" draggable="false"
                                            src="https://abs-0.twimg.com/emoji/v2/svg/262e.svg"
                                            class="sharebook-image"></div></span><span
                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">
</span><span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                            aria-label="Rainbow flag"
                                            class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                            title="Rainbow flag" style="height: 1.2em;"><div
                                            class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                            style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f3f3-fe0f-200d-1f308.svg&quot;);"></div><img
                                            alt="Rainbow flag" draggable="false"
                                            src="https://abs-0.twimg.com/emoji/v2/svg/1f3f3-fe0f-200d-1f308.svg"
                                            class="sharebook-image"></div></span><span
                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> </span><span
                                            class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                            aria-label="♥"
                                            class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                            style="height: 1.2em;"><div
                                            class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                            style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/2665.svg&quot;);"></div><img
                                            alt="♥" draggable="false"
                                            src="https://abs-0.twimg.com/emoji/v2/svg/2665.svg"
                                            class="sharebook-image"></div></span><span
                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> </span><span
                                            class="flex-direction-row"><a dir="ltr" href="/search?q=%23BLM&amp;src=hashtag_click"
                                                                          role="link" data-focusable="true"
                                                                          class="sharebook-link sharebook-cursor-pointer css-901oao sharebook-text-inherit link-color cursor-pointer text-font-family min-width-0px text-overflow-wrap">#BLM</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position: absolute; width: 100%; transform: translateY(84px); transition: opacity 0.3s ease-out 0s;">
                    <div class="sharebook-container r-1bxhq7s">
                        <div class="sharebook-container r-1omma8c"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
