@import "src/sass/application";

.r-9uu7rm {
  bottom: -11px;
}

.r-cqee49 {
  color: rgb(0, 0, 0);
}


.r-fdhj6l {
  filter: drop-shadow(rgb(47, 51, 54) 1px -1px 1px);
}

.r-1xvli5t {
  height: 1.25em;
}


.r-uoibet {
  transform: rotate(180deg);
}

/*bottom arrow 🍕*/
.r-lrsllp {
  width: 24px;
}

.r-1azx6h {
  max-height: 480px;
}

.r-7mdpej {
  max-width: 360px;
}

.r-ek4qxl {
  min-width: 260px;
}

.r-z0wbcc {
  max-width: 295px;
}

.r-1qxgc49 {
  padding-top: 15px;
}

.menuitem-dialog:hover {
  background-color: rgb(21, 24, 28);
}

.r-15d164r {
  margin-bottom: 10px;
}

.r-9ilb82 {
  color: rgb(110, 118, 125);
}


.r-9qu9m4 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.r-j66t93 {
  height: 39px;
}

.r-eu2yb4 {
  width: 39px;
}

.r-f2s9ia {
  top: -11px;
}

/* unboost icon size*/
.r-1mfrrr4 {
  padding: calc(7px);
}

/*checked*/
.r-1kihuf0 {
  align-self: center;
}

.r-1joea0r {
  margin-left: 20px;
}
