@import "src/sass/application";

.r-150rngu {
}

.r-1euycsn {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  flex-direction: row-reverse;
}

.r-tv6buo {
  min-height: auto;
}

.r-1oqcu8e {
  padding: 15px;
}


.r-7v430y {
  max-width: unset;
}

.r-1s7wq8y {
  top: 15px;
}


.r-h1b427 {
  width: 225px;
}

.r-1mdbw0j {
  padding-bottom: 0px;
}

.r-gy4na3 {
  padding-left: 0px;
}

.r-wk8lta {
  padding-top: 0px;
}




.r-30o5oe {
  appearance: none;
}





.r-h1b427 {
  width: 225px;
}

.r-1mdbw0j {
  padding-bottom: 0px;
}



.r-ipc04b {
  overflow-y: visible;
}


.r-1kihuf0 {
  align-self: center;
}


.r-17w48nw {
  max-width: 380px;
}

.r-np7d94 {
  height: 2.75rem;
}

.r-1ra0lkn {
  font-size: 30px;
}

.r-1x0uki6 {
  margin-top: 20px;
}

.r-ku1wi2 {
  margin-bottom: 15px;
}

.r-1ak16pp {
  margin-top: 59px;
}

.r-5dk9ms {
  background-color: rgb(116, 202, 254);
}


.r-1n7nint {
  height: 160vh;
}


.r-10m99ii {
  max-width: none;
}

.r-1n2wx2z {
  right: -50vh; /* Maybe I thought this? Who said I... 03.01.2021, 12:57 PM | Lil Peep - Life Is Beautiful */
}

.r-1l2rav9 {
  top: -30vh;
}

.r-8d26hk {
  margin-bottom: 40px;
}


.r-17rnw9f {
  line-height: 30px;
}

.r-1ozfoo7 {
  margin-left: 15px;
}

.r-p1pxzi {
  margin-bottom: 0px;
}

.r-jw8lkh {
  margin-bottom: 5px;
  margin-top: 5px;
}

.r-ry3cjt {
  padding-right: 15px;
}

.r-urgr8i {
  background-color: rgb(29, 161, 242);
}

.r-791edh {
  flex: 1 1 auto;
}

//.r-5sfk15 {
//  height: 3rem;   // this is the guy to fix height
//}

.r-1jayybb {
  min-height: 49px;
}

.r-17bavie {
  min-width: calc(78.89px);
}

.r-15bsvpr {
  padding-left: 30px;
  padding-right: 30px;
}



























