@import "src/sass/application";

.r-yfoy6g {
  background-color: rgb(21, 32, 43);
}

.r-18bvks7 {
  border-color: rgb(56, 68, 77);
}

.r-1ila09b {
  border-bottom-color: rgb(56, 68, 77);
}

.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}

.r-1loqt21 {
  cursor: pointer;
}

.r-1vr29t4 {
  font-weight: 800;
}


.r-1joea0r {
  margin-left: 20px;
}


.r-tznlht {
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 10px, rgba(136, 153, 166, 0.25) 0px 1px 3px 1px;
}


.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}

.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}


.r-1kihuf0 {
  align-self: center;
}


.r-1xvli5t {
  height: 1.25em;
}


.r-1b6yd1w {
  font-size: 19px;
}

.r-1fmj7o5 {
  color: rgba(217, 217, 217, 1.00);
}

.r-7o8qx1 {
  margin-right: 5px;
}


.r-aaos50 {
  background-color: rgb(37, 51, 65);
}



.r-utggzx {
  padding-left: 10px;
  padding-right: 10px;
}

.r-tvv088 {
  padding-bottom: 20px;
  padding-top: 20px;
}


.r-111h2gw {
  color: rgb(136, 153, 166);
}

.r-117bsoe {
  margin-bottom: 20px;
}

