<div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1jgb5lz r-1ye8kvj r-13qz1uu">
  <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1dqxon3">
    <div class="css-1dbjc4n">
      <div class="css-1dbjc4n r-xx1rs6">
        <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-1blvdjr r-b88u0q r-ad9z0x r-vpgt9t r-bcqeeo r-qvutc0">
          <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">We sent you a code</span></div>
        <span><div dir="auto" class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Enter it below to verify </span></div><div
          dir="auto" class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">viralsecondz@gmail.com</span></div><div
          dir="auto" class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">.</span></div></span>
        <div class="css-1dbjc4n r-mk0yit r-1w50u8q">
          <label appRegisterForm class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
          <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
            <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
              <div dir="auto"
                   class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0">
                <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Verification code</span></div>
            </div>
            <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
              <div dir="auto"
                   class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                <input autocapitalize="sentences" autocomplete="on" autocorrect="on" name="verfication_code"
                       spellcheck="true" type="text" dir="auto" data-focusable="true"
                       class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                       value=""></div>
            </div>
          </div>
        </label>
          <div class="css-1dbjc4n r-18u37iz r-ou255f">
            <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1">
              <div aria-live="polite" class="css-1dbjc4n">
                <div dir="auto"
                     class="css-901oao r-k200y r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-qvutc0"><span
                  class="r-19h5ruw"><span
                  class="css-901oao css-16my406 r-1n1174f r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span><span
                  role="button" data-focusable="true" tabindex="0"
                  class="css-18t94o4 css-901oao css-16my406 r-1n1174f r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                  class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Didn't receive email?</span></span><span
                  class="css-901oao css-16my406 r-1n1174f r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
