.r-obd0qt {
  -webkit-box-align: end;
  align-items: flex-end;
}

.r-o96wvk {
  width: 275px;
}

.r-1rnoaur {
  overflow-y: auto;
}

.r-1vvnge1 {
  padding-bottom: 2px;
  padding-top: 2px;
}

.r-1jayybb {
  min-height: 49px;
}

.r-mtrfb5 {
  min-width: 49px;
}

.r-8kz0gk {
  height: 2rem;
}



.r-rjfia {
  padding-bottom: 0px;
  padding-top: 0px;
}

.r-lwhw9o {
  height: 1.75rem;
}


.r-y3t9qe {
  margin-right: 15px;
}


.r-zg41ew {
  margin-bottom: 10px;
  margin-top: 10px;
}


.r-eu2yb4 {
  width: 39px;
}

.r-vlx1xi {
  margin-left: 10px;
  margin-right: 10px;
}

.r-1xvli5t {
  height: 1.25em;
}

.r-9cviqr {
  margin-left: 2px;
}


