@import '_variables';
@import '_mixins';

@import '../../../theme/styles/themes';

@include nb-install-component() {
  .help-tooltip-button {
    @include disable-outline;

    cursor: pointer;
    border: 0;
    margin: 5px;

    fa-icon {
      @include apply-svg-color(green);

      width: 17px;
      position: relative;
      top: -1px;
    }
  }

  ::ng-deep {
    .help-popover {
      z-index: z(help-popover) !important;
      max-width: 300px;

      .popover-body {
        font-family: $main-fonts;
        text-align: start;
        padding: 10px;
        font-size: 13px;
        background-color: nb-theme(color-primary-default);
        color: nb-theme(color-primary-default);
        border-radius: 3px;

        p {
          margin-bottom: 0;
        }

        ul {
          @include padding-left(20px);
          margin-bottom: 0;
        }
      }
    }
  }

}
