<div aria-label="Media" role="group"
     class="css-1dbjc4n r-1867qdf r-1loqt21 r-1iusvr4 r-16y2uox r-1udh08x r-13tjlyg r-11iat2r r-1ftll1t">
  <div
    class="css-1dbjc4n r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af">
    <div
      class="css-1dbjc4n r-42olwf r-17gur6a r-1phboty r-1yadl64 r-1pi2tsx r-dnmrzs r-1udh08x">
      <div
        class="css-1dbjc4n r-1adg3ll r-1mlwlqe r-1pi2tsx r-1udh08x r-13qz1uu r-417010">
        <div
          class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
          [style.background-image]="'url(' + item.url +')'"></div>
        <img alt="" draggable="false"
             [src]="item.url"
             class="css-9pa8cd"></div>
    </div>
  </div>
  <div aria-label="Remove media" role="button"
       data-focusable="true" tabindex="0"
       class="css-18t94o4 css-1dbjc4n r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1n430bm r-1vsu8ta r-18qmn74 r-1ny4l3l r-mk0yit r-u8s1d r-12pp1o0 r-o7ynqc r-6416eg r-lrvibr"
       [ngClass]="{'r-loe9s5': !this.isCloseIconHovered, 'r-1p4wkip': this.isCloseIconHovered}"
       (mouseenter)="this.handleCloseIconHover($event)"
       (mouseleave)="handleCloseIconHover($event)"
       (click)="item.remove()">
    <div dir="auto"
         class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-n6v787 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
      <svg viewBox="0 0 24 24"
           class="r-jwli3a r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
        <g>
          <path
            d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path>
        </g>
      </svg>
      <span
        class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
    </div>
  </div>
  <div aria-label="Edit media" role="button"
       data-focusable="true" tabindex="0"
       class="css-18t94o4 css-1dbjc4n r-loe9s5 r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vsu8ta r-aj3cln r-1ny4l3l r-1fneopy r-u8s1d r-inbvtb r-12pp1o0 r-o7ynqc r-6416eg r-lrvibr">
    <div dir="auto"
         class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                                                                        <span
                                                                          class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                                          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Edit</span></span>
    </div>
  </div>
</div>
