.r-ymttw5 {
  padding-left: 16px;
  padding-right: 16px;
}

.r-1yzf0co {
  padding-bottom: 16px;
  padding-top: 16px;
}

.r-rjixqe {
  line-height: 20px;
}

.dropdown-menu__item {
  &:focus,
  &:hover,
  &:active {
    background: #2b5fd9;
    outline: 0;
  }
}