<html>
<body>

<h1 class="text-center">🕹😎🎉🎂🤳🎁👍😁🏐</h1>
<div style="text-align: center">
  <button style="background-color:darkmagenta; color: #F2D16B;" class="btn-primary" [routerLink]="['/kids/feed']" >Feed</button>
</div>
<div style="text-align: center">
  <button style="background-color:darkred; color: #F2D16B;" class="btn-primary" [routerLink]="['/kids/gaming']" >Gaming</button>
</div>
<div style="text-align: center">
  <button style="background-color:black; color: #F2D16B;" class="btn-primary" [routerLink]="['/kids/school']" >School</button>
</div>


</body>
</html>
