@import '_variables';
@import '_mixins';
@import '_miniature';

.video-thumbnail {
  @include miniature-thumbnail;
}

.video-thumbnail-watch-later-overlay,
.video-thumbnail-label-overlay,
.video-thumbnail-duration-overlay,
.video-thumbnail-live-overlay {
  @include static-thumbnail-overlay;

  border-radius: 3px;
  font-size: 12px;
  font-weight: $font-semibold;
  line-height: 1.1;
  z-index: z(miniature);
}

.video-thumbnail-label-overlay {
  position: absolute;
  padding: 0 5px;
  left: 5px;
  top: 5px;
  font-weight: $font-bold;

  &.warning { background-color: orange; }
  &.danger { background-color: red; }
}
