<div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1jgb5lz r-1ye8kvj r-13qz1uu">
  <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1dqxon3">
    <div class="css-1dbjc4n r-xx1rs6">
      <div dir="auto"
           class="css-901oao r-1fmj7o5 r-1qd0xha r-1blvdjr r-b88u0q r-ad9z0x r-vpgt9t r-bcqeeo r-qvutc0"
           id="modal-header"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Create your account</span>
      </div>
      <div class="css-1dbjc4n r-mk0yit r-1w50u8q">
        <label appRegisterForm class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
          <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
            <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
              <div dir="auto"
                   class="css-901oao css-bfa6kz r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0"
                   [ngClass]="{'r-9ilb82': !this.isNameTextAreaClicked, 'r-13gxpu9': this.isNameTextAreaClicked}">
                <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Name</span>
              </div>
              <div aria-live="polite" class="css-1dbjc4n r-obd0qt r-16y2uox r-ou255f r-glunga">
                <div dir="auto" class="css-901oao r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-qvutc0"
                     [ngClass]="{'r-9ilb82': !this.isNameCountOver40, 'r-daml9f': this.isNameCountOver40}">
                  <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">{{this.nameCurrentCount}}
                    /40</span></div>
              </div>
            </div>
            <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
              <div dir="auto"
                   class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                <input autocapitalize="sentences" autocomplete="name" autocorrect="on" maxlength="40"
                       name="name" spellcheck="true" type="text" dir="auto" data-focusable="true"
                       class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                       value=""></div>
            </div>
          </div>
        </label>
        <div class="css-1dbjc4n r-18u37iz r-ou255f">
          <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
        </div>
      </div>
      <div class="css-1dbjc4n r-mk0yit r-1w50u8q">
        <label appRegisterForm class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
          <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
            <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
              <div dir="auto"
                   class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0"
                   [ngClass]="{'r-9ilb82': !this.isPhoneOrEmailTextAreaClicked, 'r-13gxpu9': this.isPhoneOrEmailTextAreaClicked}">
                <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Phone</span>
              </div>
            </div>
            <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
              <div dir="auto"
                   class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                <input autocapitalize="sentences" autocomplete="tel" autocorrect="on" name="phone_number"
                       spellcheck="true" type="tel" dir="auto" data-focusable="true"
                       class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                       value=""></div>
            </div>
          </div>
        </label>
        <div class="css-1dbjc4n r-18u37iz r-ou255f">
          <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
        </div>
      </div>
      <div dir="auto" role="button" data-focusable="true" tabindex="0"
           class="css-18t94o4 css-901oao r-k200y r-1n1174f r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-19h5ruw r-bcqeeo r-qvutc0">
                        <span
                          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Use email instead</span>
      </div>
      <div aria-label="Date of birth" role="group" class="css-1dbjc4n r-6ity3w">
        <div dir="auto"
             class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Date of birth</span></div>
        <div dir="auto"
             class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</span>
        </div>
        <div class="css-1dbjc4n">
          <div aria-label="Date of birth" role="group" class="css-1dbjc4n r-18u37iz r-vpgt9t">
            <div appRegisterForm class="css-1dbjc4n r-kemksi r-1kqtdi0 r-z2wwpe r-rs99b7 r-16xksha r-zso239">
              <div dir="auto"
                   class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-ad9z0x r-bcqeeo r-ou255f r-glunga r-633pao r-u8s1d r-qvutc0">
                <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Month</span>
              </div>
              <select id="Month" aria-label="Month" data-focusable="true"
                      class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-1fmj7o5 r-1loqt21 r-1b6yd1w r-crgep1 r-1g94qm0 r-1ny4l3l r-t60dpp r-1inuy60 r-ou255f r-1knelpx"
                      data-testid="">
                <option value="" aria-disabled="true" disabled="" class="r-kemksi"></option>
                <option *ngFor="let month of this.months | enumToArray" value="{{month.index}}"
                        class="r-kemksi">{{month.name}}</option>
              </select>
              <svg viewBox="0 0 24 24"
                   class="r-9ilb82 r-4qtqp9 r-yyyyoo r-50lct3 r-fdch1b r-dnmrzs r-633pao r-u8s1d r-8eqzbf r-1plcrui r-1v2oles r-lrvibr">
                <g>
                  <path
                    d="M20.207 8.147c-.39-.39-1.023-.39-1.414 0L12 14.94 5.207 8.147c-.39-.39-1.023-.39-1.414 0-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.196.45.294.707.294s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.022 0-1.413z"></path>
                </g>
              </svg>
            </div>
            <div appRegisterForm class="css-1dbjc4n r-kemksi r-1kqtdi0 r-z2wwpe r-rs99b7 r-16y2uox r-zso239">
              <div dir="auto"
                   class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-ad9z0x r-bcqeeo r-ou255f r-glunga r-633pao r-u8s1d r-qvutc0">
                <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Day</span>
              </div>
              <select id="Day" aria-label="Day" data-focusable="true"
                      class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-1fmj7o5 r-1loqt21 r-1b6yd1w r-crgep1 r-1g94qm0 r-1ny4l3l r-t60dpp r-1inuy60 r-ou255f r-1knelpx"
                      data-testid="">
                <option value="" aria-disabled="true" disabled="" class="r-kemksi"></option>
                <option *ngFor="let day of this.days" value="{{day}}" class="r-kemksi">{{day}}</option>
              </select>
              <svg viewBox="0 0 24 24"
                   class="r-9ilb82 r-4qtqp9 r-yyyyoo r-50lct3 r-fdch1b r-dnmrzs r-633pao r-u8s1d r-8eqzbf r-1plcrui r-1v2oles r-lrvibr">
                <g>
                  <path
                    d="M20.207 8.147c-.39-.39-1.023-.39-1.414 0L12 14.94 5.207 8.147c-.39-.39-1.023-.39-1.414 0-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.196.45.294.707.294s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.022 0-1.413z"></path>
                </g>
              </svg>
            </div>
            <div appRegisterForm class="css-1dbjc4n r-kemksi r-1kqtdi0 r-z2wwpe r-rs99b7 r-16y2uox">
              <div dir="auto"
                   class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-ad9z0x r-bcqeeo r-ou255f r-glunga r-633pao r-u8s1d r-qvutc0">
                <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Year</span>
              </div>
              <select id="Year" aria-label="Year" data-focusable="true"
                      class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-1fmj7o5 r-1loqt21 r-1b6yd1w r-crgep1 r-1g94qm0 r-1ny4l3l r-t60dpp r-1inuy60 r-ou255f r-1knelpx"
                      data-testid="">
                <option value="" aria-disabled="true" disabled="" class="r-kemksi"></option>
                <option *ngFor="let year of this.years" value="{{year}}" class="r-kemksi">{{year}}</option>
              </select>
              <svg viewBox="0 0 24 24"
                   class="r-9ilb82 r-4qtqp9 r-yyyyoo r-50lct3 r-fdch1b r-dnmrzs r-633pao r-u8s1d r-8eqzbf r-1plcrui r-1v2oles r-lrvibr">
                <g>
                  <path
                    d="M20.207 8.147c-.39-.39-1.023-.39-1.414 0L12 14.94 5.207 8.147c-.39-.39-1.023-.39-1.414 0-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.196.45.294.707.294s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.022 0-1.413z"></path>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <input autocomplete="off" name="ui_metrics" type="hidden"
             value="{&quot;rf&quot;:{&quot;cacf148009c3cca7b70c7c794f202e3da698d049409931e154f98f2e7ef657c1&quot;:0,&quot;a44bed59e3c1a2947e33c0bfd1167d8cfd6653b9415d0eb5f7d50193ba68de12&quot;:-36,&quot;a8866f969b0068f97b7f8f8940deaae3eece27bde1ca078b85392e305c0d4b20&quot;:-36,&quot;b3ff34566dd11f6c9b7b190c97efcd7c2b070884c3791acedad176d33bec5770&quot;:2},&quot;s&quot;:&quot;DMTH_zBxaE4U9cT4TgSONCEDsdK5a2CumHlx-v0aaLBTWG44TGWrzM4GwHJDIXJsBGjw2k3lzmbyq71_BbcXl4K5yjpvfExHrmIPxzYj8nNV9tuAbVlbDPAF5oJzWCawRO31saXB1RIf6j8Ehb5JXdv94xwl-TBCpAvRygPVbW9x9NJJXvf2AlWX7GtmNLbbi5bkbN1rhCNXglIQflcQUL9xK9ACy-g5EJBGktBYMLLrhUq9zrRW-_yUs2Yzj_9zYj7V_SJ8CkVZRjGkfV7hS4iqMtT8XPrNQ1QpC1B421wmknbhVhWIjIsLX5sjWNcv6CHHzyJ7QCItyogYafkUugAAAXbIXL2e&quot;}">
    </div>
  </div>
</div>

<!--<div data-focusable="true" tabindex="0" class="css-1dbjc4n"></div>-->
