<div id="layers" class="r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-184en5c" style="">
  <div class="css-1dbjc4n r-aqfbo4 r-1p0dtai r-1d2f490 r-12vffkv r-1xcajam r-zchlnj">
    <div class="css-1dbjc4n r-12vffkv">
      <div class="css-1dbjc4n r-12vffkv">
        <div class="css-1dbjc4n r-173mn98 r-kemksi r-c67a83 r-1qk6wnv r-qo02w8 r-1mf7evn r-hvns9x r-1jte41z"
             data-testid="DMDrawer" style="width: 400px;">
          <div class="css-1dbjc4n r-cgjvx2" style="height: 54px; max-height: 54px;">
            <div class="css-1dbjc4n r-rull8r r-qklmqi r-1xc7w19 r-c67a83 r-1qk6wnv r-1loqt21 r-cgjvx2 r-184en5c">
              <div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
                <div class="css-1dbjc4n">
                  <div class="css-1dbjc4n r-1h3ijdo r-1j3t67a">
                    <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
                      <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
                        <div class="css-1dbjc4n r-1habvwh">
                          <h2 aria-level="2" dir="auto" role="heading"
                              class="css-4rbku5 css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-1vr29t4 r-ad9z0x r-bcqeeo r-qvutc0">
                            <div class="css-1dbjc4n r-1awozwy r-6koalj r-18u37iz r-16y2uox">
                              <div class="css-1dbjc4n r-xoduu5 r-16y2uox r-1wbh5a2"><span
                                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Messages</span></span>
                              </div>
                            </div>
                          </h2>
                        </div>
                      </div>
                      <div class="css-1dbjc4n r-obd0qt r-1pz39u2 r-1777fci r-1joea0r r-1vsu8ta r-18qmn74">
                        <div class="css-1dbjc4n r-18u37iz">
                          <div aria-label="Compose new Message" role="button" data-focusable="true" tabindex="0"
                               class="css-18t94o4 css-1dbjc4n r-1niwhzg r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vuscfd r-53xb7h r-1ny4l3l r-mk0yit r-o7ynqc r-6416eg r-lrvibr">
                            <div dir="auto"
                                 class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                              <svg viewBox="0 0 24 24"
                                   class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                                <g>
                                  <path
                                    d="M23.25 3.25h-2.425V.825c0-.414-.336-.75-.75-.75s-.75.336-.75.75V3.25H16.9c-.414 0-.75.336-.75.75s.336.75.75.75h2.425v2.425c0 .414.336.75.75.75s.75-.336.75-.75V4.75h2.425c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm-3.175 6.876c-.414 0-.75.336-.75.75v8.078c0 .414-.337.75-.75.75H4.095c-.412 0-.75-.336-.75-.75V8.298l6.778 4.518c.368.246.79.37 1.213.37.422 0 .844-.124 1.212-.37l4.53-3.013c.336-.223.428-.676.204-1.012-.223-.332-.675-.425-1.012-.2l-4.53 3.014c-.246.162-.563.163-.808 0l-7.586-5.06V5.5c0-.414.337-.75.75-.75h9.094c.414 0 .75-.336.75-.75s-.336-.75-.75-.75H4.096c-1.24 0-2.25 1.01-2.25 2.25v13.455c0 1.24 1.01 2.25 2.25 2.25h14.48c1.24 0 2.25-1.01 2.25-2.25v-8.078c0-.415-.337-.75-.75-.75z"></path>
                                </g>
                              </svg>
                              <span
                                class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
                            </div>
                          </div>
                          <div aria-label="Expand" role="button" data-focusable="true" tabindex="0"
                               class="css-18t94o4 css-1dbjc4n r-1niwhzg r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vuscfd r-53xb7h r-1ny4l3l r-mk0yit r-o7ynqc r-6416eg r-lrvibr">
                            <div dir="auto"
                                 class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                              <svg viewBox="0 0 24 24"
                                   class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                                <g>
                                  <path
                                    d="M12 4.656l8.72 8.72c.293.293.768.293 1.06 0s.294-.768 0-1.06l-9.25-9.25c-.292-.294-.767-.294-1.06 0l-9.25 9.25c-.146.145-.22.337-.22.53s.073.383.22.53c.293.292.768.292 1.06 0L12 4.656z"></path>
                                  <path
                                    d="M12 12.465l8.72 8.72c.293.293.768.293 1.06 0s.294-.768 0-1.06l-9.25-9.25c-.292-.294-.767-.294-1.06 0l-9.25 9.25c-.146.145-.22.337-.22.53s.073.383.22.53c.293.292.768.292 1.06 0l8.72-8.72z"></path>
                                </g>
                              </svg>
                              <span
                                class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="css-1dbjc4n r-12vffkv">
      <div class="css-1dbjc4n r-12vffkv">
        <div class="css-1dbjc4n"></div>
      </div>
    </div>
  </div>
</div>
