.r-cgjvx2 {
  transition: all 0.3s ease 0s;
}


.r-1xc7w19 {
  border-color: rgb(0, 0, 0);
}

.r-cgjvx2 {
  transition: all 0.3s ease 0s;
}


.r-obd0qt {
  -webkit-box-align: end;
  align-items: flex-end;
}
