<ng-container>
    <!--<fa-icon
            [icon]="this.clicked ? this.faCompressAlt : this.faExpandAlt"
            [ngClass]="'media-modal__zoom-button ' + this.zoomButtonShouldHide"
            [title]="this.zoomButtonTitle"
            (click)="this.handleZoomClick($event)"
            style="font-size: 30px; color: rgba(255, 255, 255, 0.7)">Icon here</fa-icon> &lt;!&ndash;Fontawesome's fa-compress fa-expand is larger than fa-close&ndash;&gt;-->
    <div class="zoomable-image" [style]="'overflow: ' + this.overflow" #containerRef>
        <img id="testt" role="presentation" #imageRef [alt]="this.alt" [title]="this.alt" [src]="this.src" [width]="this.width" [height]="this.height"
        style="transform: scale({{this.scale}}) translate(-{{this.lockTranslate.x}}px, -{{this.lockTranslate.y}}px; transformOrigin: 0 0" draggable="false"
             (click)="this.handleClick($event)" (mousedown)="this.handleMouseDown($event)">
    </div>
</ng-container>
