<section aria-labelledby="detail-header" aria-label="Section details" role="region"
         class="sharebook-container main-left-right-vertical-border-color main-right-vertical-border-right-width border-style-solid margin-left-right-auto main-primary-column-max-width-600px overflow-hidden width-100-per"
         style="height: 641px;">
  <div class="sharebook-container align-items-center background-color-lights-out flex-expand justify-content-center margin-left-right-auto main-primary-column-max-width-600px width-100-per">
    <div class="sharebook-container r-d9fdf6 r-6wcr4z">
      <div dir="auto"
           class="css-901oao lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height r-15d164r min-width-0px text-align-center text-overflow-wrap"><span
        class="css-901oao font-family inside-element-container-line-height min-width-0px text-overflow-wrap dtc">You don’t have a message selected</span>
      </div>
      <div dir="auto"
           class="css-901oao third-wheel-color font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-align-center r-ey96lj text-overflow-wrap"><span
        class="css-901oao  font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Choose one from your existing messages, or start a new one.</span>
      </div>
<!--      <a href="/messages/compose" role="button" data-focusable="true"-->
<!--         class="sharebook-link sharebook-cursor-pointer sharebook-container sharebook-background-color-blue element-border-color-rgba border-radius-9999px border-style-solid border-width-1px cursor-pointer border-height-0px margin-left-right-auto r-1x0uki6 element-min-height-39px share-button-min-width outline-style-none share-button-padding-left-right transition-duration transition-property users-select-none">-->
<!--        <div dir="auto"-->
<!--             class="css-901oao align-items-center share-button-text-color display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap">-->
<!--          <span class="css-901oao sharebook-text-inherit sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap"><span-->
<!--            class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">New message</span></span></div>-->
<!--      </a>-->
      <a nbButton size="medium" status="primary" shape="round" outline
         routerLink="/settings/profile" role="button" data-focusable="true"
         class="sharebook-link sharebook-cursor-pointer sharebook-container sharebook-background-color-blue element-border-color-rgba border-radius-9999px border-style-solid border-width-1px cursor-pointer border-height-0px margin-left-right-auto r-1x0uki6 element-min-height-39px share-button-min-width outline-style-none share-button-padding-left-right transition-duration transition-property users-select-none">
        <div dir="auto" class="css-901oao align-items-center display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap">
                <span class="css-901oao sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap">
                    <span class="css-901oao  font-family inside-element-container-line-height min-width-0px text-overflow-wrap">New message</span>
                </span>
        </div>
      </a>
    </div>
  </div>
</section>
