@{ 
    Layout = null;
    ViewData["Title"] = "Hacker";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Hacker Got Hacked</title>

    <style>
        body {
            background-image: url(images/da-best-hacker.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #welcome-hacker-who-saw-this-id-and-is-smiling-like-crazy-right-now {
            position: relative;
            max-width: 50%;
            left: 35%;
            font-size: 60px;
            color: red;
        }

        #super-small-font-paragraph {
            font-family: 'Roboto', sans-serif;
            position: relative;
            max-width: 50%;
            left: 46%;
            font-size: 10px;
            color: #18ae28;
        }
    </style>
</head>

<body>
    <h1 id="welcome-hacker-who-saw-this-id-and-is-smiling-like-crazy-right-now">Welcome Hacker!</h1>
    <p id="super-small-font-paragraph">no <strong>back</strong> button for you kk</p>
</body>
</html> 