<div class="css-1dbjc4n r-xx1rs6 r-80ycli">
    <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-1blvdjr r-b88u0q r-ad9z0x r-15d164r r-bcqeeo r-qvutc0"
         data-testid="OCF_SettingsList_Text"><span
            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Customize your experience</span></div>
    <div class="css-1dbjc4n r-6ity3w">
        <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Get more out of Twitter</span></div>
    </div>
    <form role="form" [formGroup]="form">
    <label data-focusable="true" tabindex="0" class="css-1dbjc4n r-18u37iz r-1wtj0ep r-156q2ks">
        <div class="css-1dbjc4n r-1wbh5a2 r-1qfoi16 r-13qz1uu">
            <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Receive email about your Twitter activity and recommendations.</span>
            </div>
        </div>
        <div class="css-1dbjc4n r-1loqt21 r-lrvibr">
            <div appCheckbox class="css-1dbjc4n r-sdzlij r-1vuahiu r-1ny4l3l r-1sp51qo r-o7ynqc r-6416eg">
                <div class="css-1dbjc4n r-1awozwy r-kemksi r-1n03560 r-z2wwpe r-1phboty r-d045u9 r-z80fyv r-1777fci r-19wmn03"
                     >
                    <app-global-icon iconName="check"></app-global-icon>
                </div>
            </div>
            <input type="checkbox" data-focusable="true" formControlName="receiveEmail"
                   class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"
                   (click)="this.onReceiveEmailClick($event)">
        </div>
    </label>
    <div class="css-1dbjc4n r-6ity3w">
        <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Connect with people you know</span>
        </div>
    </div>
    <label data-focusable="true" tabindex="0" class="css-1dbjc4n r-18u37iz r-1wtj0ep r-156q2ks">
        <div class="css-1dbjc4n r-1wbh5a2 r-1qfoi16 r-13qz1uu">
            <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Let others find your Twitter account by your email address.</span>
            </div>
        </div>
        <div class="css-1dbjc4n r-1loqt21 r-lrvibr">
            <div appCheckbox class="css-1dbjc4n r-sdzlij r-1vuahiu r-1ny4l3l r-1sp51qo r-o7ynqc r-6416eg">
                <div
                        class="css-1dbjc4n r-1awozwy r-kemksi r-1n03560 r-z2wwpe r-1phboty r-d045u9 r-z80fyv r-1777fci r-19wmn03"></div>
            </div>
            <input type="checkbox" data-focusable="true" formControlName="letOthersFindYou"
                   class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"
                   (click)="this.onLetOthersFindYouClick($event)">
        </div>
    </label>
    <div class="css-1dbjc4n r-6ity3w">
        <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Personalized ads</span></div>
    </div>
    <label data-focusable="true" tabindex="0" class="css-1dbjc4n r-18u37iz r-1wtj0ep r-156q2ks">
        <div class="css-1dbjc4n r-1wbh5a2 r-1qfoi16 r-13qz1uu">
            <div dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">You will always see ads on Twitter based on your Twitter activity. When this setting is enabled, Twitter may further personalize ads from Twitter advertisers, on and off Twitter, by combining your Twitter activity with other online activity and information from our partners.</span>
            </div>
        </div>
        <div class="css-1dbjc4n r-1loqt21 r-lrvibr">
            <div appCheckbox class="css-1dbjc4n r-sdzlij r-1vuahiu r-1ny4l3l r-1sp51qo r-o7ynqc r-6416eg">
                <div
                        class="css-1dbjc4n r-1awozwy r-kemksi r-1n03560 r-z2wwpe r-1phboty r-d045u9 r-z80fyv r-1777fci r-19wmn03"></div>
            </div>
            <input type="checkbox" data-focusable="true" formControlName="personalizedAds"
                   class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"
                   (click)="this.onPersonalizedAdsClick($event)">
        </div>
    </label><span class="r-1mgf0y7"><div dir="auto"
                                         class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">For more details about these settings, visit the </span></div><a
        href="https://help.twitter.com/managing-your-account/new-account-settings" target="_blank" dir="auto"
        role="link"
        data-focusable="true"
        class="css-4rbku5 css-18t94o4 css-901oao r-1n1174f r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
        rel=" noopener noreferrer"><span
        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Help Center</span></a><div dir="auto"
                                                                                                       class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">.</span></div></span>
    </form>
</div>
