<div class="margin-content" nbInfiniteList [listenWindowScroll]="true" [threshold]="500" (bottomThreshold)="this.loadMoreStreams()">
    <div class="videos-header" style="height: 60px">
                <div class="action-block">
                    <nb-actions size="medium">
                        <nb-action class="control-item">
                            <a class="ml-2" routerLink="./"  routerLinkActive="active">
                                <fa-icon [icon]="this.faFireSolid" style="font-size: 15px"></fa-icon>
                                <span class="header-link-title subtitle">Top chess streamers</span>
                            </a>
                        </nb-action>
                        <nb-action class="control-item">
                            <a routerLink="./users" class="ml-2" routerLinkActive="active">
                                <fa-icon [icon]="this.faUsers" style="font-size: 15px"></fa-icon>
                                <span class="header-link-title subtitle">Chessbook streamers</span>
                            </a>
                        </nb-action>
                    </nb-actions>

                </div>
    </div>

    <div class="no-results" i18n *ngIf="this.streams?.data.length <= 0">Loading...</div>
    <div class="videos" style="padding-left: 6px"> <!--[ngClass]="{ 'display-as-row': displayAsRow() }"-->
        <ng-container *ngFor="let video of this.streams?.data;"> <!--trackBy: videoById;-->
            <!--            <h2 class="date-title" *ngIf="getCurrentGroupedDateLabel(video)">-->
            <!--                {{ getCurrentGroupedDateLabel(video) }}-->
            <!--            </h2>-->

            <div class="video-wrapper">
                <my-video-miniature [video]="video"></my-video-miniature>
            </div>
        </ng-container>
    </div>
</div>
