@import '_variables';
@import '_mixins';

.account-title {
  @include settings-big-title;

  &.account-title-danger {
    color: lighten($color: #c54130, $amount: 10);
  }
}

my-actor-banner-edit {
  display: block;
  margin-bottom: 20px;
}

//my-actor-banner-edit {
//  max-width: 500px;
//}


.card__img {
  height: 130px;
  position: relative;
  background: #000;
  border-radius: 4px 4px 0 0;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}