<h1 class="sr-only">Settings</h1>

<div class="row" style="margin: 0px">
    <div class="col-12 col-lg-8 col-xl-9"> <!--form-group-->
        <nb-card>
            <nb-card-body>
                <my-actor-avatar-edit [actor]="user" (avatarChange)="onAvatarChange($event)" (avatarDelete)="onAvatarDelete()"></my-actor-avatar-edit>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12 col-lg-8 col-xl-9">
        <nb-card>
            <nb-card-header>BANNER</nb-card-header>
            <nb-card-body>
                <my-actor-banner-edit
                        *ngIf="user" [previewImage]="true"
                        [actor]="user" (bannerChange)="onBannerChange($event)" (bannerDelete)="onBannerDelete()"
                ></my-actor-banner-edit>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12 col-lg-8 col-xl-9"> <!--form-group-->
        <my-account-profile></my-account-profile> <!--  [user]="user" [userInformationLoaded]="userInformationLoaded"-->
    </div>
    <div class="col-12 col-lg-8 col-xl-9"> <!--form-group-->
        <div class="anchor" id="notifications"></div>
        <my-account-notification-preferences [user]="user"
                                             [userInformationLoaded]="this.userInformationLoaded"></my-account-notification-preferences>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
        <app-my-account-theme></app-my-account-theme>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
        <nb-card>
            <nb-card-header>PASSWORD</nb-card-header>
            <nb-card-body>
                <!--<ngx-reset-password-page [hide]="true"></ngx-reset-password-page>-->
                <my-account-change-password></my-account-change-password>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="form-group col-12 col-lg-8 col-xl-9">
        <nb-card>
            <nb-card-header>EMAIL</nb-card-header>
            <nb-card-body>
                <my-account-change-email></my-account-change-email>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="form-group col-12 col-lg-8 col-xl-9">
        <my-account-danger-zone [screenName]="this.user?.screenName"></my-account-danger-zone>
    </div>
</div>
