<nb-card>
    <nb-card-header>
        <h1>
            <span style="padding-left: 1rem;">Donations</span>
        </h1>

    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table class="example-smart-table"
                         [settings]="settings"
                         [source]="source"
                         (deleteConfirm)="onDeleteConfirm($event)"
                         (createConfirm)="this.onCreateConfirm($event)"
                         (editConfirm)="this.onEditConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>