/*@import "../../../sass/application";*/

.r-yfoy6g {
  background-color: nb-theme(sidebar-background-color);
}

.r-18bvks7 {
  border-color: rgb(56, 68, 77);
}

.r-1ila09b {
  border-bottom-color: rgb(56, 68, 77);
}

.sharebook-link {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}



.font-weight-800 {
  font-weight: 800;
}


.margin-left-20px {
  margin-left: 20px;
}


.r-tznlht {
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 10px, rgba(136, 153, 166, 0.25) 0px 1px 3px 1px;
}


.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}

.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}


.r-1kihuf0 {
  align-self: center;
}


.miniature-element-height {
  height: 1.25em;
}

.miniature-element-margin-right {
  margin-right: 5px;
}


.heading-font-size {
  font-size: 19px;
}

.lights-out-text-color {
  color: rgba(217, 217, 217, 1.00);
}

.r-aaos50 {
  background-color: rgb(37, 51, 65);
}


.padding-left-right {
  padding-left: 10px;
  padding-right: 10px;
}

.r-tvv088 {
  padding-bottom: 20px;
  padding-top: 20px;
}


.r-111h2gw {
  color: rgb(136, 153, 166);
}

.r-117bsoe {
  margin-bottom: 20px;
}


/*section timeline*/
.border-width-0px {
  border-width: 0px;
}


.r-1xk2f4g {
  clip: rect(1px, 1px, 1px, 1px);
}


.r-wwvuq4 {
  padding: 0px;
}


.r-1yt7n81 {
  padding-left: 15px;
}


.r-ry3cjt {
  padding-right: 15px;
}

.margin-bottom-5px {
  margin-bottom: 5px;
}


.third-wheel-color {
  color: rgb(110, 118, 125);
}

.r-meisx5 {
  width: 19px;
}





.line-height-calc {
  line-height: calc(19.6875px);
}


/*.r-1wyyakw {*/
/*    z-index: -1;*/
/*}*/


/*.r-1mi0q7o {
    padding-bottom: 10px;
}*/

.r-zl2h9q {
  margin-bottom: 2px;
}


.r-k4xj1c {
  -webkit-box-align: start;
  align-items: start;
}

.r-1f6r7vd {
  margin-left: 5px;
}


.r-11cpok1 {
}


.r-a5pmau {
  margin-right: 2px;
}


.r-1mdbhws {
  max-width: 425px;
}


.r-1j6idkz {
  min-width: calc(1em + 20px);
}


.r-1wgg2b2 {
  transition-duration: 0.3s;
}


.r-axxi2z {
  transition-property: -webkit-transform, transform;
}

.r-nw8l94 {
  color: rgb(23, 191, 99);
}


.r-2sztyj {
  border-top-color: rgb(47, 51, 54);
}

.r-1efd50x {
  border-top-style: solid;
}

.r-5kkj8d {
  border-top-width: 1px;
}
