<main role="main" class="css-1dbjc4n r-1habvwh r-16y2uox r-1wbh5a2"
style="width: 1201.5px; height: 709px;">
  <div class="css-1dbjc4n r-150rngu r-16y2uox r-1wbh5a2 r-rthrr5">
    <div class="css-1dbjc4n r-16y2uox r-lrvibr">
      <div class="css-1dbjc4n r-1pz39u2 r-1p0dtai r-13awgt0 r-18u37iz r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-1xnzce8">
        <app-section-navigation></app-section-navigation>
        <app-detail-header-message-selected></app-detail-header-message-selected>
      </div>
    </div>
  </div>
</main>
