<div
  class="sharebook-container fixed align-items-center backface-visibility-hidden background-color-lights-out flex-direction-row height-53px r-15d164r min-height-30px r-1xcajam top-0px sidebarColumn-width z-index-plus-2">
  <div class="sharebook-container align-items-stretch open-space-container-flex-expand flex-direction-row flex-grow-expand">
    <div class="sharebook-container flex-expand flex-direction-column svg-position-relative r-8fdsdq">
      <div
        class="align-items-stretch border-style-solid input-form-border-width input-form-box-sizing display-flex flex-expand flex-direction-column input-form-margin input-form-min-height min-width-0px input-form-padding svg-position-relative image-z-index">
        <form action="#" aria-label="Search Sharebook" role="search"
              class="align-items-stretch border-style-solid input-form-border-width input-form-box-sizing display-flex flex-expand flex-direction-column input-form-margin input-form-min-height min-width-0px input-form-padding svg-position-relative image-z-index">
          <div class="sharebook-container flex-shrink">
            <div
              class="sharebook-container search-background-color element-border-color-rgba border-radius-9999px border-style-solid border-width-1px flex-direction-column flex-grow-expand flex-shrink justify-content-center">
              <div class="sharebook-container flex-direction-row">
                <div class="sharebook-container display-flex justify-content-center">
                  <svg viewBox="0 0 24 24"
                       class="third-wheel-color svg-display-inline-block svg-fill-currentcolor miniature-element-height max-width-100-per edge-element-min-width magnifying-glass-padding-left svg-position-relative svg-vertical-align users-select-none">
                    <g>
                      <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                  </svg>
                </div>
                <div dir="auto"
                     class="css-901oao lights-out-text-color display-flex flex-grow-expand font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                  <input aria-activedescendant="typeaheadFocus-0.5888012866344514" aria-autocomplete="list"
                         aria-label="Search query" aria-owns="typeaheadDropdown-3" autocapitalize="sentences"
                         autocomplete="off" autocorrect="off" placeholder="Search Sharebook" role="combobox"
                         spellcheck="false" enterkeyhint="search" type="text" dir="auto" data-focusable="true"
                         class="r-30o5oe element-background-color-rgba input-form-border-radius-0px input-form-border-width input-form-box-sizing input-form-text-color text-font-family input-form-text-font-size outline-style-none padding-10px r-641cr4 search-resize search-placeholder-text-align width-100-per"
                         data-testid="SearchBox_Search_Input" value=""></div>
                <div class="sharebook-container display-flex justify-content-center"></div>
              </div>
            </div>
          </div>
          <div class="sharebook-container flex-expand svg-position-relative"></div>
        </form>
      </div>
    </div>
  </div>
</div>
