@import "../../../../sass/application";

.r-15d164r {
  margin-bottom: 10px;
}

.r-8fdsdq {
  z-index: 4;
}

.search-background-color {
  background-color: rgb(32, 35, 39);
}



.magnifying-glass-padding-left {
  padding-left: 10px;
}

.r-30o5oe {
  appearance: none;
}
