@import "src/sass/application";

.r-150rngu {
}


.r-1xnzce8 {
  user-select: text;
}

.padding-bottom-top-15px {
  padding-bottom: 15px;
  padding-top: 15px;
}


.main-left-vertical-border-left-width {
  border-left-width: 1px;
}


.align-items-flex-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.r-16l9doz {
  height: auto;
}

.r-phn5h3 {
  width: 49px;
}


.r-1f6r7vd {
  margin-left: 5px;
}

.r-5qm60e {
  max-height: 39px;
}


.r-1omma8c {
  height: 5rem;
}































