<main role="main" class="css-1dbjc4n r-1habvwh r-16y2uox r-1wbh5a2"
style="width: 1201.5px; height: 709px;">
  <div class="css-1dbjc4n r-150rngu r-16y2uox r-1wbh5a2 r-rthrr5">
    <div class="css-1dbjc4n r-16y2uox r-lrvibr">
      <div class="css-1dbjc4n r-1pz39u2 r-1p0dtai r-13awgt0 r-18u37iz r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-1xnzce8">
        <section aria-labelledby="root-header" aria-label="Section navigation" role="region"
                 class="css-1dbjc4n r-1kqtdi0 r-1ljd8xs r-13l2t4g r-1phboty r-13awgt0 r-1jgb5lz r-1ye8kvj r-1udh08x r-13qz1uu"
                 style="width: 390px; height: 451px;"> <!--I PUT WIDTH AND HEIGHT!-->
          <div class="css-1dbjc4n r-aqfbo4 r-gtdqiz r-ipm5af r-184en5c">
            <div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
              <div class="css-1dbjc4n">
                <div class="css-1dbjc4n r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-1h3ijdo r-1j3t67a">
                  <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
                    <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
                      <div class="css-1dbjc4n r-1habvwh"><h2 aria-level="2" dir="auto" role="heading"
                                                             class="css-4rbku5 css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-1vr29t4 r-ad9z0x r-bcqeeo r-qvutc0"
                                                             id="root-header"><span
                              class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Messages</span></h2></div>
                    </div>
                    <div class="css-1dbjc4n r-obd0qt r-1pz39u2 r-1777fci r-1joea0r r-1vsu8ta r-18qmn74"><a
                            href="/messages/compose" aria-label="Compose a DM" role="button" data-focusable="true"
                            class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1niwhzg r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-1w2pmg r-1vuscfd r-53xb7h r-1ny4l3l r-mk0yit r-o7ynqc r-6416eg r-lrvibr"
                            data-testid="NewDM_Button" style="margin-right: calc(0px + (-1 * (41px - 1.5em)) / 2);">
                      <div dir="auto"
                           class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                        <svg viewBox="0 0 24 24"
                             class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                          <g>
                            <path
                                    d="M23.25 3.25h-2.425V.825c0-.414-.336-.75-.75-.75s-.75.336-.75.75V3.25H16.9c-.414 0-.75.336-.75.75s.336.75.75.75h2.425v2.425c0 .414.336.75.75.75s.75-.336.75-.75V4.75h2.425c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm-3.175 6.876c-.414 0-.75.336-.75.75v8.078c0 .414-.337.75-.75.75H4.095c-.412 0-.75-.336-.75-.75V8.298l6.778 4.518c.368.246.79.37 1.213.37.422 0 .844-.124 1.212-.37l4.53-3.013c.336-.223.428-.676.204-1.012-.223-.332-.675-.425-1.012-.2l-4.53 3.014c-.246.162-.563.163-.808 0l-7.586-5.06V5.5c0-.414.337-.75.75-.75h9.094c.414 0 .75-.336.75-.75s-.336-.75-.75-.75H4.096c-1.24 0-2.25 1.01-2.25 2.25v13.455c0 1.24 1.01 2.25 2.25 2.25h14.48c1.24 0 2.25-1.01 2.25-2.25v-8.078c0-.415-.337-.75-.75-.75z"></path>
                          </g>
                        </svg>
                        <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span></div>
                    </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="css-1dbjc4n r-1pz39u2 r-13awgt0">
            <div class="css-1dbjc4n r-1p0dtai r-1d2f490 r-1rnoaur r-u8s1d r-zchlnj r-ipm5af">
              <div class="css-1dbjc4n r-kemksi r-16y2uox r-1jgb5lz r-1ye8kvj r-13qz1uu">
                <div class="css-1dbjc4n r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-1sp51qo r-184en5c">
                  <div class="css-1dbjc4n r-z32n2g r-42olwf r-sdzlij r-1phboty r-rs99b7 r-eqz5dr r-16y2uox r-1wbh5a2 r-1777fci">
                    <div class="css-1dbjc4n r-18u37iz">
                      <div class="css-1dbjc4n r-6koalj r-1777fci">
                        <svg viewBox="0 0 24 24"
                             class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-18qmn74 r-1hfyk0a r-bnwqim r-1plcrui r-lrvibr">
                          <g>
                            <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                          </g>
                        </svg>
                      </div>
                      <div dir="auto"
                           class="css-901oao r-1fmj7o5 r-6koalj r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                        <input autocapitalize="sentences" autocomplete="on" autocorrect="on"
                               placeholder="Search for people and groups" spellcheck="true" type="text" dir="auto"
                               data-focusable="true"
                               class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-1sp51qo r-641cr4 r-1dz5y72 r-fdjqy7 r-13qz1uu"
                               value=""></div>
                      <div class="css-1dbjc4n r-6koalj r-1777fci">
                        <div class="css-1dbjc4n"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-1dbjc4n">
                  <section aria-labelledby="accessible-list-2" role="region" class="css-1dbjc4n"><h1 aria-level="1" dir="auto"
                                                                                                     role="heading"
                                                                                                     class="css-4rbku5 css-901oao r-4iw3lz r-1xk2f4g r-109y4c4 r-1udh08x r-wwvuq4 r-u8s1d r-92ng3h"
                                                                                                     id="accessible-list-2">
                    Messages</h1>
                    <div aria-label="Timeline: Messages" class="css-1dbjc4n">
                      <div style="position: relative; min-height: 349px;">
                        <div
                                style="position: absolute; width: 100%; transform: translateY(0px); transition: opacity 0.3s ease-out 0s;">
                          <div class="css-1dbjc4n">
                            <div role="tab" aria-selected="false" data-focusable="true" tabindex="0"
                                 class="css-1dbjc4n r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1ny4l3l r-1j3t67a r-9qu9m4 r-o7ynqc r-6416eg r-13qz1uu"
                                 data-testid="conversation">
                              <div class="css-1dbjc4n r-18u37iz">
                                <app-profile-picture49x49></app-profile-picture49x49>
                                <div class="css-1dbjc4n r-1iusvr4 r-16y2uox">
                                  <div class="css-1dbjc4n r-18u37iz">
                                    <div class="css-1dbjc4n r-13awgt0">
                                      <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                          <div class="css-1dbjc4n r-1awozwy r-18u37iz r-dnmrzs">
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                                      <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                              class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Volencho</span></span>
                                            </div>
                                            <div dir="auto"
                                                 class="css-901oao r-1fmj7o5 r-18u37iz r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"></div>
                                          </div>
                                          <div class="css-1dbjc4n r-18u37iz r-1wbh5a2 r-1f6r7vd">
                                            <div dir="ltr"
                                                 class="css-901oao css-bfa6kz r-9ilb82 r-18u37iz r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                              <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">@volencho</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="css-1dbjc4n r-5qm60e r-1udh08x">
                                        <div dir="auto"
                                             class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                  <span
                                          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0"><span
                                          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Red, Blue, Green</span></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="css-1dbjc4n">
                                      <div dir="auto" aria-label="Sep 8, 2020"
                                           class="css-901oao r-9ilb82 r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                                        <time datetime="2020-09-08T15:29:52.036Z">Sep 8, 2020</time>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                                style="position: absolute; width: 100%; transform: translateY(80px); transition: opacity 0.3s ease-out 0s;">
                          <div class="css-1dbjc4n r-1omma8c"></div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>

        <app-detail-header-message-selected></app-detail-header-message-selected>
      </div>
    </div>
  </div>
</main>
