<!--O, darkness my old friend. I am back. 30.04.2021, Friday, 16:27 PM | Best Indie Folk of 2016-->
<div class="infinite-cards row" style="margin: 0px" nbInfiniteList [listenWindowScroll]="true" [threshold]="500" (bottomThreshold)="this.loadMoreNews()">
    <div class="col-md-12 col-lg-7 col-xxxl-6 r-yfoy6g r-18bvks7 main-left-vertical-border-left-width main-right-vertical-border-right-width border-style-solid margin-left-right-auto image-margin-left image-margin-right main-primary-column-max-width-600px width-100-per z-index-1 main-left-right-vertical-border-color"
         style="padding-left: 0px">
        <nb-card style="width: 102.6%">
            <div class="sharebook-container backface-visibility-hidden flex-grow-expand">
                <div class="sharebook-container align-items-stretch flex-direction-row flex-grow-expand justify-content-space-between r-2llsf width-100-per">
                    <div class="sharebook-container background-color-lights-out main-left-right-vertical-border-color main-left-vertical-border-left-width main-right-vertical-border-right-width border-style-solid margin-left-right-auto image-margin-left image-margin-right main-primary-column-max-width-600px width-100-per z-index-1">
                        <div class="sharebook-container">
                            <div class="sharebook-container backface-visibility-hidden background-color-lights-out border-bottom-color border-bottom-style-solid border-bottom-width-1px position-sticky top-0px header-z-index">
                                <div class="sharebook-container z-index-plus-2">
                                    <div class="sharebook-container height-53px z-index-plus-2">
                                        <div class="sharebook-container">
                                            <div class="sharebook-container background-color-lights-out height-53px left-right-padding-15px">
                                                <div class="sharebook-container align-items-center flex-direction-row height-53px justify-content-center margin-left-right-auto header-max-width-1000px width-100-per">
                                                    <!--<app-search></app-search>-->
                                                    <div class="sharebook-container align-items-flex-end align-self-stretch justify-content-center margin-left-20px min-height-30px edge-element-min-width">
                                                        <a href="javascript:void(0)" aria-label="Settings" role="button"  ngbTooltip="Your news bringer :)" [openDelay]="1700" placement="bottom"
                                                           data-focusable="true"
                                                           class="sharebook-link sharebook-cursor-pointer sharebook-container element-border-color-rgba border-radius-9999px border-style-solid border-width-1px cursor-pointer border-height-0px r-5pqaiu element-min-height-39px element-min-width-39px outline-style-none element-left-right-padding-0px transition-duration transition-property users-select-none"
                                                           style="margin-right: calc(0px + (-1 * (41px - 1.5em)) / 2);">
                                                            <div dir="auto"
                                                                 class="css-901oao align-items-center r-13gxpu9 display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center inside-element-container-line-height max-width-100-per min-width-0px text-align-center text-overflow-wrap">
                                                                <fa-icon [icon]="this.faRadio" size="2x"></fa-icon>
                                                                <span class="css-901oao sharebook-text-inherit sharebook-text text-font-family min-width-0px text-overflow-wrap"></span>
                                                            </div>
                                                        </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sharebook-container margin-left-right-auto main-primary-column-max-width-600px width-100-per">
                                <div class="sharebook-container">
                                    <div class="sharebook-container">
                                        <section aria-labelledby="accessible-list-10" role="region" class="sharebook-container">
                                            <h1
                                                aria-level="1" dir="auto" role="heading"
                                                class="sharebook-link css-901oao border-width-0px r-1xk2f4g height-1px overflow-hidden r-wwvuq4 position-absolute width-1px"
                                                id="accessible-list-10">Explore
                                            </h1>
                                            <div aria-label="Timeline: Explore" class="sharebook-container">
                                                <div [ngStyle]="{position: 'relative', 'min-height': this.calcMinHeight(this.newsPost?.length) + 'px'}">
                                                    <div style="position: absolute; width: 100%; transform: translateY(0px); transition: opacity 0.3s ease-out 0s;">
                                                        <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
                                                            <a data-focusable="true" tabindex="0" mat-ripple
                                                               class="sharebook-container cursor-pointer outline-style-none transition-duration transition-property"
                                                               role="link"
                                                               [href]="this.topNew?.url" target="_blank"
                                                               >
                                                                <div class="sharebook-container display-block overflow-hidden">
                                                                    <div class="display-block width-100-per"
                                                                         style="padding-bottom: 56.25%;"></div>
                                                                    <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                                        <div class="sharebook-container sharebook-background-color-blue height-100-per width-100-per">
                                                                            <div class="sharebook-container">
                                                                                <div class="sharebook-container display-block overflow-hidden">
                                                                                    <div class="display-block width-100-per"
                                                                                         style="padding-bottom: 56.25%;"></div>
                                                                                    <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                                                        <div aria-label=""
                                                                                             class="sharebook-container bottom-0px image-flex-expand left-0px image-margin-left image-margin-right overflow-hidden position-absolute right-0px top-0px image-z-index"
                                                                                             style="margin-bottom: 0px; margin-top: 0px;">
                                                                                            <div class="sharebook-container image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                                                                 [style.background-image]="'url(' + this.getImageUrl(this.topNew?.image) +')'"></div>
                                                                                            <img alt="" draggable="true"
                                                                                                 [src]="this.getImageUrl(this.topNew?.image)"
                                                                                                 class="sharebook-image"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="sharebook-container bottom-0px left-0px position-absolute right-0px top-0px"
                                                                             style="background-image: linear-gradient(transparent 0%, transparent 25%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0.8) 100%);"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="sharebook-container bottom-0px r-17s6mgv left-0px left-right-padding-15px stacked-elements-padding-bottom-top position-absolute right-0px top-0px">
                                                                    <div class="sharebook-container">
                                                                        <div class="sharebook-container align-items-center flex-direction-row flex-shrink">
                                                                            <div dir="auto"
                                                                                 class="css-901oao sharebook-text share-button-text-color font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">
                                                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.topNew?.source}}</span>
                                                                            </div>
                                                                            <div dir="auto" aria-hidden="true"
                                                                                 class="css-901oao share-button-text-color svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px created-at-dot text-overflow-wrap">
                                                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">·</span>
                                                                            </div>
<!--                                                                            <div class="sharebook-container r-r2y082">-->
<!--                                                                                <div dir="auto"-->
<!--                                                                                     class="css-901oao sharebook-text share-button-text-color font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">-->
<!--                                                                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">LIVE</span>-->
<!--                                                                                </div>-->
<!--                                                                            </div>-->
                                                                        </div>
                                                                        <div dir="ltr"
                                                                             class="css-901oao css-cens5h share-button-text-color font-family very-strong-title font-weight-800 inside-element-container-line-height r-hrzydr min-width-0px text-overflow-wrap"
                                                                             style="-webkit-line-clamp: 3;"><span
                                                                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.topNew?.title}}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div style="position: absolute; width: 100%; transform: translateY(337.6px); transition: opacity 0.3s ease-out 0s;">
                                                        <div class="sharebook-container display-block outline-style-none"></div>
                                                    </div>
                                                    <div style="position: absolute; width: 100%; transform: translateY(337.6px); transition: opacity 0.3s ease-out 0s;">
                                                        <div class="sharebook-container display-block outline-style-none">
                                                            <div class="sharebook-container sidebar-background-color border-bottom-color border-bottom-style-solid border-bottom-width-1px ocean-line-height"></div>
                                                        </div>
                                                    </div>
                                                    <div style="position: absolute; width: 100%; transform: translateY(346.4px); transition: opacity 0.3s ease-out 0s;">
                                                        <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
                                                            <div class="sharebook-container justify-content-space-between left-right-padding-15px stacked-elements-padding-bottom-top">
                                                                <h2 aria-level="2" role="heading"
                                                                    class="sharebook-link sharebook-container flex-direction-row">
                                                                    <div class="sharebook-container align-self-flex-start height-20px justify-content-center margin-top-2px"></div>
                                                                    <div dir="auto"
                                                                         class="css-901oao css-cens5h font-family heading-font-size font-weight-800 inside-element-container-line-height min-width-0px text-overflow-wrap"
                                                                         style="-webkit-line-clamp: 3;"><span
                                                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap dtc">What’s happening in the chess world</span>
                                                                    </div>
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="!this.newsPost" style="width: 100%; transform: translateY({{this.setTransform(1)}}px); transition: opacity 0.3s ease-out 0s;">
                                                        <app-custom-loading-indicator style="margin-left: 46%;" size="big"></app-custom-loading-indicator>
                                                    </div>
                                                    <div *ngFor="let post of this.newsPost; let i = index" style="position: absolute; cursor: pointer; width: 100%; transform: translateY({{this.setTransform(i + 1)}}px); transition: opacity 0.3s ease-out 0s;">
                                                        <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
                                                            <a data-focusable="true" tabindex="0" mat-ripple
                                                                 class="sharebook-container cursor-pointer outline-style-none left-right-padding-15px stacked-elements-padding-bottom-top transition-duration transition-property"
                                                                 role="link"
                                                               [href]="post.url" target="_blank">
                                                                <div class="sharebook-container flex-direction-row">
                                                                    <div class="sharebook-container flex-expand container-left-side-margin-right-10px">
                                                                        <div class="sharebook-container align-items-center flex-direction-row flex-shrink">
                                                                            <div class="sharebook-container flex-shrink max-width-100-per">
                                                                                <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                                                                    <div class="sharebook-container align-items-center flex-direction-row flex-shrink max-width-100-per outline-style-none">
                                                                                        <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                                                            <div role="presentation"
                                                                                                 class="sharebook-container border-radius-9999px svg-flex-shrink-0 r-14g73ha miniature-element-margin-right outline-style-none overflow-hidden r-1b94p3d">
                                                                                                <div class="sharebook-container display-block overflow-hidden"
                                                                                                     style="">
                                                                                                    <div class="display-block width-100-per"
                                                                                                         style="padding-bottom: 100%;"></div>
                                                                                                    <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                                                                        <div aria-label=""
                                                                                                             class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px image-z-index">
                                                                                                            <div class="sharebook-container image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                                                                                 style="background-image: url('assets/images/news-image.png');"></div>
                                                                                                            <img alt=""
                                                                                                                 draggable="true"
                                                                                                                 src="assets/images/news-image.png"
                                                                                                                 class="sharebook-image">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="sharebook-container r-1jie2fr border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px"></div>
                                                                                            </div>
                                                                                            <div dir="auto"
                                                                                                 class="css-901oao sharebook-text font-family third-wheel-text-font-size font-weight-700 line-height-calc min-width-0px white-space-nowrap text-overflow-wrap">
                                                                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"><span
                                                                                                    class="css-901oao sharebook-text-inherit text-font-family user-display-name">{{post.source}}</span></span>
                                                                                            </div>
                                                                                            <div dir="auto"
                                                                                                 class="css-901oao flex-direction-row svg-flex-shrink-0 font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">
                                                                                                <fa-icon aria-label="Verified account" [icon]="this.faBadgeCheck" [ngClass]="'svg-display-inline-block svg-fill-currentcolor miniature-element-height svg-margin-left max-width-100-per svg-position-relative svg-vertical-align users-select-none'"></fa-icon>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div dir="auto" aria-hidden="true"
                                                                                 class="css-901oao third-wheel-color svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px created-at-dot text-overflow-wrap">
                                                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">·</span>
                                                                            </div>
                                                                            <div class="sharebook-container r-r2y082" (click)="this.dateClick($event)">
                                                                                <div dir="auto"
                                                                                     class="text-hint css-901oao sharebook-text r-9ilb82 font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">
                                                                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">
                                                                                        <app-date-toggle *ngIf="post.published_at" [date]="post.published_at"></app-date-toggle>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div dir="ltr"
                                                                             class="css-901oao font-family font-size-15px font-weight-700 inside-element-container-line-height r-hrzydr min-width-0px text-overflow-wrap">
                                                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap dtc">{{post.title}}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sharebook-container upload-bottom-border-background-color r-1q9bdsx r-1594n1d r-1rcydto r-im43zt r-1mfpqn6 r-cnsjmj overflow-hidden r-1ih7r1r">
                                                                        <div class="sharebook-container display-block overflow-hidden">
                                                                            <div class="display-block width-100-per"
                                                                                 style="padding-bottom: 100%;"></div>
                                                                            <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                                                <div aria-label=""
                                                                                     class="sharebook-container bottom-0px image-flex-expand left-0px image-margin-left image-margin-right overflow-hidden position-absolute right-0px top-0px image-z-index"
                                                                                     style="margin-bottom: 0px; margin-top: 0px;">
                                                                                    <div class="sharebook-container image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                                                         [style.background-image]="'url(' + this.getImageUrl(post.image) +')'"></div>
                                                                                    <img alt="" draggable="true"
                                                                                         [src]="this.getImageUrl(post.image)"
                                                                                         class="sharebook-image">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div style="position: absolute; width: 100%; transform: translateY(1468px); transition: opacity 0.3s ease-out 0s;">
                                                        <div class="sharebook-container r-1bxhq7s">
                                                            <div class="sharebook-container r-1omma8c"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <app-sidebar-column></app-sidebar-column>-->
                </div>
            </div>
        </nb-card>
    </div>
    <div class="col-md-12 col-lg-5 col-xxxl-6">
        <nb-card style="position: fixed">
            <app-sidebar-column></app-sidebar-column>
        </nb-card>
    </div>
</div>
