@import "../../../sass/application";

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.r-2llsf {
  min-height: 100%;
}


.r-5pqaiu {
  margin-bottom: calc(-10px);
  margin-top: calc(-10px);
}

.r-1uusn97 {
  box-shadow: rgba(217, 217, 217, 0.2) 0px 0px 5px, rgba(217, 217, 217, 0.25) 0px 1px 4px 1px;
}

.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}


.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}

.r-17s6mgv {
  -webkit-box-pack: end;
  justify-content: flex-end;
}


.r-r2y082 {
  max-width: 50%;
}

.r-hrzydr {
  margin-bottom: 2px;
  margin-top: 2px;
}

.r-14g73ha {
  height: 15px;
}

.r-1b94p3d {
  width: 15px;
}

.r-1jie2fr {
  border-color: rgba(0, 0, 0, 0.1);
}


.r-1q9bdsx {
  border-radius: 12px;
}

.r-1594n1d {
  height: 15%;
}

.r-1rcydto {
  max-height: calc(98px);
}

.r-im43zt {
  max-width: calc(98px);
}

.r-1mfpqn6 {
  min-height: calc(69px);
}

.r-cnsjmj {
  min-width: calc(69px);
}

.r-1ih7r1r {
  width: 15%;
}



// UserCell

.r-ymttw5 {
  padding-left: 16px;
  padding-right: 16px;
}

.r-1f1sjgu {
  padding-bottom: 12px;
  padding-top: 12px;
}

.r-15zivkp {
  margin-bottom: 4px;
}

.r-1hwvwag {
  flex-basis: 48px;
}

.r-1b7u577 {
  margin-right: 12px;
}

.r-a023e6 {
  font-size: 15px;
}

.r-rjixqe {
  line-height: 20px;
}

.r-3s2u2q {
  white-space: nowrap;
}

.r-a023e6 {
  font-size: 15px;
}

// follows you

@import '../../theme/styles/themes';

@include nb-install-component() {
  .r-z32n2g {
    background-color: nb-theme(color-primary-transparent-200); // background-color: rgb(32, 35, 39);
  }
}

.r-z2wwpe {
  border-radius: 4px;
}

.r-1q142lx {
  flex-shrink: 0;
}

.r-n6v787 {
  font-size: 13px;
}

.r-1cwl3u0 {
  line-height: 16px;
}

.r-13hce6t {
  margin-left: 4px;
}

.r-s1qlax {
  padding-left: 4px;
  padding-right: 4px;
}

// end


.r-1h8ys4a {
  padding-top: 4px;
}

.r-1jeg54m {
  white-space: normal;
}
