@import '../../../../sass/include/variables';
@import '../../../../sass/include/mixins';

ng-select ::ng-deep {
  .ng-option {
    display: flex;
    align-items: center;
  }

  .form-group-checkbox {
    display: flex;
    align-items: center;

    input {
      @include peertube-checkbox(1px);
    }
  }
}
