<div class="video-miniature" [ngClass]="getClasses()" (mouseenter)="loadActions()">
  <my-video-thumbnail
    [video]="video"  [videoRouterLink]="videoRouterLink" [videoHref]="videoHref" [videoTarget]="videoTarget">
  </my-video-thumbnail>

  <div class="video-bottom">
    <div class="video-miniature-information">
      <div class="d-flex video-miniature-meta">
        <div class="w-100 d-flex flex-column">
          <a *ngIf="!videoHref" tabindex="-1" class="video-miniature-name"
            [routerLink]="videoRouterLink" [attr.title]="video.title"
          >{{ video.title }}</a>

          <a *ngIf="videoHref" tabindex="-1" class="video-miniature-name"
            [href]="videoHref" [target]="videoTarget" [attr.title]="video.title"
          >{{ video.title }}</a>

          <span class="video-miniature-created-at-views">
            <app-date-toggle *ngIf="displayOptions.date" [date]="video.started_at"></app-date-toggle>

            <span class="views" [title]="video.viewer_count">
              <ng-container *ngIf="displayOptions.date && displayOptions.views"> • </ng-container>

              <app-video-views-counter *ngIf="displayOptions.views" [video]="video"></app-video-views-counter>
            </span>
          </span>

          <a tabindex="-1" class="video-miniature-account" [href]="'https://www.twitch.tv/' + video.user_login " target="_blank">
            {{ video.user_login }}
          </a>

        </div>
      </div>
    </div>

    <div class="video-actions">
    </div>
  </div>
</div>
