@import "src/sass/application";

.r-qocrb3 {
}

.r-170oy42 {
  margin-bottom: calc(59px + env(safe-area-inset-bottom));
}



.r-phn5h3 {
  width: 49px;
}


.r-1j3t67a {
  padding-left: 15px;
  padding-right: 15px;
}







