<div class="sharebook-container container-left-side-flex-expand container-left-side-margin-right-10px min-width-49px" style="flex-basis: 49px;">
    <div class="sharebook-container border-radius-9999px display-block overflow-hidden">
        <div class="display-block width-100-per" style="padding-bottom: 100%;"></div>
        <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
            <a routerLink="/profile" role="link"
               data-focusable="true"
               class="sharebook-link sharebook-cursor-pointer sharebook-container cursor-pointer outline-style-none">
                <div class="sharebook-container r-16l9doz overflow-hidden width-100-per">
                    <div role="presentation" aria-hidden="true"
                         class="sharebook-container input-form-border-radius-0px container-left-side-avatar-height outline-style-none overflow-hidden r-phn5h3">
                        <div class="sharebook-container display-block overflow-hidden" style="">
                            <div class="display-block width-100-per" style="padding-bottom: 100%;"></div>
                            <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                <div aria-label=""
                                     class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px image-z-index">
                                    <div class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                         style="background-image: url('https://pbs.twimg.com/profile_images/1271169514999332866/8OtnjzTa_400x400.jpg');"></div>
                                    <img alt="" draggable="true"
                                         src="https://pbs.twimg.com/profile_images/811299911249620993/Y7HJIUbV_bigger.jpg"
                                         class="sharebook-image"></div>
                            </div>
                        </div>
                        <div class="sharebook-container image-avatar-border-color border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px"></div>
                    </div>
                </div>
            </a></div>
    </div>
</div>
