<div class="css-1dbjc4n r-18kxxzh r-zso239 min-width-49px" style="flex-basis: 49px;">
    <div class="css-1dbjc4n r-sdzlij r-1adg3ll r-1udh08x">
        <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
        <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
            <a routerLink="/profile" role="link"
               data-focusable="true"
               class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1ny4l3l">
                <div class="css-1dbjc4n r-16l9doz r-1udh08x r-13qz1uu">
                    <div role="presentation" aria-hidden="true"
                         class="css-1dbjc4n r-17gur6a r-ahm1il r-1ny4l3l r-1udh08x r-phn5h3">
                        <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                            <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
                            <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                <div aria-label=""
                                     class="css-1dbjc4n r-sdzlij r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                    <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                         style="background-image: url('https://pbs.twimg.com/profile_images/1271169514999332866/8OtnjzTa_400x400.jpg');"></div>
                                    <img alt="" draggable="true"
                                         src="https://pbs.twimg.com/profile_images/811299911249620993/Y7HJIUbV_bigger.jpg"
                                         class="css-9pa8cd"></div>
                            </div>
                        </div>
                        <div class="css-1dbjc4n r-1twgtwe r-sdzlij r-rs99b7 r-1p0dtai r-1mi75qu r-1d2f490 r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af"></div>
                    </div>
                </div>
            </a></div>
    </div>
</div>
