@import "../../../../sass/application";

@import '../../../theme/styles/themes';

@include nb-install-component() {
  .message-color {
    background: nb-theme(color-primary-600);
    color: nb-theme(chat-message-text-color);
  }
}


.r-16l9doz {
  height: auto;
}

.r-199wky7 {
  width: 30px;
}

.r-jdbj7n {
  border-color: rgba(0, 0, 0, 0.06);
}

.align-items-flex-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.r-150rngu {
}

.r-ouzzow {
  flex-basis: 1px;
}


.r-pm9dpa {
  max-height: 100%;
}

.r-11yh6sk {
  overflow-x: hidden;
}

.r-1knelpx {
  padding-top: 20px;
}

.r-hbs49y {
  transform: translate3d(0px, 0px, 0px);
}


.r-1jkafct {
  border-radius: 2px;
}


.r-ku1wi2 {
  margin-bottom: 15px;
}

.r-tvv088 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.r-1f6r7vd {
  margin-left: 5px;
}

.emoji-margin-left {
  margin-left: 0.075em;
}

.emoji-margin-right {
  margin-right: 0.075em;
}

.r-h9hxbl {
  width: 1.2em;
}

.r-h9hxbl {
  width: 1.2em;
}

.r-h9hxbl {
  width: 1.2em;
}

.emoji-margin-left {
  margin-left: 0.075em;
}

.emoji-margin-right {
  margin-right: 0.075em;
}


.r-h9hxbl {
  width: 1.2em;
}


.r-k8qxaj {
  padding-bottom: 20px;
}


.r-7q8q6z {
  cursor: default;
}


.r-1euycsn {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  flex-direction: row-reverse;
}

.r-17s6mgv {
  -webkit-box-pack: end;
  justify-content: flex-end;
}


.r-1nwbi2h {
  width: 87.5%;
}


.r-qhyqy2 {
  padding-left: 5px;
}

.r-633pao {
  pointer-events: none !important;
}

.r-pm2fo {
  border-bottom-left-radius: 0px;
}




.r-phn5h3 {
  width: 49px;
}

.post-avatar-width-39px {
  width: 39px;
}


.r-1gvt8yx {
  margin-left: calc(49px);
}

.r-19gegkz {
  padding-right: 5px;
}

.r-zmljjp {
  border-bottom-right-radius: 0px;
}


.r-1ff274t {
  text-align: right;
}

.r-19uokag {
  height: 1rem;
}

.r-nk90ef {
  padding-left: 2px;
}

.r-1mdbw0j {
  padding-bottom: 0px;
}

.r-9aemit {
  padding-right: 0px;
}

.r-onhvzr {
  transition-property: height, padding-bottom;
}

.r-1h2t8mc {
  width: 0px;
}

.r-2sztyj {
  border-top-color: rgb(47, 51, 54);
}


.r-5kkj8d {
  border-top-width: 1px;
}

.r-97e31f {
  padding-bottom: env(safe-area-inset-bottom);
}


.r-1uu6nss {
  padding: 5px;
}

.r-1kihuf0 {
  align-self: center;
}


.public-DraftEditorPlaceholder-root {
  color: #6E767D;
  position: absolute;
  z-index: 1;
}














































































































