<div *ngIf="this.loading; else els" [style]="{'width': 299}">

</div>

<ng-template #els>
    <div [ngClass]="{'emoji-picker-dropdown__menu': true, 'selecting': this.modifierOpen}" [style]="this.style" #divRef>
        <emoji-mart
                autoFocus
                emojiTooltip
                [perLine]="8"
                [emojiSize]="22"
                [sheetSize]="32"
                [custom]="this.buildCustomEmojis(this.custom_emojis)"
                [color]="''"
                [emoji]="''"
                [set]="'twitter'"
                [title]="this.title.defaultMessage"
                (emojiClick)="this.handleClick($event.emoji, $event)"
                [include]="this.categoriesSort"
                [recent]="this.frequentlyUsedEmojis"
                [skin]="this.skinTone"
                [showPreview]="false"
                [backgroundImageFn]="this.backgroundImageFn"
                >
        </emoji-mart>
        <app-modifier-picker [active]="this.modifierOpen" [modifier]="this.skinTone" [onOpen]="this.handleModifierOpen" [onChange]="this.handleModifierChange" [onClose]="this.handleModifierClose"></app-modifier-picker>
    </div>
</ng-template>
