.emoji-picker-dropdown__modifiers__menu {
  position: absolute;
  z-index: 4;
  top: -4px;
  left: -8px;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 2px 6px rgba(#000000, 0.2);
  overflow: hidden;

  button {
    display: block;
    cursor: pointer;
    border: 0;
    padding: 4px 8px;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: rgba(#d9e1e8, 0.4);
    }
  }

  .emoji-mart-emoji {
    height: 22px;
  }
}
