<div class="emoji-picker-dropdown__modifiers__menu" [ngStyle]="{'display': this.active ? 'block' : 'none'}" #divRef>
    <button (click)="this.handleClick($event)" data-index="1"><ngx-emoji emoji="fist" set="twitter" size="22" sheetSize="32" skin="1" [backgroundImageFn]="this.backgroundImageFn"></ngx-emoji> </button>
    <button (click)="this.handleClick($event)" data-index="2"><ngx-emoji emoji="fist" set="twitter" size="22" sheetSize="32" skin="1" [backgroundImageFn]="this.backgroundImageFn"></ngx-emoji> </button>
    <button (click)="this.handleClick($event)" data-index="3"><ngx-emoji emoji="fist" set="twitter" size="22" sheetSize="32" skin="1" [backgroundImageFn]="this.backgroundImageFn"></ngx-emoji> </button>
    <button (click)="this.handleClick($event)" data-index="4"><ngx-emoji emoji="fist" set="twitter" size="22" sheetSize="32" skin="1" [backgroundImageFn]="this.backgroundImageFn"></ngx-emoji> </button>
    <button (click)="this.handleClick($event)" data-index="5"><ngx-emoji emoji="fist" set="twitter" size="22" sheetSize="32" skin="1" [backgroundImageFn]="this.backgroundImageFn"></ngx-emoji> </button>
    <button (click)="this.handleClick($event)" data-index="6"><ngx-emoji emoji="fist" set="twitter" size="22" sheetSize="32" skin="1" [backgroundImageFn]="this.backgroundImageFn"></ngx-emoji> </button>
</div>
