<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<form role="form" (ngSubmit)="changePassword()" [formGroup]="form">

  <label for="current-password">Change password</label>
  <app-input-toggle-hidden formControlName="current-password"
                          inputId="current-password"
                          placeholder="Current password"
                          [ngClass]="{ 'input-error': formErrors['current-password'] }"
                          autocomplete="current-password"></app-input-toggle-hidden>
  <div *ngIf="formErrors['current-password']" class="form-error">
    {{ formErrors['current-password'] }}
  </div>

  <app-input-toggle-hidden formControlName="new-password"
                          inputId="new-password"
                          placeholder="New password"
                          [ngClass]="{ 'input-error': formErrors['new-password'] }"
                          autocomplete="new-password"></app-input-toggle-hidden>
  <div *ngIf="formErrors['new-password']" class="form-error">
    {{ formErrors['new-password'] }}
  </div>

  <app-input-toggle-hidden formControlName="new-confirmed-password"
                          inputId="new-confirmed-password" placeholder="Confirm new password"
                          [ngClass]="{ 'input-error': formErrors['new-confirmed-password'] }"
                          autocomplete="new-password"></app-input-toggle-hidden>
  <div *ngIf="formErrors['new-confirmed-password']" class="form-error">
    {{ formErrors['new-confirmed-password'] }}
  </div>

  <input nbButton status="primary" type="submit" value="Change password" [disabled]="!form.valid">
</form>
