@import '_variables';
@import '_mixins';

label {
  font-weight: $font-regular;
  font-size: 100%;
}

app-input-toggle-hidden {
  width: 340px;
  display: block;
}

app-input-toggle-hidden + app-input-toggle-hidden {
  margin-top: 15px;
}

input[type=submit] {
  //@include peertube-button;
  //@include orange-button;

  margin-top: 15px;
}
