<div style="text-align: center">
  <div>
    <button style="background-color:darkred; color: #f2d16b;;"  class="btn-primary" [routerLink]="['/history/BC/science']" >War</button>
  </div>
  <div>
    <button style="background-color:#720000; color: #f2d16b;"  class="btn-primary" [routerLink]="['/history/BC/science']" >Empires</button>
  </div>
  <div>
    <button style="background-color:brown; color: #f2d16b;"  class="btn-primary" [routerLink]="['/history/BC/science']" >Literature</button>
  </div>
  <div>
    <button style="background-color: blue; color: #f2d16b;" class="btn-primary" [routerLink]="['/history/BC/science']" >Science</button>
  </div>
</div>
