<div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1jgb5lz r-1ye8kvj r-13qz1uu">
  <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1dqxon3">
    <div class="css-1dbjc4n">
      <div class="css-1dbjc4n r-xx1rs6">
        <div dir="auto"
             class="css-901oao r-1fmj7o5 r-1qd0xha r-1blvdjr r-b88u0q r-ad9z0x r-vpgt9t r-bcqeeo r-fdjqy7 r-qvutc0"
             id="modal-header"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Create your account</span>
        </div>
        <div class="css-1dbjc4n" data-testid="editName">
          <div class="css-1dbjc4n r-mk0yit r-1w50u8q"><label class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
              <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
                <div dir="auto"
                     class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0">
                  <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Name</span></div>
              </div>
              <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
                <div dir="auto"
                     class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                  <input autocapitalize="sentences" autocomplete="on" autocorrect="on" name="name" spellcheck="true"
                         type="text" dir="auto" data-focusable="true"
                         class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                         value="justATest"></div>
              </div>
            </div>
          </label>
            <div class="css-1dbjc4n r-18u37iz r-ou255f">
              <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
            </div>
          </div>
        </div>
        <div class="css-1dbjc4n" data-testid="editEmail">
          <div class="css-1dbjc4n r-mk0yit r-1w50u8q"><label class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
              <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
                <div dir="auto"
                     class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0">
                  <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Email</span></div>
              </div>
              <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
                <div dir="auto"
                     class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                  <input autocapitalize="sentences" autocomplete="on" autocorrect="on" name="email" spellcheck="true"
                         type="text" dir="auto" data-focusable="true"
                         class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                         value="viralsecondz@gmail.com"></div>
              </div>
            </div>
          </label>
            <div class="css-1dbjc4n r-18u37iz r-ou255f">
              <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
            </div>
          </div>
        </div>
        <div aria-label="Edit birthdate Sep 19, 1995" role="button" data-focusable="true" tabindex="0"
             class="css-18t94o4 css-1dbjc4n" data-testid="editBirthday">
          <div class="css-1dbjc4n r-mk0yit r-1w50u8q"><label class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
              <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
                <div dir="auto"
                     class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0">
                  <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Birth date</span></div>
              </div>
              <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
                <div dir="auto"
                     class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                  <input autocapitalize="sentences" autocomplete="on" autocorrect="on" name="birthday" spellcheck="true"
                         type="text" dir="auto" data-focusable="true"
                         class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                         value="Sep 19, 1995"></div>
              </div>
            </div>
          </label>
            <div class="css-1dbjc4n r-18u37iz r-ou255f">
              <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
            </div>
          </div>
        </div>
        <span class="r-1ak16pp"><div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">By signing up, you agree to our </span></div><a
          href="https://twitter.com/tos#new" target="_blank" dir="auto" role="link" data-focusable="true"
          class="css-4rbku5 css-18t94o4 css-901oao r-1n1174f r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
          rel=" noopener noreferrer"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Terms</span></a><div dir="auto"
                                                                                                   class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">, </span></div><a
          href="https://twitter.com/privacy" target="_blank" dir="auto" role="link" data-focusable="true"
          class="css-4rbku5 css-18t94o4 css-901oao r-1n1174f r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
          rel=" noopener noreferrer"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Privacy Policy</span></a><div
          dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">, and </span></div><a
          href="https://support.twitter.com/articles/20170514" target="_blank" dir="auto" role="link"
          data-focusable="true"
          class="css-4rbku5 css-18t94o4 css-901oao r-1n1174f r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
          rel=" noopener noreferrer"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Cookie Use</span></a><div
          dir="auto" class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
          class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">.</span></div></span>
        <div role="button" data-focusable="true" tabindex="0"
             class="css-18t94o4 css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-19h5ruw r-1jayybb r-17bavie r-1ny4l3l r-15bsvpr r-o7ynqc r-6416eg r-lrvibr">
          <div dir="auto"
               class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
            <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
              class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Sign up</span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
