@import "../../../../sass/application";

.r-jw8lkh {
  margin-bottom: 5px;
  margin-top: 5px;
}

.r-e7q0ms {
  width: 100%;
}

.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}


.r-1waj6vr {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}

.r-1jayybb {
  min-height: 49px;
}

.r-17bavie {
  min-width: calc(78.89px);
}


.r-15bsvpr {
  padding-left: 30px;
  padding-right: 30px;
}

.r-urgr8i {
  background-color: rgb(29, 161, 242);
}
