<div class="sharebook-container r-jw8lkh r-e7q0ms"><a [routerLink]="['/compose/share']" aria-label="Tweet" role="button"
                                                      data-focusable="true"
                                                      class="sharebook-link sharebook-cursor-pointer sharebook-container sharebook-background-color-blue element-border-color-rgba border-radius-9999px border-style-solid border-width-1px r-1waj6vr cursor-pointer border-height-0px min-height-49px r-17bavie outline-style-none r-15bsvpr transition-duration transition-property users-select-none"
                                                      data-testid="SideNav_NewTweet_Button">
    <div dir="auto"
         class="css-901oao align-items-center share-button-text-color display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center inside-element-container-line-height max-width-100-per min-width-0px text-align-center text-overflow-wrap">
        <span class="css-901oao sharebook-text-inherit sharebook-text text-font-family min-width-0px text-overflow-wrap"><div style=""><div
                class="sharebook-container display-inline-flex"><span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"><span
                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Share</span></span></div></div></span></div>
</a></div>