<div class="css-1dbjc4n r-jw8lkh r-e7q0ms"><a [routerLink]="['/compose/share']" aria-label="Tweet" role="button"
                                              data-focusable="true"
                                              class="css-4rbku5 css-18t94o4 css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1waj6vr r-1loqt21 r-1w2pmg r-1jayybb r-17bavie r-1ny4l3l r-15bsvpr r-o7ynqc r-6416eg r-lrvibr"
                                              data-testid="SideNav_NewTweet_Button">
    <div dir="auto"
         class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-ad9z0x r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
        <span class="css-901oao css-16my406 css-bfa6kz r-poiln3 r-bcqeeo r-qvutc0"><div style=""><div
                class="css-1dbjc4n r-xoduu5"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"><span
                class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Share</span></span></div></div></span></div>
</a></div>