
@{
    ViewData["Title"] = "About";
}

    <html id="about-html" lang="en">
    <body class="about-body">
        <div class="content" style="color: #C8C8C8; min-height: 600px">
            <div class="panel-heading-about">
                <h2 class="panel-title">About The Creator</h2>
            </div>
            <div class="panel-body about-panel">
                <p>
                    Nobody cares who I am, so I will be short. I am a student who created this website all by myself. I want to thank <strong>Google</strong>, <strong>Stackoverflow</strong>, <strong>Wikipedia</strong> and the awesome <strong>templates</strong> for
                    their invaluable help. I hope you like it :)
                </p>
            </div>
            <div class="panel-heading-about">
                <h2 class="panel-title">About The Quiz</h2>
            </div>
            <div class="panel-body about-panel">
                <p>
                    Are you up for the task? Can you pass all those <strong>1000</strong> quiz questions? If you can, and you are the first to do so,
                    you will win a <strong>special award</strong> (must have an account)! The more you solve, the more extras you will unlock. The quiz is everything related about computers,
                    but <strong>mainly about software</strong>. Almost all the famous languages are included, but I have tried to keep everything <strong>generic</strong>. One tip from me
                    is to always program "<strong>into</strong>" a language, not "<strong>in</strong>" a language (<cite>Code Complete</cite> by Steve McConnell). All the answers are
                    double checked that they are correct. Good luck!
                </p>

                <p><span style="color: green">Tip:</span> If you are using mobile, don't forget to <strong>rotate</strong> your device!</p>
            </div>
        </div>
    </body>
    </html>
