@import "src/sass/application";

.r-15d164r {
  margin-bottom: 10px;
}


.r-6ity3w {
  margin-top: 30px;
}


.r-1sv84sj {
  padding-bottom: 30px;
}

.r-15bsvpr {
  padding-left: 30px;
  padding-right: 30px;
}

.r-117bsoe {
  margin-bottom: 20px;
}

.r-ku1wi2 {
  margin-bottom: 15px;
}


.r-1yt7n81 {
  padding-left: 15px;
}

.r-ry3cjt {
  padding-right: 15px;
}

.r-1oqcu8e {
  padding: 15px;
}

.r-1n9sb9w {
  margin-left: 20px;
  margin-right: 20px;
}


.r-1xfd6ze {
  border-radius: 8px;
}

.r-4v7adb {
  height: 5px;
}


.r-n7umcr {
  margin-left: calc(-7.5px);
}


.r-199wky7 {
  width: 30px;
}

.r-15ce4ve   {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 7px, rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
}

.r-14g73ha {
  height: 15px;
}

.r-10u4nep {
  transform: scale(1);
}

.r-1b94p3d {
  width: 15px;
}


.r-tbmifm {
  height: 12px;
}

.r-16eto9q {
  width: 12px;
}


.r-a2tzq0 {
  -webkit-box-pack: justify;
  justify-content: space-around;
}

.r-tmtnm0 {
  height: 45px;
}

.r-2tyz2o {
  width: 45px;
}

.r-1ei5mc7 {
  cursor: inherit;
}

.r-6zzn7w {
  height: 25px;
}

.r-h9hxbl {
  width: 1.2em;
}


.r-14lw9ot {
  background-color: rgba(255,255,255,1.00);
}

.r-n370w6 {
  margin: 5px;
}

.r-adacv {
  min-height: 64px;
}

.r-d9fdf6 {
  padding-left: 20px;
  padding-right: 20px;
}


.r-eu3ka {
  height: 40px;
}

.r-dxdjjy {
  margin-left: -11px;
  margin-right: -11px;
}


.r-1aockid {
  width: 40px;
}

.r-1llaxt6 {
  border-radius: 30px;
}

.r-1f6r7vd {
  margin-left: 5px;
}

.r-6e0ovw {
  width: 80%;
}

.r-18jsvk2 {
  color: rgb(15, 20, 25);
}

.r-1hjwoze {
  height: 18px;
}

.r-12ym1je {
  width: 18px;
}

.r-19h5ruw {
  margin-top: 15px;
}



.r-daml9f {
  color: rgb(224, 36, 94);
}


.r-nw8l94 {
  color: rgb(23, 191, 99);
}

.r-1qqlz1x {
  background-color: rgb(121, 75, 196);
}

.r-xfsgu1 {
  color: rgb(121, 75, 196);
}

.r-18z3xeu {
  background-color: rgb(244, 93, 34);
}

.r-1qkqhnw {
  color: rgb(244, 93, 34);
}

.r-61mi1v {
  color: rgb(255, 173, 31);
}





















































