<div class="actor" *ngIf="actor">
  <div class="actor-img-edit-container">
    <div class="banner-placeholder">
      <img [src]="preview || actor.profileBannerURL" alt="Banner" /> <!--*ngIf="hasBanner()"-->
    </div>

    <div *ngIf="!hasBanner()" class="actor-img-edit-button" style="font-size: 20px" [ngbTooltip]="bannerFormat" placement="right" container="body">
      <fa-icon [icon]="this.faCamera"></fa-icon>
      <label for="bannerfile" i18n>Upload a new banner</label>
      <input id="bannerfile" type="file" name="bannerfile" title=" " #bannerfileInput [accept]="bannerExtensions" (change)="onBannerChange(bannerfileInput)"/>
    </div>

    <div
      *ngIf="hasBanner()" class="actor-img-edit-button"
      #bannerPopover="ngbPopover" [ngbPopover]="bannerEditContent" popoverClass="popover-image-info" autoClose="outside" placement="left">
      <fa-icon [icon]="this.faPen"></fa-icon>
      <label for="bannerMenu" i18n>Change your banner</label>
    </div>
  </div>
</div>

<ng-template #bannerEditContent>
  <div class="dropdown-item c-hand" [ngbTooltip]="bannerFormat" placement="right" container="body">
    <fa-icon [icon]="this.faFileImport" style="margin-right: 2px"></fa-icon>
    <span for="bannerfile" i18n>Upload a new banner</span>
    <input #bannerfileInput type="file" name="bannerfile" id="bannerfile" title=" " [accept]="bannerExtensions" (change)="onBannerChange(bannerfileInput)"/>
  </div>

  <div class="dropdown-item c-hand" (click)="deleteBanner()" (key.enter)="deleteBanner()">
    <fa-icon [icon]="this.faTrashAlt" style="margin-right: 2px"></fa-icon>
    <span i18n>Remove banner</span>
  </div>
</ng-template>
