<div class="actor" *ngIf="actor">
    <div class="actor-img-edit-container">
        <div class="banner-placeholder">
            <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                <div aria-label=""
                     class="sharebook-container bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px image-z-index">
                    <div class="sharebook-container image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                         [style.background-image]="'url(' + actor.profileBannerURL +')'"></div>
                    <img alt="" draggable="true"
                         [src]="actor.profileBannerURL"
                         class="sharebook-image"></div>
            </div>
        </div>

        <div *ngIf="!hasBanner()" class="actor-img-edit-button" style="font-size: 20px" [ngbTooltip]="bannerFormat"
             placement="right" container="body">
            <fa-icon [icon]="this.faCamera"></fa-icon>
            <label for="bannerfile">Upload a new banner</label>
            <input id="bannerfile" type="file" name="bannerfile" title=" " #bannerfileInput [accept]="bannerExtensions"
                   (change)="onBannerChange(bannerfileInput)"/>
        </div>

        <div
                *ngIf="hasBanner()" class="actor-img-edit-button"
                #bannerPopover="ngbPopover" [ngbPopover]="bannerEditContent" popoverClass="popover-image-info"
                autoClose="outside" placement="left">
            <fa-icon [icon]="this.faPen"></fa-icon>
            <label for="bannerMenu">Change your banner</label>
        </div>
    </div>
</div>

<ng-template #bannerEditContent>
    <div class="dropdown-item c-hand" [ngbTooltip]="bannerFormat" placement="right" container="body">
        <fa-icon [icon]="this.faFileImport" style="margin-right: 2px"></fa-icon>
        <span for="bannerfile">Upload a new banner</span>
        <input #bannerfileInput type="file" name="bannerfile" id="bannerfile" title=" " [accept]="bannerExtensions"
               (change)="onBannerChange(bannerfileInput)"/>
    </div>
</ng-template>
