<div class="box-widget">
    <div class="rich-formatting"><h2>Privacy Policy</h2>
        <h3 id="collect">What information do we collect?</h3>

        <ul>
            <li><em>Basic account information</em>: If you register on this website, you may be asked to enter a username, an e-mail address and a password. You may also enter additional profile information such as a display name and biography, and upload a profile picture and header image. The username, display name, biography, profile picture and header image are always listed publicly.</li>
            <li><em>Posts, following and other public information</em>: The list of people you follow is listed publicly, the same is true for your followers. When you submit a message, the date and time is stored as well as the application you submitted the message from. Messages may contain text for now, but soon it may support media attachments, such as pictures and videos. For now, only Public posts are available. When you feature a post on your profile, that is also publicly available information. Your posts are delivered to your followers. When you delete posts, this is likewise delivered to your followers. The action of reposting or liking another post is always public.</li>
            <li><em>Direct and followers-only posts</em>: All posts are stored and processed on the server. Followers-only posts are not yet available, but at some point it will be. So for now, every post you upload is public. <em>Do not share any dangerous information over Chessbook.</em></li>
            <li><em>IPs and other metadata</em>: When you log in, we record the IP address you log in from, as well as the name of your browser application. All the logged in sessions are available for your review and revocation in the settings. The latest IP address used is stored for up to 6 months. We also may retain server logs which include the IP address of every request to our server.</li>
        </ul>

        <hr class="spacer">

        <h3 id="use">What do we use your information for?</h3>

        <p>Any of the information we collect from you may be used in the following ways:</p>

        <ul>
            <li>To provide the core functionality of Chessbook. You can only interact with other people's content and post your own content when you are logged in. For example, you may follow other people to view their combined posts in your own personalized home timeline.</li>
            <li>To aid moderation of the community, for example comparing your IP address with other known ones to determine ban evasion or other violations.</li>
            <li>The email address you provide may be used to send you information, notifications about other people interacting with your content or sending you messages, and to respond to inquiries, and/or other requests or questions.</li>
        </ul>

        <hr class="spacer">

        <h3 id="protect">How do we protect your information?</h3>

        <p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Among other things, your browser session, as well as the traffic between your applications and the API, are secured with SSL, and your password is hashed using a strong one-way algorithm. Soon you will be able to enable two-factor authentication to further secure access to your account.</p>

        <hr class="spacer">

        <h3 id="data-retention">What is our data retention policy?</h3>

        <p>We will make a good faith effort to:</p>

        <ul>
            <li>Retain server logs containing the IP address of all requests to this server, in so far as such logs are kept, no more than 90 days.</li>
            <li>Retain the IP addresses associated with registered users no more than 6 months.</li>
        </ul>

        <p>You can request and download an archive of your content, including your posts, media attachments, profile picture, and header image.</p>

        <p>You may irreversibly delete your account at any time.</p>

        <hr class="spacer">

        <h3 id="cookies">Do we use cookies?</h3>

        <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow). These cookies enable the site to recognize your browser and, if you have a registered account, associate it with your registered account.</p>

        <p>We use cookies to understand and save your preferences for future visits.</p>

        <hr class="spacer">

        <h3 id="disclose">Do we disclose any information to outside parties?</h3>

        <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.</p>

        <p>When you authorize an application to use your account, depending on the scope of permissions you approve, it may access your public profile information, your following list, your followers, your lists, all your posts, and your favourites. Applications can never access your e-mail address or password.</p>

        <hr class="spacer">

        <h3 id="children">Site usage by children</h3>

        <p> The use of any of our interactive services by a minor is subject to the consent of their parent or guardian. We advise parents who permit</p>

        <p>their children to use an interactive service that it is important that they communicate with their children about their safety online, as</p>

        <p>moderation is not fool proof. Minors who are using any interactive service should be made aware of the potential risks to them.</p>

        <hr class="spacer">

        <h3 id="copyright">A Copyright Removal Request</h3>

        <p>If you are a company and you don't want your logo, or anything else that you have rights, to be shown in our website, please don't hesitate to <a rel="noopener noreferrer" routerLink="/contact">contact us</a> and it will be removed immediately!</p>

        <hr class="spacer">

        <h3 id="changes">Changes to our Privacy Policy</h3>

        <p>We may make changes to this Privacy Policy. Any changes we make to our Privacy Policy in the future will be posted on this page and, where appropriate, notified to you by email or when logging into the Website.</p>

        <hr class="spacer">

        <h3 id="contact">Contact Us</h3>

        <p>Questions, comments and requests regarding this Privacy Policy are very welcomed and should be addressed at our <a rel="noopener noreferrer" routerLink="/contact">contact page</a></p>
    </div>
</div>
