<div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
  <div class="css-1dbjc4n">
    <div
      class="css-1dbjc4n r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-kicko2 r-notknq r-1h3ijdo r-1j3t67a">
      <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
        <div class="css-1dbjc4n r-1habvwh r-1pz39u2 r-1777fci r-1vsu8ta r-u0dd49">
          <div aria-label="Close" role="button" data-focusable="true"
               tabindex="0"
               class="css-18t94o4 css-1dbjc4n r-1niwhzg r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vuscfd r-53xb7h r-1ny4l3l r-mk0yit r-o7ynqc r-6416eg r-lrvibr"
               style="margin-left: calc(5px + (-1 * (41px - 1.5em)) / 2);">
            <div dir="auto"
                 class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0"
                 onclick="history.back()">
              <svg viewBox="0 0 24 24"
                   class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                <g>
                  <path
                    d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path>
                </g>
              </svg>
              <span
                class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
            </div>
          </div>
        </div>
        <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
          <div class="css-1dbjc4n r-1habvwh">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
