<form role="form" (ngSubmit)="formUpdated()">

  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="form-group">
        <div class="radio-label label-container">
          <label>Sort</label>
          <button nbButton size="tiny" ghost class="reset-button reset-button-small" (click)="resetField('sort', '-match')" *ngIf="advancedSearch.sort !== '-match'">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container" *ngFor="let sort of sorts">
          <input type="radio" name="sort" [id]="sort.id" [value]="sort.id" [(ngModel)]="advancedSearch.sort">
          <label [for]="sort.id" class="radio">{{ sort.label }}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio-label label-container">
          <label>Published date</label>
          <button nbButton size="tiny" ghost class="reset-button reset-button-small" (click)="resetLocalField('publishedDateRange')" *ngIf="publishedDateRange !== undefined">
            Reset
          </button>
        </div>

        <div class="peertube-radio-container" *ngFor="let date of publishedDateRanges">
          <input type="radio" (change)="onDurationOrPublishedUpdated()" name="publishedDateRange" [id]="date.id" [value]="date.id" [(ngModel)]="publishedDateRange">
          <label [for]="date.id" class="radio">{{ date.label }}</label>
        </div>
      </div>

      <div class="form-group">
        <div class="label-container">
          <label for="original-publication-after">Original publication date</label>
          <button nbButton size="tiny" ghost class="reset-button reset-button-small" (click)="resetOriginalPublicationYears()" *ngIf="originallyPublishedStartYear || originallyPublishedEndYear">
            Reset
          </button>
        </div>

        <div class="row">
          <div class="pl-0 col-sm-6" style="padding-left: 15px !important;">
<!--            <app-help>-->
<!--              <ng-template appSbTemplate="customHtml">-->
<!--                <p [innerHTML]="'The creation from date for the search.'"></p>-->
<!--              </ng-template>-->
<!--            </app-help>-->
            <input nbInput
              (change)="onDurationOrPublishedUpdated()"
              (keydown.enter)="$event.preventDefault()"
              type="text" id="original-publication-after" name="original-publication-after"
              placeholder="After..."
              [(ngModel)]="originallyPublishedStartYear"
              class="form-control"
            >
          </div>
          <div class="pr-0 col-sm-6">
<!--            <app-help>-->
<!--              <ng-template appSbTemplate="customHtml">-->
<!--                <p [innerHTML]="'The creation from date for the search.'"></p>-->
<!--              </ng-template>-->
<!--            </app-help>-->
            <input nbInput
              (change)="onDurationOrPublishedUpdated()"
              (keydown.enter)="$event.preventDefault()"
              type="text" id="original-publication-before" name="original-publication-before"
              placeholder="Before..."
              [(ngModel)]="originallyPublishedEndYear"
              class="form-control"
            >
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="form-group">
        <img src="/assets/images/crop.png" width="150px;" height="300px" alt="searching" style="margin-left: 30%; cursor: pointer;"
             [ngbTooltip]="this.tooltip" placement="top" [openDelay]="700" #tool="ngbTooltip" (click)="this.handleImgClick(tool)"
             [ngStyle]="{'transform': !this.isSearch ? '' : 'scale(-1, 1)'}"/>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="form-group">
        <label for="tagsAllOf">All of these tags</label>
        <button nbButton size="tiny" ghost class="reset-button reset-button-small" (click)="resetField('tagsAllOf')" *ngIf="advancedSearch.tagsAllOf">
          Reset
        </button>
        <app-select-tags name="tagsAllOf" labelForId="tagsAllOf" id="tagsAllOf" [(ngModel)]="advancedSearch.tagsAllOf"></app-select-tags>
      </div>

      <div class="form-group">
        <label for="tagsOneOf">One of these tags</label>
        <button nbButton size="tiny" ghost class="reset-button reset-button-small" (click)="resetField('tagsOneOf')" *ngIf="advancedSearch.tagsOneOf">
          Reset
        </button>
        <app-select-tags name="tagsOneOf" labelForId="tagsOneOf" id="tagsOneOf" [(ngModel)]="advancedSearch.tagsOneOf"></app-select-tags>
      </div>
    </div>
  </div>

  <div class="submit-button">
    <button nbButton ghost class="reset-button" (click)="reset()" *ngIf="advancedSearch.size()">
      Reset
    </button>

    <input nbInput status="primary" type="submit" value="Filter">
  </div>
</form>
