<article class="container container-fluid">
  <section class="create">
    <h1 style="color: wheat;">Create Post</h1>
    <div class="container" appDnd (fileDropped)="onFileDropped($event)">
      <div class="row" style="margin-bottom:15px; text-align: center">
        <div class="col-md-3">
          <input type="file" #file placeholder="Choose file" (change)="onFileDropped(file.files)" style="display:none;" multiple>
          <button type="button" class="btn btn-success" (click)="file.click()">Browse For File</button>
        </div>
        <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
          <span class="upload" *ngIf="message">
      {{message}}
    </span>
        </div>
        <div class="files-list">
          <div class="single-file" *ngFor="let file of files; let i = index">
            <img *ngIf="file.video === null; else elseBlock" [src]="createImgPath(file.path)" width="45px" alt="file">
            <ng-template #elseBlock>
              <video [src]="createImgPath(file.path)" style="width:90px; height:90px;" controls> </video>
            </ng-template>
            <div class="info">
              <p class="size" style="color: wheat">
                {{ formatBytes(file?.size) }}
              </p>
            </div>
            <img id="delete-media" src="../../../../assets/images/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i, file.mediaId)" draggable="false">
          </div>
        </div>
      </div>
    </div>
    <form>                                        <!--I want to kill myself..-->
      <textarea #text [(ngModel)]="textFileContent" [ngModelOptions]="{standalone: true}" class="form-control" rows="3">{{this.textFileContent}}</textarea>
      <app-history-BC-science-upload (onUploadFinished)="uploadFinished($event)"></app-history-BC-science-upload>
      <div class="row">
        <div class="offset-md-5 col-md-2">
          <button type="button" class="btn btn-primary" (click)="addPost(text.value)">Create Feed</button>
        </div>
      </div>
    </form>
  </section>
</article>
