<main role="main" class="sharebook-container align-items-flex-start flex-grow-expand flex-shrink"> <!--07.04.2021, Wednesday, 10:26 AM | Никому - никогда | ❄ outside ❄-->
    <div class="sharebook-container r-150rngu flex-grow-expand flex-shrink r-rthrr5">
        <div class="sharebook-container backface-visibility-hidden flex-grow-expand">
            <div class="sharebook-container align-items-stretch element-background-color-rgba flex-direction-row flex-grow-expand justify-content-space-between r-2llsf r-13qz1uu">
                <div class="sharebook-container r-kemksi main-left-right-vertical-border-color main-left-vertical-border-left-width main-right-vertical-border-right-width border-style-solid margin-left-right-auto r-11wrixw r-61z16t main-primary-column-max-width-600px r-13qz1uu z-index-1"
                     data-testid="primaryColumn">
                    <div class="sharebook-container">
                        <div class="sharebook-container backface-visibility-hidden r-kemksi border-bottom-color border-bottom-style-solid border-bottom-width-1px position-sticky r-1gn8etr r-1g40b8q">
                            <div class="sharebook-container r-1loqt21 r-136ojw6" data-testid="titleContainer">
                                <div class="sharebook-container height-53px r-136ojw6">
                                    <div class="sharebook-container">
                                        <div class="sharebook-container r-kemksi height-53px r-ymttw5">
                                            <div class="sharebook-container align-items-center flex-direction-row height-53px justify-content-center margin-left-right-auto header-max-width-1000px r-13qz1uu">
                                                <div class="sharebook-container align-items-flex-start align-self-stretch justify-content-center r-15ysp7h r-s8bhmr">
<!--                                                    <div aria-label="Back" role="button" tabindex="0"-->
<!--                                                         class="css-18t94o4 sharebook-container element-background-color-rgba element-border-color-rgba border-radius-9999px border-style-solid border-width-1px r-1w2pmg r-ero68b r-vkv6oe outline-style-none element-left-right-padding-0px transition-duration transition-property r-lrvibr"-->
<!--                                                         style="margin-left: calc(4px + (-1 * (42px - 1.5em)) / 2);">-->
<!--                                                        <div dir="auto"-->
<!--                                                             class="css-901oao align-items-center r-13gxpu9 r-6koalj flex-direction-row flex-grow-expand r-1qd0xha r-a023e6 r-b88u0q justify-content-center r-rjixqe r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">-->
<!--                                                            <svg viewBox="0 0 24 24"-->
<!--                                                                 class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">-->
<!--                                                                <g>-->
<!--                                                                    <path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path>-->
<!--                                                                </g>-->
<!--                                                            </svg>-->
<!--                                                            <span class="css-901oao css-16my406 css-bfa6kz r-poiln3 r-bcqeeo r-qvutc0"></span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                    <a href="#" class="link back-link" aria-label="Back" style="cursor: pointer"> <!--(click)="this.back()-->
                                                        <nb-icon icon="arrow-back"></nb-icon>
                                                    </a>
                                                </div>
                                                <div class="sharebook-container flex-grow-expand flex-shrink height-100-per justify-content-center">
                                                    <div class="sharebook-container align-items-flex-start"><h2 dir="auto" aria-level="2"
                                                                                           role="heading"
                                                                                           class="css-4rbku5 css-901oao sharebook-text lights-out-text-color font-family r-adyw6z r-1vr29t4 r-135wba7 r-bcqeeo text-overflow-wrap">
                                                        <span class="css-901oao css-16my406 text-font-family r-bcqeeo text-overflow-wrap">Thread</span>
                                                    </h2></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sharebook-container r-1p0dtai flex-direction-row justify-content-center r-1d2f490 r-12vffkv position-absolute r-zchlnj r-1wyyakw">
                                <div role="status" class="sharebook-container">
                                    <div aria-label="New Tweets are available. Push period to go to the beginning of your timeline and view them"
                                         role="button" aria-hidden="true"
                                         class="sharebook-cursor-pointer sharebook-container sharebook-background-color-blue border-radius-9999px r-1uusn97 justify-content-center opacity-0 outline-style-none left-right-padding-15px r-d3hbe1 transition-duration transition-property r-nx0j10">
                                        <div class="sharebook-container flex-direction-row padding-bottom-top-5px">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-1kihuf0 share-button-text-color svg-display-inline-block svg-fill-currentcolor miniature-element-height miniature-element-margin-right max-width-100-per svg-position-relative svg-vertical-align users-select-none r-19wmn03">
                                                <g>
                                                    <path d="M18.707 10.293l-6-6c-.39-.39-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L11 7.414V20c0 .553.447 1 1 1s1-.447 1-1V7.414l4.293 4.293c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path>
                                                </g>
                                            </svg>
                                            <div class="sharebook-container">
                                                <div class="sharebook-container flex-direction-row svg-flex-shrink-0"></div>
                                            </div>
                                            <div dir="auto"
                                                 class="css-901oao sharebook-text share-button-text-color font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">See new Tweets</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sharebook-container">
                            <div class="sharebook-container">
                                <section aria-labelledby="accessible-list-0" role="region" class="sharebook-container">
                                    <h1 dir="auto" aria-level="1" role="heading"
                                        class="css-4rbku5 css-901oao r-4iw3lz r-1xk2f4g r-109y4c4 overflow-hidden r-wwvuq4 position-absolute r-92ng3h"
                                        id="accessible-list-0">Conversation</h1>
                                    <div aria-label="Timeline: Conversation" class="sharebook-container">
                                        <div style="position: relative; min-height: 1215px;">
                                            <app-post-thread *ngIf="this.post"
                                                    [hasText]="!!post?.text"
                                                    [hasMedia]="!!post?.entities.medias"
                                                    [transform]="this?.setTransform(0)"
                                                    [isPoll]="!!post?.entities.poll"
                                                    [post]="post">
                                            </app-post-thread>
                                            <div style="position: absolute; width: 100%; transform: translateY(842.4px); transition: opacity 0.3s ease-out 0s;">
                                                <div class="sharebook-container display-block outline-style-none"></div>
                                            </div>
                                            <div style="position: absolute; width: 100%; transform: translateY(1016px); transition: opacity 0.3s ease-out 0s;">
                                                <div class="sharebook-container r-c66ptq">
                                                    <div class="sharebook-container r-o52ifk"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <app-sidebar-column></app-sidebar-column>
            </div>
        </div>
    </div>
</main>
