@import "../../../../sass/application";

.infinite-cards {
  nb-card {
    &.own-scroll {
      height: 50vh;
    }
  }
}

.r-150rngu {
}

.r-rthrr5 {
  width: 990px;
}

.r-2llsf {
  min-height: 100%;
}

.r-13qz1uu {
  width: 100%;
}


.r-kemksi {
  background-color: rgba(0,0,0,1.00);
}

.r-11wrixw {
  margin-left: 0px;
}

.r-61z16t {
  margin-right: 0px;
}

.r-1gn8etr {
  top: -0.5px;
}

.r-1g40b8q {
  z-index: 3;
}

.r-1loqt21 {
  cursor: pointer;
}


.r-136ojw6 {
  z-index: 2;
}

.r-ymttw5 {
  padding-left: 16px;
  padding-right: 16px;
}

.r-15ysp7h {
  min-height: 32px;
}

.r-s8bhmr {
  min-width: 56px;
}


.css-18t94o4 {
  cursor: pointer;
}


.r-1w2pmg {
  height: 0px;
}


.r-ero68b {
  min-height: 40px;
}

.r-vkv6oe {
  min-width: 40px;
}

.r-lrvibr {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.r-adyw6z {
  font-size: 20px;
}

.r-1vr29t4 {
  font-weight: 800;
}

.r-135wba7 {
  line-height: 24px;
}

.r-bcqeeo {
  min-width: 0px;
}

.r-4iw3lz {
  border-width: 0px;
}

.r-1xk2f4g {
  clip: rect(1px, 1px, 1px, 1px);
}

.r-109y4c4 {
  height: 1px;
}

.r-wwvuq4 {
  padding: 0px;
}

.r-92ng3h {
  width: 1px;
}


.r-c66ptq {
  height: calc(100px);
}

.r-o52ifk {
  height: 100px;
}
