<div class="root">
  <h1 i18n class="about-chessbook-title">
    What is Chessbook?
  </h1>

  <img class="planet" width="121px" height="147px" src="/assets/images/chessbook-about.svg" alt="mascot"/>

  <div class="description">
    <p i18n>
      Chessbook is what's happening in the chess world and what people are talking about right now.
    </p>

    <p i18n>
      It is free and ads free.
    </p>

    <p i18n>
      For more information, please visit <a target="_blank" rel="noopener noreferrer" href="https://chessbook.com">chessbook.com</a>.
    </p>
  </div>

  <div class="documentation">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-setup-account">Use Chessbook
            documentation</a>
          </div>

        <div i18n class="card-text">
          Discover how to setup your profile, what is a post and more!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/use-third-party-application">Chessbook
            Applications</a>
          </div>

        <div i18n class="card-text">
          Discover unofficial Android applications or browser addons!
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <a i18n target="_blank" rel="noopener noreferrer" href="https://docs.joinpeertube.org/contribute-getting-started">Contribute on
            Chessbook</a>
          </div>

        <div i18n class="card-text">
          Want to help to improve Chessbook? You can <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100010730917900">contact</a> the creator of this website and walk the walk together! :)
        </div>
      </div>
    </div>
  </div>

  <my-about-instance></my-about-instance>

  <div class="privacy-contributors">
    <my-about-peertube-contributors></my-about-peertube-contributors>

    <div class="p2p-privacy">
      <h2 class="section-title">
        <div class="anchor" id="privacy"></div> <!-- privacy anchor -->
        <ng-container i18n>P2P & Privacy</ng-container>
      </h2>
  </div>
</div>
