<div class="css-1dbjc4n r-13qz1uu r-417010" aria-hidden="false" style="min-height: 355px;">
  <main role="main" class="css-1dbjc4n r-16y2uox r-1wbh5a2">
    <div class="css-1dbjc4n r-150rngu r-16y2uox r-1wbh5a2">
      <div class="css-1dbjc4n r-1jgb5lz r-1x0uki6 r-1ye8kvj r-1j3t67a r-13qz1uu">
        <svg viewBox="0 0 24 24" class="r-1fmj7o5 r-4qtqp9 r-yyyyoo r-j66t93 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
          <g>
            <path
              d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
          </g>
        </svg>
        <h1 dir="auto" role="heading"
            class="css-4rbku5 css-901oao r-1fmj7o5 r-1qd0xha r-1blvdjr r-b88u0q r-ad9z0x r-15d164r r-mvpalk r-6ity3w r-bcqeeo r-q4m81j r-qvutc0">
          <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Log in to Sharebook</span></h1>
        <div class="css-1dbjc4n r-13qz1uu">
          <form action="/sessions" method="post" novalidate="">
            <div class="css-1dbjc4n"><input name="redirect_after_login" type="hidden" value="/"><input
              name="remember_me" type="hidden" value="1"><input name="authenticity_token" type="hidden"
                                                                value="2d4711b04d8a11eba1ea47e1edec921a"><input
              name="wfa" type="hidden" value="1"><input autocomplete="off" name="ui_metrics" type="hidden"
                                                        value="{&quot;rf&quot;:{&quot;aeb5ba7bedff33e629e9634ffcf2ccff14ae9ab5129dd36d7ffca43317376e76&quot;:250,&quot;a8f7a31ec88fa09dc4ab9b32bf57be3aa1470491bad7c14244d0191c60ec31da&quot;:0,&quot;a05c1102be214ee1e8a06163689619f4dab65af8b682f00c2f098a252108858d&quot;:22,&quot;aaee24ce14f17bbf69161755ec41b47ca9c6a1ab2cfbac523292b1b76b08c7cb&quot;:-237},&quot;s&quot;:&quot;GFGV618-Pyj-M55KUI0-u73eQTA1-YxdxDf5MBlyVVBFLWbKfI-6lE7iWSqsFiz3FiQSQWnNKT-M_qA0UItBdQPsk9cK_qEMIwJPL8RapS1JKfCnwh6xIWJhw7OWAROyI5queISayDkCsIG6-XBO7I_C6b-aOP0pMRgY2M_qwZR11NC-OktckVqgK444kFivuCN-iw3VeOqzmDNf7HQNEEcgD0ameG6wDnpI10S9klAJdtA0lUQmLMAkDkszpA-boVwRZgJ78hS1JK86bhdJ8pndG9Jr6qT7oC04H8TUmDC-TonGGcDpHaCblSVffgmjsfkdXpdjf26gGNTvjW0hGwAAAXbIDSnp&quot;}">
              <div class="css-1dbjc4n r-1j3t67a r-1w50u8q"><label
                class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
                <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                  <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
                    <div dir="auto"
                         class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0">
                      <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Phone, email, or username</span>
                    </div>
                  </div>
                  <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
                    <div dir="auto"
                         class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                      <input autocapitalize="none" autocomplete="on" autocorrect="off" name="session[username_or_email]"
                             spellcheck="false" type="text" dir="auto" data-focusable="true"
                             class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                             value=""></div>
                  </div>
                </div>
              </label>
                <div class="css-1dbjc4n r-18u37iz r-ou255f">
                  <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
                </div>
              </div>
              <div class="css-1dbjc4n r-1j3t67a r-1w50u8q"><label
                class="css-1dbjc4n r-1kqtdi0 r-z2wwpe r-rs99b7 r-18u37iz">
                <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                  <div class="css-1dbjc4n r-18u37iz r-1wtj0ep">
                    <div dir="auto"
                         class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-ou255f r-glunga r-qvutc0">
                      <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Password</span></div>
                  </div>
                  <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-1udh08x r-1inuy60 r-ou255f r-vmopo1">
                    <div dir="auto"
                         class="css-901oao r-1awozwy r-k200y r-1fmj7o5 r-6koalj r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-13qz1uu r-qvutc0">
                      <input autocapitalize="none" autocomplete="on" autocorrect="off" name="session[password]"
                             spellcheck="false" type="password" dir="auto" data-focusable="true"
                             class="r-30o5oe r-1niwhzg r-17gur6a r-1yadl64 r-deolkf r-homxoj r-poiln3 r-7cikom r-1ny4l3l r-t60dpp r-1dz5y72 r-fdjqy7 r-13qz1uu"
                             value=""></div>
                  </div>
                </div>
              </label>
                <div class="css-1dbjc4n r-18u37iz r-ou255f">
                  <div class="css-1dbjc4n r-13awgt0 r-eqz5dr r-1ah4tor r-vmopo1"></div>
                </div>
              </div>
              <div class="css-1dbjc4n">
                <div role="button" aria-disabled="true" disabled=""
                     class="css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-vlx1xi r-zg41ew r-1jayybb r-17bavie r-icoktb r-1ny4l3l r-15bsvpr r-o7ynqc r-6416eg r-lrvibr"
                     data-testid="LoginForm_Login_Button">
                  <div dir="auto"
                       class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                    <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                      class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Log in</span></span></div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div dir="auto"
             class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-1x0uki6 r-bcqeeo r-q4m81j r-qvutc0">
          <div class="css-1dbjc4n r-1d09ksm r-xoduu5 r-18u37iz r-1wbh5a2"><a
            href="https://twitter.com/account/begin_password_reset" role="link" data-focusable="true"
            class="css-4rbku5 css-18t94o4 css-901oao css-16my406 r-1n1174f r-1loqt21 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Forgot password?</span></a><span
            aria-hidden="true"
            class="css-901oao css-16my406 r-9ilb82 r-1q142lx r-1qd0xha r-ad9z0x r-bcqeeo r-ou255f r-qvutc0"><span
            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">·</span></span><a href="/i/flow/signup"
                                                                                                  role="link"
                                                                                                  data-focusable="true"
                                                                                                  class="css-4rbku5 css-18t94o4 css-901oao css-16my406 r-1n1174f r-1loqt21 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Sign up for Sharebook</span></a></div>
        </div>
      </div>
    </div>
  </main>
</div>
<div class="css-1dbjc4n r-hvic4v">
  <div class="css-1dbjc4n r-13qz1uu">
    <form action="/sessions" method="post" novalidate="">
      <div class="css-1dbjc4n"><input name="redirect_after_login" type="hidden" value="/"><input name="remember_me"
                                                                                                 type="hidden"
                                                                                                 value="1"><input
        name="authenticity_token" type="hidden" value="2d416c604d8a11eba1ea47e1edec921a"><input name="wfa" type="hidden"
                                                                                                value="1"><input
        autocomplete="off" name="ui_metrics" type="hidden"
        value="{&quot;rf&quot;:{&quot;aeb5ba7bedff33e629e9634ffcf2ccff14ae9ab5129dd36d7ffca43317376e76&quot;:250,&quot;a8f7a31ec88fa09dc4ab9b32bf57be3aa1470491bad7c14244d0191c60ec31da&quot;:0,&quot;a05c1102be214ee1e8a06163689619f4dab65af8b682f00c2f098a252108858d&quot;:22,&quot;aaee24ce14f17bbf69161755ec41b47ca9c6a1ab2cfbac523292b1b76b08c7cb&quot;:-237},&quot;s&quot;:&quot;GFGV618-Pyj-M55KUI0-u73eQTA1-YxdxDf5MBlyVVBFLWbKfI-6lE7iWSqsFiz3FiQSQWnNKT-M_qA0UItBdQPsk9cK_qEMIwJPL8RapS1JKfCnwh6xIWJhw7OWAROyI5queISayDkCsIG6-XBO7I_C6b-aOP0pMRgY2M_qwZR11NC-OktckVqgK444kFivuCN-iw3VeOqzmDNf7HQNEEcgD0ameG6wDnpI10S9klAJdtA0lUQmLMAkDkszpA-boVwRZgJ78hS1JK86bhdJ8pndG9Jr6qT7oC04H8TUmDC-TonGGcDpHaCblSVffgmjsfkdXpdjf26gGNTvjW0hGwAAAXbIDSnp&quot;}"><input
        name="session[username_or_email]" type="hidden" value=""><input name="session[password]" type="hidden" value="">
        <div class="css-1dbjc4n">
          <div role="button" data-focusable="true" tabindex="0"
               class="css-18t94o4 css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vuscfd r-1dhvaqw r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr"
               data-testid="LoginForm_Login_Button">
            <div dir="auto"
                 class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
              <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Log in</span></span></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
