@import "src/sass/application";

.infinite-cards {
  nb-card {
    &.own-scroll {
      height: 50vh;
    }
  }
}

.r-2llsf {
  min-height: 100%;
}


.main-left-vertical-border-left-width {
  border-left-width: 1px;
}


.ocean-line {
  height: 10px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
