@import "src/sass/application";

.infinite-cards {
  nb-card {
    &.own-scroll {
      height: 50vh;
    }
  }
}

//.image-margin-right {
//  margin-right: 25px
//}




.r-2llsf {
  min-height: 100%;
}

.r-641cr4 {

}

.r-150rngu {
}


.main-left-vertical-border-left-width {
  border-left-width: 1px;
}


.ocean-line {
  height: 10px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}



// sidebarColumn

.sidebarColumn-width {
  width: 350px;
}

.r-1l5qxre {
  padding-bottom: 59px;
}
