<div class="sharebook-container">
    <div class="sharebook-container flex-direction-row">
        <div class="sharebook-container open-space-container-flex-expand flex-grow-expand r-ttdzmv">
            <div class="sharebook-container r-15zivkp">
                <div class="sharebook-container flex-direction-row">
                    <div class="sharebook-container align-items-flex-end r-1hwvwag container-left-side-flex-expand justify-content-center r-15zivkp r-1b7u577">
                        <fa-icon [icon]="this.props.faIcon" [styles]="this.svgStyles"></fa-icon>
                    </div>
                    <div class="sharebook-container open-space-container-flex-expand flex-grow-expand">
                        <div class="sharebook-container flex-direction-row">
                            <div class="sharebook-container align-items-flex-start flex-shrink justify-content-center">

                                <div *ngIf="this.props.type === 'repost'" class="sharebook-container">
                                    <a [routerLink]="'/' + this.props.screenName.substring(1)" dir="auto" role="link" class=" css-18t94o4  third-wheel-color r-1loqt21 font-family r-a023e6 font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                                        <span class=" sharebook-text-inherit css-cens5h third-wheel-color text-font-family third-wheel-text-font-size font-weight-700 r-1cwl3u0 min-width-0px text-overflow-wrap"
                                              style="-webkit-line-clamp: 2;">
                                            <span dir="ltr" class="sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">
                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.props.displayName}}</span>
                                            </span> Reposted</span>
                                    </a>
                                </div>
                                <div *ngIf="this.props.type === 'pinned'" dir="auto" (click)="this.handleExpandClick()"
                                     class="css-cens5h third-wheel-color text-font-family r-n6v787 font-weight-700 r-1cwl3u0 min-width-0px text-overflow-wrap"
                                     id="id__y3ku4ie80vq"
                                     style="-webkit-line-clamp: 2;">
                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Pinned Post</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
