.r-15zivkp {
  margin-bottom: 4px;
}

.r-1hwvwag {
  flex-basis: 48px;
}

.r-1b7u577 {
  margin-right: 12px;
}

.css-18t94o4 {
  cursor: pointer;
}

.r-1loqt21 {
  cursor: pointer;
}

.r-a023e6 {
  font-size: 15px;
}

.r-rjixqe {
  line-height: 20px;
}

.r-1cwl3u0 {
  line-height: 16px;
}


a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: rgb(110, 118, 125);
  }
}




























