<div class="css-1dbjc4n r-aqfbo4 r-16y2uox">
    <div class="css-1dbjc4n r-1oszu61 r-1niwhzg r-18u37iz r-16y2uox r-1wtj0ep r-2llsf r-13qz1uu">
        <div class="css-1dbjc4n r-kemksi r-1kqtdi0 r-1ljd8xs r-13l2t4g r-1phboty r-1jgb5lz r-11wrixw r-61z16t r-1ye8kvj r-13qz1uu r-184en5c"
             data-testid="primaryColumn">
            <div class="css-1dbjc4n">
                <div class="css-1dbjc4n r-aqfbo4 r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-gtdqiz r-ipm5af r-1g40b8q">
                    <div class="css-1dbjc4n r-1loqt21 r-136ojw6">
                        <div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
                            <div class="css-1dbjc4n">
                                <div class="css-1dbjc4n r-kemksi r-1h3ijdo r-1j3t67a">
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
                                        <div class="css-1dbjc4n r-1habvwh r-1pz39u2 r-1777fci r-1vsu8ta r-u0dd49">
                                            <div aria-label="Back" role="button" data-focusable="true"
                                                 tabindex="0"
                                                 class="css-18t94o4 css-1dbjc4n r-1niwhzg r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vuscfd r-53xb7h r-1ny4l3l r-mk0yit r-o7ynqc r-6416eg r-lrvibr"
                                                 style="margin-left: calc(5px + (-1 * (41px - 1.5em)) / 2);">
                                                <div dir="auto"
                                                    class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                                                    <svg viewBox="0 0 24 24"
                                                         class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                                                        <g>
                                                            <path
                                                                    d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path>
                                                        </g>
                                                    </svg>
                                                    <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
                                            <div class="css-1dbjc4n r-1habvwh">
                                                <h2 aria-level="2" dir="auto" role="heading"
                                                    class="css-4rbku5 css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-1vr29t4 r-ad9z0x r-bcqeeo r-qvutc0">
                                                    <div class="css-1dbjc4n r-xoduu5 r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                        <div class="css-1dbjc4n r-1awozwy r-xoduu5 r-18u37iz r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                            <div class="css-1dbjc4n r-1awozwy r-xoduu5 r-18u37iz r-dnmrzs"><span
                                                                    class="css-901oao css-16my406 css-bfa6kz r-1fmj7o5 r-1qd0xha r-1vr29t4 r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0"><span
                                                                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">{{this.profileCurrent?.name}}</span></span></span><span
                                                                    class="css-901oao css-16my406 r-18u37iz r-1q142lx r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><svg
                                                                    viewBox="0 0 24 24"
                                                                    aria-label="Protected account"
                                                                    class="r-1fmj7o5 r-4qtqp9 r-yyyyoo r-1xvli5t r-9cviqr r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path
                                                                    d="M19.75 7.31h-1.88c-.19-3.08-2.746-5.526-5.87-5.526S6.32 4.232 6.13 7.31H4.25C3.01 7.31 2 8.317 2 9.56v10.23c0 1.24 1.01 2.25 2.25 2.25h15.5c1.24 0 2.25-1.01 2.25-2.25V9.56c0-1.242-1.01-2.25-2.25-2.25zm-7 8.377v1.396c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.396c-.764-.3-1.307-1.04-1.307-1.91 0-1.137.92-2.058 2.057-2.058 1.136 0 2.057.92 2.057 2.056 0 .87-.543 1.61-1.307 1.91zM7.648 7.31C7.838 5.06 9.705 3.284 12 3.284s4.163 1.777 4.352 4.023H7.648z"></path></g></svg></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h2>
                                                <div dir="auto"
                                                     class="css-901oao css-bfa6kz r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-qvutc0">
                                                    50
                                                    Tweets
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                    <div class="css-1dbjc4n r-1p0dtai r-18u37iz r-1777fci r-1d2f490 r-12vffkv r-u8s1d r-zchlnj r-1wyyakw">
                        <div role="status" class="css-1dbjc4n">
                            <div aria-label="New Tweets are available. Push period to go to the beginning of your timeline and view them"
                                 role="button" aria-hidden="true"
                                 class="css-18t94o4 css-1dbjc4n r-urgr8i r-sdzlij r-1uusn97 r-1777fci r-orgf3d r-1ny4l3l r-1j3t67a r-d3hbe1 r-o7ynqc r-6416eg r-nx0j10">
                                <div class="css-1dbjc4n r-18u37iz r-atwnbb">
                                    <svg viewBox="0 0 24 24"
                                         class="r-1kihuf0 r-jwli3a r-4qtqp9 r-yyyyoo r-1xvli5t r-7o8qx1 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-19wmn03">
                                        <g>
                                            <path
                                                    d="M18.707 10.293l-6-6c-.39-.39-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L11 7.414V20c0 .553.447 1 1 1s1-.447 1-1V7.414l4.293 4.293c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path>
                                        </g>
                                    </svg>
                                    <div class="css-1dbjc4n">
                                        <div class="css-1dbjc4n r-18u37iz r-1q142lx"></div>
                                    </div>
                                    <div dir="auto"
                                         class="css-901oao css-bfa6kz r-jwli3a r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"><span
                                            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">See new Tweets</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end fixed heading-->

                <div>
                    <div class="css-1dbjc4n r-16y2uox">
                        <div class="css-1dbjc4n r-1jgb5lz r-1ye8kvj r-13qz1uu">
                            <div class="css-1dbjc4n"><a routerLink="/{{this.profileCurrent?.name}}/header_photo" role="link"
                                                        aria-hidden="true" tabindex="-1"
                                                        class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1ny4l3l r-o7ynqc r-6416eg">
                                <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                    <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 33.3333%;"></div>
                                    <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                        <div aria-label=""
                                             class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                            <div
                                                    class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                    style="background-image: url(&quot;https://pbs.twimg.com/profile_banners/1282729794837393408/1594702607/1080x360&quot;);"></div>
                                            <img alt="" draggable="true"
                                                 src="https://pbs.twimg.com/profile_banners/1282729794837393408/1594702607/1080x360"
                                                 class="css-9pa8cd"></div>
                                    </div>
                                </div>
                            </a>
                                <div class="css-1dbjc4n r-ku1wi2 r-1j3t67a r-m611by">
                                    <div class="css-1dbjc4n r-obd0qt r-18u37iz r-1w6e6rj r-1wtj0ep"><a
                                            href="/WorldFeedTest12/photo" role="link"
                                            data-focusable="true"
                                            class="css-4rbku5 css-18t94o4 css-1dbjc4n r-kemksi r-1xc7w19 r-sdzlij r-1phboty r-14f9gny r-1loqt21 r-1gzrgec r-cnkkqs r-zjg7tu r-mtrfb5 r-1ny4l3l r-1udh08x r-o7ynqc r-6416eg r-1xce0ei">
                                        <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                            <div class="r-1adg3ll r-13qz1uu"
                                                 style="padding-bottom: 100%;"></div>
                                            <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                                <div aria-label=""
                                                     class="css-1dbjc4n r-sdzlij r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                                    <div
                                                            class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                            style="background-image: url('https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_200x200.jpg');"></div>
                                                    <img alt="" draggable="true"
                                                         src="https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_200x200.jpg"
                                                         class="css-9pa8cd"></div>
                                            </div>
                                        </div>
                                        <div
                                                class="css-1dbjc4n r-1twgtwe r-sdzlij r-rs99b7 r-1p0dtai r-1mi75qu r-1d2f490 r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                    </a>
                                        <div class="css-1dbjc4n r-obd0qt r-18u37iz r-1w6e6rj r-1h0z5md r-dnmrzs">
                                            <a href="/settings/profile"
                                               role="button"
                                               data-focusable="true"
                                               class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1niwhzg r-p1n3y5 r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-1w2pmg r-15d164r r-1vuscfd r-1dhvaqw r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr">
                                                <div dir="auto"
                                                     class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Edit profile</span></span>
                                                </div>
                                            </a></div>
                                    </div>
                                    <div class="css-1dbjc4n r-15d164r r-1g94qm0">
                                        <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                            <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                <div class="css-1dbjc4n r-1awozwy r-18u37iz r-dnmrzs">
                                                    <div dir="auto"
                                                         class="css-901oao r-1fmj7o5 r-1qd0xha r-1b6yd1w r-1vr29t4 r-ad9z0x r-bcqeeo r-qvutc0">
                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">{{this.profileCurrent?.name}}</span></span><span
                                                            class="css-901oao css-16my406 r-18u37iz r-1q142lx r-1qd0xha r-1b6yd1w r-ad9z0x r-bcqeeo r-qvutc0"><svg
                                                            viewBox="0 0 24 24" aria-label="Protected account"
                                                            class="r-1fmj7o5 r-4qtqp9 r-yyyyoo r-1xvli5t r-9cviqr r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path
                                                            d="M19.75 7.31h-1.88c-.19-3.08-2.746-5.526-5.87-5.526S6.32 4.232 6.13 7.31H4.25C3.01 7.31 2 8.317 2 9.56v10.23c0 1.24 1.01 2.25 2.25 2.25h15.5c1.24 0 2.25-1.01 2.25-2.25V9.56c0-1.242-1.01-2.25-2.25-2.25zm-7 8.377v1.396c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.396c-.764-.3-1.307-1.04-1.307-1.91 0-1.137.92-2.058 2.057-2.058 1.136 0 2.057.92 2.057 2.056 0 .87-.543 1.61-1.307 1.91zM7.648 7.31C7.838 5.06 9.705 3.284 12 3.284s4.163 1.777 4.352 4.023H7.648z"></path></g></svg></span>
                                                    </div>
                                                </div>
                                                <div class="css-1dbjc4n r-18u37iz r-1wbh5a2">
                                                    <div dir="ltr"
                                                         class="css-901oao css-bfa6kz r-9ilb82 r-18u37iz r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                        <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">{{this.profileCurrent?.screenName}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="css-1dbjc4n r-1adg3ll r-15d164r">
                                        <div class="css-1dbjc4n">
                                            <div dir="auto"
                                                 class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
                                                 data-testid="UserDescription"><span
                                                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">World Feed Bio </span><span
                                                    class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                    aria-label="Open book"
                                                    class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                    title="Open book"
                                                    style="height: 1.2em;"><div
                                                    class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                    style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f4d6.svg&quot;);"></div><img
                                                    alt="Open book" draggable="false"
                                                    src="https://abs-0.twimg.com/emoji/v2/svg/1f4d6.svg"
                                                    class="css-9pa8cd"></div></span><span
                                                    class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                    aria-label="♥"
                                                    class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                    style="height: 1.2em;"><div
                                                    class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                    style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/2665.svg&quot;);"></div><img
                                                    alt="♥" draggable="false"
                                                    src="https://abs-0.twimg.com/emoji/v2/svg/2665.svg"
                                                    class="css-9pa8cd"></div></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="css-1dbjc4n r-1adg3ll r-15d164r">
                                        <div dir="auto"
                                             class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-1vglu5a r-bcqeeo r-qvutc0"
                                             data-testid="UserProfileHeader_Items"><span
                                                class="css-901oao css-16my406 r-9ilb82 r-4qtqp9 r-1qd0xha r-ad9z0x r-zso239 r-bcqeeo r-qvutc0"><svg
                                                viewBox="0 0 24 24"
                                                class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1xvli5t r-7o8qx1 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path
                                                d="M7.75 11.083c-.414 0-.75-.336-.75-.75C7 7.393 9.243 5 12 5c.414 0 .75.336.75.75s-.336.75-.75.75c-1.93 0-3.5 1.72-3.5 3.833 0 .414-.336.75-.75.75z"></path><path
                                                d="M20.75 10.333c0-5.01-3.925-9.083-8.75-9.083s-8.75 4.074-8.75 9.083c0 4.605 3.32 8.412 7.605 8.997l-1.7 1.83c-.137.145-.173.357-.093.54.08.182.26.3.46.3h4.957c.198 0 .378-.118.457-.3.08-.183.044-.395-.092-.54l-1.7-1.83c4.285-.585 7.605-4.392 7.605-8.997zM12 17.917c-3.998 0-7.25-3.402-7.25-7.584S8.002 2.75 12 2.75s7.25 3.4 7.25 7.583-3.252 7.584-7.25 7.584z"></path></g></svg>Born May 3, 1999</span><span
                                                class="css-901oao css-16my406 r-9ilb82 r-4qtqp9 r-1qd0xha r-ad9z0x r-zso239 r-bcqeeo r-qvutc0"><svg
                                                viewBox="0 0 24 24"
                                                class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1xvli5t r-7o8qx1 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path
                                                d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path><circle
                                                cx="7.032" cy="8.75" r="1.285"></circle><circle cx="7.032"
                                                                                                cy="13.156"
                                                                                                r="1.285"></circle><circle
                                                cx="16.968" cy="8.75" r="1.285"></circle><circle cx="16.968"
                                                                                                 cy="13.156"
                                                                                                 r="1.285"></circle><circle
                                                cx="12" cy="8.75" r="1.285"></circle><circle cx="12" cy="13.156"
                                                                                             r="1.285"></circle><circle
                                                cx="7.032"
                                                cy="17.486"
                                                r="1.285"></circle><circle
                                                cx="12" cy="17.486" r="1.285"></circle></g></svg>Joined July 2020</span>
                                        </div>
                                    </div>
                                    <div class="css-1dbjc4n r-13awgt0 r-18u37iz r-1w6e6rj">
                                        <div class="css-1dbjc4n r-1mf7evn"><a href="/WorldFeedTest12/following"
                                                                              dir="auto" role="link"
                                                                              data-focusable="true"
                                                                              class="css-4rbku5 css-18t94o4 css-901oao r-1fmj7o5 r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
                                                                              title="3"><span
                                                class="css-901oao css-16my406 r-1fmj7o5 r-1qd0xha r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">3</span></span>
                                            <span
                                                    class="css-901oao css-16my406 r-9ilb82 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Following</span></span></a>
                                        </div>
                                        <div class="css-1dbjc4n"><a routerLink="/profile/followers" dir="auto"
                                                                    role="link" data-focusable="true"
                                                                    class="css-4rbku5 css-18t94o4 css-901oao r-1fmj7o5 r-1loqt21 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0"
                                                                    title="1"><span
                                                class="css-901oao css-16my406 r-1fmj7o5 r-1qd0xha r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">1</span></span>
                                            <span
                                                    class="css-901oao css-16my406 r-9ilb82 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Follower</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Profile timelines" role="navigation"
                                 class="css-1dbjc4n r-1awozwy r-1igl3o0 r-rull8r r-qklmqi r-18u37iz r-1h3ijdo">
                                <div class="css-1dbjc4n r-1awozwy r-1ro0kt6 r-18u37iz r-16y2uox r-1pi2tsx r-1udh08x">
                                    <div aria-label="Previous" role="button" aria-hidden="true"
                                         aria-disabled="true" disabled=""
                                         class="css-1dbjc4n r-kemksi r-icoktb r-1ny4l3l r-utggzx r-9qu9m4 r-u8s1d r-13tjlyg r-axxi2z r-1ftll1t r-184en5c"
                                         style="transform: translateX(-46.8px); height: 52px;">
                                        <svg viewBox="0 0 24 24"
                                             class="r-13zfj0p r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                            <g>
                                                <path
                                                        d="M8.914 12l6.793-6.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-7.5 7.5c-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L8.914 12z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="css-1dbjc4n r-1adg3ll r-16y2uox r-1wbh5a2 r-1pi2tsx r-1udh08x">
                                        <div role="tablist"
                                             class="css-1dbjc4n r-18u37iz r-16y2uox r-1wbh5a2 r-tzz3ar r-1pi2tsx r-lltvgl r-buy8e9 r-mfh4gg r-2eszeu r-hbs49y"
                                             style="scroll-padding: 39px;">
                                            <div role="presentation"
                                                 class="css-1dbjc4n r-16y2uox r-6b64d0 r-cpa5s6"><a
                                                    href="/WorldFeedTest12"
                                                    role="tab"
                                                    aria-selected="true"
                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1awozwy r-18p3no4 r-rull8r r-wgabs5 r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1777fci r-1ny4l3l r-1oqcu8e r-o7ynqc r-6416eg"
                                                    data-focusable="true">
                                                <div dir="auto"
                                                     class="css-901oao r-13gxpu9 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0">
                                                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Tweets</span>
                                                </div>
                                            </a></div>
                                            <div role="presentation"
                                                 class="css-1dbjc4n r-16y2uox r-6b64d0 r-cpa5s6"><a
                                                    href="/WorldFeedTest12/with_replies" role="tab"
                                                    aria-selected="false" tabindex="-1"
                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1awozwy r-oucylx r-rull8r r-wgabs5 r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1777fci r-1ny4l3l r-1oqcu8e r-o7ynqc r-6416eg">
                                                <div dir="auto"
                                                     class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Tweets &amp; replies</span>
                                                </div>
                                            </a></div>
                                            <div role="presentation"
                                                 class="css-1dbjc4n r-16y2uox r-6b64d0 r-cpa5s6"><a
                                                    href="/WorldFeedTest12/media"
                                                    role="tab"
                                                    aria-selected="false"
                                                    tabindex="-1"
                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1awozwy r-oucylx r-rull8r r-wgabs5 r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1777fci r-1ny4l3l r-1oqcu8e r-o7ynqc r-6416eg">
                                                <div dir="auto"
                                                     class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Media</span>
                                                </div>
                                            </a></div>
                                            <div role="presentation"
                                                 class="css-1dbjc4n r-16y2uox r-6b64d0 r-cpa5s6"><a
                                                    href="/WorldFeedTest12/likes"
                                                    role="tab"
                                                    aria-selected="false"
                                                    tabindex="-1"
                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1awozwy r-oucylx r-rull8r r-wgabs5 r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1777fci r-1ny4l3l r-1oqcu8e r-o7ynqc r-6416eg">
                                                <div dir="auto"
                                                     class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"><span
                                                        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Likes</span>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <div aria-label="Next" role="button" aria-hidden="true" aria-disabled="true"
                                         disabled=""
                                         class="css-1dbjc4n r-kemksi r-icoktb r-1ny4l3l r-utggzx r-9qu9m4 r-u8s1d r-zchlnj r-13tjlyg r-axxi2z r-1ftll1t r-184en5c"
                                         style="transform: translateX(46.8px); height: 52px;">
                                        <svg viewBox="0 0 24 24"
                                             class="r-13zfj0p r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                            <g>
                                                <path
                                                        d="M17.207 11.293l-7.5-7.5c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L15.086 12l-6.793 6.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </nav>
                            <div class="css-1dbjc4n">
                                <section aria-labelledby="accessible-list-2" role="region" class="css-1dbjc4n">
                                    <h1 aria-level="1" dir="auto"
                                        role="heading"
                                        class="css-4rbku5 css-901oao r-4iw3lz r-1xk2f4g r-109y4c4 r-1udh08x r-wwvuq4 r-u8s1d r-92ng3h"
                                        id="accessible-list-2">
                                        WorldFeedTest’s Tweets</h1>
                                    <div aria-label="Timeline: WorldFeedTest’s Tweets" class="css-1dbjc4n">
                                        <div style="position: relative; min-height: 6554.39px;">
                                            <app-post [hasText]="true" [hasMedia]="false" [transform]="0.2"></app-post>
                                            <app-post [hasText]="false" [hasMedia]="true" [transform]="100.6"></app-post>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-sidebar-column></app-sidebar-column>
    </div>
</div>


<!--<div *ngIf="account" class="row">-->
<!--  <div class="sub-menu">-->

<!--    <div class="actor">-->
<!--      <img [src]="account.avatarUrl" alt="Avatar" />-->

<!--      <div class="actor-info">-->
<!--        <div class="actor-names">-->
<!--          <div class="actor-display-name">{{ account.displayName }}</div>-->
<!--          <div class="actor-name">-->
<!--            <span>{{ account.nameWithHost }}</span>-->
<!--            <button [cdkCopyToClipboard]="account.nameWithHostForced" (click)="activateCopiedMessage()"-->
<!--                    class="btn btn-outline-secondary btn-sm copy-button"-->
<!--            >-->
<!--              <span class="glyphicon glyphicon-copy"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <span *ngIf="accountUser?.blocked" [ngbTooltip]="accountUser.blockedReason" class="badge badge-danger" i18n>Banned</span>-->
<!--          <span *ngIf="account.mutedByUser" class="badge badge-danger" i18n>Muted</span>-->
<!--          <span *ngIf="account.mutedServerByUser" class="badge badge-danger" i18n>Instance muted</span>-->
<!--          <span *ngIf="account.mutedByInstance" class="badge badge-danger" i18n>Muted by your instance</span>-->
<!--          <span *ngIf="account.mutedServerByInstance" class="badge badge-danger" i18n>Instance muted by your instance</span>-->

<!--          <app-users-moderation-dropdown-->
<!--            [prependActions]="prependModerationActions"-->
<!--            buttonSize="small" [account]="account" [users]="accountUser" placement="bottom-left auto"-->
<!--            (userChanged)="onUserChanged()" (userDeleted)="onUserDeleted()"-->
<!--          ></app-users-moderation-dropdown>-->
<!--        </div>-->
<!--        <div class="actor-followers" [title]="accountFollowerTitle">-->
<!--          {{ subscribersDisplayFor(naiveAggregatedSubscribers) }}-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="right-buttons">-->
<!--        <a *ngIf="isAccountManageable && !isInSmallView" routerLink="/app-account" class="btn btn-outline-tertiary mr-2" i18n>Manage account</a>-->
<!--        <app-subscribe-button *ngIf="videoChannels" [account]="account" [videoChannels]="videoChannels"></my-subscribe-button>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="links w-100">-->
<!--      <ng-template #linkTemplate let-item="item">-->
<!--        <a [routerLink]="item.routerLink" routerLinkActive="active" class="title-page">{{ item.label }}</a>-->
<!--      </ng-template>-->

<!--      <list-overflow [items]="links" [itemTemplate]="linkTemplate"></list-overflow>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="margin-content">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-container *ngIf="prependModerationActions">-->
<!--  <app-account-report #accountReportModal [account]="account"></my-account-report>-->
<!--</ng-container>-->























