@import "src/sass/application";

.r-2llsf {
  min-height: 100%;
}

.r-641cr4 {

}

.r-150rngu {
}


.main-left-vertical-border-left-width {
  border-left-width: 1px;
}




.ocean-line {
  height: 10px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
