<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<div *ngIf="success" class="alert alert-success">{{ success }}</div>

<div i18n class="current-email text-hint caption">
    Your current email is <span class="email">{{ user.email }}</span>.
    It is never shown to the public.
</div>

<div i18n class="pending-email" *ngIf="user.pendingEmail">
    <span class="email">{{ user.pendingEmail }}</span> is awaiting email verification
</div>

<form role="form" class="change-email" (ngSubmit)="changeEmail()" [formGroup]="form">
    <!--*ngIf="user.pluginAuth === null-->

    <div class="form-group">
        <input nbInput type="email" id="new-email" i18n-placeholder placeholder="New email" class="form-control"
                formControlName="new-email" [ngClass]="{ 'input-error': formErrors['new-email'] }"
        >
        <div *ngIf="formErrors['new-email']" class="form-error">
            {{ formErrors['new-email'] }}
        </div>
    </div>

    <div class="form-group">
        <input nbInput formControlName="password"
                                id="password"
                                i18n-placeholder placeholder="Current password"
                                [ngClass]="{ 'input-error': formErrors['password'] }"
                                autocomplete="current-password">
        <div *ngIf="formErrors['password']" class="form-error">
            {{ formErrors['password'] }}
        </div>
    </div>
        <input nbButton status="primary" type="submit" i18n-value value="Change email" [disabled]="!form.valid" >
</form>


<!--<nb-card>-->
<!--  <nb-card-header>EMAIL</nb-card-header>-->
<!--  <nb-card-body><div class="form-group">-->
<!--    <div i18n class="text-hint caption">-->
<!--      Your current email is <span class="email">{{ user?.email }}</span>-->
<!--    </div>-->
<!--    <label for="inputEmail">Email</label>-->
<!--    <input nbInput id="inputEmail" formControlName="email"-->
<!--           [status]="(email?.errors?.required || email?.hasError('pattern')) && email.touched ? 'danger' : 'primary'"-->
<!--           class="form-control"-->
<!--           placeholder="Email">-->
<!--    <ngx-validation-message label="Email"-->
<!--                            [showPattern]="email?.hasError('pattern') && email.touched"-->
<!--                            [showRequired]="email?.errors?.required && email.touched" min=1 max=120></ngx-validation-message>-->
<!--  </div>-->

<!--  </nb-card-body>-->
<!--  <nb-card-footer>-->
<!--    <button nbButton status="primary" [disabled]="!userForm.valid" (click)="save()" hero>Change email</button>-->
<!--  </nb-card-footer>-->
<!--</nb-card>-->


