@import '../../../../sharebook-nebular/theme/styles/core/mixins';
@import '../../../../theme/styles/themes';

@include nb-install-component() {
  button[nbButton] {
    margin: 0.25rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  input {
    width: 20rem;
  }

  :host {
    button {
      @include nb-ltr(margin, 0 0.75rem 0 0);
      @include nb-rtl(margin, 0 0 0 0.75rem);
    }
  }
}







//@import '_variables';
//@import '_mixins';
//
//label {
//  font-weight: $font-regular;
//  font-size: 100%;
//}
//
//my-input-toggle-hidden {
//  width: 340px;
//  display: block;
//}
//
//input[type=email] {
//  @include peertube-input-text(340px);
//
//  display: block;
//}
//
//input[type=submit] {
//  @include peertube-button;
//  @include orange-button;
//}
//
//.current-email,
//.pending-email {
//  margin-bottom: 15px;
//
//  .email {
//    font-weight: $font-semibold;
//  }
//}
//
//.form-group {
//  width: max-content;
//}
