<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-3">-->
<!--    </div>-->
<!--    <div class="col-lg-6" style="background-color: #000">-->
<!--      <h1 class="text-center">🚀⭐</h1>-->
<!--      <app-share-button></app-share-button>-->
<!--      <app-timeline></app-timeline>-->
<!--    </div>-->
<!--    <div class="col-lg-3">-->
<!--      <div *ngIf="this.isAuthorized">-->
<!--        <h3 style="color: darkgreen; unicode-bidi: bidi-override; direction: rtl">Only aliens can see this kk 👽</h3>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->












