<span *ngIf="menuItem.group">
  <nb-icon class="menu-icon" [config]="menuItem.icon" *ngIf="menuItem.icon"></nb-icon>
    {{ menuItem.title }}
</span>
<a *ngIf="menuItem.link && !menuItem.url && !menuItem.children && !menuItem.group"
   [routerLink]="menuItem.link"
   [queryParams]="menuItem.queryParams"
   [fragment]="menuItem.fragment"
   [queryParamsHandling]="menuItem.queryParamsHandling"
   [preserveFragment]="menuItem.preserveFragment"
   [skipLocationChange]="menuItem.skipLocationChange"
   [attr.target]="menuItem.target"
   [attr.title]="menuItem.title"
   [class.active]="menuItem.selected"
   (mouseenter)="onHoverItem(menuItem)"
   (click)="onItemClick(menuItem);">

    <my-notification *ngIf="menuItem.title === 'Notifications'">

    </my-notification>

    <!--<nb-icon class="menu-icon" [config]="menuItem.icon" *ngIf="menuItem.icon"></nb-icon>-->
    <fa-icon *ngIf="menuItem.icon" class="menu-icon" [icon]="menuItem.icon"></fa-icon>
    <span class="menu-title main-menu-title">{{ menuItem.title }}</span>
    <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</a>
<a *ngIf="menuItem.url && !menuItem.children && !menuItem.link && !menuItem.group"
   [attr.href]="menuItem.url"
   [attr.target]="menuItem.target"
   [attr.title]="menuItem.title"
   [class.active]="menuItem.selected"
   (mouseenter)="onHoverItem(menuItem)"
   (click)="onSelectItem(menuItem)">
    <fa-icon class="menu-icon" [icon]="menuItem.icon" *ngIf="menuItem.icon"></fa-icon>
    <span class="menu-title">{{ menuItem.title }}</span>
    <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</a>
<a *ngIf="!menuItem.children && !menuItem.link && !menuItem.url && !menuItem.group"
   [attr.target]="menuItem.target"
   [attr.title]="menuItem.title"
   [class.active]="menuItem.selected"
   (mouseenter)="onHoverItem(menuItem)"
   (click)="$event.preventDefault(); onItemClick(menuItem);">
    <fa-icon class="menu-icon" [icon]="menuItem.icon" *ngIf="menuItem.icon"></fa-icon>
    <span class="menu-title">{{ menuItem.title }}</span>
    <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
</a>
<style>
    fa-stack {
        height: 26.08px;
    }
</style>
<a *ngIf="menuItem.children"
   (click)="$event.preventDefault(); onToggleSubMenu(menuItem);"
   [attr.target]="menuItem.target"
   [attr.title]="menuItem.title"
   [class.active]="menuItem.selected"
   (mouseenter)="onHoverItem(menuItem)"
   href="#">
    <fa-icon *ngIf="menuItem.icon && !(this.menuItem.title === 'More')" [icon]="menuItem.icon" class="menu-icon"></fa-icon>
    <fa-stack *ngIf="this.menuItem.icon && this.menuItem.title === 'More'" size="sm" class="menu-icon">
        <fa-icon [icon]="menuItem.icon" stackItemSize="1x"></fa-icon>
        <fa-icon [icon]="this.faEllipsisH" [inverse]="true" stackItemSize="1x"></fa-icon>
    </fa-stack>
    <span class="menu-title">{{ menuItem.title }}</span>
    <ng-container *ngIf="badge" [ngTemplateOutlet]="badgeTemplate"></ng-container>
    <fa-icon class="expand-state" [icon]="getExpandStateIcon()"></fa-icon>


</a>
<ul *ngIf="menuItem.children"
    [class.collapsed]="!(menuItem.children && menuItem.expanded)"
    [class.expanded]="menuItem.expanded"
    [@toggle]="toggleState"
    class="menu-items">
    <ng-container *ngFor="let item of menuItem.children">
        <li nbMenuItem *ngIf="!item.hidden"
            [menuItem]="item"
            [badge]="item.badge"
            [class.menu-group]="item.group"
            (hoverItem)="onHoverItem($event)"
            (toggleSubMenu)="onToggleSubMenu($event)"
            (selectItem)="onSelectItem($event)"
            (itemClick)="onItemClick($event)"
            class="menu-item">
        </li>
    </ng-container>
</ul>

<ng-template #badgeTemplate>
    <nb-badge [text]="badge.text" [dotMode]="badge.dotMode" [status]="badge.status">
    </nb-badge>
</ng-template>
