<div
        [ngbPopover]="popContent" autoClose="outside" placement="bottom" container={this}
        popoverClass="popover-notifications"
        title="View your notifications"
        [ngClass]="{ 'notification-inbox-popover': true, 'shown': opened, 'hidden': isInMobileView }"
        #popover="ngbPopover" (shown)="onPopoverShown()" (hidden)="onPopoverHidden()"
>
    <div *ngIf="unreadNotifications > 0" class="unread-notifications">{{ unreadNotifications }}</div>
</div>

<div *ngIf="isInMobileView" title="View your notifications" class="notification-inbox-link">
    <div *ngIf="unreadNotifications > 0" class="unread-notifications">{{ unreadNotifications }}</div>

    <a routerLink="/my-account/notifications" routerLinkActive="active" #link (click)="onNavigate(link)">
    </a>
</div>

<ng-template #popContent>
    <div class="content" [ngClass]="{ loaded: loaded }">
        <div class="notifications-header">
            <div>Notifications</div>

            <div>
            </div>
        </div>
    </div>
</ng-template>
