<div class="css-1dbjc4n r-16y2uox r-lrvibr">
    <div class="css-1dbjc4n r-1pz39u2 r-13awgt0 r-18u37iz r-1xnzce8">
        <section aria-labelledby="root-header" aria-label="Section navigation" role="region"
                 class="css-1dbjc4n r-1kqtdi0 r-1ljd8xs r-13l2t4g r-1phboty r-13awgt0 r-1jgb5lz r-1ye8kvj r-1udh08x r-13qz1uu">
            <div class="css-1dbjc4n r-aqfbo4 r-gtdqiz r-ipm5af r-184en5c">
                <div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
                    <div class="css-1dbjc4n">
                        <div class="css-1dbjc4n r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-1h3ijdo r-1j3t67a">
                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
                                <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
                                    <div class="css-1dbjc4n r-1habvwh"><h2 aria-level="2" dir="auto" role="heading"
                                                                           class="css-4rbku5 css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-1vr29t4 r-ad9z0x r-bcqeeo r-qvutc0"
                                                                           id="root-header"><span
                                            class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Settings</span>
                                    </h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="css-1dbjc4n r-qocrb3 r-kemksi r-1h0z5md r-170oy42 r-1jgb5lz r-1ye8kvj r-13qz1uu">
                <div role="tablist" class="css-1dbjc4n">
                    <div class="css-1dbjc4n"><a routerLink="/settings/account" role="tab" aria-selected="false"
                                                data-focusable="true"
                                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1wtj0ep r-eia128 r-1ny4l3l r-1j3t67a r-1w50u8q r-o7ynqc r-6416eg">
                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-16y2uox">
                            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Your account</span>
                                </div>
                            </div>
                            <app-global-icon iconName="angleArrowPointingToRight"></app-global-icon>
                        </div>
                    </a></div>
                    <div class="css-1dbjc4n"><a routerLink="/settings/security_and_account_access" role="tab"
                                                aria-selected="false" data-focusable="true"
                                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1wtj0ep r-eia128 r-1ny4l3l r-1j3t67a r-1w50u8q r-o7ynqc r-6416eg">
                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-16y2uox">
                            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Security and account access</span>
                                </div>
                            </div>
                            <app-global-icon iconName="angleArrowPointingToRight"></app-global-icon>
                        </div>
                    </a></div>
                    <div class="css-1dbjc4n r-1ysxnx4"><a routerLink="/settings/privacy_and_safety" role="tab"
                                                          aria-selected="true" data-focusable="true"
                                                          class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1wtj0ep r-eia128 r-1ny4l3l r-1j3t67a r-1w50u8q r-o7ynqc r-6416eg">
                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-16y2uox">
                            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Privacy and safety</span>
                                </div>
                            </div>
                            <app-global-icon iconName="angleArrowPointingToRight"></app-global-icon>
                        </div>
                    </a>
                        <div class="css-1dbjc4n r-4rwt92 r-14skgim r-18p6if4 r-1p0dtai r-1d2f490 r-633pao r-u8s1d r-zchlnj r-ipm5af r-184en5c"></div>
                    </div>
                    <div class="css-1dbjc4n"><a routerLink="/settings/notifications" role="tab" aria-selected="false"
                                                data-focusable="true"
                                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1wtj0ep r-eia128 r-1ny4l3l r-1j3t67a r-1w50u8q r-o7ynqc r-6416eg">
                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-16y2uox">
                            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Notifications</span>
                                </div>
                            </div>
                            <app-global-icon iconName="angleArrowPointingToRight"></app-global-icon>
                        </div>
                    </a></div>
                    <div class="css-1dbjc4n"><a routerLink="/settings/accessibility_display_and_languages" role="tab"
                                                aria-selected="false" data-focusable="true"
                                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1wtj0ep r-eia128 r-1ny4l3l r-1j3t67a r-1w50u8q r-o7ynqc r-6416eg">
                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-16y2uox">
                            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Accessibility, display, and languages</span>
                                </div>
                            </div>
                            <svg viewBox="0 0 24 24"
                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-dnmrzs r-1hfyk0a r-bnwqim r-1plcrui r-lrvibr">
                                <g>
                                    <path d="M17.207 11.293l-7.5-7.5c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L15.086 12l-6.793 6.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.023 0-1.414z"></path>
                                </g>
                            </svg>
                        </div>
                    </a></div>
                    <div class="css-1dbjc4n"><a routerLink="/settings/about" role="tab" aria-selected="false"
                                                data-focusable="true"
                                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1igl3o0 r-rull8r r-qklmqi r-1loqt21 r-1wtj0ep r-eia128 r-1ny4l3l r-1j3t67a r-1w50u8q r-o7ynqc r-6416eg">
                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-16y2uox">
                            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Additional resources</span>
                                </div>
                            </div>
                            <app-global-icon iconName="angleArrowPointingToRight"></app-global-icon>
                        </div>
                    </a></div>
                </div>
            </div>
        </section>
        <section aria-labelledby="detail-header" aria-label="Section details" role="region"
                 class="css-1dbjc4n r-1kqtdi0 r-13l2t4g r-1phboty r-1jgb5lz r-1ye8kvj r-1udh08x r-13qz1uu">
            <div class="css-1dbjc4n r-aqfbo4 r-gtdqiz r-ipm5af r-184en5c">
                <div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
                    <div class="css-1dbjc4n">
                        <div class="css-1dbjc4n r-kemksi r-1igl3o0 r-rull8r r-qklmqi r-1h3ijdo r-1j3t67a">
                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
                                <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
                                    <div class="css-1dbjc4n r-1habvwh"><h2 aria-level="2" dir="auto" role="heading"
                                                                           class="css-4rbku5 css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-1vr29t4 r-ad9z0x r-bcqeeo r-qvutc0"
                                                                           id="detail-header"><span
                                            class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">[title]</span>
                                    </h2></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="css-1dbjc4n r-qocrb3 r-kemksi r-1h0z5md r-170oy42 r-1jgb5lz r-1ye8kvj r-13qz1uu">
                <router-outlet></router-outlet>
            </div>
        </section>
    </div>
</div>
