<article class="container container-fluid">
  <section class="create">
    <h1 style="color: wheat;">Create PostModel</h1>
    <form>
      <textarea #text class="form-control" rows="1"></textarea>
      <app-history-BC-science-upload (onUploadFinished)="uploadFinished($event)"></app-history-BC-science-upload>
      <div class="row">
        <div class="offset-md-5 col-md-2">
          <button type="button" class="btn btn-primary" (click)="addPost(text.value)">Create PostModel</button>
        </div>
      </div>
    </form>
  </section>
</article>
