<nb-card>
    <nb-card-header>
        <p>
            Enter your twitch username
        </p>
        <p>
            When you go live your stream will show up here
        </p>
    </nb-card-header>
    <nb-card-body>
        <input #name nbInput placeholder="Username">
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="success" (click)="submit(name.value)">Submit</button>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
    </nb-card-footer>
</nb-card>
