<nb-card>
    <nb-card-header>
        <p class="h6" style="margin-bottom: 0px">
            Enter your Twitch username
        </p>
        <p class="subtitle-2 text-hint" style="margin-bottom: 0.5rem;">
            When you go live your stream will show <br> up here even if you don't stream chess
        </p>
    </nb-card-header>
    <nb-card-body>
        <input #name nbInput placeholder="Twitch username">
    </nb-card-body>
    <nb-card-footer>
        <button style="margin-right: 1rem;" class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
        <button nbButton status="success" (click)="submit(name.value)">Submit</button>
    </nb-card-footer>
</nb-card>
