<div class="sharebook-container backface-visibility-hidden container-left-side-margin-right-10px r-1hycxz"
     style="width: 80.8%; margin-left: 10px; height: 100vh;"> <!--style by mi!!-->
    <div class="sharebook-container height-100-per" style="min-height: 730.222px;">
        <div class="sharebook-container" style="margin-top: 0px;"></div>
        <div class="sharebook-container position-sticky r-1hycxz" style="bottom: -420px">
            <div class="sharebook-container display-block">
                <div class="sharebook-container">
                    <div class="sharebook-container r-1l5qxre component-padding-top">
                        <!--<app-search></app-search>-->
                        <my-search-typeahead class="w-100 d-flex"></my-search-typeahead> <!--justify-content-end-->
                        <app-trends [hideWhoToFollow]="this.hideWhoToFollow"></app-trends>
                        <app-who-to-follow *ngIf="!this.hideWhoToFollow"></app-who-to-follow>
                        <div class="sharebook-container main-left-right-vertical-border-color border-radius-16px border-style-solid input-form-border-width r-ku1wi2 overflow-hidden">
                            <nav aria-label="Footer" role="navigation"
                                 class="sharebook-container flex-direction-row flex-wrap left-right-padding-15px">
                                <a
                                        routerLink="/terms" dir="auto" role="link"
                                        data-focusable="true"
                                        class="sharebook-link sharebook-cursor-pointer css-901oao third-wheel-color cursor-pointer font-family third-wheel-text-font-size font-weight-400 line-height-calc r-hrzydr min-width-0px footer-padding-right text-overflow-wrap"
                                        rel=" noopener noreferrer"><span
                                        class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Terms of Service</span>
                                </a>
                                <a
                                        routerLink="/contact"
                                        dir="auto" role="link" data-focusable="true"
                                        class="sharebook-link sharebook-cursor-pointer css-901oao third-wheel-color cursor-pointer font-family third-wheel-text-font-size font-weight-400 line-height-calc r-hrzydr min-width-0px footer-padding-right text-overflow-wrap"
                                        rel=" noopener noreferrer"><span
                                        class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Contact us</span>
                                </a>
                                <a
                                        routerLink="/about"
                                        dir="auto" role="link" data-focusable="true"
                                        class="sharebook-link sharebook-cursor-pointer css-901oao third-wheel-color cursor-pointer font-family third-wheel-text-font-size font-weight-400 line-height-calc r-hrzydr min-width-0px footer-padding-right text-overflow-wrap"
                                        rel=" noopener noreferrer"><span
                                        class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">About</span>
                                </a>
                                <a
                                        [nbPopover]="this.feedbackFormComponent" nbPopoverTrigger="click"
                                        href="javascript:void(0)"
                                        dir="auto" role="link" data-focusable="true"
                                        class="sharebook-link sharebook-cursor-pointer css-901oao third-wheel-color cursor-pointer font-family third-wheel-text-font-size font-weight-400 line-height-calc r-hrzydr min-width-0px footer-padding-right text-overflow-wrap"
                                        rel=" noopener noreferrer"><span
                                        class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Send Feedback</span>
                                </a>
                                <nb-actions size="small">
                                    <nb-action class="user-action">
                                        <div [nbContextMenu]="this.moreMenu" aria-expanded="false"
                                             aria-haspopup="true" aria-label="More" role="button"
                                             data-focusable="true"
                                             tabindex="0"
                                             class="sharebook-cursor-pointer sharebook-container r-hrzydr footer-padding-right">
                                            <div dir="auto"
                                                 class="css-901oao third-wheel-color font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">
                                                More
                                                <fa-icon [icon]="this.faEllipsisH" size="lg" class="svg-display-inline-block svg-fill-currentcolor meatballs-menu-height max-width-100-per r-1p4rafz svg-position-relative svg-vertical-align users-select-none" style="margin-bottom: 4px;"></fa-icon>
                                            </div>
                                        </div>
                                    </nb-action>
                                </nb-actions>
                                <div dir="auto"
                                     class="css-901oao third-wheel-color font-family third-wheel-text-font-size font-weight-400 line-height-calc r-hrzydr min-width-0px footer-padding-right text-overflow-wrap">
                  <span
                          class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">© {{ this.currentYear }}
                      Chessbook</span>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
