<div class="css-1dbjc4n r-aqfbo4 r-zso239 r-1hycxz" data-testid="sidebarColumn">
  <div class="css-1dbjc4n r-1pi2tsx" style="min-height: 730.222px;">
    <div class="css-1dbjc4n" style="margin-top: 0px;"></div>
    <div class="css-1dbjc4n r-gtdqiz r-1hycxz" style="bottom: -420px">
      <div class="css-1dbjc4n r-1adg3ll">
        <div class="css-1dbjc4n">
          <div class="css-1dbjc4n r-1l5qxre r-m611by">
            <app-search></app-search>
            <app-trends></app-trends>
            <app-who-to-follow></app-who-to-follow>
            <div class="css-1dbjc4n r-1niwhzg r-1kqtdi0 r-1867qdf r-1phboty r-1yadl64 r-ku1wi2 r-1udh08x">
              <nav aria-label="Footer" role="navigation" class="css-1dbjc4n r-18u37iz r-1w6e6rj r-1j3t67a"><a
                href="https://twitter.com/tos" target="_blank" dir="auto" role="link" data-focusable="true"
                class="css-4rbku5 css-18t94o4 css-901oao r-9ilb82 r-1loqt21 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-hrzydr r-bcqeeo r-1qfoi16 r-qvutc0"
                rel=" noopener noreferrer"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Terms of Service</span></a><a
                href="https://twitter.com/privacy" target="_blank" dir="auto" role="link" data-focusable="true"
                class="css-4rbku5 css-18t94o4 css-901oao r-9ilb82 r-1loqt21 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-hrzydr r-bcqeeo r-1qfoi16 r-qvutc0"
                rel=" noopener noreferrer"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Privacy Policy</span></a><a
                href="https://support.twitter.com/articles/20170514" target="_blank" dir="auto" role="link"
                data-focusable="true"
                class="css-4rbku5 css-18t94o4 css-901oao r-9ilb82 r-1loqt21 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-hrzydr r-bcqeeo r-1qfoi16 r-qvutc0"
                rel=" noopener noreferrer"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Cookie Policy</span></a><a
                href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html" target="_blank"
                dir="auto" role="link" data-focusable="true"
                class="css-4rbku5 css-18t94o4 css-901oao r-9ilb82 r-1loqt21 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-hrzydr r-bcqeeo r-1qfoi16 r-qvutc0"
                rel=" noopener noreferrer"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Ads info</span></a>
                <div aria-expanded="false" aria-haspopup="true" aria-label="More" role="button" data-focusable="true"
                     tabindex="0" class="css-18t94o4 css-1dbjc4n r-hrzydr r-1qfoi16">
                  <div dir="auto" class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-qvutc0">
                    More
                    <svg viewBox="0 0 24 24"
                         class="r-4qtqp9 r-yyyyoo r-ip8ujx r-dnmrzs r-1p4rafz r-bnwqim r-1plcrui r-lrvibr">
                      <g>
                        <path
                          d="M19.39 14.882c-1.58 0-2.862-1.283-2.862-2.86s1.283-2.862 2.86-2.862 2.862 1.283 2.862 2.86-1.284 2.862-2.86 2.862zm0-4.223c-.75 0-1.362.61-1.362 1.36s.61 1.36 1.36 1.36 1.362-.61 1.362-1.36-.61-1.36-1.36-1.36zM12 14.882c-1.578 0-2.86-1.283-2.86-2.86S10.42 9.158 12 9.158s2.86 1.282 2.86 2.86S13.578 14.88 12 14.88zm0-4.223c-.75 0-1.36.61-1.36 1.36s.61 1.362 1.36 1.362 1.36-.61 1.36-1.36-.61-1.363-1.36-1.363zm-7.39 4.223c-1.577 0-2.86-1.283-2.86-2.86S3.034 9.16 4.61 9.16s2.862 1.283 2.862 2.86-1.283 2.862-2.86 2.862zm0-4.223c-.75 0-1.36.61-1.36 1.36s.61 1.36 1.36 1.36 1.362-.61 1.362-1.36-.61-1.36-1.36-1.36z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div dir="auto"
                     class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-hrzydr r-bcqeeo r-1qfoi16 r-qvutc0">
                  <span
                    class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">© 2021 Sharebook, Inc.</span>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
