@import "src/sass/application";

.r-1ekmkwe {
  max-width: calc(295px);
}

.r-1rnoaur {
  overflow-y: auto;
}

.r-1r851ge {
  overscroll-behavior: contain;
}

.r-hrzydr {
  margin-bottom: 2px;
  margin-top: 2px;
}





















