@import '../../theme/styles/themes';

@include nb-install-component() {
  nb-card {
    overflow: hidden;
  }

  nb-tabset {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    ::ng-deep ul {
      // make same size as card header
      padding-bottom: 1px;
      ::ng-deep .tab-link {
        padding: 1.25rem 2rem;
      }
    }
  }

  nb-tab {
    padding: 0;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
      border-top: none;
    }
  }
}




nb-card-body {
  padding: 0rem 0rem;
  margin: 0rem 0rem;
}

h2 {
  font-size: 19px;
  font-weight: 800;
}

.r-1xnzce8 {
  user-select: text;
}

.padding-bottom-top-15px {
  padding-bottom: 15px;
  padding-top: 15px;
}


.main-left-vertical-border-left-width {
  border-left-width: 1px;
}


.align-items-flex-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.r-16l9doz {
  height: auto;
}

.r-phn5h3 {
  width: 49px;
}


.r-1f6r7vd {
  margin-left: 5px;
}

.r-5qm60e {
  max-height: 39px;
}


.r-1omma8c {
  height: 5rem;
}

.pm-unread {
  nb-user ::ng-deep {
    .user-title {
      font-weight: 900;
      font-size: 0.9825rem;
    }
  }

}
