<div class="infinite-cards row">
    <div class="col-md-12 col-lg-5 col-xxxl-6">
        <nb-card>
            <nb-card-body>
                <section aria-labelledby="root-header" aria-label="Section navigation" role="region"
                         class="sharebook-container main-left-right-vertical-border-color main-left-vertical-border-left-width main-right-vertical-border-right-width border-style-solid flex-expand main-primary-column-max-width-600px overflow-hidden width-100-per"
                         style="height: 641px;"> <!--I PUT HEIGHT!--> <!--had margin-left-right-auto class-->
                    <nb-card size="giant">
                        <nb-tabset fullWidth>
                            <nb-tab tabTitle="Inbox" [nbSpinner]="!messages">
                                <nb-list>
                                    <nb-list-item [ngClass]="{'pm-unread': !m.isRead}" class="contact" matRipple *ngFor="let m of messages" routerLink="./{{m.id}}">
                                        <nb-user [picture]="m.fromUser.profileImageUrlHttps" [name]="m.fromUser.displayName" [title]="m.subject" size="large"></nb-user>
                                        <span class="caption"><app-date-toggle [date]="this.m.createdOn"></app-date-toggle></span>
                                    </nb-list-item>
                                </nb-list>
                            </nb-tab>

                            <nb-tab tabTitle="Sent" [nbSpinner]="!sent">
                                <nb-list>
                                    <nb-list-item class="contact" matRipple *ngFor="let m of sent" routerLink="./{{m.id}}">
                                        <nb-user [picture]="m.toUser.profileImageUrlHttps" [name]="m.toUser.displayName" [title]="m.subject" size="large"></nb-user>
                                        <span class="caption"><app-date-toggle [date]="this.m.createdOn"></app-date-toggle></span>
                                    </nb-list-item>
                                </nb-list>
                            </nb-tab>

                        </nb-tabset>
                    </nb-card>
                </section>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-12 col-lg-6 col-xxxl-6">
        <nb-card>
             <!--TODO: plz consider putting <nb-card-body>-->
            <app-detail-header-no-message-selected *ngIf="!this.isMessageSelected()"></app-detail-header-no-message-selected>
            <router-outlet></router-outlet>
        </nb-card>
    </div>
</div>
