.r-d0pm55 {
  margin-bottom: 5px;
}


.r-1loqt21 {
  cursor: pointer;
}


.r-loe9s5 {
  background-color: rgba(0, 0, 0, 0.77);
}

.r-1n430bm {
  left: 5px;
}


.r-12pp1o0 {
  top: 5px;
}


.r-inbvtb {
  right: 5px;
}


.css-4rbku5 {
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  list-style: none;
  margin: 0px;
  text-align: inherit;
  text-decoration: none;
}

.r-k200y {
  align-self: flex-start;
}

.r-9ilb82 {
  color: rgb(110, 118, 125);
}

.r-1sqfjza {
  margin-right: 49px;
}

.r-1udbk01 {
  text-overflow: ellipsis;
}

.r-1sf4r6n {
  line-height: calc(19.6875px);
}


.r-1xvli5t {
  height: 1.25em;
}

.r-a5pmau {
  margin-right: 2px;
}

.r-1p4wkip {
  background-color: rgba(26, 26, 26, 0.77);
}
