


.r-d9fdf6 {
  padding-left: 20px;
  padding-right: 20px;
}

.r-6wcr4z {
  padding-bottom: 39px;
  padding-top: 39px;
}

.r-15d164r {
  margin-bottom: 10px;
}

.r-ey96lj {
  white-space: pre-line;
}

.r-1x0uki6 {
  margin-top: 20px;
}











