@import "src/sass/application";

/*15.11.2020, Sunday*/
.r-aqfbo4 {
  backface-visibility: hidden;
}


.r-12vffkv {
  pointer-events: none!important;
}

.r-12vffkv > * {
  pointer-events: auto;
}

.r-12vffkv>* {
  pointer-events: auto;
}

.r-1xcajam {
  position: fixed !important; /*important by mi*/
}

.r-173mn98 {
  align-self: flex-end;
}

.r-c67a83 {
  border-top-left-radius: 16px;
}

.r-1qk6wnv {
  border-top-right-radius: 16px;
}

.r-qo02w8 {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

.r-1mf7evn {
  margin-right: 20px;
}

.r-hvns9x {
  max-width: 400px;
}

.r-1jte41z {
  min-width: 350px;
}


.r-11u3ssh {
  background-color: rgba(110, 118, 125, 0.4);
}
















.r-1867qdf {
  border-radius: 16px;
}

.r-rsyp9y {
  max-height: 90vh;
}

.r-1pjcn9w {
  max-width: 80vw;
}

.r-htvplk {
  min-width: 600px;
}

.r-1udh08x {
  overflow: hidden;
}

.r-1potc6q {
  top: 5%;
}

.r-kemksi {
  background-color: rgb(0, 0, 0);
}

.r-z2wwpe {
  border-radius: 4px;
}

.r-kicko2 {
  border-top-left-radius: 4px;
}

.r-notknq {
  border-top-right-radius: 4px;
}

.r-gfcssk {
  height: 0.2rem;
}

.r-lrvibr {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.r-1joz4e6 {
  transition-duration: 0.5s;
}

.r-11iat2r {
  transition-property: width;
}

.r-1c4c958 {
  transition-timing-function: linear;
}

.r-1wyyakw {
  /*z-index: -1;*/
}


.r-136ojw6 {
  z-index: 2;
}

.r-1igl3o0 {
  border-bottom-color: rgb(47, 51, 54);
}

.r-rull8r {
  border-bottom-style: solid;
}

.r-qklmqi {
  border-bottom-width: 1px;
}

.r-1awozwy {
  -webkit-box-align: center;
  align-items: center;
}

.r-1jgb5lz {
  margin-left: auto;
  margin-right: auto;
}

.r-sb58tz {
  max-width: 1000px;
}

.r-1pz39u2 {
  align-self: stretch;
}

.r-1vsu8ta {
  min-height: 30px;
}

.r-u0dd49 {
  min-width: 59px;
}

/*icon pointer?*/
.css-18t94o4 {
  cursor: pointer;
}

.r-1niwhzg {
  background-color: rgba(0, 0, 0, 0);
}

.r-42olwf {
  border-color: rgba(0, 0, 0, 0);
}

.r-sdzlij {
  border-radius: 9999px;
}

.r-1phboty {
  border-style: solid;
}

.r-rs99b7 {
  border-width: 1px;
}

.r-1w2pmg {
  height: 0px;
}


.r-1vuscfd {
  min-height: 39px;
}

.r-53xb7h {
  min-width: 39px;
}

.r-1ny4l3l {
  outline-style: none;
}

.r-mk0yit {
  padding-left: 0px;
  padding-right: 0px;
}

.r-o7ynqc {
  transition-duration: 0.2s;
}

.r-6416eg {
  transition-property: background-color, box-shadow;
}

.css-901oao {
  border: 0 solid black;
  box-sizing: border-box;
  color: rgba(0,0,0,1.00);
  display: inline;
  font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.r-13gxpu9 {
  color: rgba(29,161,242,1.00);
}

.r-6koalj {
  display: flex;
}

.r-1qd0xha {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.r-a023e6 {
  font-size: 15px;
}

.r-b88u0q {
  font-weight: 700;
}

.r-eljoum {
  line-height: 1;
}

.r-dnmrzs {
  max-width: 100%;
}

.r-q4m81j {
  text-align: center;
}

.r-4qtqp9 {
  display: inline-block;
}

.r-yyyyoo {
  fill: currentcolor;
}

.r-1q142lx {
  flex-shrink: 0;
}

.r-50lct3 {
  height: 1.5em;
}

.r-bnwqim {
  position: relative;
}

.r-1plcrui {
  vertical-align: text-bottom;
}

.r-1srniue {
  width: 1.5em;
}

.css-16my406 {
  color: inherit;
  font: inherit;
  white-space: inherit;
}

.css-bfa6kz {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.r-ad9z0x {
  line-height: 1.3125;
}

.r-bcqeeo {
  min-width: 0px;
}

.r-1ye8kvj {
  max-width: 600px;
}

/*scroller*/
.r-1dqxon3 {
  overflow: auto;
}

.r-1inuy60 {
  padding-bottom: 5px;
}


.r-atwnbb {
  padding-bottom: 5px;
  padding-top: 5px;
}


.r-18kxxzh {
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.r-zso239 {
  margin-right: 10px;
}

.r-glunga {
  padding-top: 5px;
}

.r-ahm1il {
  height: 49px;
}

.r-1adg3ll {
  display: block;
}


.r-1p0dtai {
  bottom: 0px;
}

.r-1d2f490 {
  left: 0px;
}



.r-ipm5af {
  top: 0px;
}

.r-g6jmlv {
  width: 100vw;
}





/*<div aria-label="WorldFeedTest"*/
.r-1mlwlqe {
  flex-basis: auto;
}

.r-zchlnj {
  right: 0px;
}

.r-417010 {
  z-index: 0;
}

/*end parent div*/


.r-vvn4in {
  background-position: center center;
}

.r-u6sd8q {
  background-repeat: no-repeat;
}

.r-4gszlv {
  background-size: cover;
}

.css-9pa8cd {
  bottom: 0px;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: -1;
}

.r-1twgtwe {
  border-color: rgba(0, 0, 0, 0.04);
}

.r-1mi75qu {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
}


.r-1iusvr4 {
  flex-basis: 0px;
}

.r-1bylmt5 {
  position: static;
}

.r-13tjlyg {
  transition-duration: 0.1s;
}

.r-7qyjyx {
  transition-property: opacity, color;
}

.r-1ftll1t {
  transition-timing-function: ease-out;
}

.r-184en5c {
  z-index: 1;
}

.r-d045u9 {
  border-width: 2px;
}

.r-1oszu61 {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.r-1yadl64 {
  border-width: 0px;
}

.r-deolkf {
  box-sizing: border-box;
}

.r-crgep1 {
  margin: 0px;
}

.r-ifefl9 {
  min-height: 0px;
}

.r-t60dpp {
  padding: 0px;
}

.r-eqz5dr {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.r-1wbh5a2 {
  flex-shrink: 1;
}

/*Whatâ€™shappening?*/
.r-1fmj7o5 {
  color: rgba(217,217,217,1.00);
}

.r-1b6yd1w {
  font-size: 19px;
}

.r-16dba41 {
  font-weight: 400;
}

.r-qvutc0 {
  overflow-wrap: break-word;
}

/*end parent div*/

.r-xoduu5 {
  display: inline-flex;
}

.r-1sp51qo {
  padding: 10px;
}

.r-17gur6a {
  border-radius: 0px;
}

.r-homxoj {
  color: inherit;
}

.r-poiln3 {
  font-family: inherit;
}

.r-7cikom {
  font-size: inherit;
}

.r-1ttztb7 {
  text-align: inherit;
}

.DraftEditor-root {
  width: 100%;
  position: relative;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
  height: inherit;
  text-align: initial;
  min-height: inherit;
  max-height: inherit;
  overflow: auto;
}

.DraftEditor-editorContainer {
  background-color: rgba(255, 255, 255, 0);
  border-left: .1px solid transparent;
  position: relative;
  z-index: 1;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
  height: inherit;
  text-align: initial;
  min-height: inherit;
  max-height: inherit;
  overflow: auto;
}


.public-DraftEditor-content[contenteditable=true] {
  -webkit-user-modify: read-write-plaintext-only;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content {
  height: inherit;
  text-align: initial;
  min-height: inherit;
  max-height: inherit;
  overflow: auto;
}

.public-DraftStyleDefault-block {
  position: relative;
  overflow: hidden;
  white-space: pre-wrap;
}

.public-DraftStyleDefault-ltr {
  direction: ltr;
  text-align: left;
}


.r-18u37iz {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
}

.r-1mi0q7o {
  padding-bottom: 24px; /*was 10*/
}

.r-aj3cln {
  min-width: calc(48.3px);
}


.r-ou255f {
  padding-left: 5px;
  padding-right: 5px;
}

.r-n6v787 {
  font-size: 13px;
}


.r-1sp7lne {
  margin-right: 0.5em;
}


.r-gu4em3 {
  background-color: rgb(47, 51, 54);
}


.r-109y4c4 {
  height: 1px;
}

.r-1w6e6rj {
  flex-wrap: wrap;
}


.r-id7aif {
  margin-left: 2px;
  margin-right: 2px;
}

.r-156q2ks {
  margin-top: 10px;
}

/*<div aria-label="Add photos or video"*/

.r-1vuahiu {
  margin: -10px;
}

.r-mvpalk {
  margin-left: 0px;
  margin-right: 0px;
}

.r-1imd94c {
  margin-left: -10px;
}

.r-8akbif {
  /*height: 0.1px;*/
}

.r-orgf3d {
  opacity: 0;
}


.r-xjis5s {
  /*width: 0.1px;*/
}

.r-ywje51 {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}


.r-18qmn74 {
  min-width: 30px;
}


.r-1i6wzkk {
  transition-property: opacity;
}

/*text length circle*/
.r-z80fyv {
  height: 20px;
}

.r-ghumyc {
  transform: rotate(-90deg);
}


.r-eafdt9 {
  transition-duration: 0.15s;
}

.r-19hi5yp {
  transition-property: height, width;
}

.r-19wmn03 {
  width: 20px;
}

.r-1wh73dq {
  background-color: rgb(61, 65, 69);
}

.r-1g7fiml {
  height: 30px;
}

.r-zpnitf {
  margin-left: calc(8px);
}

.r-92ng3h {
  width: 1px;
}

/*end*/

/*end*/

/*Tweet button 💙*/
.r-1n0xq6e {
  margin-left: 10px;
}

.r-1dhvaqw {
  min-width: calc(62.79px);
}

.r-1fneopy {
  padding-left: 1em;
  padding-right: 1em;
}

.r-jwli3a {
  color: rgb(255, 255, 255);
}

/*hover*/
.r-1q3imqu {
  background-color: rgb(26, 145, 218)
}

/*on file upload*/
.another-file-over-class {
  border-style: dashed;
}






