@import '_mixins';
@import '_variables';
@import "src/sass/application";

@import '../../theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 500px;

    min-width: 600px;
    min-height: 500px;
  }

  .cancel {
    margin-right: 1rem;
  }
}

.modal-header {
  border: none !important;
  padding: 0;
}

app-input-toggle-hidden {
  width: 100%;
}

.title-page.title-page-single {
  margin-top: 0;
}

.nav-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert {
  margin-top: 20px;
}
