<div class="row">
    <div class="cell cell-12 twitch">
        <div class="twitch-video">
            <iframe [src]="this.streamUrl | safe" frameborder="0" scrolling="no" allowfullscreen="true" height="100%" width="100%">
            </iframe>
        </div>
        <div class="twitch-chat">
            <iframe frameborder="0" scrolling="no" [src]="this.chatUrl | safe" height="100%" width="100%">
            </iframe>
        </div>
    </div>
</div>
<div class="root" [ngClass]="{ 'theater-enabled': false }">
        <div *ngIf="this.stream" class="margin-content video-bottom">
            <div class="video-info">
                <div class="video-info-first-row">
                    <div>
                        <div class="d-block"> <!--d-md-none-->
                            <!-- only shown on medium devices, has its counterpart for larger viewports below -->
                            <h1 class="video-info-name"> {{this.stream.title}} </h1>
                            <div class="video-info-date-views">
                                <ng-container>Started
                                    <app-date-toggle [date]="this.stream.started_at"></app-date-toggle>
                                </ng-container>
                                •
                                <app-video-views-counter [video]="this.stream"></app-video-views-counter>
                            </div>

                            <div class="video-actions-rates">
                                <div class="video-actions fullWidth justify-content-end">
                                    <nb-actions>
                                        <nb-action>
                                            <a nbButton size="small" status="primary" [href]="'https://www.twitch.tv/'+ this.stream.user_login" target="_blank">View on Twitch.tv</a>
                                        </nb-action>
                                    </nb-actions>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
