<div class="css-1dbjc4n r-1d2f490 r-105ug2t r-u8s1d r-zchlnj r-ipm5af">
    <div class="css-1dbjc4n r-12vffkv">
        <div class="css-1dbjc4n r-12vffkv">
            <div class="css-1dbjc4n r-1pz39u2 r-16y2uox r-1wbh5a2">
                <div data-focusable="true" tabindex="0" class="css-1dbjc4n"></div>
                <div data-focusable="true" tabindex="0" class="css-1dbjc4n">
                    <div class="css-1dbjc4n r-1p0dtai r-1d2f490 r-1xcajam r-zchlnj r-ipm5af"></div>
                    <div class="css-1dbjc4n r-1d2f490 r-u8s1d r-zchlnj r-ipm5af"></div>
                    <div role="menu"
                         class="css-1dbjc4n r-kemksi r-z2wwpe r-qo02w8 r-1ekmkwe r-1udh08x r-1rnoaur r-1r851ge r-1xcajam r-ipm5af"
                         style="max-height: calc(100vh - 0px); right: 1190.1px;">
                        <div>
                            <div class="css-1dbjc4n">
                                <div class="css-1dbjc4n">
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a href="/i/bookmarks" role="link"
                                                                                    data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M19.9 23.5c-.157 0-.312-.05-.442-.144L12 17.928l-7.458 5.43c-.228.164-.53.19-.782.06-.25-.127-.41-.385-.41-.667V5.6c0-1.24 1.01-2.25 2.25-2.25h12.798c1.24 0 2.25 1.01 2.25 2.25v17.15c0 .282-.158.54-.41.668-.106.055-.223.082-.34.082zM12 16.25c.155 0 .31.048.44.144l6.71 4.883V5.6c0-.412-.337-.75-.75-.75H5.6c-.413 0-.75.338-.75.75v15.677l6.71-4.883c.13-.096.285-.144.44-.144z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Bookmarks</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a href="/WorldFeedTest12/lists"
                                                                                    role="link" data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M19.75 22H4.25C3.01 22 2 20.99 2 19.75V4.25C2 3.01 3.01 2 4.25 2h15.5C20.99 2 22 3.01 22 4.25v15.5c0 1.24-1.01 2.25-2.25 2.25zM4.25 3.5c-.414 0-.75.337-.75.75v15.5c0 .413.336.75.75.75h15.5c.414 0 .75-.337.75-.75V4.25c0-.413-.336-.75-.75-.75H4.25z"></path>
                                                    <path d="M17 8.64H7c-.414 0-.75-.337-.75-.75s.336-.75.75-.75h10c.414 0 .75.335.75.75s-.336.75-.75.75zm0 4.11H7c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h10c.414 0 .75.336.75.75s-.336.75-.75.75zm-5 4.11H7c-.414 0-.75-.335-.75-.75s.336-.75.75-.75h5c.414 0 .75.337.75.75s-.336.75-.75.75z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Lists</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a href="/WorldFeedTest12/topics"
                                                                                    role="link" data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M12.003 23.274c-.083 0-.167-.014-.248-.042-.3-.105-.502-.39-.502-.708v-4.14c-2.08-.172-4.013-1.066-5.506-2.56-3.45-3.45-3.45-9.062 0-12.51s9.062-3.45 12.512 0c3.096 3.097 3.45 8.07.82 11.565l-6.49 8.112c-.146.182-.363.282-.587.282zm0-21.05c-1.882 0-3.763.717-5.195 2.15-2.864 2.863-2.864 7.524 0 10.39 1.388 1.387 3.233 2.15 5.195 2.15.414 0 .75.337.75.75v2.72l5.142-6.425c2.17-2.885 1.876-7.014-.696-9.587-1.434-1.43-3.316-2.148-5.197-2.148z"></path>
                                                    <path d="M15.55 8.7h-7.1c-.413 0-.75-.337-.75-.75s.337-.75.75-.75h7.1c.413 0 .75.335.75.75s-.337.75-.75.75zm-3.05 3.238H8.45c-.413 0-.75-.336-.75-.75s.337-.75.75-.75h4.05c.414 0 .75.336.75.75s-.336.75-.75.75z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Topics</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a href="/WorldFeedTest12/moments"
                                                                                    role="link" data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M8.98 22.698c-.103 0-.205-.02-.302-.063-.31-.135-.49-.46-.44-.794l1.228-8.527H6.542c-.22 0-.43-.098-.573-.266-.144-.17-.204-.393-.167-.61L7.49 2.5c.062-.36.373-.625.74-.625h6.81c.23 0 .447.105.59.285.142.18.194.415.14.64l-1.446 6.075H19c.29 0 .553.166.678.428.124.262.087.57-.096.796L9.562 22.42c-.146.18-.362.276-.583.276zM7.43 11.812h2.903c.218 0 .425.095.567.26.142.164.206.382.175.598l-.966 6.7 7.313-8.995h-4.05c-.228 0-.445-.105-.588-.285-.142-.18-.194-.415-.14-.64l1.446-6.075H8.864L7.43 11.812z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Moments</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a
                                            href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-ads-rweb"
                                            target="_blank" role="link" data-focusable="true"
                                            class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg"
                                            rel=" noopener noreferrer">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M20.75 22H3.25C2.01 22 1 20.99 1 19.75V4.25C1 3.01 2.01 2 3.25 2h17.5C21.99 2 23 3.01 23 4.25v15.5c0 1.24-1.01 2.25-2.25 2.25zM3.25 3.5c-.414 0-.75.337-.75.75v15.5c0 .413.336.75.75.75h17.5c.414 0 .75-.337.75-.75V4.25c0-.413-.336-.75-.75-.75H3.25z"></path>
                                                    <path d="M16.758 6.982h-5.806c-.414 0-.75.336-.75.75s.336.75.75.75h3.995L6.92 16.508c-.292.293-.292.768 0 1.06.147.147.34.22.53.22s.385-.072.53-.22l8.027-8.025v3.995c0 .414.336.75.75.75s.75-.336.75-.75V7.732c0-.414-.335-.75-.75-.75z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Twitter Ads</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a
                                            href="https://analytics.twitter.com/" target="_blank" role="link"
                                            data-focusable="true"
                                            class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg"
                                            rel=" noopener noreferrer">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M12 22c-.414 0-.75-.336-.75-.75V2.75c0-.414.336-.75.75-.75s.75.336.75.75v18.5c0 .414-.336.75-.75.75zm5.14 0c-.415 0-.75-.336-.75-.75V7.89c0-.415.335-.75.75-.75s.75.335.75.75v13.36c0 .414-.337.75-.75.75zM6.86 22c-.413 0-.75-.336-.75-.75V10.973c0-.414.337-.75.75-.75s.75.336.75.75V21.25c0 .414-.335.75-.75.75z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Analytics</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-gu4em3 r-109y4c4 r-hrzydr"></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a href="/settings" role="link"
                                                                                    data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg"
                                                                                    data-testid="settings">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                           <app-global-icon iconName="cog"></app-global-icon>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Settings and privacy</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a href="https://support.twitter.com/"
                                                                                    target="_blank" role="link"
                                                                                    data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg"
                                                                                    rel=" noopener noreferrer"
                                                                                    data-testid="help">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path d="M12.025 22.75c-5.928 0-10.75-4.822-10.75-10.75S6.098 1.25 12.025 1.25 22.775 6.072 22.775 12s-4.822 10.75-10.75 10.75zm0-20c-5.1 0-9.25 4.15-9.25 9.25s4.15 9.25 9.25 9.25 9.25-4.15 9.25-9.25-4.15-9.25-9.25-9.25z"></path>
                                                    <path d="M13.064 17.47c0-.616-.498-1.114-1.114-1.114-.616 0-1.114.498-1.114 1.114 0 .615.498 1.114 1.114 1.114.616 0 1.114-.5 1.114-1.114zm3.081-7.528c0-2.312-1.882-4.194-4.194-4.194-2.312 0-4.194 1.882-4.194 4.194 0 .414.336.75.75.75s.75-.336.75-.75c0-1.485 1.21-2.694 2.695-2.694 1.486 0 2.695 1.21 2.695 2.694 0 1.486-1.21 2.695-2.694 2.695-.413 0-.75.336-.75.75v1.137c0 .414.337.75.75.75s.75-.336.75-.75v-.463c1.955-.354 3.445-2.06 3.445-4.118z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Help Center</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a routerLink="/display" role="link"
                                                                                    data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <div role="presentation" class="css-1dbjc4n">
                                                <svg viewBox="0 0 24 24"
                                                     class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                    <g>
                                                        <path d="M15.692 11.205l6.383-7.216c.45-.45.45-1.18 0-1.628-.45-.45-1.178-.45-1.627 0l-7.232 6.402s.782.106 1.595.93c.548.558.882 1.51.882 1.51z"></path>
                                                        <path d="M17.45 22.28H3.673c-1.148 0-2.083-.946-2.083-2.11V7.926c0-1.165.934-2.112 2.082-2.112h5.836c.414 0 .75.336.75.75s-.336.75-.75.75H3.672c-.32 0-.583.274-.583.612V20.17c0 .336.26.61.582.61h13.78c.32 0 .583-.273.583-.61v-6.28c0-.415.336-.75.75-.75s.75.335.75.75v6.28c0 1.163-.934 2.11-2.084 2.11z"></path>
                                                    </g>
                                                </svg>
                                                <svg viewBox="0 0 24 24"
                                                     class="r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-1d2f490 r-zso239 r-dnmrzs r-u8s1d r-1plcrui r-ipm5af r-lrvibr">
                                                    <g>
                                                        <path d="M8.18 16.99c-.19.154-.476.032-.504-.21-.137-1.214-.234-4.053 1.483-5.943.908-1 3.02-1.52 4.475-.198s1.14 3.473.23 4.473c-2.07 2.15-3.428.058-5.686 1.878z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Display</span>
                                            </div>
                                        </div>
                                    </a></div>
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz"><a routerLink="/keyboard_shortcuts"
                                                                                    role="link" data-focusable="true"
                                                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-16y2uox r-dnmrzs r-1ny4l3l r-o7ynqc r-6416eg">
                                        <div class="css-1dbjc4n r-18u37iz r-16y2uox r-1j3t67a r-9qu9m4">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-9ilb82 r-4qtqp9 r-yyyyoo r-1q142lx r-1xvli5t r-zso239 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <circle cx="12" cy="6.674" r="1.889"></circle>
                                                    <path d="M9.828 14.817l-1.62 3.342c-.138.41.083.857.495.995s.858-.083.996-.495l1.602-3.176c.28-.557 1.076-.556 1.356 0l1.608 3.195c.138.41.584.632.996.494.412-.138.633-.584.495-.996l-1.62-3.342.032.07-.123-.262c-.483-1.027-.535-2.19-.16-3.24.106-.302.392-.505.712-.505h2.032c.434 0 .786-.353.786-.787 0-.434-.352-.786-.786-.786H7.37c-.435 0-.787.352-.787.786 0 .434.352.786.786.786h1.985c.32 0 .606.2.713.503.374 1.05.323 2.214-.158 3.24l-.125.263"></path>
                                                    <path d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75zm0-20C6.9 2.75 2.75 6.9 2.75 12S6.9 21.25 12 21.25s9.25-4.15 9.25-9.25S17.1 2.75 12 2.75z"></path>
                                                </g>
                                            </svg>
                                            <div dir="auto"
                                                 class="css-901oao css-bfa6kz r-1fmj7o5 r-16y2uox r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Keyboard shortcuts</span>
                                            </div>
                                        </div>
                                    </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-focusable="true" tabindex="0" class="css-1dbjc4n"></div>
            </div>
        </div>
    </div>
</div>
