<div class="compose-form__poll-wrapper">
    <ul>
        <ng-container *ngFor="let title of this.options; let i = index">
            <app-poll-form-option [options]="this.options" [title]="title" key="i" [index]="i" (change)="this.onChangeOption()" [onRemove]="this.onRemoveOption" [isPollMultiple]="this.isMultiple" [onToggleMultiple]="this.handleToggleMultiple" [autoFocus]="i === this.autoFocusIndex"></app-poll-form-option> <!--...other-->
        </ng-container>
    </ul>

    <div class="poll__footer">
        <!--class="button button-secondary"-->
        <button ghost nbButton status="primary" (click)="this.handleAddOption()"
                [disabled]="this.options.length >= 4">
            <nb-icon icon="plus-outline"></nb-icon>
        </button>

        <!--/* eslint-disable-next-line jsx-a11y/no-onchange */-->
<!--        <select [value]="this.expiresIn" (change)="this.handleSelectDuration($event)">-->
<!--            <option [value]="300">5 minutes</option>-->
<!--            <option [value]="1800">30 minutes</option>-->
<!--            <option [value]="3600">1 hour</option>-->
<!--            <option [value]="21600">6 hours</option>-->
<!--            <option [value]="86400">1 day</option>-->
<!--            <option [value]="259200">3 days</option>-->
<!--            <option [value]="604800">7 days</option>-->
<!--        </select>-->

        <nb-select [selected]="86400"  (selectedChange)="this.handleSelectDuration($event)">
            <nb-option [value]="300">5 minutes</nb-option>
            <nb-option [value]="1800">30 minutes</nb-option>
            <nb-option [value]="3600">1 hour</nb-option>
            <nb-option [value]="21600">6 hours</nb-option>
            <nb-option [value]="86400">1 day</nb-option>
            <nb-option [value]="259200">3 days</nb-option>
            <nb-option [value]="604800">7 days</nb-option>
        </nb-select>
    </div>
</div>


