<div class="css-1dbjc4n r-1p0dtai r-1adg3ll r-1d2f490 r-bnwqim r-zchlnj r-ipm5af">
  <div
    class="r-1oszu61 r-1phboty r-1yadl64 r-1p0dtai r-deolkf r-1adg3ll r-eqz5dr r-1d2f490 r-crgep1 r-ifefl9 r-bcqeeo r-t60dpp r-bnwqim r-zchlnj r-ipm5af r-417010">
    <div class="css-1dbjc4n r-1pz39u2 r-16y2uox r-1wbh5a2">
      <div data-focusable="true" tabindex="0" class="css-1dbjc4n"></div>
      <div data-focusable="true" tabindex="0"
           class="css-1dbjc4n r-1awozwy r-18u37iz r-1pi2tsx r-1777fci r-1xcajam r-ipm5af r-g6jmlv">
        <div class="css-1dbjc4n r-11z020y r-1p0dtai r-1d2f490 r-1xcajam r-zchlnj r-ipm5af"></div>
        <div aria-labelledby="modal-header" role="dialog" aria-modal="true"
             class="css-1dbjc4n r-1867qdf r-1wbh5a2 r-kwpbio r-rsyp9y r-1pjcn9w r-1279nm1 r-htvplk r-1udh08x">
          <div class="css-1dbjc4n r-kemksi r-16y2uox r-1wbh5a2">
            <div class="css-1dbjc4n r-1pz39u2 r-16y2uox r-1wbh5a2">
              <div data-focusable="true" tabindex="0" class="css-1dbjc4n"></div>
              <div data-focusable="true" tabindex="0" class="css-1dbjc4n r-kemksi r-6koalj r-16y2uox r-1wbh5a2">
                <div class="css-1dbjc4n r-1h3ijdo r-136ojw6">
                  <div class="css-1dbjc4n">
                    <div class="css-1dbjc4n r-kemksi r-1h3ijdo r-1j3t67a">
                      <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1h3ijdo r-1777fci r-1jgb5lz r-sb58tz r-13qz1uu">
                        <div
                          class="css-1dbjc4n r-1habvwh r-1pz39u2 r-1t2qqvi r-16y2uox r-1wbh5a2 r-1777fci r-1vsu8ta r-u0dd49">
                          <app-left-arrow></app-left-arrow>
                        </div>
                        <div class="css-1dbjc4n r-1awozwy r-16y2uox r-1wbh5a2 r-1pi2tsx r-1777fci">
                          <div class="css-1dbjc4n r-1habvwh"></div>
                          <div class="css-1dbjc4n r-1awozwy r-1pz39u2 r-6koalj r-16y2uox r-1777fci r-18qmn74">
                            <svg viewBox="0 0 24 24" aria-label="Twitter"
                                 class="r-1fmj7o5 r-4qtqp9 r-yyyyoo r-16y2uox r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                              <g>
                                <path
                                  d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path>
                              </g>
                            </svg>
                          </div>
                        </div>
                        <div class="css-1dbjc4n r-obd0qt r-1pz39u2 r-1t2qqvi r-16y2uox r-1wbh5a2 r-1777fci r-1joea0r r-1vsu8ta r-18qmn74">
                          <div appRegisterNextBtn role="button" class="css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vsu8ta r-aj3cln r-icoktb r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr"
                               aria-disabled="true" disabled="">
                            <div dir="auto"
                                 class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                              <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                                class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Next</span></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<app-suggestions-for-you-to-follow></app-suggestions-for-you-to-follow>-->
                <!--<app-interests></app-interests>-->
                <!--<app-description></app-description>-->
                <!--<app-profile-picture></app-profile-picture>-->
                <!--<app-password></app-password>-->
                <!--<app-email-verification-code></app-email-verification-code>-->
                <!--<app-create-your-account></app-create-your-account>-->
                <!--<app-customize-experience></app-customize-experience>-->
                <app-account-modal></app-account-modal>
                <div data-focusable="true" tabindex="0" class="css-1dbjc4n"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
