.r-11z020y {
  background-color: rgba(91, 112, 131, 0.4);
}

.r-kwpbio {
  height: 650px;
}

.r-1279nm1 {
  min-height: 400px;
}

.r-1t2qqvi {
  flex-basis: 50%;
}

.r-lwhw9o {
  height: 1.75rem;
}

.r-daml9f {
  color: rgb(224, 36, 94);
}
