<header role="banner" class="sharebook-container align-items-flex-end flex-grow-expand users-select-none header-z-index" style="width: 402.1px;">
    <!--style by mi-->
    <div class="sharebook-container menu-width">
        <div class="sharebook-container backface-visibility-hidden height-100-per r-1xcajam top-0px">
            <div class="sharebook-container height-100-per justify-content-space-between overflow-y-auto padding-left-right menu-width">
                <div class="sharebook-container align-items-flex-start">
                    <div class="sharebook-container max-width-100-per menu-logo-padding-bottom-top">
                        <h1 role="heading" class="sharebook-link sharebook-container align-items-center align-self-stretch cursor-pointer display-flex flex-grow-expand justify-content-center edge-element-min-width">
                            <a
                                    routerLink="/" aria-label="Sharebook" role="button" data-focusable="true"
                                    class="sharebook-link sharebook-cursor-pointer sharebook-container element-background-color-rgba element-border-color-rgba border-radius-9999px border-style-solid border-width-1px cursor-pointer border-height-0px min-height-49px min-width-49px outline-style-none element-left-right-padding-0px transition-duration transition-property users-select-none">
                                <div dir="auto"
                                     class="css-901oao align-items-center r-13gxpu9 display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap">
                                    <app-global-icon iconName="logo" aria-hidden="true"></app-global-icon>
                                    <span class="css-901oao sharebook-text-inherit sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap"></span>
                                </div>
                            </a></h1>
                    </div>
                    <div class="sharebook-container margin-bottom-5px margin-top-2px width-100-per">
                        <nav aria-label="Primary" role="navigation" class="sharebook-container align-items-flex-start flex-direction-column">
                                <ng-container *ngFor="let item of items">
                                    <span app-menu-item *ngIf="!item.hidden"
                                        [menuItem]="item"
                                        [class.menu-group]="item.group"
                                        (hoverItem)="onHoverItem($event)"
                                        (toggleSubMenu)="onToggleSubMenu($event)"
                                        (selectItem)="onSelectItem($event)"
                                        (itemClick)="onItemClick($event)"
                                        class="menu-item">
                                    </span>
                                </ng-container>
<!--                            <a routerLink="/home"-->
<!--                                aria-label="Home"-->
<!--                                role="link"-->
<!--                                data-focusable="true"-->
<!--                                class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-flex-start cursor-pointer display-flex flex-direction-column flex-grow-expand outline-style-none r-1ag2gil width-100-per"-->
<!--                                data-testid="AppTabBar_Home_Link">-->
<!--                            &lt;!&ndash;r-rjfia&ndash;&gt;-->
<!--                            <div class="sharebook-container align-items-center border-radius-9999px flex-direction-row justify-content-center max-width-100-per padding-10px transition-duration transition-property">-->
<!--                                <div class="sharebook-container">-->
<!--                                    <app-global-icon iconName="home" aria-hidden="true"></app-global-icon>-->
<!--                                </div>-->
<!--                                <div dir="auto" class="css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height margin-left-20px menu-text-container-margin-right min-width-0px text-overflow-wrap">-->
<!--                                    <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Home</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                            <a routerLink="/explore" aria-label="Search and explore" role="link" data-focusable="true"-->
<!--                               class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-flex-start cursor-pointer display-flex flex-direction-column flex-grow-expand outline-style-none r-1ag2gil width-100-per"-->
<!--                               data-testid="AppTabBar_Explore_Link">-->
<!--                            <div appHover-->
<!--                                 class="sharebook-container align-items-center border-radius-9999px flex-direction-row justify-content-center max-width-100-per padding-10px transition-duration transition-property">-->
<!--                                <div class="sharebook-container">-->
<!--                                    <app-global-icon iconName="explore" aria-hidden="true"></app-global-icon>-->
<!--                                </div>-->
<!--                                <div dir="auto"-->
<!--                                     class="css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height margin-left-20px menu-text-container-margin-right min-width-0px text-overflow-wrap">-->
<!--                                    <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Explore</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                            <a routerLink="/notifications" aria-label="Notifications" role="link" data-focusable="true"-->
<!--                               class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-flex-start cursor-pointer display-flex flex-direction-column flex-grow-expand outline-style-none r-1ag2gil width-100-per"-->
<!--                               data-testid="AppTabBar_Notifications_Link">-->
<!--                            <div appHover-->
<!--                                 class="sharebook-container align-items-center border-radius-9999px flex-direction-row justify-content-center max-width-100-per padding-10px transition-duration transition-property">-->
<!--                                <div class="sharebook-container">-->
<!--                                    <app-global-icon iconName="bell" aria-hidden="true"></app-global-icon>-->
<!--                                    <div dir="auto" aria-label="1 unread items" aria-live="polite"-->
<!--                                         class="css-901oao align-items-center sharebook-background-color-blue notifications-border-color border-radius-9999px border-style-solid border-width-1px notifications-count-box-sizing share-button-text-color display-flex svg-flex-shrink-0 font-family notifications-count-font-size font-weight-400 svg-height justify-content-center inside-element-container-line-height notifications-count-min-width position-absolute notifications-count-right notifications-count-top users-select-none white-space-nowrap text-overflow-wrap">-->
<!--                                        1-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div dir="auto"-->
<!--                                     class="css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height margin-left-20px menu-text-container-margin-right min-width-0px text-overflow-wrap">-->
<!--                                    <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Notifications</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                            <a routerLink="/messages" aria-label="Direct Messages" role="link" data-focusable="true"-->
<!--                               class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-flex-start cursor-pointer display-flex flex-direction-column flex-grow-expand outline-style-none r-1ag2gil width-100-per"-->
<!--                               data-testid="AppTabBar_DirectMessage_Link">-->
<!--                            <div-->
<!--                                 class="sharebook-container align-items-center border-radius-9999px flex-direction-row justify-content-center max-width-100-per padding-10px transition-duration transition-property">-->
<!--                                <div class="sharebook-container">-->
<!--                                    <app-global-icon iconName="messages" aria-hidden="true"></app-global-icon>-->
<!--                                </div>-->
<!--                                <div dir="auto"-->
<!--                                     class="css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height margin-left-20px menu-text-container-margin-right min-width-0px text-overflow-wrap">-->
<!--                                    <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Messages</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                            <a routerLink="/{{this.user?.name}}" aria-label="Profile" role="link" data-focusable="true" class="sharebook-link sharebook-cursor-pointer sharebook-container align-items-flex-start cursor-pointer display-flex flex-direction-column flex-grow-expand outline-style-none r-1ag2gil width-100-per">-->
<!--                            <div-->
<!--                                 class="sharebook-container align-items-center border-radius-9999px flex-direction-row justify-content-center max-width-100-per padding-10px transition-duration transition-property">-->
<!--                                <div class="sharebook-container">-->
<!--                                    <app-global-icon iconName="profile" aria-hidden="true"></app-global-icon>-->
<!--                                </div>-->
<!--                                <div dir="auto"-->
<!--                                     class="css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height margin-left-20px menu-text-container-margin-right min-width-0px text-overflow-wrap">-->
<!--                                    <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Profile</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
                            <div aria-expanded="false" aria-haspopup="true" aria-label="More menu items" role="button"
                                 data-focusable="true" tabindex="0"
                                 class="sharebook-cursor-pointer sharebook-container align-items-flex-start display-flex flex-direction-column flex-grow-expand outline-style-none r-1ag2gil width-100-per"
                                 data-testid="AppTabBar_More_Menu">
                                <div
                                     class="sharebook-container align-items-center border-radius-9999px flex-direction-row justify-content-center max-width-100-per padding-10px transition-duration transition-property">
                                    <div class="sharebook-container">
                                        <app-global-icon iconName="more" aria-hidden="true"></app-global-icon>
                                    </div>
                                    <div dir="auto"
                                         class="css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-700 inside-element-container-line-height margin-left-20px menu-text-container-margin-right min-width-0px text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">More</span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <app-share-button></app-share-button>
                </div>
                <div class="sharebook-container margin-bottom-top-10px">
                    <div class="sharebook-container">
                        <div role="button" data-focusable="true" tabindex="0"
                             class="sharebook-cursor-pointer sharebook-container align-items-center border-radius-9999px display-flex flex-direction-row outline-style-none padding-10px transition-duration transition-property"
                             data-testid="SideNav_AccountSwitcher_Button">
                            <div class="sharebook-container">
                                <div role="presentation"
                                     class="sharebook-container border-radius-9999px r-j66t93 outline-style-none overflow-hidden post-avatar-width-39px">
                                    <div class="sharebook-container display-block overflow-hidden" style="">
                                        <div class="display-block width-100-per" style="padding-bottom: 100%;"></div>
                                        <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                            <div aria-label="WorldFeedTest"
                                                 class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px image-z-index">
                                                <div
                                                        class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                        style="background-image: url('https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_normal.jpg');"></div>
                                                <img alt="WorldFeedTest" draggable="true"
                                                     src="https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_normal.jpg"
                                                     class="sharebook-image"></div>
                                        </div>
                                    </div>
                                    <div
                                            class="sharebook-container image-avatar-border-color border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px"></div>
                                </div>
                            </div>
                            <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                <div class="sharebook-container flex-grow-expand flex-shrink menu-profile-margin-left-right max-width-100-per outline-style-none">
                                    <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                        <div dir="auto"
                                             class="css-901oao sharebook-text lights-out-text-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                      <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap"><span
                              class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">{{this.user?.name}}</span></span>
                                        </div>
                                        <div dir="auto"
                                             class="css-901oao lights-out-text-color flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                            <svg viewBox="0 0 24 24" aria-label="Protected account"
                                                 class="lights-out-text-color svg-display-inline-block svg-fill-currentcolor miniature-element-height svg-margin-left max-width-100-per svg-position-relative svg-vertical-align users-select-none">
                                                <g>
                                                    <path
                                                            d="M19.75 7.31h-1.88c-.19-3.08-2.746-5.526-5.87-5.526S6.32 4.232 6.13 7.31H4.25C3.01 7.31 2 8.317 2 9.56v10.23c0 1.24 1.01 2.25 2.25 2.25h15.5c1.24 0 2.25-1.01 2.25-2.25V9.56c0-1.242-1.01-2.25-2.25-2.25zm-7 8.377v1.396c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.396c-.764-.3-1.307-1.04-1.307-1.91 0-1.137.92-2.058 2.057-2.058 1.136 0 2.057.92 2.057 2.056 0 .87-.543 1.61-1.307 1.91zM7.648 7.31C7.838 5.06 9.705 3.284 12 3.284s4.163 1.777 4.352 4.023H7.648z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="sharebook-container flex-direction-row flex-shrink">
                                        <div dir="ltr"
                                             class="css-901oao sharebook-text third-wheel-color flex-direction-row font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">{{this.user?.screenName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sharebook-container align-items-flex-end flex-grow-expand">
                                <app-global-icon iconName="3dots" aria-hidden="true"></app-global-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--<div class="menu-wrapper">-->
<!--  <menu [ngClass]="{ 'is-logged-in': isLoggedIn }">-->
<!--    <div class="top-menu">-->
<!--      <div *ngIf="isLoggedIn" class="logged-in-block">-->
<!--        <div>-->
<!--          <div class="logged-in-more" ngbDropdown #dropdown="ngbDropdown" placement="bottom-left" [container]="dropdownContainer" (openChange)="onDropdownOpenChange($event)" autoClose="outside">-->
<!--            <div ngbDropdownToggle>-->
<!--              <img [src]="users.accountAvatarUrl" alt="Avatar" />-->
<!--              <div class="logged-in-info">-->
<!--                <div class="logged-in-display-name">{{ users.account?.displayName }}</div>-->

<!--                <div class="logged-in-username">@{{ users.username }}</div>-->
<!--              </div>-->

<!--              <div class="dropdown-toggle-indicator">-->
<!--                <span class="glyphicon glyphicon-chevron-down"></span>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div ngbDropdownMenu>-->
<!--              <a *ngIf="users.account" ngbDropdownItem ngbDropdownToggle class="dropdown-item" [routerLink]="[ '/accounts', users.account.nameWithHost ]"-->
<!--                #profile (click)="onActiveLinkScrollToAnchor(profile)">-->
<!--                <my-global-icon iconName="go" aria-hidden="true"></my-global-icon> <ng-container i18n>Public profile</ng-container>-->
<!--              </a>-->

<!--              <div class="dropdown-divider"></div>-->

<!--              <a ngbDropdownItem ngbDropdownToggle class="dropdown-item" (click)="openLanguageChooser()">-->
<!--                <my-global-icon iconName="language" aria-hidden="true"></my-global-icon>-->
<!--                <span i18n>Interface:</span>-->
<!--                <span class="ml-auto text-muted">{{ currentInterfaceLanguage }}</span>-->
<!--              </a>-->

<!--              <a ngbDropdownItem ngbDropdownToggle class="dropdown-item" routerLink="/my-account/settings" fragment="video-languages-subtitles"-->
<!--                #settingsLanguagesSubtitles (click)="onActiveLinkScrollToAnchor(settingsLanguagesSubtitles)">-->
<!--                <my-global-icon iconName="video-lang" aria-hidden="true"></my-global-icon>-->
<!--                <span i18n>Videos:</span>-->
<!--                <span class="ml-auto text-muted">{{ videoLanguages.join(', ') }}</span>-->
<!--              </a>-->

<!--              <a ngbDropdownItem ngbDropdownToggle class="dropdown-item settings-sensitive" routerLink="/my-account/settings"-->
<!--                fragment="video-sensitive-content-policy" #settingsSensitiveContentPolicy-->
<!--                (click)="onActiveLinkScrollToAnchor(settingsSensitiveContentPolicy)">-->
<!--                <my-global-icon class="hover-display-toggle" [ngClass]="{ 'not-displayed': users.nsfwPolicy === 'display' }" iconName="sensitive" aria-hidden="true"></my-global-icon>-->
<!--                <my-global-icon class="hover-display-toggle" [ngClass]="{ 'not-displayed': users.nsfwPolicy !== 'display' }" iconName="unsensitive" aria-hidden="true"></my-global-icon>-->
<!--                <span i18n>Sensitive:</span>-->
<!--                <span class="ml-auto text-muted">{{ nsfwPolicy }}</span>-->
<!--              </a>-->

<!--              <a ngbDropdownItem class="dropdown-item" (click)="toggleUseP2P()">-->
<!--                <my-global-icon iconName="p2p" aria-hidden="true"></my-global-icon>-->
<!--                <ng-container i18n>Help share videos</ng-container>-->

<!--                <my-input-switch class="ml-auto" [checked]="users.webTorrentEnabled"></my-input-switch>-->
<!--              </a>-->

<!--              <div class="dropdown-divider"></div>-->

<!--              <a *ngIf="!isInMobileView" ngbDropdownItem ngbDropdownToggle class="dropdown-item" (click)="openHotkeysCheatSheet()">-->
<!--                <my-global-icon iconName="command" aria-hidden="true"></my-global-icon>-->
<!--                <ng-container i18n>Keyboard shortcuts</ng-container>-->
<!--              </a>-->

<!--              <a ngbDropdownItem ngbDropdownToggle (click)="logout($event)" class="dropdown-item" href="#">-->
<!--                <my-global-icon iconName="sign-out" aria-hidden="true"></my-global-icon>-->
<!--                <ng-container i18n>Log out</ng-container>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <my-notification (navigate)="onActiveLinkScrollToAnchor($event)"></my-notification>-->
<!--        </div>-->

<!--        <div class="logged-in-menu">-->
<!--          <a routerLink="/my-account" routerLinkActive="active" #settingsLink (click)="onActiveLinkScrollToAnchor(settingsLink)">-->
<!--            <my-global-icon iconName="users" aria-hidden="true"></my-global-icon>-->
<!--            <ng-container i18n>My account</ng-container>-->
<!--          </a>-->

<!--          <a routerLink="/my-library" routerLinkActive="active" #libraryLink (click)="onActiveLinkScrollToAnchor(libraryLink)">-->
<!--            <my-global-icon iconName="channel" aria-hidden="true"></my-global-icon>-->
<!--            <ng-container i18n>My library</ng-container>-->
<!--          </a>-->

<!--          <a *ngIf="userHasAdminAccess" [routerLink]="getFirstAdminRouteAvailable()" routerLinkActive="active">-->
<!--            <my-global-icon iconName="cog" aria-hidden="true"></my-global-icon>-->
<!--            <ng-container i18n>Administration</ng-container>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div *ngIf="!isLoggedIn" class="login-buttons-block">-->
<!--        <a i18n routerLink="/login" class="login-button">Login</a>-->
<!--        <a i18n *ngIf="isRegistrationAllowed()" routerLink="/signup" class="create-account-button">Create an account</a>-->
<!--      </div>-->

<!--      <div *ngIf="isLoggedIn" class="in-my-library">-->
<!--        <div i18n class="block-title">IN MY LIBRARY</div>-->

<!--        <a *ngIf="users.canSeeVideosLink" routerLink="/my-library/videos" routerLinkActive="active">-->
<!--          <my-global-icon iconName="videos" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Videos</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/my-library/video-playlists" routerLinkActive="active">-->
<!--          <my-global-icon iconName="playlists" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Playlists</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/subscriptions" routerLinkActive="active">-->
<!--          <my-global-icon iconName="subscriptions" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Subscriptions</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/my-library/history/videos" routerLinkActive="active">-->
<!--          <my-global-icon iconName="history" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>History</ng-container>-->
<!--        </a>-->

<!--      </div>-->

<!--      <div class="on-instance">-->
<!--        <div i18n class="block-title">ON {{instanceName}}</div>-->

<!--        <a routerLink="/videos/overview" routerLinkActive="active">-->
<!--          <my-global-icon iconName="globe" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Discover</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/trending" routerLinkActive="active">-->
<!--          <my-global-icon iconName="trending" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Trending</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/most-liked" routerLinkActive="active">-->
<!--          <my-global-icon iconName="like" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Most liked</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/recently-added" routerLinkActive="active">-->
<!--          <my-global-icon iconName="recently-added" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Recently added</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/local" routerLinkActive="active">-->
<!--          <my-global-icon iconName="home" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Local videos</ng-container>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="footer">-->
<!--      <div class="footer-block">-->
<!--        <a *ngIf="!isLoggedIn" (click)="openQuickSettings()">-->
<!--          <my-global-icon iconName="cog" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>My settings</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/about" routerLinkActive="active">-->
<!--          <my-global-icon iconName="help" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>About</ng-container>-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="bottom-links">-->

<!--        <div class="footer-links">-->
<!--          <div *ngIf="isLoggedIn === false">-->
<!--            <span role="button" (click)="openLanguageChooser()" class="c-hand" i18n>Interface: {{ currentInterfaceLanguage }}</span>-->
<!--          </div>-->

<!--          <div>-->
<!--            <a i18n routerLink="/about/instance">Contact</a>-->
<!--            <a i18n href="https://joinpeertube.org/help" i18n-title title="Get help using Sharebook" target="_blank" rel="noopener noreferrer">Help</a>-->
<!--            <a i18n href="https://joinpeertube.org/faq" i18n-title title="Frequently asked questions about PeerTube" target="_blank" rel="noopener noreferrer">FAQ</a>-->
<!--            <a i18n routerLink="/about/instance" fragment="statistics">Stats</a>-->
<!--            <a i18n href="https://docs.joinpeertube.org/api-rest-reference.html" i18n-title title="API documentation" target="_blank" rel="noopener noreferrer">API</a>-->
<!--            <a (click)="openHotkeysCheatSheet()" class="c-hand" i18n>Keyboard shortcuts</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="footer-copyleft">-->
<!--          <small class="d-inline" i18n-title title="powered by PeerTube - CopyLeft 2015-2020">-->
<!--            <a href="https://joinpeertube.org" class="mr-1" target="_blank" rel="noopener noreferrer" i18n>powered by PeerTube</a>-->

<!--            <a href="https://github.com/Chocobozzz/PeerTube/blob/develop/LICENSE" target="_blank" rel="noopener noreferrer">-->
<!--              <span aria-label="copyleft" class="d-inline-block" style="transform: rotateY(180deg)">&copy;</span> 2015-2020-->
<!--            </a>-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </menu>-->
<!--</div>-->

<!--<my-language-chooser #languageChooserModal></my-language-chooser>-->
<!--<my-quick-settings #quickSettingsModal></my-quick-settings>-->
