<nb-card>
    <nb-card-body>
        <ng-container *ngIf="this.user">
            <div class="actor">
                <div class="d-flex">
                    <img [src]="this.user.profileImageUrlHttps" alt="Avatar"/>

                    <!--          <nb-user [name]="actor?.name" [picture]="actor?.picture"></nb-user>-->

                    <div class="actor-img-edit-container">

                        <div *ngIf="!hasAvatar()" class="actor-img-edit-button" [ngbTooltip]="avatarFormat" placement="right"
                             container="body">
                            <app-global-icon iconName="upload"></app-global-icon>
                            <label class="sr-only" for="avatarfile" i18n>Upload a new avatar</label>
                            <input #avatarfileInput type="file" title=" " name="avatarfile" id="avatarfile"
                                   [accept]="avatarExtensions" (change)="onAvatarChange(avatarfileInput)"/>
                        </div>

                        <div *ngIf="hasAvatar()" class="actor-img-edit-button" #avatarPopover="ngbPopover"
                             [ngbPopover]="avatarEditContent" popoverClass="popover-avatar-info" autoClose="outside"
                             placement="right">
                            <app-global-icon iconName="edit"></app-global-icon>
                            <label class="sr-only" for="avatarMenu" i18n>Change your avatar</label>
                        </div>

                    </div>
                </div>


                <div class="actor-info">
                    <div class="actor-info-names">
                        <div class="actor-info-display-name">{{ user.name }}</div>
                        <div class="actor-info-username">{{ user.screenName }}</div>
                    </div>
                    <div i18n class="actor-info-followers">{{ user.followersCount ? this.user.followersCount : 0 }} followers</div>
                </div>
            </div>
        </ng-container>

        <ng-template #avatarEditContent>
            <div class="dropdown-item c-hand" [ngbTooltip]="avatarFormat" placement="right" container="body">
                <app-global-icon iconName="upload"></app-global-icon>
                <span for="avatarfile" i18n>Upload a new avatar</span>
                <input #avatarfileInput type="file" title=" " name="avatarfile" id="avatarfile" [accept]="avatarExtensions"
                       (change)="onAvatarChange(avatarfileInput)"/>
            </div>
            <div class="dropdown-item c-hand" (click)="deleteAvatar()" (key.enter)="deleteAvatar()">
                <app-global-icon iconName="delete"></app-global-icon>
                <span i18n>Remove avatar</span>
            </div>
        </ng-template>
    </nb-card-body>
</nb-card>


