<p-table
  [value]="users" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"
  [sortField]="sort.field" [sortOrder]="sort.order"  dataKey="id" [resizableColumns]="true" [(selection)]="selectedUsers"
  [lazy]="true" (onLazyLoad)="loadLazy($event)" [lazyLoadOnInit]="false"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {{'{first}'}} to {{'{last}'}} of {{'{totalRecords}'}} users"
  (onPage)="onPage($event)" [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="left-buttons">
        <app-action-dropdown
          *ngIf="isInSelectionMode()" label="Batch actions" theme="orange"
          [actions]="bulkUserActions" [entry]="selectedUsers"
        >
        </app-action-dropdown>

        <a *ngIf="!isInSelectionMode()" class="add-button" routerLink="/admin/users/create">
          <fa-icon [icon]="this.faUserPlus" aria-hidden="true"></fa-icon>
          <ng-container>Create user</ng-container>
        </a>
      </div>

      <button nbButton status="primary" size="small" style="margin-left: 0.5rem;" (click)="this.handleExport()">
        <fa-icon [icon]="this.faDownload" style="font-size: 14px;"></fa-icon>
        Export to Excel (all found)
      </button>

      <div class="ml-auto">
        <my-advanced-input-filter [filters]="inputFilters" (search)="onSearch($event)"></my-advanced-input-filter>
      </div>

    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px">
        <p-tableHeaderCheckbox ariaLabel="Select all rows"></p-tableHeaderCheckbox>
      </th>
      <th style="width: 40px"></th>
      <th style="width: 60px;">
        <div class="c-hand column-toggle" ngbDropdown placement="bottom-left auto" container="body" autoClose="outside">
          <fa-icon [icon]="this.faColumns" ngbDropdownToggle></fa-icon>

          <div role="menu" class="dropdown-menu" ngbDropdownMenu>
            <div class="dropdown-header">Table parameters</div>
            <div ngbDropdownItem class="dropdown-item">
              <app-select-checkbox
                name="columns"
                [availableItems]="columns"
                [selectableGroup]="false" [(ngModel)]="selectedColumns"
                placeholder="Select columns">
              </app-select-checkbox>
            </div>
            <div ngbDropdownItem class="dropdown-item">
              <app-peertube-checkbox inputName="highlightBannedUsers" [(ngModel)]="highlightBannedUsers"
                labelText="Highlight banned users"></app-peertube-checkbox>
            </div>
          </div>
        </div>
      </th>
      <th *ngIf="isSelected('username')" pResizableColumn  pSortableColumn="username">{{ getColumn('username').label }} <p-sortIcon field="username"></p-sortIcon></th>
      <th *ngIf="isSelected('email')">{{ getColumn('email').label }}</th>
<!--      <th *ngIf="isSelected('quota')" style="width: 160px;"  pSortableColumn="videoQuotaUsed">{{ getColumn('quota').label }} <p-sortIcon field="videoQuotaUsed"></p-sortIcon></th>-->
<!--      <th *ngIf="isSelected('quotaDaily')" style="width: 160px;">{{ getColumn('quotaDaily').label }}</th>-->
      <th *ngIf="isSelected('role')" style="width: 120px;"  pSortableColumn="role">{{ getColumn('role').label }} <p-sortIcon field="role"></p-sortIcon></th>
      <th *ngIf="isSelected('pluginAuth')" style="width: 140px;" pResizableColumn >{{ getColumn('pluginAuth').label }}</th>
      <th *ngIf="isSelected('createdAt')" style="width: 150px;"  pSortableColumn="createdAt">{{ getColumn('createdAt').label }} <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th *ngIf="isSelected('lastLoginDate')" style="width: 150px;"  pSortableColumn="lastLoginDate">{{ getColumn('lastLoginDate').label }} <p-sortIcon field="lastLoginDate"></p-sortIcon></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-user>

    <tr [pSelectableRow]="user" [ngClass]="{ banned: highlightBannedUsers && user.blocked }">
      <td class="checkbox-cell">
        <p-tableCheckbox [value]="user" ariaLabel="Select this row"></p-tableCheckbox>
      </td>

      <td class="expand-cell">
        <span *ngIf="user.blockedReason" class="expander" [pRowToggler]="user">
          <fa-icon [icon]="expanded ? this.faChevronDown : this.faChevronRight"></fa-icon>
        </span>
      </td>

      <td class="action-cell">
        <app-user-moderation-dropdown *ngIf="!isInSelectionMode()" [user]="user" container="body"
          (userChanged)="onUserChanged()" (userDeleted)="onUserChanged()">
        </app-user-moderation-dropdown>
      </td>

      <td *ngIf="isSelected('username')">
        <a title="Open account in a new tab" target="_blank" rel="noopener noreferrer" [routerLink]="[ '/' + user.screenName ]">
          <div class="chip two-lines">
            <my-actor-avatar [account]="user" size="32"></my-actor-avatar>
           <div>
              <span class="user-table-primary-text">{{ user.displayName }}</span>
              <span class="text-muted">{{ user.username }}</span>
            </div>
          </div>
        </a>
      </td>

      <td *ngIf="isSelected('email')" [title]="user.email">
        <ng-container *ngIf="!requiresEmailVerification || user.blocked; else emailWithVerificationStatus">
          <a class="table-email" [href]="'mailto:' + user.email">{{ user.email }}</a>
        </ng-container>
      </td>

      <ng-template #emailWithVerificationStatus>
        <td *ngIf="user.emailVerified === false; else emailVerifiedNotFalse" title="User's email must be verified to login">
          <em>? {{ user.email }}</em>
        </td>
        <ng-template #emailVerifiedNotFalse>
          <td title="User's email is verified / User can login without email verification">
            &#x2713; {{ user.email }}
          </td>
        </ng-template>
      </ng-template>

      <td *ngIf="isSelected('role')">
        <span *ngIf="user.blocked" class="badge badge-banned" title="The user was banned">{{ user.roleLabel }}</span>
        <span *ngIf="!user.blocked" class="badge" [ngClass]="getRoleClass(user.roles[0])">{{ user.roleLabel }}</span>
      </td>

      <td *ngIf="isSelected('createdAt')" [title]="user.createdOn">{{ user.createdOn | date: 'short' }}</td>

      <td *ngIf="isSelected('lastLoginDate')" [title]="user.lastLoginDate">{{ user.lastLoginDate | date: 'short' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-user>
    <tr class="user-blocked-reason">
      <td colspan="7">
        <span class="ban-reason-label">Ban reason:</span>
        {{ user.blockedReason }}
      </td>
    </tr>
  </ng-template>
</p-table>

<app-user-ban-modal #userBanModal (userBanned)="onUserChanged()"></app-user-ban-modal>
