<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <form [formGroup]="loginForm" (ngSubmit)="login()">  <!--[formGroup] is a directive-->
        <div class="form-group">
          <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder="New password">
        </div>
        <div class="form-group">
          <select class="form-control" id="month" formControlName="birthdayMonth" aria-label="Month" title="Month">
            <option *ngFor="let month of this.month; let i = index;" value="{{i}}">{{month}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" aria-label="Day" formControlName="birthdayDay" id="day" title="Day">
            <option value="0">Day</option>
            <option *ngFor="let day of this.days" value="{{day}}">{{day}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" aria-label="Year" formControlName="birthdayYear" id="year" title="Year">
            <option value="0">Year</option>
            <option *ngFor="let year of this.years" value="{{year}}">{{year}}</option>
          </select>
        </div>
        <div class="">Gender</div>
        <span class="_5k_3" data-type="radio" data-name="gender_wrapper" id="u_0_z">
          <span class="_5k_2 _5dba" *ngFor="let gender of this.gender; let i = index;">
            <input type="radio" formControlName="gender" value="{{i + 1}}" id="u_0_{{i + 1}}">
            <label class="gender-label" for="u_0_{{i + 1}}">{{gender}}</label>
          </span>
        </span>
        <p>Already have an account? <a [routerLink]="['/auth']">Sign in</a></p>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

