:host {
    align-self: stretch;

    &.horizontal {
        display: block;
        min-height: 0.063rem;
        height: 0.063rem;
    }

    &.vertical {
        display: inline-block;
        width: 0.063rem;
        min-width: 0.063rem;
        height: auto;
    }

    &.theme-default,
    &.theme-material-light,
    &.theme-corporate {
        background-color: rgba(rgb(36, 37, 44), 15%);
    }

    &.theme-cosmic,
    &.theme-dark {
        background-color: rgba(rgb(36, 37, 44), 15%);
    }
}
