@import "src/sass/application";

.r-yfoy6g {
  background-color: rgb(21, 32, 43);
}

.r-18bvks7 {
  border-color: rgb(56, 68, 77);
}

.r-1ila09b {
  border-bottom-color: rgb(56, 68, 77);
}





.font-weight-800 {
  font-weight: 800;
}


.margin-left-20px {
  margin-left: 20px;
}


.r-tznlht {
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 10px, rgba(136, 153, 166, 0.25) 0px 1px 3px 1px;
}


.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}

.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}


.r-1kihuf0 {
  align-self: center;
}


.miniature-element-height {
  height: 1.25em;
}


.heading-font-size {
  font-size: 19px;
}

.lights-out-text-color {
  color: rgba(217, 217, 217, 1.00);
}

.miniature-element-margin-right {
  margin-right: 5px;
}


.r-aaos50 {
  background-color: rgb(37, 51, 65);
}



.padding-left-right {
  padding-left: 10px;
  padding-right: 10px;
}

.r-tvv088 {
  padding-bottom: 20px;
  padding-top: 20px;
}


.r-111h2gw {
  color: rgb(136, 153, 166);
}

.r-117bsoe {
  margin-bottom: 20px;
}

