<div class="sharebook-container backface-visibility-hidden r-yfoy6g r-1ila09b border-bottom-style-solid border-bottom-width-1px position-sticky top-0px header-z-index">
    <div class="sharebook-container cursor-pointer z-index-plus-2">
        <div class="sharebook-container height-53px z-index-plus-2">
            <div class="sharebook-container">
                <div class="sharebook-container r-yfoy6g height-53px left-right-padding-15px">
                    <div class="sharebook-container align-items-center flex-direction-row height-53px justify-content-center margin-left-right-auto header-max-width-1000px width-100-per">
                        <div class="sharebook-container flex-grow-expand flex-shrink height-100-per justify-content-center">
                            <div class="sharebook-container align-items-flex-start">
                                <h2 aria-level="2" dir="auto" role="heading"
                                    class="sharebook-link css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-800 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                    <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Home</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
