.r-rthrr5 {
  width: 990px;
}

.r-1xnzce8 {
  user-select: text;
}



.r-1ljd8xs {
  border-left-width: 1px;
}



.r-qocrb3 {
}

.r-170oy42 {
  margin-bottom: calc(59px + env(safe-area-inset-bottom));
}






































































































































