<div class="sharebook-container fixed align-items-center backface-visibility-hidden background-color-lights-out flex-direction-row height-53px r-15d164r min-height-30px r-1xcajam top-0px sidebarColumn-width z-index-plus-2">
    <div class="sharebook-container align-items-stretch open-space-container-flex-expand flex-direction-row flex-grow-expand">
        <div class="sharebook-container flex-expand flex-direction-column svg-position-relative r-8fdsdq">
            <div class="align-items-stretch border-style-solid input-form-border-width input-form-box-sizing display-flex flex-expand flex-direction-column input-form-margin input-form-min-height min-width-0px input-form-padding svg-position-relative image-z-index">
                <form action="#" aria-label="Search Chessbook" role="search"
                      class="align-items-stretch border-style-solid input-form-border-width input-form-box-sizing display-flex flex-expand flex-direction-column input-form-margin input-form-min-height min-width-0px input-form-padding svg-position-relative image-z-index">
                    <nb-form-field>
                        <fa-icon nbPrefix [icon]="this.faSearch"></fa-icon>
                        <input id="searchBox_search_input" nbInput shape="round" data-focusable="true" placeholder="Search Chessbook" fullWidth>
                    </nb-form-field>
                    <div class="sharebook-container flex-expand svg-position-relative"></div>
                </form>
            </div>
        </div>
    </div>
</div>
