<li>
    <label class="poll__option" [ngClass]="{selectable: !this.showResults}">
        <input name="vote-options" [type]="this.poll.multiple ? 'checkbox' : 'radio'"
               [value]="this.optionIndex" [checked]="this.active" (change)="this.handleOptionChange($event)"
               [disabled]="this.disabled"/>

        <span *ngIf="!this.showResults" class="poll__input" tabIndex='0'
              [attr.role]="this.poll.multiple ? 'checkbox' : 'radio'"
              (keypress)="this.handleOptionKeyPress($event)"
              [attr.aria-checked]="this.active"
              [attr.aria-label]="option.label"
              [attr.data-index]="optionIndex">
        </span>

        <span *ngIf="this.showResults" class='poll__number'>{{this.getOptionPercentage(option.percentOfTotalVotes)}}%</span>

        <span class="poll__option__text translate">{{this.option.label}}</span>

        <span *ngIf="!!this.voted" class="poll__voted">
                 <nb-icon id="check" icon="checkmark-circle-2" class="poll__voted__mark" title="You voted for this answer"></nb-icon>
            </span>
    </label>

    <ng-container *ngIf="this.showResults">
        <nb-progress-bar size="tiny" [value]="option.percentOfTotalVotes" status="primary" class="poll__chart"></nb-progress-bar>
    </ng-container>
</li>
