li {
  margin-bottom: 10px;
  position: relative;
}

nb-progress-bar {
  border: 0;
  display: block;
  width: 100%;
  height: 5px;
  appearance: none;
  background: transparent;

  &::-webkit-progress-bar {
    background: transparent;
  }

  // Those rules need to be entirely separate or they won't work, hence the
  // duplication
  &::-moz-progress-bar {
    border-radius: 4px;
    background: darken(#9bcbed, 5%);
  }

  &::-ms-fill {
    border-radius: 4px;
    background: darken(#9bcbed, 5%);
  }

  &::-webkit-progress-value {
    border-radius: 4px;
    background: darken(#9bcbed, 5%);
  }

  ::ng-deep .progress-container {
    border-radius: 4px;
    display: block;
    background: #2491ff;
    height: 5px !important;
    min-width: 1%;
  }

}

.poll__option {
  position: relative;
  display: flex;
  padding: 6px 0;
  line-height: 18px;
  cursor: default;
  overflow: hidden;

  &__text {
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: calc(100% - 45px - 25px);
  }

  input[type=radio],
  input[type=checkbox] {
    display: none;
  }

  .autossugest-input {
    flex: 1 1 auto;
  }

  input[type=text] {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: #000000;
    outline: 0;
    font-family: inherit;
    background: #ffffff;
    border: 1px solid darken(#ffffff, 14%);
    border-radius: 4px;
    padding: 6px 10px;

    &:focus {
      border-color: #2b90d9;
    }
  }

  &.selectable {
    cursor: pointer;
  }

  &.editable {
    display: flex;
    align-items: center;
    overflow: visible;
  }

  .poll__input {
    display: inline-block;
    position: relative;
    border: 1px solid #9baec8;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    flex: 0 0 auto;
    margin-right: 10px;
    top: -1px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    flex: 0 0 18px;

    &.checkbox {
      border-radius: 4px;
    }

    &.active {
      border-color: #79bd9a;
      background: #79bd9a;
    }

    &:active,
    &:focus,
    &:hover {
      border-color: lighten(#79bd9a, 15%);
      border-width: 4px;
    }

    &::-moz-focus-inner {
      outline: 0 !important;
      border: 0;
    }

    &:focus,
    &:active {
      outline: 0 !important;
    }
  }

  .poll__number {
    display: inline-block;
    width: 45px;
    font-weight: 700;
    flex: 0 0 45px;
  }

  .poll__voted {
    padding: 0 5px;
    display: inline-block;

    &__mark {
      font-size: 18px;
    }
  }
}
