@import '../../../theme/styles/themes';

@include nb-install-component() {
  .show-more-link {
    color: nb-theme(link-text-color);
  }

  .r-z32n2g {
    background-color: nb-theme(color-primary-transparent-200);
  }
}

.r-k0dy70 {
  border-color: rgb(21, 24, 28);
}

.r-5pqaiu {
  margin-bottom: calc(-10px);
  margin-top: calc(-10px);
}

.r-1pp923h {
  border-bottom-left-radius: 16px;
}

.r-1moyyf3 {
  border-bottom-right-radius: 16px;
}

.padding-bottom-top-15px {
  padding-bottom: 15px;
  padding-top: 15px;
}

.r-ku1wi2 {
  margin-bottom: 15px;
}


.r-1bro5k0 {
  min-height: 15rem;
}

.r-1mdbw0j {
  padding-bottom: 0px;
}


// follows you

.r-z2wwpe {
  border-radius: 4px;
}

.r-1q142lx {
  flex-shrink: 0;
}

.r-n6v787 {
  font-size: 13px;
}

.r-1cwl3u0 {
  line-height: 16px;
}

.r-13hce6t {
  margin-left: 4px;
}

.r-s1qlax {
  padding-left: 4px;
  padding-right: 4px;
}
// end
