<div class="sharebook-container sidebar-background-color r-k0dy70 border-radius-16px border-style-solid border-width-1px r-ku1wi2 r-1bro5k0 overflow-hidden">
  <aside aria-label="Who to follow" role="complementary" class="sharebook-container">
    <div class="sharebook-container border-bottom-color border-bottom-style-solid border-bottom-width-1px justify-content-space-between left-right-padding-15px stacked-elements-padding-bottom-top">
      <h2 aria-level="2" role="heading" class="sharebook-link sharebook-container flex-direction-row">
        <div class="sharebook-container align-self-flex-start height-20px justify-content-center margin-top-2px"></div>
        <div dir="auto"
             class="css-901oao css-cens5h lights-out-text-color font-family heading-font-size font-weight-800 inside-element-container-line-height min-width-0px text-overflow-wrap"
             style="-webkit-line-clamp: 3;"><span
          class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height dtc min-width-0px text-overflow-wrap">Who to follow</span></div>
      </h2>
    </div>
    <div class="sharebook-container">
      <ng-container *ngFor="let user of this.users">
        <div role="button" data-focusable="true" tabindex="0"
             class="sharebook-cursor-pointer sharebook-container border-bottom-color border-bottom-style-solid border-bottom-width-1px outline-style-none left-right-padding-15px stacked-elements-padding-bottom-top transition-duration transition-property">
          <div class="sharebook-container flex-direction-row">
            <div class="sharebook-container container-left-side-flex-expand justify-content-center container-left-side-margin-right-10px" style="flex-basis: 49px;">
              <div class="sharebook-container flex-shrink max-width-100-per"><a [routerLink]="'/' + user.screenName.substring(1)" role="link"
                                                                                data-focusable="true"
                                                                                class="sharebook-link sharebook-cursor-pointer sharebook-container border-radius-9999px cursor-pointer display-block container-left-side-avatar-height outline-style-none overflow-hidden transition-duration transition-property width-100-per">
                <div class="sharebook-container display-block overflow-hidden" style="">
                  <div class="display-block width-100-per" style="padding-bottom: 100%;"></div>
                  <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                    <div aria-label=""
                         class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px image-z-index">
                      <div
                              class="sharebook-container image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                              [style.background-image]="'url(' + user.profileImageUrlHttps +')'"></div>
                      <img alt="" draggable="true"
                           [src]="user.profileImageUrlHttps"
                           class="sharebook-image"></div>
                  </div>
                </div>
                <div
                        class="sharebook-container image-avatar-border-color border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
              </a></div>
            </div>
            <div class="sharebook-container open-space-container-flex-expand flex-grow-expand justify-content-center">
              <div class="sharebook-container align-items-center flex-direction-row justify-content-space-between">
                <div class="sharebook-container flex-shrink max-width-100-per"><a [routerLink]="'/' + user.screenName.substring(1)" role="link"
                                                                                  data-focusable="true"
                                                                                  class="sharebook-link sharebook-cursor-pointer sharebook-container cursor-pointer flex-shrink max-width-100-per outline-style-none">
                  <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                    <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                      <div dir="auto"
                           class="css-901oao sharebook-text lights-out-text-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                                  <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap"><span
                                          class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height user-display-name">{{user.displayName}}</span></span>
                      </div>
                      <div *ngIf="user.verified" dir="auto"
                           class="css-901oao lights-out-text-color flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                        <svg viewBox="0 0 24 24" aria-label="Verified account"
                             class="lights-out-text-color svg-display-inline-block svg-fill-currentcolor miniature-element-height svg-margin-left max-width-100-per svg-position-relative svg-vertical-align users-select-none">
                          <g>
                            <path
                                    d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"></path>
                          </g>
                        </svg>
                      </div>
                    </div>
                    <div class="sharebook-container flex-direction-row flex-shrink">
                      <div dir="ltr"
                           class="css-901oao sharebook-text third-wheel-color flex-direction-row font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">{{user.screenName}}</span>
                      </div>
                      <div *ngIf="user?.followedBy" dir="auto"
                           class="css-901oao sharebook-text align-items-center r-z32n2g r-z2wwpe third-wheel-color display-flex r-1q142lx font-family r-n6v787 font-weight-400 r-1cwl3u0 r-13hce6t min-width-0px r-s1qlax text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Follows you</span>
                      </div>
                    </div>
                  </div>
                </a></div>
                <div class="sharebook-container share-button-margin-left" style="min-width: 78px;">
                  <app-follow-button [account]="user" [users]="[user]"></app-follow-button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="user.verified" class="sharebook-container flex-direction-row">
            <div class="sharebook-container container-left-side-flex-expand justify-content-flex-start container-left-side-margin-right-10px" style="flex-basis: 49px;"></div>
            <div class="sharebook-container open-space-container-flex-expand flex-grow-expand">
              <div class="sharebook-container align-items-center flex-direction-row input-form-margin r-1mdbw0j element-left-right-padding-0px padding-top-5px">
                <svg viewBox="0 0 24 24"
                     class="third-wheel-color svg-display-inline-block svg-fill-currentcolor svg-flex-shrink-0 meatballs-menu-height miniature-element-margin-right max-width-100-per svg-position-relative svg-vertical-align users-select-none">
                  <g>
                    <path
                            d="M20.75 2H3.25C2.007 2 1 3.007 1 4.25v15.5C1 20.993 2.007 22 3.25 22h17.5c1.243 0 2.25-1.007 2.25-2.25V4.25C23 3.007 21.993 2 20.75 2zM17.5 13.504c0 .483-.392.875-.875.875s-.875-.393-.875-.876V9.967l-7.547 7.546c-.17.17-.395.256-.62.256s-.447-.086-.618-.257c-.342-.342-.342-.896 0-1.237l7.547-7.547h-3.54c-.482 0-.874-.393-.874-.876s.392-.875.875-.875h5.65c.483 0 .875.39.875.874v5.65z"></path>
                  </g>
                </svg>
                <div dir="auto"
                     class="css-901oao third-wheel-color font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">
                  <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Promoted</span>
                </div>
              </div>
            </div>
          </div> <!--// user.promoted must be-->
        </div>
      </ng-container>
    </div>
    <a routerLink="/connect" role="link" data-focusable="true"
       class="show-more-link sharebook-cursor-pointer sharebook-container r-1pp923h r-1moyyf3 cursor-pointer outline-style-none left-right-padding-15px padding-bottom-top-15px transition-duration transition-property">
      <div dir="auto" class="css-901oao r-13gxpu9 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
        <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">Show more</span></div>
    </a></aside>
</div>
