@import "src/sass/application";

.r-2llsf {
  min-height: 100%;
}

.r-1ljd8xs {
  border-left-width: 1px;
}

.r-5pqaiu {
  margin-bottom: calc(-10px);
  margin-top: calc(-10px);
}

.r-1ro0kt6 {
  flex-basis: 0%;
}

.r-13zfj0p {
  color: rgb(47, 51, 54);
}

.r-tzz3ar {
  flex-wrap: nowrap;
}

.r-lltvgl {
  overflow-x: auto;
}

.r-buy8e9 {
  overflow-y: hidden;
}

.r-mfh4gg {
  scroll-snap-type: x mandatory;
}

.r-hbs49y {
  transform: translate3d(0px, 0px, 0px);
}

.r-6b64d0 {
  padding-left: 0px;
  padding-right: 0px;
}

.r-1b6yd1w {
  font-size: 19px;
}

.r-1fmj7o5 {
  color: rgba(217, 217, 217, 1.00);
}

.r-cpa5s6 {
  scroll-snap-align: start;
}

.r-oucylx {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.r-wgabs5 {
  border-bottom-width: 2px;
}

.r-1oqcu8e {
  padding: 15px;
}

.r-1uusn97 {
  box-shadow: rgba(217, 217, 217, 0.2) 0px 0px 5px, rgba(217, 217, 217, 0.25) 0px 1px 4px 1px;
}

.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}

.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}

.r-1kihuf0 {
  align-self: center;
}


.r-daml9f {
  color: rgb(224, 36, 94);
}

.r-yucp9h {
  height: 2em;
}

.r-15d164r {
  margin-bottom: 10px;
}


.r-5f2r5o {
  margin-left: 5px;
  margin-right: 5px;
}


.r-199wky7 {
  width: 30px;
}


.r-jdbj7n {
  border-color: rgba(0, 0, 0, 0.06);
}

.r-hiw28u {
  font-size: 0px;
}

.r-1bxhq7s {
  height: calc(6.5625rem);
}

.r-1omma8c {
  height: 5rem;
}


// for post

.r-1yt7n81 {
  padding-left: 15px;
}

.r-ry3cjt {
  padding-right: 15px;
}


.r-zl2h9q {
  margin-bottom: 2px;
}


.r-k4xj1c {
  -webkit-box-align: start;
  align-items: start;
}

.r-1f6r7vd {
  margin-left: 5px;
}

.r-11cpok1 {
}


.r-1mdbhws {
  max-width: 425px;
}

.r-1j6idkz {
  min-width: calc(1em + 20px);
}

.r-1wgg2b2 {
  transition-duration: 0.3s;
}








