.r-rthrr5 {
  width: 990px;
}


.r-2llsf {
  min-height: 100%;
}









.r-1uusn97 {
  box-shadow: rgba(217, 217, 217, 0.2) 0px 0px 5px, rgba(217, 217, 217, 0.25) 0px 1px 4px 1px;
}

.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}

.r-nx0j10 {
  transition-timing-function: ease, ease, step-end;
}

.r-1kihuf0 {
  align-self: center;
}



.r-d9fdf6 {
  padding-left: 20px;
  padding-right: 20px;
}

.r-6wcr4z {
  padding-bottom: 39px;
  padding-top: 39px;
}

.r-ey96lj {
  white-space: pre-line;
}


.r-2sztyj {
  border-top-color: rgb(47, 51, 54);
}

.r-1efd50x {
  border-top-style: solid;
}

.r-5kkj8d {
  border-top-width: 1px;
}

.r-1or9b2r {
  height: 10px;
}



.r-1q9bdsx {
  border-radius: 12px;
}

.r-phn5h3 {
  width: 49px;
}

.r-zl2h9q {
  margin-bottom: 2px;
}


.r-14g73ha {
  height: 15px;
}

.r-1b94p3d {
  width: 15px;
}

.r-1jie2fr {
  border-color: rgba(0, 0, 0, 0.1);
}


.r-1f6r7vd {
  margin-left: 5px;
}

.r-1bxhq7s {
  height: calc(6.5625rem);
}

.r-1omma8c {
  height: 5rem;
}










