<style>
    .r-daml9f {
        color: rgb(224, 36, 94);
    }


    .r-nw8l94 {
        color: rgb(23, 191, 99);
    }

    .r-1qqlz1x {
        background-color: rgb(121, 75, 196);
    }

    .r-xfsgu1 {
        color: rgb(121, 75, 196);
    }

    .r-18z3xeu {
        background-color: rgb(244, 93, 34);
    }

    .r-1qkqhnw {
        color: rgb(244, 93, 34);
    }

    .r-61mi1v {
        color: rgb(255, 173, 31);
    }
</style>

<div aria-labelledby="modal-header" role="dialog" aria-modal="true"
     class="css-1dbjc4n r-1867qdf r-1wbh5a2 r-rsyp9y r-1pjcn9w r-htvplk r-1udh08x">
    <div class="css-1dbjc4n r-kemksi r-z2wwpe r-16y2uox r-1wbh5a2">
        <div class="css-1dbjc4n r-15d164r r-6ity3w">
            <div dir="auto"
                 class="css-901oao r-1fmj7o5 r-1qd0xha r-1blvdjr r-1vr29t4 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0"><span
                    class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Customize your view</span></div>
        </div>
        <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1jgb5lz r-1ye8kvj r-13qz1uu">
            <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1dqxon3">
                <div class="css-1dbjc4n r-1sv84sj r-15bsvpr">
                    <div dir="auto"
                         class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-117bsoe r-bcqeeo r-q4m81j r-qvutc0">
                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Manage your font size, color and background. These settings affect all the Twitter accounts on this browser.</span>
                    </div>
                    <div class="css-1dbjc4n r-ku1wi2 r-xx1rs6">
                        <div aria-hidden="true" class="css-1dbjc4n r-1kqtdi0 r-1867qdf r-1phboty r-rs99b7 r-1ny4l3l">
                            <div class="css-1dbjc4n">
                                <article role="article" data-focusable="true" tabindex="0"
                                         class="css-1dbjc4n r-18u37iz r-1ny4l3l r-1udh08x r-1yt7n81 r-ry3cjt">
                                    <div class="css-1dbjc4n r-eqz5dr r-16y2uox r-1wbh5a2">
                                        <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1ny4l3l">
                                            <div class="css-1dbjc4n">
                                                <div class="css-1dbjc4n">
                                                    <div class="css-1dbjc4n r-18u37iz">
                                                        <div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-m611by"></div>
                                                    </div>
                                                </div>
                                                <div class="css-1dbjc4n r-18u37iz" data-testid="tweet">
                                                    <div class="css-1dbjc4n r-1awozwy r-18kxxzh r-zso239"
                                                         style="flex-basis: 49px;">
                                                        <div class="css-1dbjc4n r-18kxxzh r-1wbh5a2 r-13qz1uu">
                                                            <div role="presentation"
                                                                 class="css-1dbjc4n r-sdzlij r-1adg3ll r-ahm1il r-1ny4l3l r-1udh08x r-13qz1uu">
                                                                <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                                                    <div class="r-1adg3ll r-13qz1uu"
                                                                         style="padding-bottom: 100%;"></div>
                                                                    <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                                                        <div aria-label=""
                                                                             class="css-1dbjc4n r-sdzlij r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                                                            <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                                                 style="background-image: url('https://pbs.twimg.com/profile_images/1013798240683266048/zRim1x6M_bigger.jpg');"></div>
                                                                            <img alt="" draggable="true"
                                                                                 src="https://pbs.twimg.com/profile_images/1013798240683266048/zRim1x6M_bigger.jpg"
                                                                                 class="css-9pa8cd"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="css-1dbjc4n r-1twgtwe r-sdzlij r-rs99b7 r-1p0dtai r-1mi75qu r-1d2f490 r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci r-1mi0q7o">
                                                        <div class="css-1dbjc4n">
                                                            <div class="css-1dbjc4n r-zl2h9q">
                                                                <div class="css-1dbjc4n r-k4xj1c r-18u37iz r-1wtj0ep">
                                                                    <div class="css-1dbjc4n r-1d09ksm r-18u37iz r-1wbh5a2">
                                                                        <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                                                <div class="css-1dbjc4n r-1awozwy r-18u37iz r-dnmrzs">
                                                                                    <div dir="auto"
                                                                                         class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                                                                                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"><span
                                                                                                class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Sharebook</span></span>
                                                                                    </div>
                                                                                    <div dir="auto"
                                                                                         class="css-901oao r-1fmj7o5 r-18u37iz r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                                                        <app-global-icon
                                                                                                iconName="verifiedAccount"></app-global-icon>
                                                                                    </div>
                                                                                    <div class="css-1dbjc4n r-18u37iz r-1wbh5a2 r-1f6r7vd">
                                                                                        <div dir="ltr"
                                                                                             class="css-901oao css-bfa6kz r-9ilb82 r-18u37iz r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                                                            <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">@Sharebook</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div dir="auto" aria-hidden="true"
                                                                                 class="css-901oao r-9ilb82 r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-ou255f r-qvutc0">
                                                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">·</span>
                                                                            </div>
                                                                            <div dir="auto" aria-label="33 minutes ago"
                                                                                 class="css-901oao r-9ilb82 r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                                                                                <time datetime="2021-01-14T04:16:29.000Z">
                                                                                    33m
                                                                                </time>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="css-1dbjc4n">
                                                                <div class="css-1dbjc4n">
                                                                    <div lang="en" dir="auto"
                                                                         class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0">
                                                                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">At the heart of Sharebook are the categories  — just like this one — which can include photos, videos, links, text, and </span><span
                                                                            class="r-18u37iz"><a dir="ltr"
                                                                                                 href="/hashtag/hashtags?src=hashtag_click"
                                                                                                 role="link"
                                                                                                 data-focusable="true"
                                                                                                 class="css-4rbku5 css-18t94o4 css-901oao css-16my406 r-1n1174f r-1loqt21 r-poiln3 r-bcqeeo r-qvutc0">#hashtags</a></span><span
                                                                            class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">!</span>
                                                                    </div>
                                                                </div>
                                                                <div class="css-1dbjc4n"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="css-1dbjc4n r-1p0dtai r-1d2f490 r-u8s1d r-zchlnj r-ipm5af"></div>
                        </div>
                    </div>
                    <div dir="auto"
                         class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-b88u0q r-ad9z0x r-d0pm55 r-bcqeeo r-qvutc0">
                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Font size</span></div>
                    <div class="css-1dbjc4n r-1ysxnx4 r-1867qdf r-15d164r">
                        <div class="css-1dbjc4n">
                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1oqcu8e">
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-n6v787 r-16dba41 r-1sf4r6n r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Aa</span></div>
                                <div class="css-1dbjc4n r-16y2uox r-1n9sb9w">
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz r-lrvibr">
                                        <div class="css-1dbjc4n r-1awozwy r-1loqt21 r-18u37iz r-16y2uox r-z80fyv">
                                            <div class="css-1dbjc4n r-1awozwy r-1xfd6ze r-18u37iz r-16y2uox r-4v7adb"
                                                 style="background-color: rgb(142, 208, 249);">
                                                <div class="css-1dbjc4n r-18kxxzh r-orgf3d"></div>
                                                <div class="css-1dbjc4n r-1pz39u2 r-urgr8i r-1xfd6ze"
                                                     style="flex-grow: 0.5; -webkit-box-flex: 0.5;"></div>
                                                <div aria-label="Text size" role="slider" aria-valuemax="4"
                                                     aria-valuemin="0" aria-valuenow="2" aria-valuetext="Default"
                                                     data-focusable="true" tabindex="0"
                                                     class="css-1dbjc4n r-1awozwy r-sdzlij r-1loqt21 r-1g7fiml r-1777fci r-n7umcr r-u8s1d r-o7ynqc r-6416eg r-199wky7"
                                                     style="left: calc(50% - 7.5px);">
                                                    <div class="css-1dbjc4n r-urgr8i r-sdzlij r-15ce4ve r-14g73ha r-10u4nep r-13tjlyg r-axxi2z r-1b94p3d"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="css-1dbjc4n r-1awozwy r-sdzlij r-1loqt21 r-1g7fiml r-1777fci r-n7umcr r-1ny4l3l r-u8s1d r-o7ynqc r-6416eg r-199wky7"
                                                     style="left: calc(0% - 0px);">
                                                    <div class="css-1dbjc4n r-urgr8i r-sdzlij r-15ce4ve r-tbmifm r-16eto9q"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="css-1dbjc4n r-1awozwy r-sdzlij r-1loqt21 r-1g7fiml r-1777fci r-n7umcr r-1ny4l3l r-u8s1d r-o7ynqc r-6416eg r-199wky7"
                                                     style="left: calc(25% - 3.75px);">
                                                    <div class="css-1dbjc4n r-urgr8i r-sdzlij r-15ce4ve r-tbmifm r-16eto9q"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="css-1dbjc4n r-1awozwy r-sdzlij r-1loqt21 r-1g7fiml r-1777fci r-n7umcr r-1ny4l3l r-u8s1d r-o7ynqc r-6416eg r-199wky7"
                                                     style="left: calc(75% - 11.25px);">
                                                    <div class="css-1dbjc4n r-sdzlij r-15ce4ve r-tbmifm r-16eto9q"
                                                         style="background-color: rgb(142, 208, 249);"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="css-1dbjc4n r-1awozwy r-sdzlij r-1loqt21 r-1g7fiml r-1777fci r-n7umcr r-1ny4l3l r-u8s1d r-o7ynqc r-6416eg r-199wky7"
                                                     style="left: calc(100% - 15px);">
                                                    <div class="css-1dbjc4n r-sdzlij r-15ce4ve r-tbmifm r-16eto9q"
                                                         style="background-color: rgb(142, 208, 249);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div dir="auto"
                                     class="css-901oao r-1fmj7o5 r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Aa</span></div>
                            </div>
                        </div>
                    </div>
                    <div dir="auto"
                         class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-b88u0q r-ad9z0x r-d0pm55 r-bcqeeo r-qvutc0">
                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Color</span></div>
                    <div class="css-1dbjc4n r-1ysxnx4 r-1867qdf r-15d164r r-atwnbb">
                        <div class="css-1dbjc4n">
                            <div aria-label="Color options" role="radiogroup" class="css-1dbjc4n r-18u37iz r-a2tzq0">
                                <div class="css-1dbjc4n r-1awozwy r-atwnbb r-lrvibr">
                                    <label
                                        class="css-1dbjc4n r-sdzlij r-1loqt21 r-tmtnm0 r-d0pm55 r-1ny4l3l r-o7ynqc r-6416eg r-2tyz2o">
                                    <svg viewBox="0 0 24 24"
                                         class="r-13gxpu9 r-1loqt21 r-4qtqp9 r-yyyyoo r-tmtnm0 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-2tyz2o">
                                        <g>
                                            <path d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75z"></path>
                                        </g>
                                    </svg>
                                    <input name="COLOR_PICKER_14_LABEL" type="radio" aria-label="Blue"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"
                                           checked=""></label>
                                    <div class="css-1dbjc4n r-1awozwy r-1loqt21 r-tmtnm0 r-1777fci r-u8s1d r-2tyz2o">
                                        <svg viewBox="0 0 24 24"
                                             class="r-urgr8i r-jwli3a r-4qtqp9 r-yyyyoo r-6zzn7w r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-q1j0wu">
                                            <g>
                                                <path d="M9 20c-.264 0-.52-.104-.707-.293l-4.785-4.785c-.39-.39-.39-1.023 0-1.414s1.023-.39 1.414 0l3.946 3.945L18.075 4.41c.32-.45.94-.558 1.395-.24.45.318.56.942.24 1.394L9.817 19.577c-.17.24-.438.395-.732.42-.028.002-.057.003-.085.003z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div dir="auto"
                                         class="css-901oao r-13gxpu9 r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0">
                                        <span class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                aria-label="Blue heart"
                                                class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                title="Blue heart" style="height: 1.2em;"><div
                                                class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                style="background-image: url('https://abs-0.twimg.com/emoji/v2/svg/1f499.svg');"></div><img
                                                alt="Blue heart" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f499.svg" class="css-9pa8cd"></div></span>
                                    </div>
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-atwnbb r-lrvibr">
                                    <label
                                        class="css-1dbjc4n r-sdzlij r-1loqt21 r-tmtnm0 r-d0pm55 r-1ny4l3l r-o7ynqc r-6416eg r-2tyz2o">
                                    <app-global-icon iconName="colorPickerYellow"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Yellow"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"></label>
                                    <div dir="auto"
                                         class="css-901oao r-61mi1v r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0">
                                        <span class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                aria-label="Medium star"
                                                class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                title="Medium star" style="height: 1.2em;"><div
                                                class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/2b50.svg&quot;);"></div><img
                                                alt="Medium star" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/2b50.svg" class="css-9pa8cd"></div></span>
                                    </div>
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-atwnbb r-lrvibr">
                                    <label
                                        class="css-1dbjc4n r-sdzlij r-1loqt21 r-tmtnm0 r-d0pm55 r-1ny4l3l r-o7ynqc r-6416eg r-2tyz2o">
                                    <app-global-icon iconName="colorPickerPink"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Pink"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"></label>
                                    <div dir="auto"
                                         class="css-901oao r-daml9f r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0">
                                        <span class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                aria-label="Cherry blossom"
                                                class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                title="Cherry blossom" style="height: 1.2em;"><div
                                                class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f338.svg&quot;);"></div><img
                                                alt="Cherry blossom" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f338.svg" class="css-9pa8cd"></div></span>
                                    </div>
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-atwnbb r-lrvibr">
                                    <label
                                        class="css-1dbjc4n r-sdzlij r-1loqt21 r-tmtnm0 r-d0pm55 r-1ny4l3l r-o7ynqc r-6416eg r-2tyz2o">
                                    <app-global-icon iconName="colorPickerPurple"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Purple"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"></label>
                                    <div dir="auto"
                                         class="css-901oao r-xfsgu1 r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0">
                                        <span class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                aria-label="Octopus"
                                                class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                title="Octopus" style="height: 1.2em;"><div
                                                class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f419.svg&quot;);"></div><img
                                                alt="Octopus" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f419.svg" class="css-9pa8cd"></div></span>
                                    </div>
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-atwnbb r-lrvibr">
                                    <label
                                        class="css-1dbjc4n r-sdzlij r-1loqt21 r-tmtnm0 r-d0pm55 r-1ny4l3l r-o7ynqc r-6416eg r-2tyz2o">
                                    <app-global-icon iconName="colorPickerOrange"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Orange"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"></label>
                                    <div dir="auto"
                                         class="css-901oao r-1qkqhnw r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0">
                                        <span class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                aria-label="Fire"
                                                class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                title="Fire" style="height: 1.2em;"><div
                                                class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                style="background-image: url('https://abs-0.twimg.com/emoji/v2/svg/1f525.svg');"></div><img
                                                alt="Fire" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f525.svg" class="css-9pa8cd"></div></span>
                                    </div>
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-atwnbb r-lrvibr">
                                    <label
                                        class="css-1dbjc4n r-sdzlij r-1loqt21 r-tmtnm0 r-d0pm55 r-1ny4l3l r-o7ynqc r-6416eg r-2tyz2o">
                                    <app-global-icon iconName="colorPickerGreen"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Green"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"></label>
                                    <div dir="auto"
                                         class="css-901oao r-nw8l94 r-1qd0xha r-1b6yd1w r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-qvutc0">
                                        <span class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                aria-label="Avocado"
                                                class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                title="Avocado" style="height: 1.2em;"><div
                                                class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f951.svg&quot;);"></div><img
                                                alt="Avocado" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f951.svg" class="css-9pa8cd"></div></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div dir="auto"
                         class="css-901oao r-9ilb82 r-1qd0xha r-n6v787 r-b88u0q r-ad9z0x r-d0pm55 r-bcqeeo r-qvutc0">
                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Background</span></div>
                    <div class="css-1dbjc4n r-1ysxnx4 r-1867qdf r-15d164r r-utggzx r-atwnbb">
                        <div class="css-1dbjc4n">
                            <div aria-label="Background options" role="radiogroup" class="css-1dbjc4n r-18u37iz">
                                <div class="css-1dbjc4n r-1awozwy r-14lw9ot r-1kqtdi0 r-z2wwpe r-rs99b7 r-1loqt21 r-13awgt0 r-18u37iz r-n370w6 r-adacv r-1ny4l3l r-d9fdf6">
                                    <div role="radio"
                                         class="css-1dbjc4n r-1awozwy r-sdzlij r-eu3ka r-1777fci r-dxdjjy r-1ny4l3l r-o7ynqc r-6416eg r-lrvibr r-1aockid">
                                        <div class="css-1dbjc4n r-1awozwy r-1niwhzg r-1llaxt6 r-1phboty r-d045u9 r-z80fyv r-1777fci r-19wmn03"
                                             style="border-color: rgb(170, 184, 194);"></div>
                                    </div>
                                    <div aria-hidden="true"
                                         class="css-1dbjc4n r-1awozwy r-1loqt21 r-16y2uox r-1777fci r-1f6r7vd r-6e0ovw">
                                        <div dir="auto"
                                             class="css-901oao css-bfa6kz r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0"
                                             style="color: rgb(15, 20, 25);"><span
                                                class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Default</span>
                                        </div>
                                    </div>
                                    <input name="background_picker_8" type="radio" aria-label="Light"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu">
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-1kqtdi0 r-z2wwpe r-rs99b7 r-1loqt21 r-13awgt0 r-18u37iz r-n370w6 r-adacv r-1ny4l3l r-d9fdf6"
                                     style="background-color: rgb(21, 32, 43);">
                                    <div role="radio"
                                         class="css-1dbjc4n r-1awozwy r-sdzlij r-eu3ka r-1777fci r-dxdjjy r-1ny4l3l r-o7ynqc r-6416eg r-lrvibr r-1aockid">
                                        <div class="css-1dbjc4n r-1awozwy r-1niwhzg r-1llaxt6 r-1phboty r-d045u9 r-z80fyv r-1777fci r-19wmn03"
                                             style="border-color: rgb(107, 125, 140);"></div>
                                    </div>
                                    <div aria-hidden="true"
                                         class="css-1dbjc4n r-1awozwy r-1loqt21 r-16y2uox r-1777fci r-1f6r7vd r-6e0ovw">
                                        <div dir="auto"
                                             class="css-901oao css-bfa6kz r-jwli3a r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0">
                                            <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Dim</span>
                                        </div>
                                    </div>
                                    <input name="background_picker_8" type="radio" aria-label="Dim"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu">
                                </div>
                                <div class="css-1dbjc4n r-1awozwy r-kemksi r-p1n3y5 r-z2wwpe r-d045u9 r-1loqt21 r-13awgt0 r-18u37iz r-n370w6 r-adacv r-1ny4l3l r-d9fdf6">
                                    <div role="radio"
                                         class="css-1dbjc4n r-1awozwy r-sdzlij r-eu3ka r-1777fci r-dxdjjy r-1ny4l3l r-o7ynqc r-6416eg r-lrvibr r-1aockid">
                                        <div class="css-1dbjc4n r-1awozwy r-urgr8i r-p1n3y5 r-1llaxt6 r-1phboty r-d045u9 r-z80fyv r-1777fci r-19wmn03">
                                            <svg viewBox="0 0 24 24"
                                                 class="r-jwli3a r-4qtqp9 r-yyyyoo r-1hjwoze r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-12ym1je">
                                                <g>
                                                    <path d="M9 20c-.264 0-.52-.104-.707-.293l-4.785-4.785c-.39-.39-.39-1.023 0-1.414s1.023-.39 1.414 0l3.946 3.945L18.075 4.41c.32-.45.94-.558 1.395-.24.45.318.56.942.24 1.394L9.817 19.577c-.17.24-.438.395-.732.42-.028.002-.057.003-.085.003z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div aria-hidden="true"
                                         class="css-1dbjc4n r-1awozwy r-1loqt21 r-16y2uox r-1777fci r-1f6r7vd r-6e0ovw">
                                        <div dir="auto"
                                             class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-qvutc0">
                                            <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Lights out</span>
                                        </div>
                                    </div>
                                    <input name="background_picker_8" type="radio" aria-label="Lights out"
                                           data-focusable="true"
                                           class="r-1p0dtai r-1ei5mc7 r-1pi2tsx r-1d2f490 r-crgep1 r-orgf3d r-t60dpp r-u8s1d r-zchlnj r-ipm5af r-13qz1uu"
                                           checked=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="css-1dbjc4n r-1awozwy r-19h5ruw">
                        <div role="button" data-focusable="true" tabindex="0"
                             class="css-18t94o4 css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1w2pmg r-1vuscfd r-1dhvaqw r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr">
                            <div dir="auto"
                                 class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-ad9z0x r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                                <span class="css-901oao css-16my406 css-bfa6kz r-poiln3 r-bcqeeo r-qvutc0"><span
                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Done</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
