<style>
    .r-daml9f {
        color: rgb(224, 36, 94);
    }


    .r-nw8l94 {
        color: rgb(23, 191, 99);
    }

    .r-1qqlz1x {
        background-color: rgb(121, 75, 196);
    }

    .r-xfsgu1 {
        color: rgb(121, 75, 196);
    }

    .r-18z3xeu {
        background-color: rgb(244, 93, 34);
    }

    .r-1qkqhnw {
        color: rgb(244, 93, 34);
    }

    .r-61mi1v {
        color: rgb(255, 173, 31);
    }
</style>

<div aria-labelledby="modal-header" role="dialog" aria-modal="true"
     class="sharebook-container border-radius-16px flex-shrink modal-max-height-90vh modal-max-width-80vw modal-min-width-600px overflow-hidden">
    <div class="sharebook-container background-color-lights-out input-form-border-radius flex-grow-expand flex-shrink">
        <div class="sharebook-container r-15d164r r-6ity3w">
            <div dir="auto"
                 class="css-901oao lights-out-text-color font-family very-strong-title font-weight-800 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap"><span
                    class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Customize your view</span></div>
        </div>
        <div class="sharebook-container flex-grow-expand flex-shrink margin-left-right-auto main-primary-column-max-width-600px width-100-per">
            <div class="sharebook-container flex-grow-expand flex-shrink modal-overflow-auto">
                <div class="sharebook-container r-1sv84sj r-15bsvpr">
                    <div dir="auto"
                         class="css-901oao third-wheel-color font-family font-size-15px font-weight-400 inside-element-container-line-height r-117bsoe min-width-0px text-align-center text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Manage your font size, color and background. These settings affect all the Twitter accounts on this browser.</span>
                    </div>
                    <div class="sharebook-container r-ku1wi2 display-post-example-left-right-margin">
                        <div aria-hidden="true" class="sharebook-container main-left-right-vertical-border-color border-radius-16px border-style-solid border-width-1px outline-style-none">
                            <div class="sharebook-container">
                                <article role="article" data-focusable="true" tabindex="0"
                                         class="sharebook-container flex-direction-row outline-style-none overflow-hidden r-1yt7n81 r-ry3cjt">
                                    <div class="sharebook-container flex-direction-column flex-grow-expand flex-shrink">
                                        <div class="sharebook-container flex-grow-expand flex-shrink outline-style-none">
                                            <div class="sharebook-container">
                                                <div class="sharebook-container">
                                                    <div class="sharebook-container flex-direction-row">
                                                        <div class="sharebook-container open-space-container-flex-expand flex-grow-expand component-padding-top"></div>
                                                    </div>
                                                </div>
                                                <div class="sharebook-container flex-direction-row" data-testid="tweet">
                                                    <div class="sharebook-container align-items-center container-left-side-flex-expand container-left-side-margin-right-10px"
                                                         style="flex-basis: 49px;">
                                                        <div class="sharebook-container container-left-side-flex-expand flex-shrink width-100-per">
                                                            <div role="presentation"
                                                                 class="sharebook-container border-radius-9999px display-block container-left-side-avatar-height outline-style-none overflow-hidden width-100-per">
                                                                <div class="sharebook-container display-block overflow-hidden" style="">
                                                                    <div class="display-block width-100-per"
                                                                         style="padding-bottom: 100%;"></div>
                                                                    <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                                        <div aria-label=""
                                                                             class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px image-z-index">
                                                                            <div class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                                                 style="background-image: url('https://pbs.twimg.com/profile_images/1013798240683266048/zRim1x6M_bigger.jpg');"></div>
                                                                            <img alt="" draggable="true"
                                                                                 src="https://pbs.twimg.com/profile_images/1013798240683266048/zRim1x6M_bigger.jpg"
                                                                                 class="sharebook-image"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="sharebook-container image-avatar-border-color border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sharebook-container open-space-container-flex-expand flex-grow-expand justify-content-center post-padding-bottom">
                                                        <div class="sharebook-container">
                                                            <div class="sharebook-container r-zl2h9q">
                                                                <div class="sharebook-container r-k4xj1c flex-direction-row justify-content-space-between">
                                                                    <div class="sharebook-container post--trend-top-info-align-items flex-direction-row flex-shrink">
                                                                        <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                                                            <div class="sharebook-container align-items-center flex-direction-row flex-shrink max-width-100-per outline-style-none">
                                                                                <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                                                    <div dir="auto"
                                                                                         class="css-901oao sharebook-text lights-out-text-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                                                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"><span
                                                                                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Sharebook</span></span>
                                                                                    </div>
                                                                                    <div dir="auto"
                                                                                         class="css-901oao lights-out-text-color flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                                        <app-global-icon
                                                                                                iconName="verifiedAccount"></app-global-icon>
                                                                                    </div>
                                                                                    <div class="sharebook-container flex-direction-row flex-shrink r-1f6r7vd">
                                                                                        <div dir="ltr"
                                                                                             class="css-901oao sharebook-text third-wheel-color flex-direction-row font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">@Sharebook</span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div dir="auto" aria-hidden="true"
                                                                                 class="css-901oao third-wheel-color svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px created-at-dot text-overflow-wrap">
                                                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">·</span>
                                                                            </div>
                                                                            <div dir="auto" aria-label="33 minutes ago"
                                                                                 class="css-901oao third-wheel-color svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px white-space-nowrap text-overflow-wrap">
                                                                                <time datetime="2021-01-14T04:16:29.000Z">
                                                                                    33m
                                                                                </time>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="sharebook-container">
                                                                <div class="sharebook-container">
                                                                    <div lang="en" dir="auto"
                                                                         class="css-901oao lights-out-text-color font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px svg-position-relative text-overflow-wrap">
                                                                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">At the heart of Sharebook are the categories  — just like this one — which can include photos, videos, links, text, and </span><span
                                                                            class="flex-direction-row"><a dir="ltr"
                                                                                                          href="/hashtag/hashtags?src=hashtag_click"
                                                                                                          role="link"
                                                                                                          data-focusable="true"
                                                                                                          class="sharebook-link sharebook-cursor-pointer css-901oao sharebook-text-inherit link-color cursor-pointer text-font-family min-width-0px text-overflow-wrap">#hashtags</a></span><span
                                                                            class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">!</span>
                                                                    </div>
                                                                </div>
                                                                <div class="sharebook-container"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="sharebook-container bottom-0px left-0px position-absolute right-0px top-0px"></div>
                        </div>
                    </div>
                    <div dir="auto"
                         class="css-901oao third-wheel-color font-family third-wheel-text-font-size font-weight-700 inside-element-container-line-height margin-bottom-5px min-width-0px text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Font size</span></div>
                    <div class="sharebook-container sidebar-background-color border-radius-16px r-15d164r">
                        <div class="sharebook-container">
                            <div class="sharebook-container align-items-center flex-direction-row r-1oqcu8e">
                                <div dir="auto"
                                     class="css-901oao lights-out-text-color font-family third-wheel-text-font-size font-weight-400 line-height-calc min-width-0px text-overflow-wrap">
                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Aa</span></div>
                                <div class="sharebook-container flex-grow-expand r-1n9sb9w">
                                    <div class="sharebook-container align-items-center flex-direction-row users-select-none">
                                        <div class="sharebook-container align-items-center cursor-pointer flex-direction-row flex-grow-expand height-20px">
                                            <div class="sharebook-container align-items-center r-1xfd6ze flex-direction-row flex-grow-expand r-4v7adb"
                                                 style="background-color: rgb(142, 208, 249);">
                                                <div class="sharebook-container container-left-side-flex-expand opacity-0"></div>
                                                <div class="sharebook-container align-self-stretch sharebook-background-color-blue r-1xfd6ze"
                                                     style="flex-grow: 0.5; -webkit-box-flex: 0.5;"></div>
                                                <div aria-label="Text size" role="slider" aria-valuemax="4"
                                                     aria-valuemin="0" aria-valuenow="2" aria-valuetext="Default"
                                                     data-focusable="true" tabindex="0"
                                                     class="sharebook-container align-items-center border-radius-9999px cursor-pointer upload-vertical-line-height justify-content-center r-n7umcr position-absolute transition-duration transition-property r-199wky7"
                                                     style="left: calc(50% - 7.5px);">
                                                    <div class="sharebook-container sharebook-background-color-blue border-radius-9999px r-15ce4ve r-14g73ha r-10u4nep upload-input-form-transition r-axxi2z r-1b94p3d"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="sharebook-container align-items-center border-radius-9999px cursor-pointer upload-vertical-line-height justify-content-center r-n7umcr outline-style-none position-absolute transition-duration transition-property r-199wky7"
                                                     style="left: calc(0% - 0px);">
                                                    <div class="sharebook-container sharebook-background-color-blue border-radius-9999px r-15ce4ve r-tbmifm r-16eto9q"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="sharebook-container align-items-center border-radius-9999px cursor-pointer upload-vertical-line-height justify-content-center r-n7umcr outline-style-none position-absolute transition-duration transition-property r-199wky7"
                                                     style="left: calc(25% - 3.75px);">
                                                    <div class="sharebook-container sharebook-background-color-blue border-radius-9999px r-15ce4ve r-tbmifm r-16eto9q"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="sharebook-container align-items-center border-radius-9999px cursor-pointer upload-vertical-line-height justify-content-center r-n7umcr outline-style-none position-absolute transition-duration transition-property r-199wky7"
                                                     style="left: calc(75% - 11.25px);">
                                                    <div class="sharebook-container border-radius-9999px r-15ce4ve r-tbmifm r-16eto9q"
                                                         style="background-color: rgb(142, 208, 249);"></div>
                                                </div>
                                                <div role="presentation"
                                                     class="sharebook-container align-items-center border-radius-9999px cursor-pointer upload-vertical-line-height justify-content-center r-n7umcr outline-style-none position-absolute transition-duration transition-property r-199wky7"
                                                     style="left: calc(100% - 15px);">
                                                    <div class="sharebook-container border-radius-9999px r-15ce4ve r-tbmifm r-16eto9q"
                                                         style="background-color: rgb(142, 208, 249);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div dir="auto"
                                     class="css-901oao lights-out-text-color font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Aa</span></div>
                            </div>
                        </div>
                    </div>
                    <div dir="auto"
                         class="css-901oao third-wheel-color font-family third-wheel-text-font-size font-weight-700 inside-element-container-line-height margin-bottom-5px min-width-0px text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Color</span></div>
                    <div class="sharebook-container sidebar-background-color border-radius-16px r-15d164r padding-bottom-top-5px">
                        <div class="sharebook-container">
                            <div aria-label="Color options" role="radiogroup" class="sharebook-container flex-direction-row r-a2tzq0">
                                <div class="sharebook-container align-items-center padding-bottom-top-5px users-select-none">
                                    <label
                                        class="sharebook-container border-radius-9999px cursor-pointer r-tmtnm0 margin-bottom-5px outline-style-none transition-duration transition-property r-2tyz2o">
                                    <svg viewBox="0 0 24 24"
                                         class="r-13gxpu9 cursor-pointer svg-display-inline-block svg-fill-currentcolor r-tmtnm0 max-width-100-per svg-position-relative svg-vertical-align users-select-none r-2tyz2o">
                                        <g>
                                            <path d="M12 22.75C6.072 22.75 1.25 17.928 1.25 12S6.072 1.25 12 1.25 22.75 6.072 22.75 12 17.928 22.75 12 22.75z"></path>
                                        </g>
                                    </svg>
                                    <input name="COLOR_PICKER_14_LABEL" type="radio" aria-label="Blue"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"
                                           checked=""></label>
                                    <div class="sharebook-container align-items-center cursor-pointer r-tmtnm0 justify-content-center position-absolute r-2tyz2o">
                                        <svg viewBox="0 0 24 24"
                                             class="sharebook-background-color-blue share-button-text-color svg-display-inline-block svg-fill-currentcolor r-6zzn7w max-width-100-per svg-position-relative svg-vertical-align users-select-none r-q1j0wu">
                                            <g>
                                                <path d="M9 20c-.264 0-.52-.104-.707-.293l-4.785-4.785c-.39-.39-.39-1.023 0-1.414s1.023-.39 1.414 0l3.946 3.945L18.075 4.41c.32-.45.94-.558 1.395-.24.45.318.56.942.24 1.394L9.817 19.577c-.17.24-.438.395-.732.42-.028.002-.057.003-.085.003z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <div dir="auto"
                                         class="css-901oao r-13gxpu9 font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Blue heart"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Blue heart" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url('https://abs-0.twimg.com/emoji/v2/svg/1f499.svg');"></div><img
                                                alt="Blue heart" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f499.svg" class="sharebook-image"></div></span>
                                    </div>
                                </div>
                                <div class="sharebook-container align-items-center padding-bottom-top-5px users-select-none">
                                    <label
                                        class="sharebook-container border-radius-9999px cursor-pointer r-tmtnm0 margin-bottom-5px outline-style-none transition-duration transition-property r-2tyz2o">
                                    <app-global-icon iconName="colorPickerYellow"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Yellow"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"></label>
                                    <div dir="auto"
                                         class="css-901oao r-61mi1v font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Medium star"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Medium star" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/2b50.svg&quot;);"></div><img
                                                alt="Medium star" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/2b50.svg" class="sharebook-image"></div></span>
                                    </div>
                                </div>
                                <div class="sharebook-container align-items-center padding-bottom-top-5px users-select-none">
                                    <label
                                        class="sharebook-container border-radius-9999px cursor-pointer r-tmtnm0 margin-bottom-5px outline-style-none transition-duration transition-property r-2tyz2o">
                                    <app-global-icon iconName="colorPickerPink"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Pink"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"></label>
                                    <div dir="auto"
                                         class="css-901oao r-daml9f font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Cherry blossom"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Cherry blossom" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f338.svg&quot;);"></div><img
                                                alt="Cherry blossom" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f338.svg" class="sharebook-image"></div></span>
                                    </div>
                                </div>
                                <div class="sharebook-container align-items-center padding-bottom-top-5px users-select-none">
                                    <label
                                        class="sharebook-container border-radius-9999px cursor-pointer r-tmtnm0 margin-bottom-5px outline-style-none transition-duration transition-property r-2tyz2o">
                                    <app-global-icon iconName="colorPickerPurple"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Purple"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"></label>
                                    <div dir="auto"
                                         class="css-901oao r-xfsgu1 font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Octopus"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Octopus" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f419.svg&quot;);"></div><img
                                                alt="Octopus" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f419.svg" class="sharebook-image"></div></span>
                                    </div>
                                </div>
                                <div class="sharebook-container align-items-center padding-bottom-top-5px users-select-none">
                                    <label
                                        class="sharebook-container border-radius-9999px cursor-pointer r-tmtnm0 margin-bottom-5px outline-style-none transition-duration transition-property r-2tyz2o">
                                    <app-global-icon iconName="colorPickerOrange"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Orange"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"></label>
                                    <div dir="auto"
                                         class="css-901oao r-1qkqhnw font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Fire"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Fire" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url('https://abs-0.twimg.com/emoji/v2/svg/1f525.svg');"></div><img
                                                alt="Fire" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f525.svg" class="sharebook-image"></div></span>
                                    </div>
                                </div>
                                <div class="sharebook-container align-items-center padding-bottom-top-5px users-select-none">
                                    <label
                                        class="sharebook-container border-radius-9999px cursor-pointer r-tmtnm0 margin-bottom-5px outline-style-none transition-duration transition-property r-2tyz2o">
                                    <app-global-icon iconName="colorPickerGreen"></app-global-icon>
                                    <input name="COLOR_PICKER_13_LABEL" type="radio" aria-label="Green"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"></label>
                                    <div dir="auto"
                                         class="css-901oao r-nw8l94 font-family heading-font-size font-weight-400 inside-element-container-line-height min-width-0px text-align-center text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit svg-display-inline-block meatballs-menu-height emoji-margin-left emoji-margin-right svg-position-relative r-h9hxbl"><div
                                                aria-label="Avocado"
                                                class="sharebook-container display-inline-flex image-flex-expand left-0px overflow-hidden position-absolute r-h9hxbl image-z-index"
                                                title="Avocado" style="height: 1.2em;"><div
                                                class="sharebook-container element-background-color-rgba image-background-position image-background-repeat emoji-background-size bottom-0px display-inline-flex height-100-per left-0px position-absolute right-0px top-0px width-100-per z-index-minus-1"
                                                style="background-image: url(&quot;https://abs-0.twimg.com/emoji/v2/svg/1f951.svg&quot;);"></div><img
                                                alt="Avocado" draggable="false"
                                                src="https://abs-0.twimg.com/emoji/v2/svg/1f951.svg" class="sharebook-image"></div></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div dir="auto"
                         class="css-901oao third-wheel-color font-family third-wheel-text-font-size font-weight-700 inside-element-container-line-height margin-bottom-5px min-width-0px text-overflow-wrap">
                        <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Background</span></div>
                    <div class="sharebook-container sidebar-background-color border-radius-16px r-15d164r padding-left-right padding-bottom-top-5px">
                        <div class="sharebook-container">
                            <div aria-label="Background options" role="radiogroup" class="sharebook-container flex-direction-row">
                                <div class="sharebook-container align-items-center r-14lw9ot main-left-right-vertical-border-color input-form-border-radius border-width-1px cursor-pointer flex-expand flex-direction-row r-n370w6 r-adacv outline-style-none r-d9fdf6">
                                    <div role="radio"
                                         class="sharebook-container align-items-center border-radius-9999px r-eu3ka justify-content-center r-dxdjjy outline-style-none transition-duration transition-property users-select-none r-1aockid">
                                        <div class="sharebook-container align-items-center element-background-color-rgba r-1llaxt6 border-style-solid upload-input-form-border-width height-20px justify-content-center r-19wmn03"
                                             style="border-color: rgb(170, 184, 194);"></div>
                                    </div>
                                    <div aria-hidden="true"
                                         class="sharebook-container align-items-center cursor-pointer flex-grow-expand justify-content-center r-1f6r7vd r-6e0ovw">
                                        <div dir="auto"
                                             class="css-901oao sharebook-text font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px text-overflow-wrap"
                                             style="color: rgb(15, 20, 25);"><span
                                                class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Default</span>
                                        </div>
                                    </div>
                                    <input name="background_picker_8" type="radio" aria-label="Light"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per">
                                </div>
                                <div class="sharebook-container align-items-center main-left-right-vertical-border-color input-form-border-radius border-width-1px cursor-pointer flex-expand flex-direction-row r-n370w6 r-adacv outline-style-none r-d9fdf6"
                                     style="background-color: rgb(21, 32, 43);">
                                    <div role="radio"
                                         class="sharebook-container align-items-center border-radius-9999px r-eu3ka justify-content-center r-dxdjjy outline-style-none transition-duration transition-property users-select-none r-1aockid">
                                        <div class="sharebook-container align-items-center element-background-color-rgba r-1llaxt6 border-style-solid upload-input-form-border-width height-20px justify-content-center r-19wmn03"
                                             style="border-color: rgb(107, 125, 140);"></div>
                                    </div>
                                    <div aria-hidden="true"
                                         class="sharebook-container align-items-center cursor-pointer flex-grow-expand justify-content-center r-1f6r7vd r-6e0ovw">
                                        <div dir="auto"
                                             class="css-901oao sharebook-text share-button-text-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Dim</span>
                                        </div>
                                    </div>
                                    <input name="background_picker_8" type="radio" aria-label="Dim"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per">
                                </div>
                                <div class="sharebook-container align-items-center background-color-lights-out button-border-color input-form-border-radius upload-input-form-border-width cursor-pointer flex-expand flex-direction-row r-n370w6 r-adacv outline-style-none r-d9fdf6">
                                    <div role="radio"
                                         class="sharebook-container align-items-center border-radius-9999px r-eu3ka justify-content-center r-dxdjjy outline-style-none transition-duration transition-property users-select-none r-1aockid">
                                        <div class="sharebook-container align-items-center sharebook-background-color-blue button-border-color r-1llaxt6 r-1phboty upload-input-form-border-width height-20px justify-content-center r-19wmn03">
                                            <svg viewBox="0 0 24 24"
                                                 class="share-button-text-color svg-display-inline-block svg-fill-currentcolor r-1hjwoze max-width-100-per svg-position-relative svg-vertical-align users-select-none r-12ym1je">
                                                <g>
                                                    <path d="M9 20c-.264 0-.52-.104-.707-.293l-4.785-4.785c-.39-.39-.39-1.023 0-1.414s1.023-.39 1.414 0l3.946 3.945L18.075 4.41c.32-.45.94-.558 1.395-.24.45.318.56.942.24 1.394L9.817 19.577c-.17.24-.438.395-.732.42-.028.002-.057.003-.085.003z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div aria-hidden="true"
                                         class="sharebook-container align-items-center cursor-pointer flex-grow-expand justify-content-center r-1f6r7vd r-6e0ovw">
                                        <div dir="auto"
                                             class="css-901oao sharebook-text lights-out-text-color font-family font-size-15px font-weight-700 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Lights out</span>
                                        </div>
                                    </div>
                                    <input name="background_picker_8" type="radio" aria-label="Lights out"
                                           data-focusable="true"
                                           class="bottom-0px r-1ei5mc7 height-100-per left-0px input-form-margin opacity-0 input-form-padding position-absolute right-0px top-0px width-100-per"
                                           checked=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="sharebook-container align-items-center r-19h5ruw">
                        <div role="button" data-focusable="true" tabindex="0"
                             class="sharebook-cursor-pointer sharebook-container sharebook-background-color-blue element-border-color-rgba border-radius-9999px r-1phboty border-width-1px border-height-0px element-min-height-39px share-button-min-width outline-style-none share-button-padding-left-right transition-duration transition-property users-select-none">
                            <div dir="auto"
                                 class="css-901oao align-items-center share-button-text-color display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center inside-element-container-line-height max-width-100-per min-width-0px text-align-center text-overflow-wrap">
                                <span class="css-901oao sharebook-text-inherit sharebook-text text-font-family min-width-0px text-overflow-wrap"><span
                                        class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">Done</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
