@import '../../sharebook-nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(111vh - 2 * #{$auth-layout-padding});

    padding: 0;
    font-family: 'Tomorrow', sans-serif;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .navigation .link {
    display: inline-block;
    text-decoration: none;

    fa-icon {
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  .links fa-icon {
    font-size: 2.5rem;
  }

  nb-card-body {
    display: flex;
    width: 100%;

    overflow: hidden;
  }

  nb-auth-block {
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      border-radius: 0;
      height: 100vh;
    }
  }

  ::ng-deep {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      // padding: $auth-layout-padding;
      padding: 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}


.flex-centered {
  margin: auto;
}

nb-card-body {
  display: flex;
}

.title {
  text-align: center;
  color: #edf1f7;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.home-button {
  margin-bottom: 2rem;
}


// astronaut 404
.text {
  position: absolute;
  top: 10%;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 50px;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  right: 0;
  animation: starTwinkle 3s infinite linear;
}

.astronaut img {
  width: 100px;
  position: absolute;
  top: 55%;
  animation: astronautFly 6s infinite linear;
}

@keyframes astronautFly {
  0% {
    left: -100px;
  }
  25% {
    top: 50%;
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(45deg);
    top: 55%;
  }
  75% {
    top: 60%;
    transform: rotate(30deg);
  }
  100% {
    left: 110%;
    transform: rotate(45deg);
  }
}

@keyframes starTwinkle {
  0% {
    background: rgba(255, 255, 255, 0.4);
  }
  25% {
    background: rgba(255, 255, 255, 0.8);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  75% {
    background: rgba(255, 255, 255, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0.4);
  }
}
