@import '../../sharebook-nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    // height: calc(100vh - 2 * #{$auth-layout-padding});
    height: calc(111vh - 2 * #{$auth-layout-padding});
  }

  .navigation .link {
    display: inline-block;
    text-decoration: none;

    fa-icon {
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  .links fa-icon {
    font-size: 2.5rem;
  }

  nb-card-body {
    display: flex;
    width: 100%;
  }

  nb-auth-block {
    margin: auto;
  }

  @include media-breakpoint-down(sm) {
    nb-card {
      border-radius: 0;
      height: 100vh;
    }
  }

  ::ng-deep {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      // padding: $auth-layout-padding;
      padding: 0;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}



.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.home-button {
  margin-bottom: 2rem;
}
