<div class="sharebook-container">
    <div class="sharebook-container">
        <article role="article" tabindex="0"
                 class="sharebook-container flex-direction-row r-1ut4w64 outline-style-none overflow-hidden r-1qhn6m8 r-i023vh">
            <div class="sharebook-container flex-direction-column flex-grow-expand flex-shrink">
                <div class="sharebook-container flex-grow-expand flex-shrink outline-style-none">
                    <div class="sharebook-container">
                        <div class="sharebook-container">
                            <div class="sharebook-container flex-direction-row">
                                <div class="sharebook-container open-space-container-flex-expand flex-grow-expand r-ttdzmv"></div>
                            </div>
                        </div>
                        <div class="sharebook-container flex-direction-row" data-testid="tweet">
                            <div class="sharebook-container align-items-center r-1hwvwag container-left-side-flex-expand r-1b7u577">
                                <div class="sharebook-container container-left-side-flex-expand flex-shrink r-13qz1uu">
                                    <div role="presentation"
                                         class="sharebook-container border-radius-9999px display-block r-h3s6tt outline-style-none overflow-hidden r-13qz1uu">
                                        <div class="sharebook-container display-block overflow-hidden" style="">
                                            <div class="display-block r-13qz1uu" style="padding-bottom: 100%;"></div>
                                            <div class="bottom-0px r-1pi2tsx left-0px r-u8s1d top-0px r-13qz1uu">
                                                <div aria-label=""
                                                     class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden r-u8s1d right-0px top-0px image-z-index">
                                                    <div class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px r-1pi2tsx left-0px r-u8s1d right-0px top-0px r-13qz1uu z-index-minus-1"
                                                         style="background-image: url('https://pbs.twimg.com/profile_images/1356759678559125504/ZWWyUnT0_bigger.jpg');"></div>
                                                    <img alt="" draggable="true"
                                                         src="https://pbs.twimg.com/profile_images/1356759678559125504/ZWWyUnT0_bigger.jpg"
                                                         class="sharebook-image"></div>
                                            </div>
                                        </div>
                                        <div class="sharebook-container image-avatar-border-color border-radius-9999px border-width-1px bottom-0px r-1mi75qu left-0px outline-style-none r-u8s1d right-0px top-0px"></div>
                                    </div>
                                </div>
                                <div class="sharebook-container upload-bottom-border-background-color flex-grow-expand margin-left-right-auto r-14gqq1x r-m5arl1"></div>
                            </div>
                            <div class="sharebook-container open-space-container-flex-expand flex-grow-expand justify-content-center r-kzbkwu">
                                <div class="sharebook-container">
                                    <div class="sharebook-container r-zl2h9q">
                                        <div class="sharebook-container r-k4xj1c flex-direction-row justify-content-space-between">
                                            <div class="sharebook-container post--trend-top-info-align-items flex-direction-row flex-shrink">
                                                <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                                    <div class="sharebook-container align-items-center flex-direction-row flex-shrink max-width-100-per outline-style-none">
                                                        <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                            <div dir="auto"
                                                                 class="css-901oao sharebook-text lights-out-text-color font-family font-size-15px font-weight-700 r-rjixqe min-width-0px overflow-hidden white-space-nowrap text-overflow-wrap">
                                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"><span
                                                                        class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post?.user.name}} </span><span
                                                                        class="css-901oao sharebook-text-inherit r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                                        aria-label="Heavy large circle"
                                                                        class="sharebook-container r-xoduu5 image-flex-expand left-0px overflow-hidden r-u8s1d r-h9hxbl image-z-index"
                                                                        title="Heavy large circle"
                                                                        style="height: 1.2em;"><div
                                                                        class="sharebook-container element-background-color-rgba image-background-position image-background-repeat r-x3cy2q bottom-0px r-xoduu5 r-1pi2tsx left-0px r-u8s1d right-0px top-0px r-13qz1uu z-index-minus-1"
                                                                        style="background-image: url('https://abs-0.twimg.com/emoji/v2/svg/2b55.svg');"></div><img
                                                                        alt="Heavy large circle" draggable="false"
                                                                        src="https://abs-0.twimg.com/emoji/v2/svg/2b55.svg"
                                                                        class="css-9pa8cd"></div></span><span
                                                                        class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> {{
                                                                    COMMISSIONS OPEN}</span></span></div>
                                                            <div dir="auto"
                                                                 class="css-901oao lights-out-text-color flex-direction-row r-1q142lx font-family font-size-15px font-weight-400 r-rjixqe min-width-0px text-overflow-wrap"></div>
                                                        </div>
                                                        <div class="sharebook-container flex-direction-row flex-shrink r-13hce6t">
                                                            <div dir="ltr"
                                                                 class="css-901oao sharebook-text r-9ilb82 flex-direction-row font-family font-size-15px font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                                                                <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post?.user.screenName}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div dir="auto" aria-hidden="true"
                                                     class="css-901oao r-9ilb82 r-1q142lx font-family font-size-15px font-weight-400 r-rjixqe min-width-0px r-s1qlax text-overflow-wrap">
                                                    <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">·</span>
                                                </div>
                                                <div dir="auto" aria-label="23 hours ago"
                                                     class="css-901oao r-9ilb82 r-1q142lx font-family font-size-15px font-weight-400 r-rjixqe min-width-0px white-space-nowrap text-overflow-wrap">
                                                    <time datetime="2021-04-05T23:54:14.000Z">23h</time>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sharebook-container flex-direction-row justify-content-space-between r-zl2h9q"></div>
                                    </div>
                                </div>
                                <div class="sharebook-container">
                                    <div class="sharebook-container">
                                        <div lang="en" dir="auto"
                                             class="css-901oao lights-out-text-color font-family font-size-15px font-weight-400 r-rjixqe min-width-0px r-bnwqim text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post.text}}</span>
<!--                                            <span class="flex-direction-row">-->
<!--                                                <span dir="ltr"-->
<!--                                                      class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">#blender</span>-->
<!--                                            </span>-->
<!--                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> </span>-->
<!--                                            <span class="flex-direction-row">-->
<!--                                                <span dir="ltr"-->
<!--                                                      class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">#Cyberpunk2077</span>-->
<!--                                            </span>-->
<!--                                            <span class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap"> </span>-->
<!--                                            <span dir="ltr"-->
<!--                                                  class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">-->
<!--                                            <span aria-hidden="true"-->
<!--                                                  class="css-901oao sharebook-text-inherit text-font-family r-hiw28u r-qvk6io min-width-0px text-overflow-wrap">https://</span>-->
<!--                                            pic.twitter.com/tm2e1GI4ar-->
<!--                                        </span>-->
                                        </div>
                                    </div>
                                    <div class="sharebook-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="sharebook-container flex-direction-row r-n1gths r-ymttw5 r-rjfia">
        <div class="sharebook-container flex-direction-row flex-grow-expand flex-shrink">
            <div class="sharebook-container align-items-center r-1hwvwag container-left-side-flex-expand r-1b7u577">
                <div class="sharebook-container upload-bottom-border-background-color flex-grow-expand r-15zivkp r-ifefl9 r-m5arl1"></div>
            </div>
            <div class="sharebook-container open-space-container-flex-expand flex-grow-expand">
                <div dir="auto" role="button" tabindex="0"
                     class="css-18t94o4 css-901oao r-9ilb82 flex-grow-expand font-family font-size-15px font-weight-400 r-rjixqe min-width-0px r-1l7z4oj r-1h8ys4a text-overflow-wrap">
                    Replying to <span
                        class="css-901oao sharebook-text-inherit r-1n1174f text-font-family min-width-0px text-overflow-wrap"><span
                        class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post?.user.screenName}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
