.r-1ut4w64 {
  margin-bottom: -1px;
}

.r-1qhn6m8 {
  padding-left: 16px;
}

.r-i023vh {
  padding-right: 16px;
}

.r-ttdzmv {
  padding-top: 12px;
}

.r-1hwvwag {
  flex-basis: 48px;
}


.r-1b7u577 {
  margin-right: 12px;
}

.r-13qz1uu {
  width: 100%;
}

.r-1pi2tsx {
  height: 100%;
}

.r-h3s6tt {
  height: 48px;
}


.r-u8s1d {
  position: absolute;
}


.r-14gqq1x {
  margin-top: 4px;
}

.r-m5arl1 {
  width: 2px;
}

.r-kzbkwu {
  padding-bottom: 12px;
}

.r-zl2h9q {
  margin-bottom: 2px;
}

.r-k4xj1c {
  -webkit-box-align: start;
  align-items: start;
}

//.css-901oao {
//  border: 0 solid black;
//  box-sizing: border-box;
//  color: rgba(0,0,0,1.00);
//  display: inline;
//  font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
//  margin-bottom: 0px;
//  margin-left: 0px;
//  margin-right: 0px;
//  margin-top: 0px;
//  padding-bottom: 0px;
//  padding-left: 0px;
//  padding-right: 0px;
//  padding-top: 0px;
//  white-space: pre-wrap;
//  word-wrap: break-word;
//}

.r-rjixqe {
  line-height: 20px;
}

.r-4qtqp9 {
  display: inline-block;
}

.r-ip8ujx {
  height: 1em;
}

.r-sjv1od {
  margin-left: 0.075em;
}

.r-zw8f10 {
  margin-right: 0.075em;
}

.r-bnwqim {
  position: relative;
}

.r-h9hxbl {
  width: 1.2em;
}

.r-xoduu5 {
  display: inline-flex;
}

.r-x3cy2q {
  background-size: 100% 100%;
}

.r-1q142lx {
  flex-shrink: 0;
}

.r-13hce6t {
  margin-left: 4px;
}

.r-9ilb82 {
  color: rgb(110, 118, 125);
}

.r-s1qlax {
  padding-left: 4px;
  padding-right: 4px;
}

.r-hiw28u {
  font-size: 0px;
}

.r-qvk6io {
  line-height: 0px;
}

.r-n1gths {
  min-height: 12px;
}

.r-ymttw5 {
  padding-left: 16px;
  padding-right: 16px;
}

.r-rjfia {
  padding-bottom: 0px;
  padding-top: 0px;
}

.r-15zivkp {
  margin-bottom: 4px;
}


.r-ifefl9 {
  min-height: 0px;
}


.r-1l7z4oj {
  padding-bottom: 16px;
}

.r-1h8ys4a {
  padding-top: 4px;
}

.r-1n1174f {
  color: rgb(27, 149, 224);
}
