<router-outlet></router-outlet>
<div style="position: absolute; width: 100%; transform: translateY(0px); transition: opacity 0.3s ease-out 0s;">
    <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
        <div class="sharebook-container">
            <article role="article" tabindex="0"
                     class="sharebook-container flex-direction-row outline-style-none overflow-hidden r-1qhn6m8 r-i023vh">
                <div class="sharebook-container flex-direction-column flex-grow-expand flex-shrink">
                    <div class="sharebook-container flex-grow-expand flex-shrink outline-style-none">
                        <div class="sharebook-container">
                            <div class="sharebook-container">
                                <div class="sharebook-container flex-direction-row">
                                    <div class="sharebook-container open-space-container-flex-expand flex-grow-expand r-ttdzmv"></div>
                                </div>
                            </div>
                            <div class="sharebook-container flex-direction-row r-15zivkp">
                                <div class="sharebook-container align-items-center r-1hwvwag container-left-side-flex-expand r-1b7u577">
                                    <div class="sharebook-container container-left-side-flex-expand flex-shrink width-100-per">
                                        <div class="sharebook-container flex-shrink max-width-100-per">
                                            <a [routerLink]="'/' + this.post?.user?.screenName.substring(1)"
                                               role="link"
                                               class="css-4rbku5 css-18t94o4 sharebook-container border-radius-9999px r-1loqt21 display-block outline-style-none overflow-hidden transition-duration transition-property width-100-per"
                                               style="height: 48px;">
                                                <div class="sharebook-container display-block overflow-hidden"
                                                     style="">
                                                    <div class="display-block width-100-per"
                                                         style="padding-bottom: 100%;"></div>
                                                    <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                        <div aria-label=""
                                                             class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px r-417010">
                                                            <div class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per r-1wyyakw"
                                                                 [style.background-image]="'url(' + this.post?.user?.profileImageUrlHttps +')'"></div>
                                                            <img alt=""
                                                                 draggable="true"
                                                                 [src]="this.post?.user?.profileImageUrlHttps"
                                                                 class="css-9pa8cd">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sharebook-container r-1twgtwe border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="sharebook-container open-space-container-flex-expand flex-grow-expand justify-content-center">
                                    <div class="sharebook-container">
                                        <div class="sharebook-container r-zl2h9q">
                                            <div class="sharebook-container align-items-flex-start flex-direction-row justify-content-space-between">
                                                <div class="sharebook-container flex-shrink max-width-100-per">
                                                    <a [routerLink]="'/' + this.post?.user?.screenName" role="link" data-focusable="true"
                                                       class="css-4rbku5 css-18t94o4 sharebook-container r-1loqt21 flex-shrink max-width-100-per outline-style-none">
                                                        <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                                            <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                                <div dir="auto"
                                                                     class="css-901oao css-bfa6kz font-family r-a023e6 font-weight-700 r-rjixqe min-width-0px overflow-hidden r-3s2u2q text-overflow-wrap">
                                                                                                                <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">
                                                                                                                    <span class="text-basic r-poiln3 min-width-0px text-overflow-wrap">{{this.post.user.displayName}}</span></span>
                                                                </div>
                                                                <div *ngIf="this.post.user?.protected" dir="auto"
                                                                     class="css-901oao lights-out-text-color flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                    <fa-icon [icon]="this.faLock"></fa-icon>
                                                                </div>
                                                            </div>
                                                            <div class="sharebook-container flex-direction-row flex-shrink">
                                                                <div dir="ltr"
                                                                     class="css-901oao css-bfa6kz third-wheel-color flex-direction-row font-family r-a023e6 font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                                                                    <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">{{this.post.user.screenName}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                <div class="sharebook-container flex-direction-row justify-content-flex-start margin-left-20px">
                                                    <div aria-expanded="false" aria-haspopup="true" aria-label="More"
                                                         role="button" data-focusable="true" tabindex="0"
                                                         class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none"
                                                         [nbPopover]="this.popoverMoreComponent"
                                                         [nbPopoverContext]="{items: this.meatballsMenu, post: this.post}"
                                                         > <!--[nbContextMenu]="this.meatballsMenu"-->
                                                        <div dir="ltr"
                                                             class="css-901oao align-items-center third-wheel-color display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                            <div class="icon-hover sharebook-container display-inline-flex">
                                                                <div class="sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                                <nb-icon icon="more-horizontal-outline"></nb-icon>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sharebook-container flex-direction-row justify-content-space-between r-zl2h9q"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sharebook-container">
                                <div class="sharebook-container">
                                    <div class="sharebook-container r-1s2bzr4">
                                        <div *ngIf="!!this.post?.status" lang="en" dir="auto"
                                             class="css-901oao lights-out-text-color font-family very-strong-title font-weight-400 r-vrz42v min-width-0px r-bnwqim text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap" [innerHTML]="this.statusHTMLText"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sharebook-container" *ngIf="this.post?.entities?.medias?.length > 0">
                                    <app-media-gallery
                                            [media]="this.post.entities.medias"
                                            [height]="300"
                                            [onOpenMedia]="this.handleOpenMedia"
                                            [visible]="true"
                                            [defaultWidth]="250"
                                            [standalone]="true">
                                    </app-media-gallery>
                                </div>
                                <div class="sharebook-container" *ngIf="this.post?.poll">
                                    <app-poll [poll]="this.post.poll"
                                              [disabled]="false">
                                    </app-poll>
                                </div>
                                <div class="sharebook-container" *ngIf="this.post?.card">
                                    <app-card
                                            [card]="this.post.card"
                                            [sensitive]="false"
                                            [compact]="false">
                                    </app-card>
                                </div>
                                <div class="sharebook-container" *ngIf="this.post?.entities?.medias?.length === 0">
                                    <iframe *ngIf="this.getVideoEmbedLink()" class="video-frame" [src]="this.embedUrl | safeVideoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="sharebook-container r-1r5su4o">
                                    <div class="sharebook-container align-items-center flex-direction-row justify-content-space-between">
                                        <div dir="auto"
                                             class="css-901oao third-wheel-color font-family r-a023e6 font-weight-400 r-rjixqe r-1b7u577 min-width-0px text-overflow-wrap">
                                            <a href=""
                                               (click)="this.preventDefault($event)"
                                               role="link"
                                               class="css-4rbku5 css-18t94o4 css-901oao sharebook-text-inherit third-wheel-color r-1loqt21 r-poiln3 min-width-0px text-overflow-wrap"><span
                                                    class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap"><app-date-toggle [date]="post.createdAt"></app-date-toggle> · {{this.post.createdAt | date}}</span>
                                            </a>
                                            <span
                                                aria-hidden="true"
                                                class="css-901oao sharebook-text-inherit third-wheel-color svg-flex-shrink-0 r-poiln3 min-width-0px r-s1qlax text-overflow-wrap"><span
                                                class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">·</span></span>
                                            <a
                                                href=""
                                                (click)="this.preventDefault($event)"
                                                rel="noopener noreferrer"
                                                target="_blank" role="link"
                                                class="css-4rbku5 css-18t94o4 css-901oao sharebook-text-inherit third-wheel-color r-1loqt21 r-poiln3 min-width-0px r-1jeg54m text-overflow-wrap"><span
                                                class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">Chessbook Web App</span></a>
                                        </div>
                                        <div class="sharebook-container flex-direction-row"></div>
                                    </div>
                                </div>
                                <app-post-attributes [post]="this.post"></app-post-attributes>
                                <div *ngIf="this.post.favoriteCount || this.post.dislikeCount || this.post.repostCount" class="sharebook-container">
                                    <div class="sharebook-container r-2sztyj r-1efd50x r-5kkj8d flex-expand flex-direction-row r-tzz3ar r-s1qlax r-1yzf0co">
                                        <div *ngIf="this.post.repostCount" class="sharebook-container margin-right-20px">
                                            <div class="sharebook-container" (click)="open('reposts')">
                                                <a dir="auto" role="link"
                                                    class="css-4rbku5 css-18t94o4 css-901oao r-1fmj7o5 r-1loqt21 font-family r-a023e6 font-weight-400 r-rjixqe r-bcqeeo text-overflow-wrap">
                                                <div class="sharebook-container r-xoduu5 overflow-hidden"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-b88u0q r-bcqeeo r-d3hbe1 r-axxi2z text-overflow-wrap"
                                                        style="transition-duration: 0.3s; margin-right: 2px"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">{{this.post.repostCount}}</span></span>
                                                </div>
                                                <span class="css-901oao css-16my406 third-wheel-color r-poiln3 r-bcqeeo text-overflow-wrap"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">{this.post.repostCount, plural, =1 {Repost} other {Reposts}}</span></span></a>
                                            </div>
                                        </div>
                                        <div *ngIf="this.post.favoriteCount || this.post.dislikeCount" class="sharebook-container">
                                            <div class="sharebook-container" (click)="open('likes')">
                                                <a dir="auto"
                                                    role="link"
                                                    class="css-4rbku5 css-18t94o4 css-901oao r-1fmj7o5 r-1loqt21 font-family r-a023e6 font-weight-400 r-rjixqe r-bcqeeo text-overflow-wrap">
                                                <div class="sharebook-container r-xoduu5 overflow-hidden"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-b88u0q r-bcqeeo r-d3hbe1 r-axxi2z text-overflow-wrap"
                                                        style="transition-duration: 0.3s; margin-right: 2px"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">{{this.post.favoriteCount}}</span></span>
                                                </div>
                                                <span class="css-901oao css-16my406 third-wheel-color r-poiln3 r-bcqeeo text-overflow-wrap">
                                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">{this.post.favoriteCount, plural, =1 {Like} other {Likes}}</span>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="group"
                                     class="sharebook-container align-items-stretch r-2sztyj r-1efd50x r-5kkj8d flex-direction-row r-h3s6tt justify-content-space-between">
                                    <div #container class="sharebook-container flex-direction-row justify-content-flex-start r-3qxfft r-s1qlax r-rjfia"
                                         [attr.aria-label]="this.tooltipComment"
                                         [ngbTooltip]="this.tooltipComment"
                                         placement="auto" [openDelay]="700">
                                        <div aria-label="Reply"
                                             role="button" tabindex="0"
                                             class="css-18t94o4 sharebook-container justify-content-center r-bt1l66 outline-style-none overflow-visible r-lrvibr"
                                             (click)="this.handleReplyButton(this.post)">
                                            <div dir="ltr"
                                                 class="css-901oao align-items-center display-flex font-family r-a023e6 font-weight-400 justify-content-flex-start r-rjixqe min-width-0px transition-duration svg-transition-property r-3s2u2q text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="icon-hover sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <fa-icon [icon]="this.faComment" style="font-size: 21px"></fa-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sharebook-container flex-direction-row justify-content-flex-start r-3qxfft r-s1qlax r-rjfia"
                                         (click)="this.handleRepostClick(this.post)"
                                         [attr.aria-label]="this.tooltipRepost"
                                         [ngbTooltip]="this.tooltipRepost"
                                         placement="auto" [openDelay]="700">
                                        <div aria-expanded="false"
                                             aria-haspopup="false"
                                             aria-label="Repost"
                                             role="button" tabindex="0"
                                             class="css-18t94o4 sharebook-container justify-content-center r-bt1l66 outline-style-none overflow-visible r-lrvibr">
                                            <div dir="ltr"
                                                 class="css-901oao align-items-center display-flex font-family r-a023e6 font-weight-400 justify-content-flex-start r-rjixqe min-width-0px transition-duration svg-transition-property r-3s2u2q text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="icon-hover sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <fa-icon [icon]="this.faShare" style="font-size: 21px"
                                                             [ngStyle]="{'color': this.post.reposted ? 'green' : 'inherit'}"></fa-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sharebook-container flex-direction-row justify-content-flex-start"
                                         (click)="this.setLike()"
                                         [attr.aria-label]="tooltipLike" [ngbTooltip]="this.tooltipLike"
                                         placement="auto" [openDelay]="700">
                                        <div [attr.aria-label]="(this.post.favoriteCount ? this.post.favoriteCount : 0) + ' Likes. Like'"
                                             role="button" data-focusable="true"
                                             tabindex="0"
                                             class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none">
                                            <div dir="ltr"
                                                 class="css-901oao r-9ilb82 align-items-center r-9ilb82 display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="like-hover sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <fa-icon [icon]="this.faHeart" style="font-size: 21px"
                                                             [ngStyle]="{'color': this.userRating === 'like' ? 'blue' : 'inherit'}"
                                                             [@likeAnimation]="this.userRating === 'like' ? 'active' : 'inactive'">
                                                    </fa-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sharebook-container flex-direction-row justify-content-flex-start r-3qxfft r-s1qlax r-rjfia"
                                         (click)="this.showShareModal()" (keyup.enter)="this.showShareModal()"
                                         [attr.aria-label]="this.tooltipShare" [ngbTooltip]="this.tooltipShare"
                                         placement="auto" [openDelay]="700">
                                        <div aria-expanded="false"
                                             aria-haspopup="dialog"
                                             aria-label="Share Post"
                                             role="button" tabindex="0"
                                             class="css-18t94o4 sharebook-container justify-content-center r-bt1l66 outline-style-none overflow-visible r-lrvibr">
                                            <div dir="ltr"
                                                 class="css-901oao align-items-center display-flex font-family r-a023e6 font-weight-400 justify-content-flex-start r-rjixqe min-width-0px transition-duration svg-transition-property r-3s2u2q text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="icon-hover sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                   <fa-icon [icon]="this.faSatelliteDish" style="font-size: 21px"></fa-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
