<div style="position: absolute; width: 100%; transform: translateY(0px); transition: opacity 0.3s ease-out 0s;">
    <div class="sharebook-container border-bottom-color border-bottom-width-1px display-block outline-style-none">
        <div class="sharebook-container">
            <article role="article" tabindex="0"
                     class="sharebook-container flex-direction-row outline-style-none overflow-hidden r-1qhn6m8 r-i023vh">
                <div class="sharebook-container flex-direction-column flex-grow-expand flex-shrink">
                    <div class="sharebook-container flex-grow-expand flex-shrink outline-style-none">
                        <div class="sharebook-container">
                            <div class="sharebook-container">
                                <div class="sharebook-container flex-direction-row">
                                    <div class="sharebook-container open-space-container-flex-expand flex-grow-expand r-ttdzmv"></div>
                                </div>
                            </div>
                            <div class="sharebook-container flex-direction-row r-15zivkp"
                                 data-testid="tweet">
                                <div class="sharebook-container align-items-center r-1hwvwag container-left-side-flex-expand r-1b7u577">
                                    <div class="sharebook-container container-left-side-flex-expand flex-shrink width-100-per">
                                        <div class="sharebook-container flex-shrink max-width-100-per">
                                            <a href="/WorldFeedTest12"
                                               role="link"
                                               class="css-4rbku5 css-18t94o4 sharebook-container border-radius-9999px r-1loqt21 display-block outline-style-none overflow-hidden transition-duration transition-property width-100-per"
                                               style="height: 48px;">
                                                <div class="sharebook-container display-block overflow-hidden"
                                                     style="">
                                                    <div class="display-block width-100-per"
                                                         style="padding-bottom: 100%;"></div>
                                                    <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                        <div aria-label=""
                                                             class="sharebook-container border-radius-9999px bottom-0px image-flex-expand left-0px overflow-hidden position-absolute right-0px top-0px r-417010">
                                                            <div class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per r-1wyyakw"
                                                                 style="background-image: url('https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_bigger.jpg');"></div>
                                                            <img alt=""
                                                                 draggable="true"
                                                                 src="https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_bigger.jpg"
                                                                 class="css-9pa8cd">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sharebook-container r-1twgtwe border-radius-9999px border-width-1px bottom-0px image-avatar-box-shadow left-0px outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                            </a></div>
                                    </div>
                                </div>
                                <div class="sharebook-container open-space-container-flex-expand flex-grow-expand justify-content-center">
                                    <div class="sharebook-container">
                                        <div class="sharebook-container r-zl2h9q">
                                            <div class="sharebook-container align-items-flex-start flex-direction-row justify-content-space-between">
                                                <div class="sharebook-container flex-shrink max-width-100-per">
                                                    <a href="/WorldFeedTest12"
                                                       role="link"
                                                       class="css-4rbku5 css-18t94o4 sharebook-container r-1loqt21 flex-shrink max-width-100-per outline-style-none">
                                                        <div class="sharebook-container flex-shrink max-width-100-per outline-style-none">
                                                            <div class="sharebook-container align-items-center flex-direction-row max-width-100-per">
                                                                <div dir="auto"
                                                                     class="css-901oao css-bfa6kz lights-out-text-color font-family r-a023e6 font-weight-700 r-rjixqe min-width-0px overflow-hidden r-3s2u2q text-overflow-wrap">
                                                                                                                <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap"><span
                                                                                                                        class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">{{this.post.user.name}}</span></span>
                                                                </div>
                                                                <div *ngIf="this.post.user?.protected" dir="auto"
                                                                     class="css-901oao lights-out-text-color flex-direction-row svg-flex-shrink-0 font-family font-size-15px font-weight-400 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                                                    <app-global-icon iconName="protected"></app-global-icon>
                                                                </div>
                                                            </div>
                                                            <div class="sharebook-container flex-direction-row flex-shrink">
                                                                <div dir="ltr"
                                                                     class="css-901oao css-bfa6kz third-wheel-color flex-direction-row font-family r-a023e6 font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                                                                    <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">{{this.post.user.screenName}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                <div class="sharebook-container flex-direction-row justify-content-flex-start margin-left-20px">
                                                    <div aria-expanded="false" aria-haspopup="true" aria-label="More"
                                                         role="button" data-focusable="true" tabindex="0"
                                                         class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none"
                                                         data-testid="caret"
                                                         [nbContextMenu]="this.meatballsMenu">
                                                        <div dir="ltr"
                                                             class="css-901oao align-items-center third-wheel-color display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                            <div class="sharebook-container display-inline-flex">
                                                                <div class="sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                                <nb-icon icon="more-horizontal-outline"></nb-icon>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sharebook-container flex-direction-row justify-content-space-between r-zl2h9q"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sharebook-container">
                                <div class="sharebook-container">
                                    <div class="sharebook-container r-1s2bzr4">
                                        <div *ngIf="this.hasText" lang="en" dir="auto"
                                             class="css-901oao lights-out-text-color font-family very-strong-title font-weight-400 r-vrz42v min-width-0px r-bnwqim text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">{{this.post.text}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sharebook-container">
                                    <div *ngIf="this.hasMedia" class="sharebook-container">
                                        <div class="sharebook-container">
                                            <div class="sharebook-container main-left-right-vertical-border-color border-radius-16px border-style-solid border-width-1px r-1s2bzr4 outline-style-none overflow-hidden transition-duration transition-property">
                                                <div class="sharebook-container">
                                                    <a [routerLink]="this.getVideoRouterLink()" role="link" class="css-4rbku5 css-18t94o4 sharebook-container r-1loqt21 outline-style-none">
                                                    <div class="sharebook-container display-block overflow-hidden" style="">
                                                        <div class="display-block width-100-per" style="padding-bottom: 101.04%;"></div>
                                                        <div class="bottom-0px height-100-per left-0px position-absolute top-0px width-100-per">
                                                            <div aria-label="Image" class="sharebook-container bottom-0px image-flex-expand left-0px image-margin-left image-margin-right overflow-hidden position-absolute right-0px top-0px r-417010" data-testid="tweetPhoto" style="margin-bottom: 0px; margin-top: 0px;">
                                                                <div class="sharebook-container element-background-color-rgba image-background-position image-background-repeat image-background-size bottom-0px height-100-per left-0px position-absolute right-0px top-0px width-100-per r-1wyyakw"
                                                                     [style.background-image]="imageBackgroundStyle"></div>
                                                                <img alt="Image" draggable="true" [src]="this.mediaUrl" class="css-9pa8cd">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sharebook-container r-1r5su4o">
                                    <div class="sharebook-container align-items-center flex-direction-row justify-content-space-between">
                                        <div dir="auto"
                                             class="css-901oao third-wheel-color font-family r-a023e6 font-weight-400 r-rjixqe r-1b7u577 min-width-0px text-overflow-wrap">
                                            <a href="/WorldFeedTest12/status/1379508134998315008"
                                               role="link"
                                               class="css-4rbku5 css-18t94o4 css-901oao sharebook-text-inherit third-wheel-color r-1loqt21 r-poiln3 min-width-0px text-overflow-wrap"><span
                                                    class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">9:55 PM · Apr 6, 2021</span></a><span
                                                aria-hidden="true"
                                                class="css-901oao sharebook-text-inherit third-wheel-color svg-flex-shrink-0 r-poiln3 min-width-0px r-s1qlax text-overflow-wrap"><span
                                                class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">·</span></span><a
                                                href="https://help.twitter.com/using-twitter/how-to-tweet#source-labels"
                                                rel="noopener noreferrer"
                                                target="_blank" role="link"
                                                class="css-4rbku5 css-18t94o4 css-901oao sharebook-text-inherit third-wheel-color r-1loqt21 r-poiln3 min-width-0px r-1jeg54m text-overflow-wrap"><span
                                                class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">Twitter Web App</span></a>
                                        </div>
                                        <div class="sharebook-container flex-direction-row"></div>
                                    </div>
                                </div>
                                <a href="/WorldFeedTest12/status/1379508134998315008/analytics"
                                   role="link"
                                   class="css-4rbku5 css-18t94o4 sharebook-container r-2sztyj r-1efd50x r-5kkj8d r-1loqt21 flex-direction-row outline-style-none r-1yzf0co transition-duration transition-property"
                                   data-testid="analyticsButton">
                                    <!--                                    <svg viewBox="0 0 24 24"-->
                                    <!--                                         class="third-wheel-color r-4qtqp9 r-yyyyoo r-1xvli5t max-width-100-per r-1hvjb8t r-bnwqim r-1plcrui r-lrvibr">-->
                                    <!--                                        <g>-->
                                    <!--                                            <path d="M12 22c-.414 0-.75-.336-.75-.75V2.75c0-.414.336-.75.75-.75s.75.336.75.75v18.5c0 .414-.336.75-.75.75zm5.14 0c-.415 0-.75-.336-.75-.75V7.89c0-.415.335-.75.75-.75s.75.335.75.75v13.36c0 .414-.337.75-.75.75zM6.86 22c-.413 0-.75-.336-.75-.75V10.973c0-.414.337-.75.75-.75s.75.336.75.75V21.25c0 .414-.335.75-.75.75z"></path>-->
                                    <!--                                        </g>-->
                                    <!--                                    </svg>-->
                                    <div dir="auto"
                                         class="css-901oao third-wheel-color font-family r-a023e6 font-weight-400 r-rjixqe min-width-0px text-overflow-wrap">
                                        <span class="css-901oao sharebook-text-inherit r-poiln3 min-width-0px text-overflow-wrap">View Tweet activity</span>
                                    </div>
                                </a>
                                <div *ngIf="this.post.favoriteCount || this.post.dislikeCount || this.post.retweetCount" class="sharebook-container">
                                    <div class="sharebook-container r-2sztyj r-1efd50x r-5kkj8d flex-expand flex-direction-row r-tzz3ar r-s1qlax r-1yzf0co">
                                        <div *ngIf="this.post.retweetCount" class="sharebook-container margin-right-20px">
                                            <div class="sharebook-container">
                                                <a
                                                    href="/WorldFeedTest12/status/1379508134998315008/retweets"
                                                    dir="auto" role="link"
                                                    class="css-4rbku5 css-18t94o4 css-901oao r-1fmj7o5 r-1loqt21 font-family r-a023e6 font-weight-400 r-rjixqe r-bcqeeo text-overflow-wrap">
                                                <div class="sharebook-container r-xoduu5 overflow-hidden"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-b88u0q r-bcqeeo r-d3hbe1 r-axxi2z text-overflow-wrap"
                                                        style="transition-duration: 0.3s;"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">1</span></span>
                                                </div>
                                                <span class="css-901oao css-16my406 third-wheel-color r-poiln3 r-bcqeeo text-overflow-wrap"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">Retweet</span></span></a>
                                            </div>
                                        </div>
                                        <div *ngIf="this.post.favoriteCount || this.post.dislikeCount" class="sharebook-container">
                                            <div class="sharebook-container" (click)="open()"><a
                                                    routerLink="#" dir="auto"
                                                    role="link"
                                                    class="css-4rbku5 css-18t94o4 css-901oao r-1fmj7o5 r-1loqt21 font-family r-a023e6 font-weight-400 r-rjixqe r-bcqeeo text-overflow-wrap">
                                                <div class="sharebook-container r-xoduu5 overflow-hidden"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-b88u0q r-bcqeeo r-d3hbe1 r-axxi2z text-overflow-wrap"
                                                        style="transition-duration: 0.3s;"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">{{this.post.favoriteCount}}</span></span>
                                                </div>
                                                <span class="css-901oao css-16my406 third-wheel-color r-poiln3 r-bcqeeo text-overflow-wrap"><span
                                                        class="css-901oao css-16my406 r-poiln3 r-bcqeeo text-overflow-wrap">Like</span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="group"
                                     class="sharebook-container align-items-stretch r-2sztyj r-1efd50x r-5kkj8d flex-direction-row r-h3s6tt justify-content-space-between">
                                    <div class="sharebook-container flex-direction-row justify-content-flex-start r-3qxfft r-s1qlax r-rjfia">
                                        <div aria-label="Reply"
                                             role="button" tabindex="0"
                                             class="css-18t94o4 sharebook-container justify-content-center r-bt1l66 outline-style-none overflow-visible r-lrvibr"
                                             data-testid="reply">
                                            <div dir="ltr"
                                                 class="css-901oao align-items-center third-wheel-color display-flex font-family r-a023e6 font-weight-400 justify-content-flex-start r-rjixqe min-width-0px transition-duration svg-transition-property r-3s2u2q text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <svg viewBox="0 0 24 24"
                                                         class="svg-display-inline-block svg-fill-currentcolor svg-height max-width-100-per r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                                                        <g>
                                                            <path d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sharebook-container flex-direction-row justify-content-flex-start r-3qxfft r-s1qlax r-rjfia">
                                        <div aria-expanded="false"
                                             aria-haspopup="menu"
                                             aria-label="Retweet"
                                             role="button" tabindex="0"
                                             class="css-18t94o4 sharebook-container justify-content-center r-bt1l66 outline-style-none overflow-visible r-lrvibr"
                                             data-testid="retweet">
                                            <div dir="ltr"
                                                 class="css-901oao align-items-center third-wheel-color display-flex font-family r-a023e6 font-weight-400 justify-content-flex-start r-rjixqe min-width-0px transition-duration svg-transition-property r-3s2u2q text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <svg viewBox="0 0 24 24"
                                                         class="svg-display-inline-block svg-fill-currentcolor svg-height max-width-100-per r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                                                        <g>
                                                            <path d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sharebook-container flex-direction-row justify-content-flex-start"
                                         (click)="this.setLike()"
                                         [attr.aria-label]="tooltipLike" [ngbTooltip]="this.tooltipLike"
                                         placement="auto" [openDelay]="700">
                                        <div [attr.aria-label]="(this.post.favoriteCount ? this.post.favoriteCount : 0) + ' Likes. Like'"
                                             role="button" data-focusable="true"
                                             tabindex="0"
                                             class="sharebook-cursor-pointer sharebook-container justify-content-center r-11cpok1 outline-style-none overflow-visible users-select-none"
                                             data-testid="like">
                                            <div dir="ltr"
                                                 class="css-901oao r-9ilb82 align-items-center r-9ilb82 display-flex font-family font-size-15px font-weight-400 justify-content-flex-start inside-element-container-line-height min-width-0px transition-duration svg-transition-property white-space-nowrap text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <!--<app-global-icon iconName="like"></app-global-icon>-->
                                                    <nb-icon
                                                            [icon]="this.userRating === 'like' ? 'heart' : 'heart-outline'"></nb-icon>
                                                </div>
                                                <div class="sharebook-container display-inline-flex overflow-hidden">
                                                            <span class="css-901oao sharebook-text-inherit text-font-family third-wheel-text-font-size line-height-calc r-1j6idkz padding-left-right r-d3hbe1 r-1wgg2b2 r-axxi2z text-overflow-wrap">
                                                                <span *ngIf="this.post.favoriteCount !== 0"
                                                                      class="css-901oao sharebook-text-inherit text-font-family min-width-0px text-overflow-wrap">{{this.post.favoriteCount}}</span>
                                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sharebook-container flex-direction-row justify-content-flex-start r-3qxfft r-s1qlax r-rjfia">
                                        <div aria-expanded="false"
                                             aria-haspopup="menu"
                                             aria-label="Share Tweet"
                                             role="button" tabindex="0"
                                             class="css-18t94o4 sharebook-container justify-content-center r-bt1l66 outline-style-none overflow-visible r-lrvibr">
                                            <div dir="ltr"
                                                 class="css-901oao align-items-center third-wheel-color display-flex font-family r-a023e6 font-weight-400 justify-content-flex-start r-rjixqe min-width-0px transition-duration svg-transition-property r-3s2u2q text-overflow-wrap">
                                                <div class="sharebook-container display-inline-flex">
                                                    <div class="sharebook-container element-background-color-rgba border-radius-9999px bottom-0px display-inline-flex left-0px second-class-svg-margin outline-style-none position-absolute right-0px top-0px transition-duration transition-property"></div>
                                                    <svg viewBox="0 0 24 24"
                                                         class="svg-display-inline-block svg-fill-currentcolor svg-height max-width-100-per r-bnwqim r-1plcrui r-lrvibr r-1srniue">
                                                        <g>
                                                            <path d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"></path>
                                                            <path d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"></path>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
