@import "src/sass/application";

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.r-1qhn6m8 {
  padding-left: 16px;
}

.r-i023vh {
  padding-right: 16px;
}

.r-ttdzmv {
  padding-top: 12px;
}

.r-15zivkp {
  margin-bottom: 4px;
}

.r-1hwvwag {
  flex-basis: 48px;
}

.r-1b7u577 {
  margin-right: 12px;
}

.r-1loqt21 {
  cursor: pointer;
}

.r-417010 {
  z-index: 0;
}


.r-1wyyakw {
  z-index: -1;
}

// .sharebook-image
.css-9pa8cd {
  inset: 0px;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.r-1twgtwe {
  border-color: rgba(0, 0, 0, 0.04);
}

.r-zl2h9q {
  margin-bottom: 2px;
}

.r-1loqt21 {
  cursor: pointer;
}

.css-bfa6kz {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.r-a023e6 {
  font-size: 15px;
}

.r-rjixqe {
  line-height: 20px;
}

.r-3s2u2q {
  white-space: nowrap;
}

.r-poiln3 {
  font-family: inherit;
}

.r-bt1l66 {
  min-height: 20px;
}

.r-lrvibr {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.r-zl2h9q {
  margin-bottom: 2px;
}


.r-1s2bzr4 {
  margin-top: 12px;
}

.r-vrz42v {
  line-height: 28px;
}

.r-bnwqim {
  position: relative;
}

.r-1r5su4o {
  margin-bottom: 16px;
  margin-top: 16px;
}


.r-s1qlax {
  padding-left: 4px;
  padding-right: 4px;
}

.r-2sztyj {
  border-top-color: rgb(47, 51, 54);
}

.r-1efd50x {
  border-top-style: solid;
}

.r-5kkj8d {
  border-top-width: 1px;
}

.r-1yzf0co {
  padding-bottom: 16px;
  padding-top: 16px;
}

.r-h3s6tt {
  height: 48px;
}

.r-3qxfft {
  min-height: 1.875rem;
}


.r-rjfia {
  padding-bottom: 0px;
  padding-top: 0px;
}


.r-bt1l66 {
  min-height: 20px;
}

.r-rjfia {
  padding-bottom: 0px;
  padding-top: 0px;
}

.r-1plcrui {
  vertical-align: text-bottom;
}

.r-1srniue {
  width: 1.5em;
}

.css-18t94o4 {
  cursor: pointer;
}



.r-tzz3ar {
  flex-wrap: nowrap;
}


.r-1fmj7o5 {
  color: rgba(217,217,217,1.00);
}

.r-xoduu5 {
  display: inline-flex;
}


.r-1loqt21 {
  cursor: pointer;
}

.r-poiln3 {
  font-family: inherit;
}

.r-a5pmau {
  margin-right: 2px;
}


.css-18t94o4 {
  cursor: pointer;
}

.r-zl2h9q {
  margin-bottom: 2px;
}

// sharebook-image updated
.css-9pa8cd {
  inset: 0px;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}


.video-frame {
  /*width: 507px;*/
  height: 326px;
}

.like-hover {
  &:hover {
    background-color: rgba(0, 3, 182, 0.2); // rgb(249, 24, 128);
    border-color: rgba(0, 3, 182, 0.2); // rgb(249, 24, 128);
    color: rgba(0, 3, 182, 0.2); // rgb(249, 24, 128);

    & + fa-icon {
      color: blue !important;
    }
  }
}







