<section aria-labelledby="detail-header" aria-label="Section details" role="region"
         class="css-1dbjc4n r-1kqtdi0 r-13l2t4g r-1phboty r-1jgb5lz r-1ye8kvj r-1udh08x r-13qz1uu">
  <div class="css-1dbjc4n r-1awozwy r-kemksi r-13awgt0 r-1777fci r-1jgb5lz r-1ye8kvj r-13qz1uu">
    <div class="css-1dbjc4n r-d9fdf6 r-6wcr4z">
      <div dir="auto"
           class="css-901oao r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-15d164r r-bcqeeo r-q4m81j r-qvutc0"><span
        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">You don’t have a message selected</span>
      </div>
      <div dir="auto"
           class="css-901oao r-9ilb82 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-q4m81j r-ey96lj r-qvutc0"><span
        class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Choose one from your existing messages, or start a new one.</span>
      </div>
      <a href="/messages/compose" role="button" data-focusable="true"
         class="css-4rbku5 css-18t94o4 css-1dbjc4n r-urgr8i r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-1w2pmg r-1jgb5lz r-1x0uki6 r-1vuscfd r-1dhvaqw r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr">
        <div dir="auto"
             class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
          <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
            class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">New message</span></span></div>
      </a></div>
  </div>
</section>










