<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="this.navigateHome()"><span>chessbook</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout" [poll]="this.poll" (click)="this.handleSurveyClick()"></nb-search>
    </nb-action>
    <nb-action class="control-item">
      <a href="https://www.chess.com/" target="_blank" title="chess.com">
        <img src="assets/images/chess.com-35x35.png" alt="chess.com logo" style="width: 32px; height: 32px;">
      </a>
    </nb-action>
    <nb-action class="control-item">
      <a href="https://chess24.com/" target="_blank" title="chess24">
        <img src="assets/images/chess24-32x32.png" alt="chess24 logo" style="width: 32px; height: 32px;">
      </a>
    </nb-action>
    <nb-action class="control-item">
      <a href="https://lichess.org/" target="_blank" title="lichess">
        <img src="assets/images/lichess.svg" alt="lichess logo" style="width: 32px; height: 32px;">
      </a>
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'current-user']">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.displayName"
               [picture]="user?.profileImageUrlHttps | ngxAuthToken | async">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
