<h1 class="sr-only">Notifications</h1>
<div class="header">
  <a routerLink="/my-account/settings" fragment="notifications">
    <fa-icon [icon]="this.faCog" aria-hidden="true"></fa-icon>
    Notification preferences
  </a>

  <div class="peertube-select-container peertube-select-button ml-2 mr-2">
    <select [(ngModel)]="notificationSortType" (ngModelChange)="onChangeSortColumn()" class="form-control">
      <option value="undefined" disabled>Sort by</option>
      <option value="createdAt">Newest first</option>
      <option value="read" [disabled]="!hasUnreadNotifications()">Unread first</option>
    </select>
  </div>

  <button class="btn ml-auto" [disabled]="!hasUnreadNotifications()" (click)="markAllAsRead()">
    <ng-container *ngIf="hasUnreadNotifications()">
      <fa-icon [icon]="this.faCheck" aria-hidden="true"></fa-icon>

      <span>Mark all as read</span>
    </ng-container>

    <ng-container *ngIf="!hasUnreadNotifications()">
      <fa-icon [icon]="this.faCheckCircle" aria-hidden="true"></fa-icon>

      <span>All read</span>
    </ng-container>
  </button>
</div>

<!--<app-user-notifications #userNotification></app-user-notifications> &lt;!&ndash; TODO: if you remove notification from here, remove the module too!!&ndash;&gt;-->
