<!--Directives add behaviour to an existing DOM element or an existing component instance-->
<div class="container" appDnd (fileDropped)="onFileDropped($event)">
<div class="row" style="margin-bottom:15px; text-align: center">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
    <button type="button" class="btn btn-success" (click)="file.click()">Browse For File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img *ngIf="file.video === null; else elseBlock" [src]="createImgPath(file.path)" width="45px" alt="file">
      <ng-template #elseBlock>
        <video [src]="createImgPath(file.path)" style="width:90px; height:90px;" controls> </video>
      </ng-template>
      <div class="info">
        <p class="size" style="color: wheat">
          {{ formatBytes(file?.size) }}
        </p>
      </div>
      <img id="delete-media" src="../../../../../../assets/images/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i, file.mediaId)" draggable="false">
    </div>
  </div>
</div>
</div>
