<ng-container *ngIf="videoActions.length !== 0">

  <div
    role="button" aria-label="Open video actions"
    class="playlist-dropdown" ngbDropdown #playlistDropdown="ngbDropdown" autoClose="outside" [placement]="getPlaylistDropdownPlacement()">
    <!--*ngIf="isUserLoggedIn() && displayOptions.playlist" (openChange)="playlistAdd.openChange($event)"-->
    <span class="anchor" ngbDropdownAnchor></span>

    <div ngbDropdownMenu>
    <!--  <my-video-add-to-playlist #playlistAdd [video]="video" [lazyLoad]="true"></my-video-add-to-playlist>-->
    </div>
  </div>

  <app-action-dropdown
    [actions]="videoActions" [label]="label" [entry]="{ video: video }" (click)="loadDropdownInformation()"
    [buttonSize]="buttonSize" [placement]="placement" [buttonDirection]="buttonDirection" [buttonStyled]="buttonStyled"
    container="body"
  ></app-action-dropdown>

  <app-video-report #videoReportModal [video]="video"></app-video-report>
  <app-video-block #videoBlockModal [post]="video" (videoBlocked)="onVideoBlocked()"></app-video-block>
</ng-container>
