<div aria-labelledby="modal-header" role="dialog" aria-modal="true" class="sharebook-container flex-shrink  overflow-hidden upload-modal-top"> <!--border-radius-16px--> <!--modal-max-height-90vh modal-max-width-80vw modal-min-width-600px-->
    <nb-card class="list-card" size="small">
            <nb-card-header >
                <div role="progressbar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0"
                     class="sharebook-container r-kicko2 r-notknq progress-bar-height overflow-hidden position-absolute users-select-none width-100-per header-z-index">
                    <div class="sharebook-container sharebook-background-color-blue height-100-per r-1joz4e6 r-11iat2r r-1c4c958 z-index-minus-1"
                         style="width: 0%;">
                    </div>
                </div>
                <div class="sharebook-container height-53px z-index-plus-2">
                    <div class="sharebook-container">
                        <div
                                class="sharebook-container background-color-lights-out height-53px left-right-padding-15px">
                            <div class="sharebook-container align-items-center flex-direction-row height-53px justify-content-center margin-left-right-auto header-max-width-1000px width-100-per">
                                <div class="sharebook-container align-items-flex-start align-self-stretch justify-content-center min-height-30px header-left-icon-min-width-59px">
                                    <div aria-label="Close" role="button" data-focusable="true"
                                         tabindex="0"
                                         class="icon-hover close-button sharebook-cursor-pointer sharebook-container element-border-color-rgba border-radius-9999px border-style-solid border-width-1px border-height-0px element-min-height-39px element-min-width-39px outline-style-none element-left-right-padding-0px transition-duration transition-property users-select-none"
                                         style="margin-left: calc(5px + (-1 * (41px - 1.5em)) / 2);">
                                        <div dir="auto" class="align-items-center r-13gxpu9 display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap"
                                             (click)="this.dismiss()">
                                            <fa-icon [icon]="this.faTimes" [styles]="this.svgStyles"></fa-icon>
                                            <span
                                                    class="css-901oao sharebook-text-inherit sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sharebook-container flex-grow-expand flex-shrink height-100-per justify-content-center">
                                    <div class="sharebook-container align-items-flex-start">
                                        <h5 aria-level="2" dir="auto" role="heading" class="sharebook-link css-901oao sharebook-text lights-out-text-color font-family heading-font-size font-weight-800 inside-element-container-line-height min-width-0px text-overflow-wrap">
                                            <span class="css-901oao sharebook-text-inherit font-family inside-element-container-line-height min-width-0px text-overflow-wrap">{{this.title}}</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-header>
        <nb-list>
            <nb-list-item matRipple *ngFor="let user of this.users" class="contact">
                <nb-user style="cursor: pointer" [picture]="user.profileImageUrlHttps" [name]="user.displayName" [title]="user.screenName" (click)="this.userClickHandler(user.screenName)">
                </nb-user>
                <app-follow-button *ngIf="!this.isManageable(user)" [account]="user" [users]="[user]"></app-follow-button>
            </nb-list-item>
        </nb-list>
    </nb-card>
</div>
