<div *ngIf="this.media" class="media-gallery" [style.height.px]="this.style.height" #nodeRef> <!--273.375-->
    <ng-container *ngIf="this.standalone && this.isFullSizeEligible(); else multiple">
        <app-item
                [standalone]="this.standalone"
                [autoplay]="this.autoplay"
                [onClick]="this.handleClick"
                [attachment]="this.media[0]"
                [displayWidth]="this.width"
                [visible]="this.visible"
                [size]="this.media.length">
        </app-item>
    </ng-container>

    <ng-template #multiple>
        <ng-container>
            <app-item *ngFor="let attachment of this.media; let i = index"
                      [autoplay]="this.autoplay"
                      [onClick]="this.handleClick"
                      [attachment]="this.attachment"
                      [index]="i"
                      [size]="this.media.length"
                      [displayWidth]="this.width"
                      [visible]="this.visible || this.uncached">
            </app-item>
        </ng-container>
    </ng-template>
</div>
