<div class="poll">
    <ul style="padding: 0; list-style: none;">
        <ng-container *ngFor="let answer of this.poll.answers; let i = index">
            <app-render-option [poll]="this.poll"
                               [option]="answer"
                               [optionIndex]="answer.id"
                               [showResults]="this.showResults"
                               (selected)="this.setBackgroundColor($event)">
            </app-render-option>
        </ng-container>
    </ul>

    <div class="poll__footer text-hint">
        <button *ngIf="!this.showResults" nbButton size="small" status="primary" shape="rectangle"
                [disabled]="this.disabled"
                (click)="this.handleVote()">Vote
        </button>
        <span *ngIf="this.showResults && !this.disabled"><button class="poll__link text-hint" (click)="this.handleRefresh()">Refresh</button> · </span>
        {this.votesCount, plural, =1 {1 vote} other {{{ this.votesCount}} votes }}
        <span *ngIf="this.poll.expiresAt"> · <ng-container *ngIf="this.expired">Final results</ng-container>
            <ng-container *ngIf="!this.expired">
                <app-relative-timestamp [timestamp]="this.poll.expiresAt" [futureDate]="true">

                </app-relative-timestamp>
            </ng-container>
        </span>
    </div>
</div>
