<!--<nav class="navbar navbar-expand-lg navbar-light bg-secondary">-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" (click)="route('')">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--&lt;!&ndash;        <li class="nav-item" *ngIf="token">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link"(click)="logout()">Logout</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--&lt;!&ndash;          <li class="nav-item" *ngIf="!token">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="nav-link" (click)="route('auth')">Login</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" (click)="route('history')">History</a>-->
<!--        </li>-->
<!--&lt;!&ndash;        <li class="nav-item" *ngIf="token">&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="nav-link text-dark" title="Profile">Hello {{User}}!</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </li>&ndash;&gt;-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">World Feed</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
<!--        <app-login-menu></app-login-menu>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" (click)="route('')">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
            <li class="nav-item" *ngIf="token">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item" *ngIf="!token">
              <a class="nav-link" (click)="route('auth')">Login</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Feed</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">History</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('science')">Science</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Literature</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Math</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Sports</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Gaming</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Politics</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">News</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Philosophy</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Religions</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Travel</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Fun</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('history')">Celebrities</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" (click)="route('kids')">Kids</a>
            </li>
            <li class="nav-item" *ngIf="token">
              <a class="nav-link text-dark" title="Profile">Hello {{User}}!</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

