<p-table
        [value]="abuses" [paginator]="totalRecords > 0" [totalRecords]="totalRecords" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions"
        [sortField]="sort.field" [sortOrder]="sort.order" dataKey="id" [resizableColumns]="true"
        [lazy]="true" (onLazyLoad)="loadLazy($event)" [lazyLoadOnInit]="false"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {{'{first}'}} to {{'{last}'}} of {{'{totalRecords}'}} reports"
        (onPage)="onPage($event)" [expandedRowKeys]="expandedRows"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="ml-auto">
        <my-advanced-input-filter [filters]="inputFilters" (search)="onSearch($event)"></my-advanced-input-filter>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr> <!-- header -->
      <th style="width: 40px;"></th>
      <th style="width: 150px;"></th>
      <th *ngIf="isAdminView()" style="width: 20%;" pResizableColumn>Reporter</th>
      <th>Post/Comment/Account</th>
      <th style="width: 150px;" pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon></th>
      <th pSortableColumn="state" style="width: 80px;">State <p-sortIcon field="state"></p-sortIcon></th>
      <th style="width: 80px;">Messages</th>
      <th *ngIf="isAdminView()" style="width: 100px;">Internal note</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-expanded="expanded" let-abuse>
    <tr>
      <td class="expand-cell c-hand" [pRowToggler]="abuse" ngbTooltip="More information" placement="top-left" container="body">
        <span class="expander">
          <fa-icon [icon]="expanded ? this.faChevronDown : this.faChevronRight"></fa-icon>
        </span>
      </td>

      <td class="action-cell">
        <app-action-dropdown
                [ngClass]="{ 'show': expanded }" placement="bottom-right top-right left auto" container="body"
                label="Actions" [actions]="abuseActions" [entry]="abuse"
        ></app-action-dropdown>
      </td>

      <td *ngIf="isAdminView()">
        <a *ngIf="abuse.reporterAccount" [href]="abuse.reporterAccount.screenName" title="Open account in a new tab" target="_blank" rel="noopener noreferrer">
          <div class="chip two-lines">
            <my-actor-avatar [account]="abuse.reporterAccount"></my-actor-avatar>
            <div>
              {{ abuse.reporterAccount.displayName }}
              <span>{{ abuse.reporterAccount.screenName }}</span>
            </div>
          </div>
        </a>

        <span *ngIf="!abuse.reporterAccount">
          Deleted account
        </span>
      </td>

      <ng-container *ngIf="abuse.post">

        <td *ngIf="!abuse.post.deleted">
          <a [href]="getVideoUrl(abuse)" class="table-video-link" [title]="abuse.post.name" target="_blank" rel="noopener noreferrer">
            <div class="table-video">
              <div class="table-video-image">
                <img [src]="abuse.post.thumbnailPath">
                <span
                        class="table-video-image-label" *ngIf="abuse.count > 1"
                        title="This video has been reported multiple times."
                >
                  {{ abuse.nth }}/{{ abuse.count }}
                </span>
              </div>

              <div class="table-video-text">
                <div>
                  <span *ngIf="!abuse.post.blacklisted" class="glyphicon glyphicon-new-window"></span>
                  <span *ngIf="abuse.post.blacklisted" title="The video was blocked" class="glyphicon glyphicon-ban-circle"></span>
                  {{ abuse.post.name }}
                </div>
                <div>by {{ abuse.post.channel?.displayName }} on {{ abuse.post.channel?.host }} </div>
              </div>
            </div>
          </a>
        </td>

        <td *ngIf="abuse.post.deleted" class="c-hand" [pRowToggler]="abuse">
          <div class="table-video" title="Video was deleted">
            <div class="table-video-image">
              <span>Deleted</span>
            </div>

            <div class="table-video-text">
              <div>
                {{ abuse.post.name }}
                <span class="glyphicon glyphicon-trash"></span>
              </div>
              <div>by {{ abuse.post.channel?.displayName }} on {{ abuse.post.channel?.host }} </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container *ngIf="abuse.comment">
        <td>
          <a [href]="getCommentUrl(abuse)" [innerHTML]="abuse.truncatedCommentHtml" class="table-comment-link"
             [title]="abuse.comment.video.name" target="_blank" rel="noopener noreferrer"
          ></a>

          <div class="comment-flagged-account" *ngIf="abuse.flaggedAccount">by {{ abuse.flaggedAccount.displayName }}</div>
        </td>
      </ng-container>

      <ng-container *ngIf="!abuse.comment && !abuse.post">
        <td *ngIf="abuse.flaggedAccount">
          <a [href]="getAccountUrl(abuse)"  class="table-account-link" target="_blank" rel="noopener noreferrer">
            <span>{{ abuse.flaggedAccount.displayName }}</span>

            <span class="account-flagged-handle">{{ abuse.flaggedAccount.screenName }}</span>
          </a>
        </td>

        <td *ngIf="!abuse.flaggedAccount">
          Account deleted
        </td>

      </ng-container>

      <td class="c-hand" [pRowToggler]="abuse">{{ abuse.createdAt | date: 'short'  }}</td>

      <td class="c-hand abuse-states" [pRowToggler]="abuse">
        <span *ngIf="isAbuseAccepted(abuse)" [title]="abuse.state.label" class="">✔</span>
        <span *ngIf="isAbuseRejected(abuse)" [title]="abuse.state.label" class="">❌</span>
        <span *ngIf="isAbusePending(abuse)" [title]="abuse.state.label" class=""><fa-icon [icon]="this.faEllipsisH"></fa-icon></span>
      </td>

      <td class="c-hand abuse-messages" (click)="openAbuseMessagesModal(abuse)">
        <ng-container *ngIf="isLocalAbuse(abuse)">
          {{ abuse.countMessages ? abuse.countMessages : 0 }}

          <fa-icon [icon]="this.faCommentSmile"></fa-icon>
        </ng-container>
      </td>

      <td *ngIf="isAdminView()" class="internal-note" container="body" placement="left auto" [ngbTooltip]="abuse.moderationComment">
        {{ abuse.moderationComment }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-abuse>
    <tr>
      <td *ngIf="isAdminView()" class="expand-cell" colspan="8">
        <my-abuse-details [abuse]="abuse" [isAdminView]="true"></my-abuse-details>
      </td>
      <td *ngIf="!isAdminView()" class="expand-cell" colspan="6">
        <my-abuse-details [abuse]="abuse" [isAdminView]="false"></my-abuse-details>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        <div class="no-results">
          <ng-container *ngIf="search">No abuses found matching current filters.</ng-container>
          <ng-container *ngIf="!search">No abuses found.</ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<my-moderation-comment-modal #moderationCommentModal (commentUpdated)="onModerationCommentUpdated()"></my-moderation-comment-modal>
<my-abuse-message-modal #abuseMessagesModal [isAdminView]="isAdminView()" (countMessagesUpdated)="onCountMessagesUpdated($event)"></my-abuse-message-modal>
