@import '_variables';
@import '_mixins';

/*@import "~sass/application";*/

@import '../../theme/styles/themes';

.comment-flagged-account,
.account-flagged-handle {
  font-size: 11px;
  color: #585858;
}

.abuse-states .glyphicon-comment {
  @include margin-left(0.5rem);
}

.abuse-messages {
  fa-icon {
    @include margin-left(3px);

    width: 22px;
    position: relative;
    top: -2px;
  }
}
