<!--Directives add behaviour to an existing DOM element or an existing component instance-->
<div class="container" appDnd (fileDropped)="onFileDropped($event)">
<div class="row" style="margin-bottom:15px; text-align: center">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;" multiple>
    <button type="button" class="btn btn-success" (click)="file.click()">Browse For File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img *ngIf="file.video === null; else elseBlock" [src]="createImgPath(file.dbPath)" width="45px" alt="file">
      <ng-template #elseBlock>
        <video [src]="createImgPath(file.dbPath)" style="width:90px; height:90px;" controls> </video>
      </ng-template>
      <div class="info">
        <p class="size" style="color: wheat">
          {{ formatBytes(file?.size) }}
        </p>
      </div>
      <img id="delete-media" src="assets/images/dnd/ic-delete-file.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i, file.mediaId)" draggable="false">
    </div>
  </div>
</div>
</div>



<!--  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />-->
<!--  <img src="assets/img/dnd/ic-upload-file.svg" alt="">-->
<!--  <h3>Drag and drop file here</h3>-->
<!--  <h3>or</h3>-->
<!--  <label for="fileDropRef">Browse for file</label>-->
<!--</div>-->
<!--<div class="files-list">-->
<!--  <div class="single-file" *ngFor="let file of files; let i = index">-->
<!--    <img src="assets/img/dnd/ic-file.svg" width="45px" alt="file">-->
<!--    <div class="info">-->
<!--      <h4 class="name">-->
<!--        {{ file?.name }}-->
<!--      </h4>-->
<!--      <p class="size">-->
<!--        {{ formatBytes(file?.size) }}-->
<!--      </p>-->
<!--    </div>-->
<!--    <img src="https://images.squarespace-cdn.com/content/5186a646e4b0a85f6b8cb473/1396848491496-3E4EKCJ8VHCAD4LMKXFG/pay-for-delete.jpg?content-type=image%2Fjpeg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">-->
<!--  </div>-->
