@import "src/sass/application";

.r-ku1wi2 {
  margin-bottom: 15px;
}

.align-items-flex-end {
  -webkit-box-align: end;
  align-items: flex-end;
}


.notifications-border-color {
  border-color: rgb(0, 0, 0);
}

.r-14f9gny {
  border-width: 4px;
}

.r-1gzrgec {
  margin-bottom: -4px;
}


.r-cnkkqs {
  margin-left: -4px;
}

.r-zjg7tu {
  margin-top: -18%;
}

.min-width-49px {
  min-width: 49px;
}

.r-1xce0ei {
  width: 6%;
}

.display-block {
  display: block;
}

.r-15d164r {
  margin-bottom: 10px;
}



.emoji-margin-left {
  margin-left: 0.075em;
}

.emoji-margin-right {
  margin-right: 0.075em;
}

.r-h9hxbl {
  width: 1.2em;
}

.r-1vglu5a {
  line-height: 10px;
}


.flex-expand {
  -ms-flex: 1 1 0%;
  -webkit-flex: 1;
  flex: 1;
}

/*end profile */


.r-1ro0kt6 {
  flex-basis: 0%;
}




.padding-bottom-top-15px {
  padding-bottom: 15px;
  padding-top: 15px;
}


.r-axxi2z {
  transition-property: -webkit-transform, transform;
}


.r-tzz3ar {
  flex-wrap: nowrap;
}



.r-lltvgl {
  overflow-x: auto;
}

.r-buy8e9 {
  overflow-y: hidden;
}

.r-mfh4gg {
  scroll-snap-type: x mandatory;
}


.r-2eszeu {
}

.r-2eszeu::-webkit-scrollbar {
  display: none;
}

.r-hbs49y {
  transform: translate3d(0px, 0px, 0px);
}

.r-6b64d0 {
  padding-left: 0px;
  padding-right: 0px;
}

.r-cpa5s6 {
  scroll-snap-align: start;
}


.r-oucylx {
  border-bottom-color: rgba(0, 0, 0, 0);
}

.r-wgabs5 {
  border-bottom-width: 2px;
}

.r-1oqcu8e {
  padding: 15px;
}

.r-13zfj0p {
  color: rgb(47, 51, 54);
}

.r-150rngu {
}




.r-1yt7n81 {
  padding-left: 15px;
}

.r-ry3cjt {
  padding-right: 15px;
}


.r-zl2h9q {
  margin-bottom: 2px;
}


.r-k4xj1c {
  -webkit-box-align: start;
  align-items: start;
}

.r-1f6r7vd {
  margin-left: 5px;
}

.r-11cpok1 {
}


.r-1mdbhws {
  max-width: 425px;
}

.r-1j6idkz {
  min-width: calc(1em + 20px);
}

.r-1wgg2b2 {
  transition-duration: 0.3s;
}

.r-18bvks7 {
  border-color: rgb(56, 68, 77);
}


.third-wheel-color {
  color: rgb(110, 118, 125);
}

.r-daml9f {
  color: rgb(224, 36, 94);
}


.dislike-hover {
  color: rgb(150, 0, 21);
}


.r-d3hbe1 {
  transform: translate3d(0px, 0px, 0px);
}







