<div style="position: absolute; width: 100%; transform: translateY({{this.transform}}px); transition: opacity 0.3s ease-out 0s;">
    <div class="css-1dbjc4n r-1igl3o0 r-qklmqi r-1adg3ll r-1ny4l3l">
        <div class="css-1dbjc4n">
            <article role="article" data-focusable="true" tabindex="0"
                     class="css-1dbjc4n r-1loqt21 r-18u37iz r-1ny4l3l r-1udh08x r-1yt7n81 r-ry3cjt r-o7ynqc r-6416eg">
                <div class="css-1dbjc4n r-eqz5dr r-16y2uox r-1wbh5a2">
                    <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-1ny4l3l">
                        <div class="css-1dbjc4n">
                            <div class="css-1dbjc4n">
                                <div class="css-1dbjc4n r-18u37iz">
                                    <div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-m611by"></div>
                                </div>
                            </div>
                            <div class="css-1dbjc4n r-18u37iz" data-testid="tweet">
                                <div class="css-1dbjc4n r-1awozwy r-18kxxzh r-zso239" style="flex-basis: 49px;">
                                    <div class="css-1dbjc4n r-18kxxzh r-1wbh5a2 r-13qz1uu">
                                        <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs"><a routerLink="/WorldFeedTest12"
                                                                                       role="link" data-focusable="true"
                                                                                       class="css-4rbku5 css-18t94o4 css-1dbjc4n r-sdzlij r-1loqt21 r-1adg3ll r-ahm1il r-1ny4l3l r-1udh08x r-o7ynqc r-6416eg r-13qz1uu">
                                            <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                                <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
                                                <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                                    <div aria-label=""
                                                         class="css-1dbjc4n r-sdzlij r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                                        <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                             style="background-image: url('https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_bigger.jpg');"></div>
                                                        <img alt="" draggable="true"
                                                             src="https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_bigger.jpg"
                                                             class="css-9pa8cd"></div>
                                                </div>
                                            </div>
                                            <div class="css-1dbjc4n r-1twgtwe r-sdzlij r-rs99b7 r-1p0dtai r-1mi75qu r-1d2f490 r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                        </a></div>
                                    </div>
                                </div>
                                <div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci r-1mi0q7o">
                                    <div class="css-1dbjc4n">
                                        <div class="css-1dbjc4n r-zl2h9q">
                                            <div class="css-1dbjc4n r-k4xj1c r-18u37iz r-1wtj0ep">
                                                <div class="css-1dbjc4n r-1d09ksm r-18u37iz r-1wbh5a2">
                                                    <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs"><a
                                                            routerLink="/profile" role="link" data-focusable="true"
                                                            class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                        <div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                                            <div class="css-1dbjc4n r-1awozwy r-18u37iz r-dnmrzs">
                                                                <div dir="auto"
                                                                     class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                                                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0"><span
                                                                            class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">WorldFeedTest</span></span>
                                                                </div>
                                                                <div dir="auto"
                                                                     class="css-901oao r-1fmj7o5 r-18u37iz r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                                    <app-global-icon
                                                                            iconName="protected"></app-global-icon>
                                                                </div>
                                                            </div>
                                                            <div class="css-1dbjc4n r-18u37iz r-1wbh5a2 r-1f6r7vd">
                                                                <div dir="ltr"
                                                                     class="css-901oao css-bfa6kz r-9ilb82 r-18u37iz r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                                                    <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">@WorldFeedTest12</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a></div>
                                                    <div dir="auto" aria-hidden="true"
                                                         class="css-901oao r-9ilb82 r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-ou255f r-qvutc0">
                                                        <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">·</span>
                                                    </div>
                                                    <a href="/WorldFeedTest12/status/1349046021976944642" dir="auto"
                                                       aria-label="Jan 12" role="link" data-focusable="true"
                                                       class="css-4rbku5 css-18t94o4 css-901oao r-9ilb82 r-1loqt21 r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                                                        <time datetime="2021-01-12T17:30:10.000Z">Jan 12</time>
                                                    </a></div>
                                                <div class="css-1dbjc4n r-18u37iz r-1h0z5md r-1joea0r">
                                                    <div aria-expanded="false" aria-haspopup="true" aria-label="More"
                                                         role="button" data-focusable="true" tabindex="0"
                                                         class="css-18t94o4 css-1dbjc4n r-1777fci r-11cpok1 r-1ny4l3l r-bztko3 r-lrvibr"
                                                         data-testid="caret">
                                                        <div dir="ltr"
                                                             class="css-901oao r-1awozwy r-9ilb82 r-6koalj r-1qd0xha r-a023e6 r-16dba41 r-1h0z5md r-ad9z0x r-bcqeeo r-o7ynqc r-clp7b1 r-3s2u2q r-qvutc0">
                                                            <div class="css-1dbjc4n r-xoduu5">
                                                                <div class="css-1dbjc4n r-1niwhzg r-sdzlij r-1p0dtai r-xoduu5 r-1d2f490 r-xf4iuw r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                                                <svg viewBox="0 0 24 24"
                                                                     class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                                    <g>
                                                                        <path d="M19.39 14.882c-1.58 0-2.862-1.283-2.862-2.86s1.283-2.862 2.86-2.862 2.862 1.283 2.862 2.86-1.284 2.862-2.86 2.862zm0-4.223c-.75 0-1.362.61-1.362 1.36s.61 1.36 1.36 1.36 1.362-.61 1.362-1.36-.61-1.36-1.36-1.36zM12 14.882c-1.578 0-2.86-1.283-2.86-2.86S10.42 9.158 12 9.158s2.86 1.282 2.86 2.86S13.578 14.88 12 14.88zm0-4.223c-.75 0-1.36.61-1.36 1.36s.61 1.362 1.36 1.362 1.36-.61 1.36-1.36-.61-1.363-1.36-1.363zm-7.39 4.223c-1.577 0-2.86-1.283-2.86-2.86S3.034 9.16 4.61 9.16s2.862 1.283 2.862 2.86-1.283 2.862-2.86 2.862zm0-4.223c-.75 0-1.36.61-1.36 1.36s.61 1.36 1.36 1.36 1.362-.61 1.362-1.36-.61-1.36-1.36-1.36z"></path>
                                                                    </g>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="css-1dbjc4n">
                                        <div class="css-1dbjc4n">
                                            <div *ngIf="this.hasText" lang="en" dir="auto"
                                                 class="css-901oao r-1fmj7o5 r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0">
                                                <span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">This is a post without media ♥ </span><span
                                                    class="css-901oao css-16my406 r-4qtqp9 r-ip8ujx r-sjv1od r-zw8f10 r-bnwqim r-h9hxbl"><div
                                                    aria-label="♥"
                                                    class="css-1dbjc4n r-xoduu5 r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-h9hxbl r-417010"
                                                    style="height: 1.2em;"><div
                                                    class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-x3cy2q r-1p0dtai r-xoduu5 r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                    style="background-image: url('https://abs-0.twimg.com/emoji/v2/svg/2665.svg');"></div><img
                                                    alt="♥" draggable="false"
                                                    src="https://abs-0.twimg.com/emoji/v2/svg/2665.svg"
                                                    class="css-9pa8cd"></div></span></div>
                                        </div>
                                        <div class="css-1dbjc4n">
                                            <div *ngIf="this.hasMedia" class="css-1dbjc4n">
                                                <div class="css-1dbjc4n">
                                                    <div class="css-1dbjc4n r-18bvks7 r-1867qdf r-1phboty r-rs99b7 r-156q2ks r-1ny4l3l r-1udh08x r-o7ynqc r-6416eg">
                                                        <div class="css-1dbjc4n"><a
                                                                href="/WorldFeedTest12/status/1328383109394538496/photo/1"
                                                                role="link" data-focusable="true"
                                                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1ny4l3l">
                                                            <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                                                <div class="r-1adg3ll r-13qz1uu"
                                                                     style="padding-bottom: 56.25%;"></div>
                                                                <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                                                    <div aria-label="Image"
                                                                         class="css-1dbjc4n r-1p0dtai r-1mlwlqe r-1d2f490 r-11wrixw r-61z16t r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010"
                                                                         data-testid="tweetPhoto"
                                                                         style="margin-bottom: 0px; margin-top: 0px;">
                                                                        <div class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                                             style="background-image: url('https://pbs.twimg.com/media/Em9dWMeW4AAcmiU?format=jpg&amp;name=small');"></div>
                                                                        <img alt="Image" draggable="true"
                                                                             src="https://pbs.twimg.com/media/Em9dWMeW4AAcmiU?format=jpg&amp;name=small"
                                                                             class="css-9pa8cd"></div>
                                                                </div>
                                                            </div>
                                                        </a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div aria-label="" role="group"
                                             class="css-1dbjc4n r-18u37iz r-1wtj0ep r-156q2ks r-1mdbhws">
                                            <div class="css-1dbjc4n r-18u37iz r-1h0z5md">
                                                <div aria-label="0 Replies. Reply" role="button" data-focusable="true"
                                                     tabindex="0"
                                                     class="css-18t94o4 css-1dbjc4n r-1777fci r-11cpok1 r-1ny4l3l r-bztko3 r-lrvibr"
                                                     data-testid="reply">
                                                    <div dir="ltr"
                                                         class="css-901oao r-1awozwy r-9ilb82 r-6koalj r-1qd0xha r-a023e6 r-16dba41 r-1h0z5md r-ad9z0x r-bcqeeo r-o7ynqc r-clp7b1 r-3s2u2q r-qvutc0">
                                                        <div class="css-1dbjc4n r-xoduu5">
                                                            <div class="css-1dbjc4n r-1niwhzg r-sdzlij r-1p0dtai r-xoduu5 r-1d2f490 r-xf4iuw r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                                            <app-global-icon iconName="comment"></app-global-icon>
                                                        </div>
                                                        <div class="css-1dbjc4n r-xoduu5 r-1udh08x"><span
                                                                class="css-901oao css-16my406 r-poiln3 r-n6v787 r-1sf4r6n r-1j6idkz r-utggzx r-d3hbe1 r-1wgg2b2 r-axxi2z r-qvutc0"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-1dbjc4n r-18u37iz r-1h0z5md">
                                                <div aria-expanded="false" aria-haspopup="true"
                                                     aria-label="0 Retweets. Retweet" role="button"
                                                     data-focusable="true" tabindex="0"
                                                     class="css-18t94o4 css-1dbjc4n r-1777fci r-11cpok1 r-1ny4l3l r-bztko3 r-lrvibr"
                                                     data-testid="retweet">
                                                    <div dir="ltr"
                                                         class="css-901oao r-1awozwy r-9ilb82 r-6koalj r-1qd0xha r-a023e6 r-16dba41 r-1h0z5md r-ad9z0x r-bcqeeo r-o7ynqc r-clp7b1 r-3s2u2q r-qvutc0">
                                                        <div class="css-1dbjc4n r-xoduu5">
                                                            <div class="css-1dbjc4n r-1niwhzg r-sdzlij r-1p0dtai r-xoduu5 r-1d2f490 r-xf4iuw r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                                            <app-global-icon iconName="retweet"></app-global-icon>
                                                        </div>
                                                        <div class="css-1dbjc4n r-xoduu5 r-1udh08x"><span
                                                                class="css-901oao css-16my406 r-poiln3 r-n6v787 r-1sf4r6n r-1j6idkz r-utggzx r-d3hbe1 r-1wgg2b2 r-axxi2z r-qvutc0"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-1dbjc4n r-18u37iz r-1h0z5md">
                                                <div aria-label="0 Likes. Like" role="button" data-focusable="true"
                                                     tabindex="0"
                                                     class="css-18t94o4 css-1dbjc4n r-1777fci r-11cpok1 r-1ny4l3l r-bztko3 r-lrvibr"
                                                     data-testid="like">
                                                    <div dir="ltr"
                                                         class="css-901oao r-1awozwy r-9ilb82 r-6koalj r-1qd0xha r-a023e6 r-16dba41 r-1h0z5md r-ad9z0x r-bcqeeo r-o7ynqc r-clp7b1 r-3s2u2q r-qvutc0">
                                                        <div class="css-1dbjc4n r-xoduu5">
                                                            <div class="css-1dbjc4n r-1niwhzg r-sdzlij r-1p0dtai r-xoduu5 r-1d2f490 r-xf4iuw r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                                            <app-global-icon iconName="like"></app-global-icon>
                                                        </div>
                                                        <div class="css-1dbjc4n r-xoduu5 r-1udh08x"><span
                                                                class="css-901oao css-16my406 r-poiln3 r-n6v787 r-1sf4r6n r-1j6idkz r-utggzx r-d3hbe1 r-1wgg2b2 r-axxi2z r-qvutc0"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-1dbjc4n r-18u37iz r-1h0z5md">
                                                <div aria-expanded="false" aria-haspopup="true" aria-label="Share Tweet"
                                                     role="button" data-focusable="true" tabindex="0"
                                                     class="css-18t94o4 css-1dbjc4n r-1777fci r-11cpok1 r-1ny4l3l r-bztko3 r-lrvibr">
                                                    <div dir="ltr"
                                                         class="css-901oao r-1awozwy r-9ilb82 r-6koalj r-1qd0xha r-a023e6 r-16dba41 r-1h0z5md r-ad9z0x r-bcqeeo r-o7ynqc r-clp7b1 r-3s2u2q r-qvutc0">
                                                        <div class="css-1dbjc4n r-xoduu5">
                                                            <div class="css-1dbjc4n r-1niwhzg r-sdzlij r-1p0dtai r-xoduu5 r-1d2f490 r-xf4iuw r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                                            <app-global-icon iconName="share"></app-global-icon>
                                                        </div>
                                                        <div class="css-1dbjc4n r-xoduu5 r-1udh08x"><span
                                                                class="css-901oao css-16my406 r-poiln3 r-n6v787 r-1sf4r6n r-1j6idkz r-utggzx r-d3hbe1 r-1wgg2b2 r-axxi2z r-qvutc0"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="css-1dbjc4n r-18u37iz r-1h0z5md"><a
                                                    href="/WorldFeedTest12/status/1349046021976944642/analytics"
                                                    aria-label="View Tweet activity" role="link" data-focusable="true"
                                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1loqt21 r-1777fci r-11cpok1 r-1ny4l3l r-bztko3 r-lrvibr">
                                                <div dir="ltr"
                                                     class="css-901oao r-1awozwy r-9ilb82 r-6koalj r-1qd0xha r-a023e6 r-16dba41 r-1h0z5md r-ad9z0x r-bcqeeo r-o7ynqc r-clp7b1 r-3s2u2q r-qvutc0">
                                                    <div class="css-1dbjc4n r-xoduu5">
                                                        <div class="css-1dbjc4n r-1niwhzg r-sdzlij r-1p0dtai r-xoduu5 r-1d2f490 r-xf4iuw r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af r-o7ynqc r-6416eg"></div>
                                                        <svg viewBox="0 0 24 24"
                                                             class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi">
                                                            <g>
                                                                <path d="M12 22c-.414 0-.75-.336-.75-.75V2.75c0-.414.336-.75.75-.75s.75.336.75.75v18.5c0 .414-.336.75-.75.75zm5.14 0c-.415 0-.75-.336-.75-.75V7.89c0-.415.335-.75.75-.75s.75.335.75.75v13.36c0 .414-.337.75-.75.75zM6.86 22c-.413 0-.75-.336-.75-.75V10.973c0-.414.337-.75.75-.75s.75.336.75.75V21.25c0 .414-.335.75-.75.75z"></path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
