<header role="banner" class="css-1dbjc4n r-obd0qt r-16y2uox r-lrvibr r-1g40b8q" style="width: 402.1px;">
    <!--style by mi-->
    <div class="css-1dbjc4n r-o96wvk">
        <div class="css-1dbjc4n r-aqfbo4 r-1pi2tsx r-1xcajam r-ipm5af">
            <div class="css-1dbjc4n r-1pi2tsx r-1wtj0ep r-1rnoaur r-utggzx r-o96wvk">
                <div class="css-1dbjc4n r-1habvwh">
                    <div class="css-1dbjc4n r-dnmrzs r-1vvnge1">
                        <h1 role="heading"
                            class="css-4rbku5 css-1dbjc4n r-1awozwy r-1pz39u2 r-1loqt21 r-6koalj r-16y2uox r-1777fci r-18qmn74">
                            <a
                                    routerLink="/" aria-label="Sharebook" role="button" data-focusable="true"
                                    class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1niwhzg r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-1w2pmg r-1jayybb r-mtrfb5 r-1ny4l3l r-mk0yit r-o7ynqc r-6416eg r-lrvibr">
                                <div dir="auto"
                                     class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-b88u0q r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0">
                                    <app-global-icon iconName="logo" aria-hidden="true"></app-global-icon>
                                    <span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"></span>
                                </div>
                            </a></h1>
                    </div>
                    <div class="css-1dbjc4n r-d0pm55 r-1bymd8e r-13qz1uu">
                        <nav aria-label="Primary" role="navigation" class="css-1dbjc4n r-1habvwh r-eqz5dr"><a
                                routerLink="/home"
                                aria-label="Home"
                                role="link"
                                data-focusable="true"
                                class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1habvwh r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1ny4l3l r-1ag2gil r-13qz1uu"
                                data-testid="AppTabBar_Home_Link">
                            <!--r-rjfia-->
                            <div appHover
                                 class="css-1dbjc4n r-1awozwy r-sdzlij r-18u37iz r-1777fci r-dnmrzs r-1sp51qo r-o7ynqc r-6416eg">
                                <div class="css-1dbjc4n">
                                    <app-global-icon iconName="home" aria-hidden="true"></app-global-icon>
                                </div>
                                <div dir="auto"
                                     class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-1joea0r r-y3t9qe r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Home</span>
                                </div>
                            </div>
                        </a><a routerLink="/explore" aria-label="Search and explore" role="link" data-focusable="true"
                               class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1habvwh r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1ny4l3l r-1ag2gil r-13qz1uu"
                               data-testid="AppTabBar_Explore_Link">
                            <div appHover
                                 class="css-1dbjc4n r-1awozwy r-sdzlij r-18u37iz r-1777fci r-dnmrzs r-1sp51qo r-o7ynqc r-6416eg">
                                <div class="css-1dbjc4n">
                                    <app-global-icon iconName="explore" aria-hidden="true"></app-global-icon>
                                </div>
                                <div dir="auto"
                                     class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-1joea0r r-y3t9qe r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Explore</span>
                                </div>
                            </div>
                        </a><a routerLink="/notifications" aria-label="Notifications" role="link" data-focusable="true"
                               class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1habvwh r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1ny4l3l r-1ag2gil r-13qz1uu"
                               data-testid="AppTabBar_Notifications_Link">
                            <div appHover
                                 class="css-1dbjc4n r-1awozwy r-sdzlij r-18u37iz r-1777fci r-dnmrzs r-1sp51qo r-o7ynqc r-6416eg">
                                <div class="css-1dbjc4n">
                                    <app-global-icon iconName="bell" aria-hidden="true"></app-global-icon>
                                    <div dir="auto" aria-label="1 unread items" aria-live="polite"
                                         class="css-901oao r-1awozwy r-urgr8i r-1xc7w19 r-sdzlij r-1phboty r-rs99b7 r-1tjplnt r-jwli3a r-6koalj r-1q142lx r-1qd0xha r-1gkfh8e r-16dba41 r-50lct3 r-1777fci r-ad9z0x r-1b8eohn r-u8s1d r-kquydp r-1m4drjs r-lrvibr r-3s2u2q r-qvutc0">
                                        1
                                    </div>
                                </div>
                                <div dir="auto"
                                     class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-1joea0r r-y3t9qe r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Notifications</span>
                                </div>
                            </div>
                        </a><a routerLink="/messages" aria-label="Direct Messages" role="link" data-focusable="true"
                               class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1habvwh r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1ny4l3l r-1ag2gil r-13qz1uu"
                               data-testid="AppTabBar_DirectMessage_Link">
                            <div appHover
                                 class="css-1dbjc4n r-1awozwy r-sdzlij r-18u37iz r-1777fci r-dnmrzs r-1sp51qo r-o7ynqc r-6416eg">
                                <div class="css-1dbjc4n">
                                    <app-global-icon iconName="messages" aria-hidden="true"></app-global-icon>
                                </div>
                                <div dir="auto"
                                     class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-1joea0r r-y3t9qe r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Messages</span>
                                </div>
                            </div>
                        </a><a routerLink="/{{this.user?.login}}" aria-label="Profile" role="link" data-focusable="true"
                               class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1habvwh r-1loqt21 r-6koalj r-eqz5dr r-16y2uox r-1ny4l3l r-1ag2gil r-13qz1uu">
                            <div appHover
                                 class="css-1dbjc4n r-1awozwy r-sdzlij r-18u37iz r-1777fci r-dnmrzs r-1sp51qo r-o7ynqc r-6416eg">
                                <div class="css-1dbjc4n">
                                    <app-global-icon iconName="profile" aria-hidden="true"></app-global-icon>
                                </div>
                                <div dir="auto"
                                     class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-1joea0r r-y3t9qe r-bcqeeo r-qvutc0">
                                    <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Profile</span>
                                </div>
                            </div>
                        </a>
                            <div aria-expanded="false" aria-haspopup="true" aria-label="More menu items" role="button"
                                 data-focusable="true" tabindex="0"
                                 class="css-18t94o4 css-1dbjc4n r-1habvwh r-6koalj r-eqz5dr r-16y2uox r-1ny4l3l r-1ag2gil r-13qz1uu"
                                 data-testid="AppTabBar_More_Menu">
                                <div appHover
                                     class="css-1dbjc4n r-1awozwy r-sdzlij r-18u37iz r-1777fci r-dnmrzs r-1sp51qo r-o7ynqc r-6416eg">
                                    <div class="css-1dbjc4n">
                                        <app-global-icon iconName="more" aria-hidden="true"></app-global-icon>
                                    </div>
                                    <div dir="auto"
                                         class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-1b6yd1w r-b88u0q r-ad9z0x r-1joea0r r-y3t9qe r-bcqeeo r-qvutc0">
                                        <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">More</span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <app-share-button></app-share-button>
                </div>
                <div class="css-1dbjc4n r-zg41ew">
                    <div class="css-1dbjc4n">
                        <div role="button" data-focusable="true" tabindex="0"
                             class="css-18t94o4 css-1dbjc4n r-1awozwy r-sdzlij r-6koalj r-18u37iz r-1ny4l3l r-1sp51qo r-o7ynqc r-6416eg"
                             data-testid="SideNav_AccountSwitcher_Button">
                            <div class="css-1dbjc4n">
                                <div role="presentation"
                                     class="css-1dbjc4n r-sdzlij r-j66t93 r-1ny4l3l r-1udh08x r-eu2yb4">
                                    <div class="css-1dbjc4n r-1adg3ll r-1udh08x" style="">
                                        <div class="r-1adg3ll r-13qz1uu" style="padding-bottom: 100%;"></div>
                                        <div class="r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-ipm5af r-13qz1uu">
                                            <div aria-label="WorldFeedTest"
                                                 class="css-1dbjc4n r-sdzlij r-1p0dtai r-1mlwlqe r-1d2f490 r-1udh08x r-u8s1d r-zchlnj r-ipm5af r-417010">
                                                <div
                                                        class="css-1dbjc4n r-1niwhzg r-vvn4in r-u6sd8q r-4gszlv r-1p0dtai r-1pi2tsx r-1d2f490 r-u8s1d r-zchlnj r-ipm5af r-13qz1uu r-1wyyakw"
                                                        style="background-image: url('https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_normal.jpg');"></div>
                                                <img alt="WorldFeedTest" draggable="true"
                                                     src="https://pbs.twimg.com/profile_images/1282898800458301446/Mv_SWzQp_normal.jpg"
                                                     class="css-9pa8cd"></div>
                                        </div>
                                    </div>
                                    <div
                                            class="css-1dbjc4n r-1twgtwe r-sdzlij r-rs99b7 r-1p0dtai r-1mi75qu r-1d2f490 r-1ny4l3l r-u8s1d r-zchlnj r-ipm5af"></div>
                                </div>
                            </div>
                            <div class="css-1dbjc4n r-1wbh5a2 r-dnmrzs r-1ny4l3l">
                                <div class="css-1dbjc4n r-16y2uox r-1wbh5a2 r-vlx1xi r-dnmrzs r-1ny4l3l">
                                    <div class="css-1dbjc4n r-1awozwy r-18u37iz r-dnmrzs">
                                        <div dir="auto"
                                             class="css-901oao css-bfa6kz r-1fmj7o5 r-1qd0xha r-a023e6 r-b88u0q r-ad9z0x r-bcqeeo r-3s2u2q r-qvutc0">
                      <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span
                              class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">{{this.user?.name}}</span></span>
                                        </div>
                                        <div dir="auto"
                                             class="css-901oao r-1fmj7o5 r-18u37iz r-1q142lx r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                            <svg viewBox="0 0 24 24" aria-label="Protected account"
                                                 class="r-1fmj7o5 r-4qtqp9 r-yyyyoo r-1xvli5t r-9cviqr r-dnmrzs r-bnwqim r-1plcrui r-lrvibr">
                                                <g>
                                                    <path
                                                            d="M19.75 7.31h-1.88c-.19-3.08-2.746-5.526-5.87-5.526S6.32 4.232 6.13 7.31H4.25C3.01 7.31 2 8.317 2 9.56v10.23c0 1.24 1.01 2.25 2.25 2.25h15.5c1.24 0 2.25-1.01 2.25-2.25V9.56c0-1.242-1.01-2.25-2.25-2.25zm-7 8.377v1.396c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-1.396c-.764-.3-1.307-1.04-1.307-1.91 0-1.137.92-2.058 2.057-2.058 1.136 0 2.057.92 2.057 2.056 0 .87-.543 1.61-1.307 1.91zM7.648 7.31C7.838 5.06 9.705 3.284 12 3.284s4.163 1.777 4.352 4.023H7.648z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="css-1dbjc4n r-18u37iz r-1wbh5a2">
                                        <div dir="ltr"
                                             class="css-901oao css-bfa6kz r-9ilb82 r-18u37iz r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0">
                                            <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">{{this.user?.screenName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="css-1dbjc4n r-obd0qt r-16y2uox">
                                <app-global-icon iconName="3dots" aria-hidden="true"></app-global-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--<div class="menu-wrapper">-->
<!--  <menu [ngClass]="{ 'is-logged-in': isLoggedIn }">-->
<!--    <div class="top-menu">-->
<!--      <div *ngIf="isLoggedIn" class="logged-in-block">-->
<!--        <div>-->
<!--          <div class="logged-in-more" ngbDropdown #dropdown="ngbDropdown" placement="bottom-left" [container]="dropdownContainer" (openChange)="onDropdownOpenChange($event)" autoClose="outside">-->
<!--            <div ngbDropdownToggle>-->
<!--              <img [src]="user.accountAvatarUrl" alt="Avatar" />-->
<!--              <div class="logged-in-info">-->
<!--                <div class="logged-in-display-name">{{ user.account?.displayName }}</div>-->

<!--                <div class="logged-in-username">@{{ user.username }}</div>-->
<!--              </div>-->

<!--              <div class="dropdown-toggle-indicator">-->
<!--                <span class="glyphicon glyphicon-chevron-down"></span>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div ngbDropdownMenu>-->
<!--              <a *ngIf="user.account" ngbDropdownItem ngbDropdownToggle class="dropdown-item" [routerLink]="[ '/accounts', user.account.nameWithHost ]"-->
<!--                #profile (click)="onActiveLinkScrollToAnchor(profile)">-->
<!--                <my-global-icon iconName="go" aria-hidden="true"></my-global-icon> <ng-container i18n>Public profile</ng-container>-->
<!--              </a>-->

<!--              <div class="dropdown-divider"></div>-->

<!--              <a ngbDropdownItem ngbDropdownToggle class="dropdown-item" (click)="openLanguageChooser()">-->
<!--                <my-global-icon iconName="language" aria-hidden="true"></my-global-icon>-->
<!--                <span i18n>Interface:</span>-->
<!--                <span class="ml-auto text-muted">{{ currentInterfaceLanguage }}</span>-->
<!--              </a>-->

<!--              <a ngbDropdownItem ngbDropdownToggle class="dropdown-item" routerLink="/my-account/settings" fragment="video-languages-subtitles"-->
<!--                #settingsLanguagesSubtitles (click)="onActiveLinkScrollToAnchor(settingsLanguagesSubtitles)">-->
<!--                <my-global-icon iconName="video-lang" aria-hidden="true"></my-global-icon>-->
<!--                <span i18n>Videos:</span>-->
<!--                <span class="ml-auto text-muted">{{ videoLanguages.join(', ') }}</span>-->
<!--              </a>-->

<!--              <a ngbDropdownItem ngbDropdownToggle class="dropdown-item settings-sensitive" routerLink="/my-account/settings"-->
<!--                fragment="video-sensitive-content-policy" #settingsSensitiveContentPolicy-->
<!--                (click)="onActiveLinkScrollToAnchor(settingsSensitiveContentPolicy)">-->
<!--                <my-global-icon class="hover-display-toggle" [ngClass]="{ 'not-displayed': user.nsfwPolicy === 'display' }" iconName="sensitive" aria-hidden="true"></my-global-icon>-->
<!--                <my-global-icon class="hover-display-toggle" [ngClass]="{ 'not-displayed': user.nsfwPolicy !== 'display' }" iconName="unsensitive" aria-hidden="true"></my-global-icon>-->
<!--                <span i18n>Sensitive:</span>-->
<!--                <span class="ml-auto text-muted">{{ nsfwPolicy }}</span>-->
<!--              </a>-->

<!--              <a ngbDropdownItem class="dropdown-item" (click)="toggleUseP2P()">-->
<!--                <my-global-icon iconName="p2p" aria-hidden="true"></my-global-icon>-->
<!--                <ng-container i18n>Help share videos</ng-container>-->

<!--                <my-input-switch class="ml-auto" [checked]="user.webTorrentEnabled"></my-input-switch>-->
<!--              </a>-->

<!--              <div class="dropdown-divider"></div>-->

<!--              <a *ngIf="!isInMobileView" ngbDropdownItem ngbDropdownToggle class="dropdown-item" (click)="openHotkeysCheatSheet()">-->
<!--                <my-global-icon iconName="command" aria-hidden="true"></my-global-icon>-->
<!--                <ng-container i18n>Keyboard shortcuts</ng-container>-->
<!--              </a>-->

<!--              <a ngbDropdownItem ngbDropdownToggle (click)="logout($event)" class="dropdown-item" href="#">-->
<!--                <my-global-icon iconName="sign-out" aria-hidden="true"></my-global-icon>-->
<!--                <ng-container i18n>Log out</ng-container>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <my-notification (navigate)="onActiveLinkScrollToAnchor($event)"></my-notification>-->
<!--        </div>-->

<!--        <div class="logged-in-menu">-->
<!--          <a routerLink="/my-account" routerLinkActive="active" #settingsLink (click)="onActiveLinkScrollToAnchor(settingsLink)">-->
<!--            <my-global-icon iconName="user" aria-hidden="true"></my-global-icon>-->
<!--            <ng-container i18n>My account</ng-container>-->
<!--          </a>-->

<!--          <a routerLink="/my-library" routerLinkActive="active" #libraryLink (click)="onActiveLinkScrollToAnchor(libraryLink)">-->
<!--            <my-global-icon iconName="channel" aria-hidden="true"></my-global-icon>-->
<!--            <ng-container i18n>My library</ng-container>-->
<!--          </a>-->

<!--          <a *ngIf="userHasAdminAccess" [routerLink]="getFirstAdminRouteAvailable()" routerLinkActive="active">-->
<!--            <my-global-icon iconName="cog" aria-hidden="true"></my-global-icon>-->
<!--            <ng-container i18n>Administration</ng-container>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div *ngIf="!isLoggedIn" class="login-buttons-block">-->
<!--        <a i18n routerLink="/login" class="login-button">Login</a>-->
<!--        <a i18n *ngIf="isRegistrationAllowed()" routerLink="/signup" class="create-account-button">Create an account</a>-->
<!--      </div>-->

<!--      <div *ngIf="isLoggedIn" class="in-my-library">-->
<!--        <div i18n class="block-title">IN MY LIBRARY</div>-->

<!--        <a *ngIf="user.canSeeVideosLink" routerLink="/my-library/videos" routerLinkActive="active">-->
<!--          <my-global-icon iconName="videos" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Videos</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/my-library/video-playlists" routerLinkActive="active">-->
<!--          <my-global-icon iconName="playlists" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Playlists</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/subscriptions" routerLinkActive="active">-->
<!--          <my-global-icon iconName="subscriptions" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Subscriptions</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/my-library/history/videos" routerLinkActive="active">-->
<!--          <my-global-icon iconName="history" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>History</ng-container>-->
<!--        </a>-->

<!--      </div>-->

<!--      <div class="on-instance">-->
<!--        <div i18n class="block-title">ON {{instanceName}}</div>-->

<!--        <a routerLink="/videos/overview" routerLinkActive="active">-->
<!--          <my-global-icon iconName="globe" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Discover</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/trending" routerLinkActive="active">-->
<!--          <my-global-icon iconName="trending" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Trending</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/most-liked" routerLinkActive="active">-->
<!--          <my-global-icon iconName="like" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Most liked</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/recently-added" routerLinkActive="active">-->
<!--          <my-global-icon iconName="recently-added" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Recently added</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/videos/local" routerLinkActive="active">-->
<!--          <my-global-icon iconName="home" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>Local videos</ng-container>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="footer">-->
<!--      <div class="footer-block">-->
<!--        <a *ngIf="!isLoggedIn" (click)="openQuickSettings()">-->
<!--          <my-global-icon iconName="cog" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>My settings</ng-container>-->
<!--        </a>-->

<!--        <a routerLink="/about" routerLinkActive="active">-->
<!--          <my-global-icon iconName="help" aria-hidden="true"></my-global-icon>-->
<!--          <ng-container i18n>About</ng-container>-->
<!--        </a>-->
<!--      </div>-->

<!--      <div class="bottom-links">-->

<!--        <div class="footer-links">-->
<!--          <div *ngIf="isLoggedIn === false">-->
<!--            <span role="button" (click)="openLanguageChooser()" class="c-hand" i18n>Interface: {{ currentInterfaceLanguage }}</span>-->
<!--          </div>-->

<!--          <div>-->
<!--            <a i18n routerLink="/about/instance">Contact</a>-->
<!--            <a i18n href="https://joinpeertube.org/help" i18n-title title="Get help using Sharebook" target="_blank" rel="noopener noreferrer">Help</a>-->
<!--            <a i18n href="https://joinpeertube.org/faq" i18n-title title="Frequently asked questions about PeerTube" target="_blank" rel="noopener noreferrer">FAQ</a>-->
<!--            <a i18n routerLink="/about/instance" fragment="statistics">Stats</a>-->
<!--            <a i18n href="https://docs.joinpeertube.org/api-rest-reference.html" i18n-title title="API documentation" target="_blank" rel="noopener noreferrer">API</a>-->
<!--            <a (click)="openHotkeysCheatSheet()" class="c-hand" i18n>Keyboard shortcuts</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="footer-copyleft">-->
<!--          <small class="d-inline" i18n-title title="powered by PeerTube - CopyLeft 2015-2020">-->
<!--            <a href="https://joinpeertube.org" class="mr-1" target="_blank" rel="noopener noreferrer" i18n>powered by PeerTube</a>-->

<!--            <a href="https://github.com/Chocobozzz/PeerTube/blob/develop/LICENSE" target="_blank" rel="noopener noreferrer">-->
<!--              <span aria-label="copyleft" class="d-inline-block" style="transform: rotateY(180deg)">&copy;</span> 2015-2020-->
<!--            </a>-->
<!--          </small>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </menu>-->
<!--</div>-->

<!--<my-language-chooser #languageChooserModal></my-language-chooser>-->
<!--<my-quick-settings #quickSettingsModal></my-quick-settings>-->
