<!--<ng-template #modal>-->
<nb-card>
    <nb-card-header>
        <h4 class="modal-title">{{ this.modalTitle }}</h4>
        <!--<fa-icon [icon]="this.faTimes" aria-label="Close" role="button" (click)="hide()"></fa-icon>-->
    </nb-card-header>
    <nb-card-body>
        <div class="modal-body">
            <form novalidate [formGroup]="form" (ngSubmit)="report()">

                <div class="row">
                    <div class="col-5 form-group">

                        <label for="reportPredefinedReasons">What is the issue?</label>

                        <div class="ml-2 mt-2 d-flex flex-column">
                            <ng-container formGroupName="predefinedReasons">

                                <div class="form-group" *ngFor="let reason of predefinedReasons">
                                    <nb-checkbox [formControlName]="reason.id">
                                        {{reason.label}}
                                        <ng-template *ngIf="reason.help" appSbTemplate="help">
                                            <div [innerHTML]="reason.help"></div>
                                        </ng-template>

                                        <ng-container *ngIf="reason.description" ngProjectAs="description">
                                            <div [innerHTML]="reason.description"></div>
                                        </ng-container>
                                    </nb-checkbox>
                                </div>

                            </ng-container>
                        </div>

                    </div>

                    <div class="col-7">
                        <div class="information">
                            Your report will be sent to moderators of {{ currentHost }}.
                        </div>

                        <div class="form-group">
          <textarea
                  nbInput
                  placeholder="Please describe the issue..." formControlName="reason" ngbAutofocus
                  [ngClass]="{ 'input-error': formErrors['reason'] }" class="form-control">
          </textarea>
                            <div *ngIf="formErrors.reason" class="form-error">
                                {{ formErrors.reason }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group inputs">
                    <input
                            type="button" nbButton role="button" value="Cancel"
                            class="action-button action-button-cancel" style="margin-right: 1rem;"
                            (click)="hide()" (key.enter)="hide()"
                    >
                    <input type="submit" nbButton status="primary" value="Submit" class="action-button-submit"
                           [disabled]="!form.valid">
                </div>

            </form>
        </div>
    </nb-card-body>
</nb-card>
