<!--<ng-template #modal>-->
<nb-card style="max-height: 570px;">
    <nb-card-header>
        <div class="modal-header">
            <h4 class="modal-title">Report post "{{ post.status || post.id }}"</h4>
            <div aria-label="Close" role="button" data-focusable="true"
                 tabindex="0"
                 class="icon-hover close-button sharebook-cursor-pointer sharebook-container element-background-color-rgba element-border-color-rgba border-radius-9999px border-style-solid border-width-1px border-height-0px element-min-height-39px element-min-width-39px outline-style-none element-left-right-padding-0px transition-duration transition-property users-select-none"
                 style="margin-left: calc(5px + (-1 * (41px - 1.5em)) / 2);">
                <div dir="auto"
                     class="align-items-center r-13gxpu9 display-flex flex-direction-row flex-grow-expand font-family font-size-15px font-weight-700 justify-content-center line-height-1 max-width-100-per min-width-0px text-align-center text-overflow-wrap"
                     (click)="this.hide()">
                    <fa-icon [icon]="this.faTimes" [styles]="this.svgStyles"></fa-icon>
                    <span class="css-901oao sharebook-text-inherit sharebook-text font-family inside-element-container-line-height min-width-0px text-overflow-wrap"></span>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="modal-body">
            <form novalidate [formGroup]="form" (ngSubmit)="report()">

                <div class="row">
                    <div class="col-5 form-group">

                        <label i18n for="reportPredefinedReasons">What is the issue?</label>

                        <div class="ml-2 mt-2 d-flex flex-column">
                            <ng-container formGroupName="predefinedReasons">
                                <div class="form-group" *ngFor="let reason of predefinedReasons">
                                    <nb-checkbox [formControlName]="reason.id">
                                        {{reason.label}}
                                        <ng-template *ngIf="reason.help" appSbTemplate="help">
                                            <div [innerHTML]="reason.help"></div>
                                        </ng-template>

                                        <ng-container *ngIf="reason.description" ngProjectAs="description">
                                            <div [innerHTML]="reason.description"></div>
                                        </ng-container>
                                    </nb-checkbox>
                                    <app-help>
                                        <ng-template appSbTemplate="customHtml">
                                            <ng-container>
                                               <span [innerHTML]="reason.help"></span>
                                            </ng-container>
                                        </ng-template>
                                    </app-help>
                                </div>
                            </ng-container>
                        </div>

                    </div>

                    <div class="col-7">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-9 mb-2">
                                <div class="screenratio">
                                    <div [innerHTML]="embedHtml"></div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-1 start-at" formGroupName="timestamp">
                            <app-peertube-checkbox
                                    formControlName="hasStart"
                                    i18n-labelText labelText="Start at"
                            ></app-peertube-checkbox>

                            <app-timestamp-input
                                    [timestamp]="timestamp.startAt"
                                    [maxTimestamp]="400"
                                    formControlName="startAt"
                                    inputName="startAt"
                            >
                            </app-timestamp-input>
                        </div>

                        <div class="mb-3 stop-at" formGroupName="timestamp" *ngIf="timestamp.hasStart">
                            <app-peertube-checkbox
                                    formControlName="hasEnd"
                                    i18n-labelText labelText="Stop at"
                            ></app-peertube-checkbox>

                            <!--video.duration-->
                            <app-timestamp-input
                                    [timestamp]="timestamp.endAt"
                                    [maxTimestamp]="400"
                                    formControlName="endAt"
                                    inputName="endAt"
                            >
                            </app-timestamp-input>
                        </div>

                        <div i18n class="information">
                            Your report will be sent to moderators of Chessbook
                        </div>

                        <div class="form-group">
          <textarea
                  nbInput
                  i18n-placeholder placeholder="Please describe the issue..." formControlName="reason" ngbAutofocus
                  [ngClass]="{ 'input-error': formErrors['reason'] }" class="form-control"
          ></textarea>
                            <div *ngIf="formErrors.reason" class="form-error">
                                {{ formErrors.reason }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group inputs">
                    <input
                            type="button" nbButton role="button" i18n-value value="Cancel" class="action-button action-button-cancel"
                            style="margin-right: 1rem;"
                            (click)="hide()">
                    <input type="submit" nbButton status="primary" i18n-value value="Submit" class="action-button-submit" [disabled]="!form.valid">
                </div>

            </form>
        </div>
    </nb-card-body>
</nb-card>
<!--</ng-template>-->
