@import "src/sass/application";

.r-ku1wi2 {
  margin-bottom: 15px;
}


.r-8fdsdq {
  z-index: 4;
}

.r-z32n2g {
  background-color: rgb(32, 35, 39);
}


.r-30o5oe {
  appearance: none;
}

.r-15d164r {
  margin-bottom: 10px;
}

.r-n370w6 {
  margin: 5px;
}


.r-15d164r {
  margin-bottom: 10px;
}



































