nb-card {
  margin: 0;
  max-width: 20rem;
}

nb-card-header {
  padding: 0rem 0rem;
}

nb-card-body {
  padding: 0rem 0rem;
}

nb-card-footer {
  padding: 0rem 0rem;
}


@import '_variables';
@import '_mixins';

.custom-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $separator-border-color;

  &:first-child {
    font-size: 16px;
  }

  & > div {
    padding: 10px;

    &:first-child {
      width: 21.875rem; //  350px
    }

    //@media screen and (max-width: #{breakpoint(sm)}) {
    //  &:first-child {
    //    width: auto;
    //    flex-grow: 1;
    //  }
    //}
  }
}