<div class="content">
  <ul *ngIf="this.posts">
    <li *ngFor="let post of this.posts.data; let i = index">
      <p *ngIf="post.text">{{post.text}}</p>
      <table *ngIf="post.media">
        <tbody>
        <tr *ngFor="let media of post.media">
          <td>
            <img *ngIf="media.fileExtension.includes('image/'); else elseBlock" [src]="createImgPath(media.path)" alt="image" style="width:360px; height:360px;">
            <ng-template #elseBlock>
              <video [src]="createImgPath(media.path)" style="width:360px; height:360px;" controls> </video>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>
